[2018-02-04 11:09] theScrabi commented on #1058
Tho it would be great if we could get a little halp on this :)

[2018-02-04 11:14] theScrabi commented on #1065
Yea feed needs to be reworked anyway.

[2018-02-04 11:15] theScrabi commented on #1065
https://github.com/TeamNewPipe/NewPipe/pull/1044

[2018-02-04 11:15] #1065 closed

[2018-02-04 11:18] theScrabi commented on #720
Not atm. But We have it in mind.
However a little help was nothing we said no about :)

[2018-02-04 11:19] theScrabi commented on #1064
Yea that actually sounds like a cool Idea. I like it.

[2018-02-04 11:27] theScrabi commented on #1054
Can't you pull down the scroll veiw, so the whole image gets vissible?
If not please post a link to this video so we can confirm this :)

[2018-02-04 11:28] theScrabi commented on #1062
Well this would require that we wrote the download manager from the ground up. You bring up some cool ideas but this was a loot of work for us right now.

[2018-02-04 12:40] #1038 closed

[2018-02-04 13:58] Gagggg commented on #1058
I would love to help, but I don't have any coding experience or anything,
tell me if I can do something to help!

On Feb 4, 2018 12:10, "Christian Schabesberger" <notifications@github.com>
wrote:

[2018-02-04 16:42] speednroll commented on #1054
This problem usually happens to me in any video. is the picture that is on the screen before giving play to watch the video

[2018-02-04 16:59] speednroll commented on #1054
[](https://www.youtube.com/watch?v=mEfG4DMiJzM)

![](https://framapic.org/por5kVILXgDk/xCS0Kqw8b9os.png)

[2018-02-04 17:20] theScrabi commented on #1054
yes confirmed

[2018-02-04 17:54] theScrabi commented on #1039
I released it.

[2018-02-04 17:54] #1039 closed

[2018-02-04 17:55] theScrabi commented on #857
So as I said I changed the strategy, and release the beta version before version 1.0 is ready.

[2018-02-04 20:12] speednroll commented on #1060
Listen, this can be useful... although it should be added to almost everything, including the history and playlists. I think it's going to take a while to implement this if take it into account

[2018-02-04 21:49] phly95 commented on #1060
I wonder if it could be done in a manner that blocks the app from requesting jpg files, therefore taking care of all the different screens in one go?

[2018-02-04 21:56] phly95 commented on #1051
There is an app called SMplayer that does youtube, though newpipe has far surpassed it in terms of features, as SMtube has little to no integration with playlists and audio streams etc.

[2018-02-04 23:28] speednroll commented on #1055
Look at this: for example, in spotify, when you tap the options of the equalizer sends me directly to the system's equalizer, which only configures the options for that application.

![](https://framapic.org/pIPsnEozPdeu/0PPzUrbZZd2R.png)

[2018-02-05 01:47] ghost opened #1068 "Make Soundcloud UI have more of an audio UI than a repurposed Youtube UI"
Trying out the 0.11.6 beta and the Soundcloud functionality is a nice bonus. However, it feels too much like an orange Youtube rather than its own service. Since Soundcloud is an audio service, can we have a proper audio-focused UI for the Soundcloud section of Newpipe? Perhaps make it feel more like Spotify than Youtube? It would be useful to have separate audio and video UIs for future service s

[2018-02-05 03:26] speednroll commented on #880
when do they work on this? would be good to pause or play automatically from the button of my bluetooth headphones the music of youtube/soundcloud :stuck_out_tongue_closed_eyes:

[2018-02-05 03:33] speednroll commented on #880
also, if this is implemented after the playlists. make the option of when you press play on your headphones when there are no videos loaded they automatically load a playlist that you have made on the background player. it's just an idea

[2018-02-05 03:54] speednroll commented on #995
I was thinking about if it would be possible to add ok.ru as a multiservice in newpipe but I found out that it requires registration, it would be possible anyway?

[2018-02-05 03:56] speednroll commented on #995
Sometimes I watch movies on YouTube, but many are censored. add ok.ru and vimeo, to have more content options, sometimes there is content in those pages that can not be seen on youtube :grin:

[2018-02-05 07:40] Jithendra-V-Kumar opened #1069 "Add Ability To Download More Formats"
In Case Of Audio The Available Formats Are m4a And  webm Which Are Not Able To Play On All Music Player Android Apps.

If You  Add a mp3 Format Downloading Option Which May be Very Helpful And Is Appreciated

[2018-02-05 08:02] wb9688 commented on #1069
YouTube only offers M4A, WebM and OGG, so we can't download MP3. We can
however convert it to MP3 afterwards, we are going to implement that in the
future through an optional separate app, but there are more important
things to do at the moment. Besides that, this has been asked before, so
could you please search first? The issue template isn't there for nothing,
but you removed it.

[2018-02-05 08:55] #1069 closed

[2018-02-05 08:56] theScrabi commented on #995
I thought about adding login services. We might need to discus this.

[2018-02-05 08:56] theScrabi commented on #995
Some even requested spodify.

[2018-02-05 09:11] megaxlr commented on #1040
I've had this happen to me with several videos. It seems to happen at random videos. Sometimes restarting the app resolves the issue.

I've had a suspicion that it might be because YouTube switches a streaming server or plays an ad, but I am not sure.

[2018-02-05 09:19] wb9688 commented on #995
@theScrabi: But Spotify requires proprietary DRM (Widevine).

[2018-02-05 10:11] speednroll commented on #995
@theScrabi I could access these services with a particular newpipe account, which everyone uses. something like yalp store that uses an account to access the content of the play store, since this requires registration

[2018-02-05 10:12] theScrabi commented on #1051
Meybe minitube can be tweaked by us

[2018-02-05 10:26] speednroll commented on #995
I do not think it is possible to add spotify, this requires a permission of the official application and to play the music you need a premium account if or if.

what could be added is bandcamp, sometimes they leave previews of the songs to listen to them before buying the discs to download them or get the vinyl.

![](https://framapic.org/D2ToxPvpCu9o/fjz3FMZ8jh4k.png)

[2018-02-05 18:30] ale5000-git commented on #857
@theScrabi: Could you please put beta versions on F-Droid?

[2018-02-06 10:37] theScrabi commented on #857
Its comming to fdroid. it just takes a little while.

[2018-02-06 10:40] theScrabi commented on #1055
@speednroll could you please adjust the size of an image if you post them here.

[2018-02-06 10:42] speednroll commented on #1055
I'm sorry, but I'm on the phone. How do I adjust them? 😑

[2018-02-06 10:49] justanidea opened #1070 "[Multiservices] Different feed pages"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

We definetively need to make different feed pages and different subscribe pages.
When i tried the beta, i didnt understood first that the souncloud section was real (i though it just was

[2018-02-06 10:52] justanidea commented on #1055
With any picture editor 😅

[2018-02-06 10:55] speednroll commented on #1055
Of course, I'll do it when I'm in front of a computer. I thought there would be some code here to shrink the image without having to edit it :stuck_out_tongue_winking_eye:

[2018-02-06 11:00] justanidea commented on #1070
Btw i just noticed that nothing belonging to soundcloud appears in the SC feed page, only youtube*

[2018-02-06 11:02] justanidea commented on #1070
Mmh a few minutes after, it appeared. Mb.

[2018-02-06 11:51] justanidea opened #1071 "Soundcloud issues list"
I decided to make a short list of whats wrong with the beta of soundcloud, to the dev know what could be done:

  -   When you are on a channel:
          [ ] the three buttons (in background/read all/in pop up mode) are quite useless, maybe someone should simplify it.
          [ ] Soundcloud doesnt fill the banners, we should maybe put a default image.
  -  On a "video":
          [ ] We cant ad

[2018-02-06 11:52] justanidea commented on #1071
I talk about it in #1070

[2018-02-06 13:13] ksaerdna opened #1072 "improvement proposal: control media volume, not ringer volume"
If you place this call in your activity's _onCreate()_ method:

`
        setVolumeControlStream(AudioManager.STREAM_MUSIC);
`

the volume keys of the device will change media volume, not ringer volume. This is extremely helpful for any app dealing with media playback and works perfectly in all my Android apps.

[2018-02-06 22:37] microtaka opened #1073 "[Suggestion] While seeking, show the video screen more clearly"
While fast forwarding or rewinding through a video, the screen is dimmed and prev/pause/next icons are shown in the middle of the screen.

Since we want to look at the video being played while doing this, I think it would be better to not dim the screen, and maybe move the prev/pause/next icons and/or make them smaller.

Or maybe make these configurable?

Thanks for making NewPipe!

[2018-02-07 12:31] justanidea commented on #1071
There are already some changes to do when you search something:
       - replace "video" by song (when you sort what you want to search)
       - change the playlists appearance in the results of the search (we only see the half, sounds like a bug?)

[2018-02-07 17:48] IamJithendra opened #1075 "Video Loading Error"
The Video Or The Details Are Not  Get Available If Any Downloads is In Progress

[2018-02-07 18:38] #1072 closed

[2018-02-07 20:31] utack commented on #571
@theScrabi hey sorry to hijack this closed issue, where is this opus discussion going on at the moment? Thanks

[2018-02-08 12:43] aesycos opened #1078 "Download crashes"
I think the issuss is newpipe wont create music or movie download folder (of it was deleted or moved), and crashes if you try saving to non-existent location.

[2018-02-08 12:46] aesycos opened #1079 "Play in Bg stuck ong 0:00"
Sometimes will fail to load new media in bg when interrupting bg media already playing from newpipe. The 'audio' shows up with the coreect title but a length of 0:00/0:00 and refuses to load, until closing the notification and relaunching a bg play process.

[2018-02-08 17:09] theScrabi commented on #1078
Please describe more detailed how to reproduce this error.

[2018-02-08 17:30] Fledron opened #1080 "Videos not loading on WiFi connection"
- [ X ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ X ] I checked if the issue/feature exists in the latest version.

On the newest version (0.11.5) and on the 0.11.6 Beta, Videos don't load when I am connected to WiFi. I allowed everything, and my internet works, but NewPipe won't load anything. I

[2018-02-08 17:33] ghost opened #1081 "Playlist history duplicates issue"
- [x ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x ] I checked if the issue/feature exists in the latest version.

So say you want to re-listen/re-watch a video repeatedly, everytime you listen to it, its re-added to the history watched list, this clogs it up and creates a lot of duplicates.

Can y

[2018-02-08 17:59] theScrabi commented on #1081
confirmed

[2018-02-08 18:01] theScrabi commented on #1080
Odd. This should not happen.

[2018-02-08 18:58] karyogamy commented on #1081
This should be fixed as part of #1004

[2018-02-08 23:30] PrestonN commented on #1051
Hi there everyone!  If posts like this aren't allowed, please let me know and I'll gladly remove it.

I've been keeping an eye on the topic of a desktop YouTube client from various places and I've noticed the demand for something like this (especially since I've been wanting something like this myself).

I wanted to wait a little bit longer before I mentioned anything, but since the topic is fresh

[2018-02-08 23:34] Fledron commented on #1080
I will do logcat soon. I don't use a VPN or proxy, and the router firewall is set up to not blocking anything. What I found out after leaving the phone alone loading, is that after some minutes (~5) it actually loads. Not much, but titles and some thumbnails.

[2018-02-08 23:41] speednroll commented on #1051
in my opinion, Electron is slow, it is reserved only for media computers and high resources. in that case I prefer to use the official YouTube page instead, since both would require the same amount of resources

[2018-02-08 23:50] PrestonN commented on #1051
I can't argue with that too much.  I understand that a few people have issues running Electron on their machines due to the resources that it uses.  While I am trying to keep it as fast as possible, my main goal with this application is privacy.  If my application runs at about the same speed as YouTube, but delivers a more private browsing experience, then I feel like I was successful.  I hope to

[2018-02-08 23:58] theScrabi commented on #1051
@PrestonN isn't electron just some reshaped chrome browser? So what you are working on is essentially a website that is running as a desktop app? Or am I wrong.

So point is @speednroll is when he says that electorn is slow. However I thought about having some sort of NewPipe website Maybe then what you are working on could be interesting. Honestly I like it already :D

For the connection betwean

[2018-02-09 00:12] theScrabi commented on #1080
that is even more strange.

[2018-02-09 00:24] PrestonN commented on #1051
@theScrabi you are right in that Electron is a desktop wrapper based on Chromium.  I do believe that they remove a few things from base Chromium in order to help it run faster, but I'm not 100% certain.

The main reason I'm using Electron versus a website is that the audience that I'm targeting will most likely remove cookies from their browsers fairly often, if they save them at all.  This will m

[2018-02-09 08:36] ildar commented on #659
@avently , can you give your opinion on this issue? Thanks!

[2018-02-09 14:11] Fledron commented on #1080
here is the logcat. I don't know what exactly you need, so I just give you the complete one during my test:
[newpipe not loading.txt](https://github.com/TeamNewPipe/NewPipe/files/1711259/newpipe.not.loading.txt)

[2018-02-09 14:20] unknowndelicateboy opened #1084 "feature request: add access playing device media like videos and audios, because your video player and audio player has alot of features i want to play my videos and audios on NewPipe."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

[2018-02-09 14:43] #1084 closed

[2018-02-09 14:46] unknowndelicateboy opened #1085 "feature request: add access to play media from my device not from online service, because your video player and audio player has a lot of features, like repeat and playing in the background and playback speed, thats it goodbye."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

[2018-02-09 18:12] JuniorJPDJ commented on #1085
You should move big part of title to description :p

[2018-02-09 18:30] avently commented on #659
@ildar when a video from playlist ends I don't see a loading indicator. This means somehow exoplayer can preload a video. But as you know this thing doesn't work when you skip a video manually with a right arrow button. Theoretically it is possible to switch to a next video (or another resolution) without a gap but practically I couldn't find a place in code where we can tell exoplayer to start pr

[2018-02-09 18:30] unknowndelicateboy commented on #1085
@JuniorJPDJ hello, i renamed the title how about that? :p

[2018-02-09 20:35] justanidea opened #1086 "Notification for new video"
Did someone already asked for notifications when a new video is uploaded in your subscription ? Its a very basic & usefull idea but nobody told about that! For the moment, i still have to receive my youtube account notification by mail to know when i can watch a new video! Quite stupid when you want to escape from youtube, isnt it? Could you try to help me to avoid this stupid solution and add a n

[2018-02-10 03:46] shadowbone94 opened #1087 "Unable to stream certain random videos"
This issue occurs randomly, but certain streams show 'failed to play' error.

For example : https://m.youtube.com/watch?v=QGn35RBKeSk

[2018-02-10 03:54] speednroll commented on #1087
probably related to [this](https://github.com/TeamNewPipe/NewPipeExtractor/issues/65)

[2018-02-10 04:00] speednroll commented on #1086
It is a good idea! 😅

[2018-02-10 11:56] shadowbone94 commented on #1087
@speednroll
Turns out it is the same issue you had. I'm able to stream it in both 360p as well as 480p, but 240p gives me this error.

So I'm closing this issue so as to avoid duplicate bug report. Thanks for cross referencing.

[2018-02-10 11:56] #1087 closed

[2018-02-10 16:15] wb9688 opened #1088 "Improve Trending"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

When switching to another service, it should show the last used kiosk from that service. To change the current kiosk (e.g. Top 50 / New & hot on SoundCloud), there should be some [chips]

[2018-02-10 17:49] theScrabi commented on #1088
Yea sounds goof

[2018-02-10 19:01] faissaloo commented on #1080
This happens only when I'm using the London Underground WiFi, my home WiFi works fine with NewPipe

[2018-02-10 19:35] Fledron commented on #1080
Well, I am using my home WiFi. Everything else loads without problems (like Googles YouTube App, 2K Videos are no problem).

[2018-02-11 01:59] PacoBell opened #1089 "Playback speed is not remembered when NewPipe regains focus"
Please record the state of the playback speed when the app loses focus. There is also another bug that recommends having a default speed setting, but I'll leave that detail for that FR. Thanks!

[2018-02-11 02:29] PacoBell opened #1090 "Maximum resolution/framerate setting"
I know most people probably won't run into buffer under-runs in normal usage, but I personally like to play most videos @ 2X speed and, on my previous phone, that would cause the video to completely lock up at any resolution over 720p, let alone 720p60. My current phone (Pixel 2 XL) can handle WebM video/audio @ 2X1080p, but not 2X1080p60. Suffice it to say, unless we can implement a more robust/a

[2018-02-11 15:48] TobiGr commented on #1039
@theScrabi Can you please tag the beta releases as Pre-releases? Otherwise they will be returned as latest (_stable!_) release by the GitHub API. That causes some trouble when getting information about the latest version and displaying it on the press kit part of the website and makes developing new features which access these parts of the API quite difficult.

[2018-02-11 17:05] theScrabi commented on #1039
ok

[2018-02-11 17:06] theScrabi commented on #1039
oh seems it's been done already.

[2018-02-11 17:14] TobiGr commented on #1039
Thanks. I hope this does not effect the beta version on F-Droid, does it? AFAIK they use tags to find their builds.

[2018-02-11 17:17] theScrabi commented on #1039
Well I thought it will. We will see. If it does we have to remove that flag again.

[2018-02-11 18:53] theScrabi opened #1091 "NewPipe Talk 2017 is online"
As you may know I did a little talk about NewPipe at the last year CCC congress in Leipzig. I wanted to give a little impression about what happened last year, and what is planed for the future.

Huge thanks to @TheAssassin who shot cut and hosted the video :D

[Here](https://media.assassinate-you.net/video/newpipe-on-34c3) it is :)

[2018-02-11 20:13] TobiGr commented on #1091
Can we upload the slides [here](https://newpipe.schabi.org/press/various/), just like we did last year?

[2018-02-11 20:30] TheAssassin commented on #1091
@theScrabi should upload his latest version. I have a couple of versions of the slides, too, so I could upload them, too, however.

[2018-02-11 20:42] theScrabi commented on #1091
We should also update and write a new block post for this.

[2018-02-11 21:46] TheAssassin commented on #1091
Feel free to write an article.

[2018-02-11 23:22] theScrabi commented on #1091
Ok I'll do :)
Also is it possible to host the pdf's at your site, I don't want to bload the repository any further.

[2018-02-11 23:23] TheAssassin commented on #1091
Just add it to the repository, that single file won't bloat it.

[2018-02-11 23:28] theScrabi commented on #1091
It has 8 megabyte, both slides add up to 10 mb now, so I would like to remove both. However if you don't want to host them we'll find another way.

Maybe a second repo where we post assets.

[2018-02-11 23:29] TheAssassin commented on #1091
@theScrabi I thought this was in the website repository. Let's just move them there.

[2018-02-11 23:43] theScrabi commented on #1091
Move them into the website repository?
All right.

[2018-02-11 23:53] theScrabi commented on #1091
@TobiGr how can I add images to block posts?

[2018-02-12 10:40] anoadragon453 opened #1093 "open Unsupported URL in browser"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I love NewPipe, so I've set it as the default handler of YouTube links practically everywhere. Now, when I get a link from someone that leads to a live stream or another unsupported URL,

[2018-02-12 10:44] theScrabi commented on #1093
Can you please post an example url.

[2018-02-12 10:44] anoadragon453 commented on #1093
https://www.youtube.com/watch?v=bTsBZAC8ymQ&feature=youtu.be

On February 12, 2018 2:44:17 AM PST, Christian Schabesberger <notifications@github.com> wrote:

[2018-02-12 14:27] daufinsyd opened #1094 "[Feature Request] add HookTube link"
It would be awesome if NewPipe could open hooktube.com link besides youtube.com

Related to #917

[2018-02-12 14:43] theScrabi opened #1095 "Add popup notice to our blog"
Our blog is not really popular. We could make it so by adding a popup notice into NewPipe. That shows up once after an update.

[2018-02-12 14:45] theScrabi commented on #1094
Yea could be done.

[2018-02-12 14:51] wb9688 commented on #1094
Yeah, it's like 5 minutes work. I could do this.

[2018-02-12 15:16] ghost opened #1096 "Audio-Only-Download settings"
1. Please add/change the audio-only-data containerformat.
The Problem is, that most audioapplications think that .webm would be a videofile and doesn't list them.
The .webm container uses the VP8/VP9 videocodec and the vorbis/opus audiocodec [1].
Therefore the simplest way would be only to change the containerformat from .webm to **.ogg** for audio-only downloads. The best option would be to add l

[2018-02-12 15:27] ale5000-git commented on #1095
Personally I think that a popup notice won't be nice, but I would like an option in the three dot menu named "Blog" to see the blog in a box directly inside the NewPipe app.

[2018-02-12 15:35] theScrabi commented on #1095
It would only happen one time. Many apps do that like k9

[2018-02-12 16:47] ale5000-git commented on #1095
It depends on point of view; since I wipe the phone often (and so I'm often at the first run) then displaying it on first start mean display almost always (in my use case).

But this was just my opinion.

PS: Displaying it inside NewPipe using webview would be also very handy.

[2018-02-12 19:39] theScrabi commented on #1095
That was the plan since such code is already embeded.

[2018-02-12 19:39] theScrabi commented on #1094
Will be fixed with this:
https://github.com/TeamNewPipe/NewPipe/pull/1097

[2018-02-12 20:41] daufinsyd commented on #1094
Thanks :-)

[2018-02-12 22:24] speednroll commented on #1095
I like the idea of ​​receiving the news after an update, as it happens with k9-mail 😃

[2018-02-14 16:36] Ozyc opened #1098 "[Suggestion] automatically pop-up and / or audio in background"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.

I don't know anything about applications development but I have 2 features in my mind
The first is automatically pop up video when NewPipe is in background, and the second one is same bu

[2018-02-14 16:41] Fledron commented on #1080
bump

[2018-02-14 17:48] theScrabi commented on #1080
This is really weird. I have no clue either. @Fledron your log is big, and I could not find anything that would tell me something. The only thing I could suggest is to check:
- your firewall if you have one
- if you have root run `tcpdump -w` to see whats up
- try spoffing the NewPipe user agent, with a browser, and see if something strange happens

[2018-02-14 17:50] theScrabi commented on #1098
Yea that sounds good, and rather easy to implement.

[2018-02-14 18:12] justanidea commented on #1086
Could @theScrabi tell his opinion there ?

[2018-02-14 18:22] speednroll commented on #1098
change to popup when switching applications or play in the background if you block the screen 😃

[2018-02-14 18:36] theScrabi commented on #1098
also god

[2018-02-14 18:37] theScrabi commented on #1086
Well first we'd need a proper feed implementation, after that works nice this feature is not fare away.

[2018-02-14 18:44] justanidea commented on #1086
Then Newpipe is coming to perfection :)

[2018-02-14 18:44] justanidea commented on #1086
Then Newpipe is coming to perfection :)

[2018-02-14 19:03] spaetz opened #1100 "Make easier to play video on download"
Videos on the download page can only be interacted with via the "three dots" menu. It would be convenient if eg a click on a video starts playing it. A long press could pop up the context menu, this way the fat-fingered , could easier reach the menu.

[2018-02-14 19:50] ghost opened #1101 "[bug] when you close Newpipe playing in the background and later you open the playlist if you try to go back, you leave the application again…"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

when you hear a playlist in the background and close the newpipe application. When you select the player's notification to open the playlist, if you go back, you exit the application and

[2018-02-14 20:44] Fledron commented on #1080
I just tried opening a youtube Link with NewPipe again, without changing anything and it worked. Now the app works flawless. I can't tell what the problem was. It also works with firewall disabled, I don't have root access so I can't run tcpdump and nothing strange happens when I change the user agent. My IP address changed, could have to do something with that, but everything else is normal.

[2018-02-14 20:44] #1080 closed

[2018-02-14 20:56] wb9688 commented on #1100
The current GigaGet-based download manager is really bad. Once we've
finished more important stuff, we'll replace it with a better one we'll
write ourselves.

[2018-02-15 14:10] wb9688 commented on #1078
@theScrabi: He means that if you set the download folder to something and then remove the folder, the downloader crashes. However when I try that, NewPipe recreates the download folder, so I think this issue could be closed.

[2018-02-15 14:10] #1078 closed

[2018-02-15 14:11] wb9688 commented on #1081
@theScrabi: Huh? I'm not working on the db

[2018-02-15 14:15] wb9688 commented on #1093
That URL works for me, but I agree this feature should be implemented.

[2018-02-15 14:15] #1094 closed

[2018-02-15 14:30] theScrabi commented on #1081
I ment @karyogamy sorry. :D

[2018-02-15 14:31] theScrabi commented on #1093
I agree :D

[2018-02-15 15:01] ghost opened #1103 "Improve resolution selection"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

As follow-up of https://github.com/TeamNewPipe/NewPipeExtractor/issues/71, we should add a better resolution selector. It should only show resolutions and choose the best streams for tha

[2018-02-15 15:09] mauriciocolli commented on #698
Almost finished, pull request later on.

[2018-02-15 16:10] drfunkencluck commented on #698
would be cool to link up google account then the app can pull subscriptions and saved playlists into newpipe

[2018-02-15 16:12] theScrabi commented on #698
No, we want to keep away from google as good as possible.

[2018-02-15 16:12] speednroll commented on #1103
it's a great idea! especially because I hope this can correct some errors, like watching a video when you have a certain resolution and the video is not compatible with that resolution, it gives an error like "the video is not available". change the resolution to a lower one automatically than if it is available

[2018-02-15 16:13] drfunkencluck commented on #698
what about saved playlists

[2018-02-15 16:13] theScrabi commented on #1103
Ok souds good.

[2018-02-15 16:20] sstraightea opened #1104 "Notification Size Problem"
- [ X ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ X ] I checked if the issue/feature exists in the latest version.

When scrolling down the notification list while background play is enabled and the music is playing, the notofication always goes to big size when updating the prograss bar. On Andro

[2018-02-15 16:28] wb9688 commented on #1104
I've owned a Huawei P8 lite and it did some weird things (compared to stock
Android) with displaying notifications, so I guess the P9 lite does too.
Could you make a screen video of the issue?

[2018-02-15 16:32] speednroll commented on #698
You could simply publish the playlists that you saved in your google account and add them to Newpipe, you will not be able to modify them from here but from your google account

[2018-02-15 16:44] Fledron commented on #1104
Here's a Link to the video showing the problem
https://drive.google.com/open?id=1uW2p9GP6_TODdrZz_I384-XT_mi_xS1F

PS: The music is bad.

[2018-02-15 16:48] justanidea commented on #698
Could we save in local the playlists we find on youtube (like a bookmark) ?

[2018-02-15 16:53] drfunkencluck commented on #698
thats an option maybe where newpipe uses a rss feed or channel user-name/ channel id that when i update a playlist or add a subscription on youtube web then new pipe updates.

[2018-02-15 16:56] speednroll commented on #698
@justanidea I think that @karyogamy was also working on this in #1004, but I think that you can not modify the remote playlists (which you do not make locally in Newpipe)

[2018-02-15 17:11] justanidea commented on #698
Mmh right

[2018-02-15 18:31] anoadragon453 commented on #1093
The URL changed from a Livestream to a normal video once the stream ended :P

Here's another URL of a 24/7 livestream for testing purposes: https://youtube.com/watch?v=ueupsBPNkSc

[2018-02-15 19:44] MildPanda opened #1105 "Toggle orientation for current video only"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

In one of the recent updates toggle orientation toggles for all current and future watched videos. Could a setting be made to make it only toggle orientation for current video.

[2018-02-15 19:57] wb9688 commented on #1105
Well, searching isn't possible on GitHub's mobile site (you could switch to
desktop though) and tagging could only be done by members of Team NewPipe.

[2018-02-15 20:05] Opzon commented on #1105
Didn't know tagging is only a team member thing, thanks. Will try a search
on desktop version. Just going to be super clunky.

On Feb 15, 2018 11:57 AM, "wb9688" <notifications@github.com> wrote:

[2018-02-15 20:12] karyogamy commented on #1103
There was an attempt on a similar concept in the [play queue PR](https://github.com/TeamNewPipe/NewPipe/pull/680). Though this was done by merging all available stream sources and use ExoPlayer's default track selector to do the work. However, this can have a huge overhead on the network, since Exoplayer wants to load all the headers to make the track switching faster. Also, the default track sele

[2018-02-15 21:23] speednroll commented on #1101
@theScrabi could you say what do you think of this?

[2018-02-16 00:50] sonho666 commented on #1098
Just came here to suggest the same thing. But you might want to check out how VLC (open source) implement this feature. In my opinion it's the best "PIP" out there. They also have an auto transition from in play to pop up.

[2018-02-16 09:08] theScrabi commented on #1093
Yea. So this feature and livestream support.

[2018-02-16 09:09] anoadragon453 commented on #1093
Mhm

[2018-02-16 09:46] theScrabi commented on #1101
Yea this is something about the NavigationHelper. There are more places where this does not work properly.

[2018-02-16 11:28] emptixo opened #1107 "NewPipe Beta 0.11.6"
SoundCloud trends are the same as YouTube trends :/

[2018-02-16 11:33] bilgedodo opened #1108 "[Suggestion] Open Shazam findings in NewPipe"
Is it possible to open YouTube videos in Shazam (music discovery) app with newpipe?

[2018-02-16 11:33] wb9688 commented on #1107
No, the UI is just unclear. Click the vertical dots and then kiosk to go to
another kiosk. We'll improve the UI.

[2018-02-16 12:17] emptixo commented on #1107
Alright good luck ❤

[2018-02-16 12:51] licaon-kter opened #1110 "Beta - app name & icon"
0.11.6-beta

in [KISS](https://github.com/Neamar/KISS/)
![kiss](https://lut.im/hrwi1jFsjR/Avh8UCzHdfTBnZQx.jpg)

in [NetGuard](https://github.com/M66B/NetGuard/)
![netg](https://lut.im/7gxVYNQrA3/Gw9uYO3Mmg3jj01x.jpg)

in [F-Droid](https://gitlab.com/fdroid/fdroidclient)
![fdr](https://lut.im/N8LNQLulaz/FRQUej6hHVK8wEoH.jpg)

Where should I report this?

[2018-02-16 13:10] wb9688 commented on #1104
That indeed shouldn't happen, but is Huawei's fault. I think we could fix it by using the [standard media player notification](https://developer.android.com/reference/android/app/Notification.MediaStyle.html).

[2018-02-16 13:30] wb9688 commented on #1108
If it isn't a link that can just be opened with the official YouTube app, then no.

[2018-02-16 14:03] theScrabi commented on #1108
Well if it isn't a link an xposed module would help, but that would require xposed.

[2018-02-16 14:04] theScrabi commented on #1110
here

[2018-02-16 14:04] theScrabi commented on #1110
why does it look so bad?

[2018-02-16 14:13] speednroll commented on #1110
When I tried it I received an android message saying that the application had an error, close or wait. although that was not as relevant as seeing two Newpipe on F-Droid, I thought it would be the same as the F-Droid releases, which publish the stable versions and the possibility of upgrading to unstable versions:
<img src="https://framapic.org/jyNMEOv3u7ex/HxjhLi6DVw2V.png" width="300">

[2018-02-16 14:16] wb9688 commented on #1108
@theScrabi: that wouldn't help. They only have a link to Google Play Music
I think.

[2018-02-16 14:18] speednroll commented on #1108
and anyway, what happens when xposed is not compatible in android? 👀

[2018-02-16 14:37] licaon-kter commented on #1110
@speednroll This is a separate app, read here: https://gitlab.com/fdroid/fdroiddata/merge_requests/2878

[2018-02-16 14:40] theScrabi commented on #1110
right, and on top of that you should have the ability to use both if you want to.

[2018-02-16 14:42] theScrabi commented on #1108
Right we can't take xposed thing serious.

[2018-02-16 14:43] licaon-kter commented on #1110
Maybe it needs more content in https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/beta/AndroidManifest.xml

[2018-02-16 14:47] ale5000-git commented on #1108
It would be nice to search the Shazam finding on NewPipe (just a search for the song name on YouTube).

[2018-02-16 14:58] licaon-kter commented on #1110
Or move `tools:replace`, adding it in the <manifest> directly instead of under <application> ([here](https://stackoverflow.com/a/40306041))

Or check out `tools:ignore` from other parts of the app ([here](https://stackoverflow.com/a/36626818))

[2018-02-16 15:03] wb9688 commented on #1108
Does the link Shazam uses for sharing include the song name? If so, that could be done, but what will we do with multi-service support in this case?

[2018-02-16 15:10] ale5000-git commented on #1110
@theScrabi: [Here](https://gitlab.com/fdroid/fdroiddata/merge_requests/2878) it say "This MR has merge conflicts" and "The changes were not merged into master".

[2018-02-16 16:54] speednroll commented on #1002
It would be nice to add this basic option

[2018-02-16 17:01] speednroll opened #1112 "problems with the colors of each service and the history"
I was testing Newpipe beta now that it is available on f-droid and I found a problem in the history. first that this does not change color next to the service and second, that when selecting a search that was from YouTube or soundcloud it does not change to its corresponding color, are already working on this?

[2018-02-16 18:06] cavemandaveman opened #1113 "[Feature Request] Auto expand description"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Instead of clicking to expand, can there be an option to always have the description of a video expanded?

[2018-02-16 18:19] theScrabi commented on #1112
Please create separate threads for each issue.

[2018-02-16 18:19] theScrabi commented on #1112
However you are right this needs to be done.

[2018-02-16 18:22] anoadragon453 commented on #1093
Awesome, thank you! I don't have an Android dev environment here to build the PR, but I'm eager to test it once it's merged :)

On February 16, 2018 3:20:50 AM PST, Christian Schabesberger <notifications@github.com> wrote:

[2018-02-16 18:32] theScrabi commented on #1093
I intent to release the next beta soon anyway. :D

[2018-02-16 19:07] speednroll opened #1114 "[bug] the results or videos in the history do not change to the corresponding color when you select them"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

when selecting a search in the history that was from YouTube or soundcloud it doesn't change to its corresponding color

[2018-02-16 19:25] justanidea opened #1115 "Github tags"
Is it possible to create different tags to separate youtube issues and soundcloud issues ? It would give more visibilty for the devs :)

[2018-02-16 19:26] justanidea commented on #1113
Its a good idea. I think Newpipe should be as customizable as possible :)

[2018-02-16 19:53] speednroll opened #1116 "[Feature Request] disable services in the configuration"
I love that Newpipe has the possibility of using multiple services, but what happens if someone prefers to use certain services and not others? It would be nice to add a section in the configuration to disable services

[2018-02-16 20:18] justanidea commented on #1116
Or to download only the section you want, to make the app as light as possible :)

[2018-02-16 20:20] theScrabi commented on #1115
yea maybe. Are there example issues that could be labled like this?

[2018-02-16 20:21] justanidea commented on #1115
Yes, #1071 for example :)

[2018-02-16 20:22] theScrabi commented on #1116
Yes when there are more than only two services this is something we can consider.

[2018-02-16 20:23] #1114 closed

[2018-02-16 20:24] TobiGr commented on #1115
We should also flag everything related to `download` and maybe have a label `needs-extractor-change` or something like this.

[2018-02-16 20:27] theScrabi commented on #1114
Sorry wasn't that other bug about selected suggestions?
I may have misunderstand this, I was slipping through the previous discussion when I was in the subway.

[2018-02-16 20:28] theScrabi commented on #1115
sounds ok.

[2018-02-16 20:28] #1115 closed

[2018-02-16 20:31] theScrabi commented on #1108
We could write an extractor that will get the youtube url from the shazam website and then give it to the yt extractor.

[2018-02-16 21:07] speednroll commented on #1114
😂 hahaha, you said I do two different things about each problem. although I think it was not necessary

[2018-02-16 21:36] justanidea opened #1117 "Video interface improvement"
I have some ideas to improve the video +popup interface
      -   First, make possible to see the video while reading the description for example, without using the "switch to popup" button (because its not handy) You could make a button which appears when your phone is horizontal to switch quilckly:
http://i65.tinypic.com/21lo9z9.png

   - then the popup should be deletable more easily, for insta

[2018-02-17 01:42] theScrabi commented on #1114
I thought you ment the suggested search phrases which you used already are not bound to a service. Because they are nod, and this was indeed an issue.

[2018-02-17 02:10] speednroll commented on #1114
I'm sorry, I find it quite complicated to understand what you said, assuming that I'm answering from a translator and I have very little knowledge of English, but I think we understood each other. that's good 😂🔫

[2018-02-17 07:29] anoadragon453 commented on #1093
Great, I just started using the beta!

On February 16, 2018 10:32:58 AM PST, Christian Schabesberger <notifications@github.com> wrote:

[2018-02-17 10:21] anoraktrend opened #1118 "How would I import account information in the new beta?"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
I want to import the data I got from the takeout functionality of google, how would i do that? Or even just importing the subscription json. How would I do these things?

[2018-02-17 11:10] justanidea commented on #1117
Any suggestions?

[2018-02-17 11:25] subproc opened #1119 "no internet connection through a vpn"
hi, using bitmask apk to connect through a vpn, no matter with which provider, i can't connect to youtube through newpipe/newpipe-beta...

[2018-02-17 13:02] theScrabi commented on #1114
You need to know your self weather it is a good idea to use platforms like Github with a translator. However I'd suggest not do it, since english is an important requirement for development, and decrypting a translator can sometimes be hard or even impossible.

[2018-02-17 14:30] Fledron commented on #1104
Maybe make a setting under the appearance section to choose between standard and the fancy notification style.

[2018-02-17 17:07] speednroll commented on #1117
I do not know, I like Newpipe as such with the options it already has...

[2018-02-17 17:32] speednroll commented on #1114
For that reason, it is the first time I participate proposing ideas in a project. Because of my English limitations, although I may still propose some ideas (because I can not stay still), at least until I practice my English better and it is no longer a problem

[2018-02-17 17:42] theScrabi commented on #1117
These are some coll suggestions, but for us now are just other things more important. However a helping hand is always wellcome ;D

[2018-02-17 18:32] justanidea commented on #1117
I would like to help... but i havent the knowledge :')

[2018-02-18 06:56] aFoxWhoIsNice commented on #1040
This happens to me at times as well.

[2018-02-18 07:00] aFoxWhoIsNice commented on #183
Please add this feature. It would be fantastic.

[2018-02-18 07:01] aFoxWhoIsNice commented on #195
It's been quite some time, what's the status? When can we expect this coming?

[2018-02-18 07:05] aFoxWhoIsNice opened #1121 "Please add subtitle support."
Hi, I really like using your app. But could you please add subtitle support? Many videos do have subtitles, and they're rather handy at times. Thanks.

[2018-02-18 07:28] mauriciocolli commented on #1121
Duplicate of #55
See #1067

[2018-02-18 07:28] #1121 closed

[2018-02-18 07:41] wb9688 commented on #183
@Wiredframe: Every container has its own tagging format. ID3 is MP3's
tagging format, which ofcourse can't be used with M4A. You need to use an
app that supports tagging M4A.

[2018-02-18 07:42] justanidea opened #1122 "Sd card storage"
Please allow us to put our subscription data on the sd card, to make the app still light as possible

[2018-02-18 12:56] licaon-kter commented on #1110
In the Huawei share dialogue...
![pic](https://lut.im/MdunmxEcKM/vVhDHjHKmSQ75C5n.jpg)

[2018-02-18 17:37] justanidea commented on #822
Is this option going to be applied for soundcloud? :D

[2018-02-18 17:47] justanidea opened #1123 "Image to personnalize your background"
I know its not the most important thing that you have to do on Newpipe, but it could be pretty stylish to make your own picture as a background in the whats new section for example (instead of the dark grey part - in the dark theme-, like the picture you can make in bg in whatsapp)

[2018-02-18 18:42] leafcutterant commented on #124
Why was this closed? This is still an issue and happens to me every time.

Or am I supposed to install Exoplayer and then NewPipe will resume to the same timestamp when it regains focus?

[2018-02-18 19:02] leafcutterant opened #1124 "Switch to Background mode automatically when the application loses focus"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

For now (0.11.5), if I watch a video in NewPipe and press the home button or switch to another application, NewPipe will stop the playback and when I return, it shows the default page of

[2018-02-18 20:40] speednroll commented on #1124
this is similar to what was proposed in #1098

[2018-02-18 20:50] leafcutterant commented on #1124
I read that before posting, but it was so loosely defined I didn't realize (and still not sure) it's the same. I don't want a pop-up panel (not even with audio) and it is paramount that this happens automatically when NewPipe goes into the background.

[2018-02-19 18:59] wojcik-online commented on #822
@justanidea Yes, it's independent of the underlying service. There's one feed with the newest items of all services.

[2018-02-19 19:42] justanidea commented on #822
And are we going to be able to separate them if we want?

[2018-02-19 19:44] justanidea commented on #822
This topic makes me think we just could do a section of Newpipe with a big feed for all the services, and a specific feed for each section (just an idea hehe)

[2018-02-20 03:12] cavemandaveman opened #1126 "[Feature Request] Toggle show description during playback"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

It would be really useful if we could pull up the description of the video while it's playing. Not sure how the implementation would look, but for example, Skytube has it where you can s

[2018-02-20 12:26] theScrabi commented on #822
Possible :)

[2018-02-20 12:35] speednroll commented on #822
If we make a big feed of all the services, also add a brand in each corner of result that identifies the service (YouTube, Soundcloud, etc) because we are going to be confused, the same in the history of search and videos

[2018-02-20 12:38] #1107 closed

[2018-02-20 14:27] theScrabi opened #1127 "a tipp for fdroid"
NewPipe exists for about two and half years now, and It would work without fdroid. The guys over there do a great job, and they supported NewPipe from the beginning on. They run fdroid for free, and run their setup with donated money. Therefore I thought we could give them something back :)

The current account value of the NewPipe project over at Bountysource is at bout 900 USD. I'd like to sugge

[2018-02-20 15:32] theScrabi commented on #1118
Sorry you may ned to wait until import export is available in stable.

[2018-02-20 15:32] theScrabi commented on #1118
I consider to do that soon :)

[2018-02-20 15:52] herotux opened #1129 "Connect with orbot"
Please add an option to use proxy or using orbot like fdroid and orfox .
Many users live in countries like iran and govermentes block services and freedom.
Add this for freedom.thanks

[2018-02-20 18:14] aladar42 opened #1130 "Do not use IP to select app's language"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Currently it seems NewPipe uses the IP to determine the language of the app. This is pretty sub-optimal for any user that uses an out-of-country VPN, or for users who wish to use another

[2018-02-20 22:34] ale5000-git commented on #1127
I think it is a good idea and you are a good person.

My opinion about donations is that is better less money but regularly, I suggest 10$ every month.

[2018-02-20 23:05] theScrabi opened #1131 "I've started with the tutorial"
I just wanted to announce that I've started to create the [tutorial](https://github.com/TeamNewPipe/tutorial) for the NewPipeExtractor, which in combination with the [documentation](https://teamnewpipe.github.io/NewPipeExtractor/javadoc/) should make it easyer to write own services for NewPipe.

[2018-02-20 23:07] speednroll commented on #1131
this is great! 😉

[2018-02-21 00:28] theScrabi commented on #1130
Thats actually a problem. You can select the content country but not the language. Tho its not that hard to implement. We need to do this.

[2018-02-21 00:30] theScrabi commented on #1129
We had that before, but we had to remove it since many data slipt through and where not send via tor. @eightheive back then you said something about making a orbot lib that could redirect all the traffic.
Whats the status about this? Can we use it?

[2018-02-21 01:42] BrianBtheITguy commented on #539
[This app](https://play.google.com/store/apps/details?id=com.floattube.liteyoutube) claims to be approved by the NewPipe team for the fork, but is not listed at the top of this issue under "Froks (sic) in PlayStore"

[2018-02-21 02:05] TheAssassin commented on #539
@BrianBtheITguy you got that wrong. This is a legal fork of the NewPipe source code, following the GPLv3 license. What he means is he's grateful NewPipe has been released as free software, so he could fork and modify it. But thanks for letting us know anyway. Let me analyze and summarize the situation.

As the reviews in the Play store confirm, this is just another cheap attempt to earn some money

[2018-02-21 07:59] theScrabi commented on #539
Technically it is ok what @hungtm288  does. However we didn't approve the, and I found it a little sad that people start forking, and use our work for their behalf. @hungtm288 could have talked to us about this.

[2018-02-21 08:11] wb9688 commented on #1131
@theScrabi: I was about to start with a tutorial (until I saw this), do you already have some parts finished?

[2018-02-21 08:20] wb9688 commented on #1129
@theScrabi: We'll have to manually add code for supporting SOCKS proxies to the `Downloader` (OkHttp supports them), but AFAIK Universal Image Loader and ExoPlayer don't support SOCKS proxies. We could fork them to add support for SOCKS proxies, but I don't want to do that.

[2018-02-21 08:30] wb9688 commented on #539
@TheAssassin: And the license of the ad lib is probably not compatible with GPLv3 either.

[2018-02-21 08:34] ghost opened #1132 "Use the content country of the language set in the Android settings by default"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

By default, NewPipe sets the content country to United Kingdom, but it'd be better if it looks at Android's language setting (in my case "Nederlands (Nederland)") to set it to the same c

[2018-02-21 08:41] TobiGr commented on #1131
Sounds good! Tell me when it is in a good state so we can link it from our website and write a blog post about it :+1:

[2018-02-21 08:48] theScrabi commented on #539
We should really consider to release a lite version on the PlayStore.

[2018-02-21 08:52] theScrabi commented on #539
I wrote PC Welt with a little hint to our press kit ;D

[2018-02-21 09:32] rattan77 commented on #793
I strongly back @kgoerbig request. At least I will have my playlist (saved videos).

[2018-02-21 09:34] rattan77 commented on #1130
My app language changed to Malay as I am in Malaysia. It is super annoying. Wonder if I was in Germany , the language will change to German ? lol

[2018-02-21 09:36] theScrabi commented on #1131
@wb9688 not yet, but I structure things in my head already.
I probably start with a page telling how to setup the dev environment for the Extractor.

[2018-02-21 09:56] theScrabi commented on #1130
<img src="https://user-images.githubusercontent.com/1891273/36473741-c355e79a-16f5-11e8-85c8-b5cbd46ed14f.jpeg" width=200px/>

[2018-02-21 09:59] theScrabi commented on #1132
Yes sounds good :)

[2018-02-21 10:01] theScrabi commented on #1129
@wb9688 That's the problem. However I remembered that @eighthave said something about a lib that could somehow intercept the traffic and redirect it so we would not have to take care about that which would make things much easier.. ... Maybe I'm wrong.

[2018-02-21 10:10] theScrabi commented on #1124
I get your point, but I still mark it as a duplicate, since both requests are pretty similar.

[2018-02-21 10:10] #1124 closed

[2018-02-21 10:11] theScrabi commented on #1123
Well I would not implement it, but if somone wrote a patch so this works I would not hold it back :)

[2018-02-21 10:12] theScrabi commented on #1110
Beta will reduce to one Item in the future. However it's sad that all these launcher don't understand that there is a different icon :/

[2018-02-21 10:13] theScrabi commented on #1122
The new Beta allows to import export subscription to the sd card. However the database is so small, I don't think that would create any trouble.

[2018-02-21 10:13] #1122 closed

[2018-02-21 10:15] theScrabi commented on #195
It's around the corner. Maybe within a half year.

[2018-02-21 10:17] theScrabi commented on #1040
I think it could also be related to buffering.

[2018-02-21 10:18] wb9688 commented on #1110
Why?

I agree, however it works completely fine with stock Android. I sometimes really hate that Android is so fragmented

[2018-02-21 10:20] wb9688 commented on #1129
@theScrabi: I think he said Orbot has an option to let everything use it transparantly, but that's only possible when you've rooted your device. I'm not 100% sure though.

[2018-02-21 10:22] theScrabi commented on #1129
Well you can always use vpn even without root, this is already supported by NewPipe.

[2018-02-21 10:23] theScrabi commented on #1110
Because mauriciocolli wrote a menu that will pop up once you select newpipe. With that menu you can select the action you want to take.

[2018-02-21 10:26] wb9688 commented on #1131
@theScrabi: Yeah, I'd recommend creating a new Gradle Java application, then cloning NewPipeExtractor in its folder and then including it, so you could easily see if your extractor works.

I also wouldn't say anything specific to an IDE, since someone should be able to use their prefered IDE.

Btw maybe we could create an Etherpad first?

[2018-02-21 10:28] theScrabi commented on #1131
@TobiGr that will take a while. I'd like to write a post once the tutorial is usable, however I don't expect that for the next few months.

[2018-02-21 10:29] theScrabi commented on #1131
I'd like to give an easy start. If somone is willing to use a different ide he can do so, I will show one way with one ide.

[2018-02-21 10:39] megaxlr commented on #1119
I can connect fine to YouTube with DNS66.

[2018-02-21 10:40] TheAssassin commented on #539
Right, @wb9688. But if the GPLv3 is not compatible with the other license, the author must not use that ad library. Furthermore, even if they were compatible, the author would have to publish the _entire new code base_. This has not been done. Therefore, it's a GPLv3 violation.

[2018-02-21 10:43] wb9688 commented on #1131
Why? It'd be a tutorial about implementing a service extractor, not about how to use an IDE. And I think we don't need to explain things that are specific to an IDE, for example "import the Gradle project" or "run it" or "create a new class" should be enough for the people following the tutorial, since I think if they can't figure that out, they probably can't figure out how to write a service ext

[2018-02-21 10:45] wb9688 commented on #1110
@theScrabi: I know that, but then there are still 2 options: NewPipe and NewPipe's menu to directly play it.

[2018-02-21 10:47] wb9688 commented on #1119
@subproc: Do you have the same problem with other VPN apps? If so, what device, Android version and Android ROM (if not the default one) do you have?

[2018-02-21 11:00] mauriciocolli commented on #1110
That's because someone have to create the adaptive icon for the beta yet.

[2018-02-21 12:17] eighthave commented on #1129
The NetCipher libs provides easy methods for settng up the proxy, and getting the Orbot status.  You will still need to find all the places where you are using network libs, and apply NetCipher calls.  Universal Image Library works fine with NetCipher, we use both together in F-Droid.  With UIL, just do the NetCipher setup in the downloader class given to UIL.  I know nothing about ExoPlayer.

Per

[2018-02-21 12:59] theScrabi commented on #547
The next beta release will feature the change of the zoom :D... Im going to relese it today so it will be online on fdroid in a few days.

[2018-02-21 12:59] #547 closed

[2018-02-21 13:03] Androidphonetoucher commented on #547
@theScrabi You Sir are an officer and a gentleman! ;) Many thanks, this is awesome news!!

[2018-02-21 20:14] Wiredframe commented on #547
Thanks so much :) 👍

[2018-02-21 20:15] Wiredframe commented on #183
The problem is that many apps say that it's not a valid m4a file, I guess the header is missing or something. But I found an app that can tag even those files, it's called AutomaTag.

[2018-02-21 21:39] theScrabi opened #1133 "Searching for "skitanz deutschland" results in an Exception"
Reproduce:
Use `Youtube` service with `GB` as language. Search for __"skitanz deutschland"__, then scroll to the second page.

This will result in an ExtractionException: `Empty result despite no error`

[code]

Also every currently available version of NP has this problem.

PS: Funfact of the day: [Ski dance](https://www.youtube.com/watch?v=fvk4PpFORD4) was once an [olympic discipline](https://en

[2018-02-21 22:58] theScrabi commented on #547
Don't thank me thak @karyogamy, who wrote this feature:
https://github.com/TeamNewPipe/NewPipe/pull/1067

[2018-02-21 23:19] Androidphonetoucher commented on #547
@karyogamy Thanks for your hard work on this, it's much appreciated! :)

[2018-02-22 00:47] TotalCaesar659 opened #1134 "Different colors of "Retry" button and services"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

In NewPipe 0.12.0-beta, Retry button has red color on SoundCloud tab, as on YouTube.
![1](https://user-images.githubusercontent.com/14265316/36513929-11cfc0de-1783-11e8-95bb-7c5e0a7e917d

[2018-02-22 02:58] speednroll opened #1135 "[bug] some channels does not show the results of their videos"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

In beta 0.12 some channels do not show their videos, for example:

I went to watch this video
<img src="https://framapic.org/WEoEFGcjOuUW/4VoL6Hhut7wO.png" width="300">

and when I went

[2018-02-22 03:39] ale5000-git commented on #1108
Shazam can open song in Spotify but another data can possbly intercept the intent:
[code]

and then maybe get song info using the [API](https://developer.spotify.com/web-api/get-track/).

[2018-02-22 03:54] ale5000-git commented on #1108
I have also discovered that Shazam have a share button and in the list appears also NewPipe but it doesn't support the URL.

The intent is the following (it contain the song name and also an url of the song page; in the song page there is also the lyric of the song):
[code]

[2018-02-22 06:43] yasu4 commented on #1029
It's not always include ... to the link, but it's always missing the end part. From above video last link ends with /ind... (original is /index.php/something) and the second from the end is /acouphene with original /acouphene-troubles-audition-orl-comment-ecouter-musique-sans-danger-casque-audio-ecouteurs-2028135.html

[2018-02-22 11:00] wb9688 commented on #183
@Wiredframe: I don't know, but we're just downloading it straight from YouTube.

[2018-02-22 11:02] Wiredframe commented on #183
Thanks again. I guess this issue should be closed since there's nothing to do here ^^

[2018-02-22 11:18] theScrabi commented on #183
Oh well keep it open, you never know.

[2018-02-22 12:42] wb9688 commented on #1129
When #1136 is merged, it's only one line of code to use a (SOCKS or HTTP) proxy with OkHttp (and some other lines to make it a setting, but you get the point). However the actual playback won't use it then. @mauriciocolli or @karyogamy: do you know if you could set a SOCKS proxy for ExoPlayer?

[2018-02-22 13:05] Serkan-devel opened #1137 "D.tube support"
D.tube is a decentralized video streaming platform, backed by the IPFS Network and the STEEM Blockchain.

IPFS is used for torrent-style hosting while STEEM is used for decentralized account management, comments, ratings and more.
Everything there is open source but didn't get the recognition which it deserves

[2018-02-22 14:28] theScrabi commented on #1137
Yes pls. I am currently working on a tutorial about how to write own services for the NewPipeExtractor. This way everyone with simple java and webexperience can write support for anu service. Including d.tube :D

[2018-02-22 14:34] theScrabi commented on #1131
I see. I'll try not to get to specific. :)

[2018-02-22 16:40] karyogamy commented on #1129
I don't have much experience with proxies, but my guess is that you would want to implement and pass in a custom data source to the [Cache Factory](https://github.com/TeamNewPipe/NewPipe/blob/72a9940863c4573f8c2ed74676e2d52fd9a7e8c4/app/src/main/java/org/schabi/newpipe/player/helper/CacheFactory.java#L46), which is currently using [the default data source implementation](https://github.com/google/

[2018-02-22 18:06] Massedil opened #1138 "ParsingException: Could not get next video"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Just because I have no response when I submit a crash by e-mail to crashreport@newpipe.schabi.org, I will exceptionally post here a crash that happens since a long time :

[code]

- Is i

[2018-02-22 19:12] theScrabi commented on #1138
Please do not just post bureports here. You will not get a responce when you paste something here, but the data will be there you can be sure.

[2018-02-22 19:12] #1138 closed

[2018-02-22 19:20] Massedil commented on #1138
Thanks for your reply.

- @theScrabi : How can I see the crash reports created by sent e-mails there and how can I follow them ?

[2018-02-22 19:32] theScrabi commented on #539
@TheAssassin I just saw its not a legal copy. They never put the link to their source code somewhere. [Here](https://play.google.com/store/apps/details?id=com.floattube.liteyoutube) is the link. Please do something.

[2018-02-22 19:37] eighthave commented on #1129
NetCipher has simple helper methods for handling the OkHTTP3 config:

https://github.com/guardianproject/NetCipher/tree/master/sample-okhttp3/src/sample/netcipher/okhttp3

[2018-02-22 19:40] eighthave commented on #1129
oops, sorry, you were talking about Exoplayer.  It uses
HttpURLConnection.  Maybe you could make a subclass and override
makeConnection() and getConnection(), then use the NetCipher
HttpURLConnection factory stuff.

[2018-02-22 19:56] theScrabi commented on #1108
The problem now is if you fallow that link https://www.shazam.com/de/track/365266492/mayores how will we get to Youtube from it?

[2018-02-22 19:57] theScrabi commented on #1135
Can you please paste the link to the channel.

[2018-02-22 20:08] wb9688 commented on #1108
@theScrabi: Not, which is exactly the problem I mentioned earlier. However
we could use that subject as a search phrase. However I'd first implement
service switching when searching.

[2018-02-22 21:02] TheAssassin commented on #539
![screenshot_2018-02-22_21-59-34](https://user-images.githubusercontent.com/4503202/36563904-d894e256-181b-11e8-851e-0a0f4afaacf5.png)

There's the link. And that's not what makes it illegal. Please read my last comment (https://github.com/TeamNewPipe/NewPipe/issues/539#issuecomment-367284565).

[2018-02-22 21:14] speednroll commented on #1135
I forgot, this is the video that I put of [example](https://www.youtube.com/watch?v=K0siYUjV9UM)

the most curious thing is that this sends me to a different channel on the mobile [(link)](https://m.youtube.com/channel/UCvPh0iaCmHZPPiGAUOnP28Q) to the computer [(link)](https://m.youtube.com/user/OzzyOsbourneVEVO)

[2018-02-22 21:22] speednroll commented on #1135
this problem is not exclusive to the last beta because I tested with version 0.11.5 and even with the web browser and I received the same problem

[2018-02-22 21:57] ale5000-git commented on #1108
@theScrabi: In my opinion the best way would be to play the 30 seconds preview and then show an option "Search on YouTube" that open the YouTube search with the parased author / title.

[2018-02-22 22:10] theScrabi commented on #539
Yes I red your commend. I just mixed something up. Sorry.

[2018-02-22 23:48] theScrabi commented on #539
But well we got him anyway. I compiled his [sources](https://github.com/hungtm288/Float-Tube). Also I disassembled the version on Playstore, and I found out that the compiled one does not match the on on PlayStore.

![bildschirmfoto vom 2018-02-23 00-42-44](https://user-images.githubusercontent.com/1891273/36570479-83722682-1832-11e8-8580-fa14184fa272.png)

In the compiled version gms, ads and fir

[2018-02-22 23:56] TheAssassin commented on #539
Yep. That's what I was talking about.

[2018-02-23 08:04] wb9688 commented on #1135
@speednroll: It's the same channel, but every channel has a channel URL, but some also have a user URL, which YouTube prefers in some cases.

[2018-02-23 11:44] mauriciocolli commented on #1135
That's not it, it seems that this channel has a special case of redirecting (one channel linked to another?):

- **Original user**:  ozzyosbourneTV
**Id**: UCe3JCin4Gnv9azlWnAs5keg
**Uploads playlist**: [/playlist?list=UUe3JCin4Gnv9azlWnAs5keg](https://www.youtube.com/playlist?list=UUe3JCin4Gnv9azlWnAs5keg)
**RSS feed**: [/feeds/videos.xml?channel_id=UCe3JCin4Gnv9azlWnAs5keg](https://www.youtube.c

[2018-02-23 11:44] #1135 closed

[2018-02-23 12:21] Massedil opened #1139 "NewPipe start playing music again after beeing paused if a SMS is received"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

1. Listen to a music on NewPipe with headphone
2. Screen off, remove the headphone so the music is paused automatically
3. Screen off, receive a SMS (with sound)

Actual :
The NewPipe mu

[2018-02-23 13:03] blauark commented on #1137
D.tube in NewPipe would be great.

[2018-02-23 13:48] speednroll commented on #1135
but do you have any solution? it only happens on phones

[2018-02-23 14:01] mauriciocolli commented on #1135
It happens everywhere, see: (note the http status code and the location header, typical of a redirect)

[code]

The one that you get the vevo channel is another video: [K0siYUjV9UM (the one that gets redirected)](https://www.youtube.com/watch?v=K0siYUjV9UM) and [dvNXF7aGP2s (from the vevo channel)](https://www.youtube.com/watch?v=dvNXF7aGP2s). I'm just guessing that you got to the other one by mis

[2018-02-23 14:55] theScrabi commented on #1139
We had that bug once. Seems to still exist.

[2018-02-23 14:58] Massedil commented on #1139
I think I can reproduce it easily now, but it takes time for me to understand that it seems the bug occurs only with headphone. Not with the direct pause button.

[2018-02-23 15:54] paulcmal opened #1140 "Some video names crash the downloader"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I noticed video names containing quotation marks `"` crash the UI when attempting to download a video. I get prompted with the download menu. Clicking OK crashes Newpipe. Removing the qu

[2018-02-23 16:10] theScrabi commented on #1139
Yes of course, when pulling the plug the player goes into a special state. We are aware of this issue however it should be fixed.

[2018-02-23 16:12] theScrabi commented on #1139
@karyogamy If you join the TeamNewPipe I could assign you to certain issues. I would have assigned you here if you where part of the team.

[2018-02-23 17:28] karyogamy commented on #1139
Seems like a [one-liner](https://github.com/TeamNewPipe/NewPipe/blob/3088778a9f46b93474a28dfa82b8dd25917a0113/app/src/main/java/org/schabi/newpipe/player/BasePlayer.java#L348). Change `simpleExoPlayer.setPlayWhenReady(false)` to `onVideoPlayPause()` should fix this.

@theScrabi
Alright =D
Don't take this the wrong way, but please set an explicit expectation for the team members and notify them bef

[2018-02-23 18:03] theScrabi commented on #1139
@karyogamy Oh I just saw I exigently removed you. I'm sorry.

[2018-02-23 18:14] theScrabi commented on #1127
Well but small prices always come with a higher ratio of transaction fee. Also I still didn't figure out who to get the money form bountysource to librepay other then by hand.
Normally I'd say the same and pay someone an monthy fee, but I don't know about this now.

@wb9688 @TheAssassin @coffeemakr @mauriciocolli @TobiGr since this is basically project money what do you think about the whole idea?

[2018-02-23 18:47] TheAssassin commented on #1127
I like the idea itself, but I'd rather go for @ale5000-git's suggestion donating something regularly instead of sending them a one-time donation. Being infrastructure provider, I can confirm it's better to have get regular donations to be able to pay the monthly invoices. Also, if we keep some money, we can mitigate fluctuations.
I would suggest 15 USD per month, that's a good start.

For the rest

[2018-02-23 19:48] theScrabi commented on #1127
A little merge for 35c3 or other conventions (maybe even street lamps ;D) is in general a cool idea. However lets disuse this in another thread.

[2018-02-23 19:51] TheAssassin commented on #1127
Of course. I'm just saying, we should save some of the money, and invest it in something useful for advertising.

[2018-02-23 19:52] theScrabi commented on #1127
So I took a look into Bountysource, I could not find anything where we could pay someone monthly.

[2018-02-23 20:04] theScrabi commented on #1127
I'm afraid we could only claim it once.

[2018-02-23 20:09] theScrabi commented on #1127
We could create an account at [librepay](https://liberapay.com/), then I'll take about 200 from bountysource and put it into librepay. Maybe we should also consider to create a lib replay account for us. After all bountysource didn't really pay out the way wed liked to.

[2018-02-23 20:17] TobiGr commented on #1127
Good idea, I think F-Droid recently added support for it.

I'd prefer monthly donations too. But if we loose money / pay higher transaction fees, I'd also suggest to donate once.

[2018-02-23 20:40] TheAssassin commented on #1127
You could also just pay out some amount of money _once_ and then donate it using some other method. It's not _that_ complicated.

[2018-02-23 22:23] theScrabi commented on #1127
All right I think we mean the same thing :D

[2018-02-23 22:23] theScrabi commented on #1127
So next thing todo is set up a libre pay account and put some money from bountycode there.

[2018-02-23 22:25] #55 closed

[2018-02-24 05:21] KOLANICH opened #1141 "Support Coursera"
A relevant project with the compatible license (LGPL-3.0) is https://github.com/coursera-dl/coursera-dl

[2018-02-24 07:44] wb9688 commented on #1141
Does Coursera require a login?

[2018-02-24 09:55] theScrabi commented on #1141
Thats not the only service with login. We might consider to implement an interface for login.

People requested spotify premium support ... same issue.

[2018-02-24 11:35] KOLANICH commented on #1141
It does for most videos. Sometimes videos are available without login (see `--preview` flag).

[2018-02-24 12:03] theScrabi commented on #1141
Hm ... yea well. If we do something lets do it full way or no way. Otherwise it would be frustrating.

[2018-02-24 12:04] theScrabi commented on #1141
But honestly I don't know when we can offer support for services with login. Lets first focus on getting other services work properly at all. Multyservice is really early bird and still needs a loot of fixes before its good usable :)

[2018-02-24 12:06] theScrabi commented on #870
@karyogamy
Apparently you earned yourself 15$
Please claim them [here](https://www.bountysource.com/issues/51898501-add-local-playlist-feature)

[2018-02-24 12:06] #870 closed

[2018-02-24 17:58] speednroll commented on #1141
I know this goes on another topic, but can you also consider the inclusion of bandcamp? this is something similar to what happens with coursera-dl & youtube-dl [with bandcamp-dl](https://github.com/iheanyi/bandcamp-dl) :v

[2018-02-24 20:37] justanidea commented on #1141
What kind of account would it be ? A personnal account (so they collect data)? A anonym account (like the Newpipe account, used for everybody or idk)?

[2018-02-24 20:39] justanidea commented on #879
What about this request today? :)

[2018-02-24 20:41] speednroll commented on #1141
it would be great if we can do something similar to yalp store, be able to use a particular account of the app if you want to remain anonymous or your own account

[2018-02-24 21:52] KOLANICH commented on #1141
Using a shared account would likely cause dmca takedown: they would say that it allows downloading videos in violation of ToS. In fact they care not about copyright on videos (since most of them are free), but about their "honor code" which forbids an individual to have more than one account, to share solutions (some solutions to quizes have been taken down from github) and to pass quizes done not

[2018-02-24 21:54] speednroll opened #1142 "[feature request] add "add to playlist" to the list of related videos"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

can add to the menu of the related videos the option of "add to playlist" too?
It's strange, this option is in the results but not in the information of a video, in the list of related v

[2018-02-24 23:24] speednroll commented on #1142
it is also needed in the list of videos of the channels

[2018-02-25 07:24] The-Demon-Prosecutor opened #1143 "Importing an OPML"
Hey,
I'm a bit confused regarding importing an OPML file.
If I try to import it as an .opml I get the error message - No valid ZIP file. If I zip the file up, I don't get my subscriptions in the menu.
I tried to export and see how the database is stored. Apparently it's a .db and .db-journal file, but I'm not sure how would I convert the .opml into those files (I have tried to simply rename the fi

[2018-02-25 07:38] mauriciocolli commented on #1143
That option is only to backup/restore the database (subscriptions, history, searches, etc.).

Regarding OPML support, I already completed the implementation and will open a pull request later today, so expect it to be available in the next version of NewPipe.

See #698

[2018-02-25 07:38] #1143 closed

[2018-02-25 10:39] anoadragon453 opened #1144 "Support timestamps in video URLs"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Opening a YouTube URL such as https://www.youtube.com/watch?v=Qd2JYMNycBo&t=2325s or https://youtu.be/tBiPumGnVT4?t=2m17s should skip to those times when the video is played.

It's confu

[2018-02-25 10:45] wb9688 commented on #1144
We had this a long time ago, but we've accidentally removed it and this has
already been reported in another issue, so this can be closed.

[2018-02-25 10:47] anoadragon453 commented on #1144
@wb9688 Ah OK, can you link the other issue number? I couldn't find it when I was searching.

[2018-02-25 10:48] wb9688 commented on #1144
#861

[2018-02-25 10:48] #1144 closed

[2018-02-25 10:49] anoadragon453 commented on #1144
Ah there it is, thank you!

[2018-02-25 11:54] The-Demon-Prosecutor commented on #1143
Ah I see.
Thank you for replying

[2018-02-25 12:22] theScrabi commented on #1142
Hm well discussable.
As always, if someone implements this I'm going to merge it :)

[2018-02-25 19:55] thanksgivingmeal opened #1146 "Subscription order"
I have subscribed to numerous channels on YouTube and the way the new videos feed works is as follows:
For each channel I see their newest video, in the order of the first channel I was subscribed to, to the last. (A.k.a. the first channel I see in my feed is the last video uploaded by the channel I first subscribed to on Newpipe). Wouldn't it be better if the new videos feed just showed the most

[2018-02-25 20:01] justanidea commented on #1146
Dont worry, we already talked about it and its coming soon

[2018-02-25 20:07] thanksgivingmeal commented on #1146
Wew you guys are quick.
Btw I love Newpipe its amazing! <3

[2018-02-25 21:48] theScrabi commented on #1146
@justanidea where have we talked about it?

[2018-02-25 22:00] justanidea commented on #1146
Is it the same subject as  #822, right?

[2018-02-25 22:01] justanidea commented on #1146
I talk too fast when i said "we", i wanted to say the "dev", not me. Sorry.

[2018-02-26 05:57] karyogamy commented on #870
@theScrabi Thanks.

[2018-02-26 09:25] wb9688 commented on #1146
Yes, and it's being implemented in #1044.

[2018-02-26 09:25] #1146 closed

[2018-02-26 14:10] TheAssassin opened #1148 "[data protection] IP address request to third party service leaks information about users"
At the moment, the service https://ipv4.icanhazip.com is used by the crash report activity to (whyever) fetch the public IPv4 of a user, which is then "anonymized" by removing the last two bytes.

Not only this information doesn't really add anything to the crash reports (at least nothing I could think of), it also shares the following details with this service (which, so far, nobody checked, rega

[2018-02-26 15:45] LosEagle commented on #962
uGet is just frontend for CLI downloader aria2. Perhaps aria2 can be used in newpipe?

[2018-02-26 16:36] Cormak commented on #962
@LosEagle Actually, its a frontend for curl and aria2, and only curl is supported by default. aria2 support is included in uGet but you have to enable it in the settings before you are able to use it.

However, aria2 on it's own might be a good option but I'm not sure how easy it will be to add to Newpipe.

[2018-02-26 17:01] wb9688 commented on #962
Well, using a native library would add another level of hell to NewPipe.
For example Android's PackageManager is totally not reliable with
installing native libraries, which can be avoided with ReLinker, and some
other stuff. I'd just write something using OkHttp.

[2018-02-26 20:32] theScrabi commented on #962
Oh yes. Well it was nice if there is already some external downloader available.
@wb9688 could you please write the downloader as a module for for gradle, like the NewPipeExtractor.

[2018-02-26 20:33] mueller-ma opened #1149 "Crash when opening video from start page"
I opened a video from the feed page. Only crashes on that video.

{
   "user_action": "requested stream",
   "request": "https:\/\/www.youtube.com\/watch?v=7LzsRXPlFTw",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe",
   "version": "0.11.6",
   "os": "Linux Android 7.1.2 - 25",
   "time": "2018-02-26 20:29",
   "ip_range": "",
   "exceptions": [
      "jav

[2018-02-26 20:39] wb9688 commented on #962
@theScrabi: I don't think we should do that, since we'll need to have things specific for NewPipe (for example getting a new stream URL from NewPipeExtractor when the URL it's using to download expires). I'll write a new downloader for NewPioe though.

[2018-02-27 00:48] momo42 commented on #967
Are there any news on this? :-)

[2018-02-27 05:40] wb9688 commented on #967
NewPipe tries to buffer minimally 15 seconds and maximally 30 seconds.
Maybe changing those values (which isn't possible in NewPipe, but only in
the code in PlayerHelper, so you'll need to compile it yourself for testing
it) would be better. @karyogamy might know more.

[2018-02-27 06:52] karyogamy commented on #967
Increasing the buffer should be able to delay the failures for some time. Another solution right now is to increase the number of allowable retry in the data source, hoping the network problem is solved within the retries. I've created a [new data source factory](https://github.com/karyogamy/NewPipe/blob/77da40e507ecebc8c0b361d1ed846cf0fa3ca356/app/src/main/java/org/schabi/newpipe/player/helper/Pl

[2018-02-27 06:57] wb9688 commented on #967
@karyogamy: Thanks! That's pretty much what I wanted. And the stream info
is small enough for me, just being able to really cache the streams itself
is all I wanted (well, except for some settings for maximal buffer and
cache size, but I can create options in the settings for that myself).

[2018-02-27 06:57] karyogamy commented on #1142
@theScrabi Issues like this are quite easy to fix and it's probably a good place for new contributors to join in. Do you think it would be a good idea to introduce a new tag, like `up-for-grabs`, to encourage first-timer PRs?

[2018-02-27 06:58] wb9688 commented on #1142
I agree with that.

[2018-02-27 07:11] karyogamy commented on #890
@Cormak

This is because, for age-gated urls, we are retrieving data from the embedded player rather than the actual webpage. The `REPORT` snackbar is shown since some info available to the regular webpage isn't on the embedded player. However, as this doesn't cripple any other functionality and only provides some error info, it's probably a low priority issue.

Can you please check if this proble

[2018-02-27 07:12] karyogamy commented on #1009
Fixed in #1004.

[2018-02-27 07:12] karyogamy commented on #1028
Fixed in #1004.

[2018-02-27 07:32] justanidea commented on #1142
Talking about that, i would like to say i want to partcipate a bit even if i havent so many experience. Im still trying to put an emulator on my pc (failed, my pc cant do virtual device ) But if I find a way to fix it, I would like to try to do it :)

[2018-02-27 07:39] karyogamy commented on #962
Has anyone looked at [this](https://github.com/lingochamp/FileDownloader)? It looks quite mature and modular.

[2018-02-27 09:54] Areiser opened #1150 "[Feature request] No overlay after double-tap"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

When showing newpipe to my brother, he really liked the app. However, he showed me you can skip small sections of videos by quickly double tapping on the right side of the screen while w

[2018-02-27 10:18] ale5000-git commented on #967
What about when there are network problems waiting like 2 seconds and then retry buffering (with infinite attempts) instead of failing?

It is useful for unstable Wi-Fi networks.

[2018-02-27 13:15] justanidea commented on #1142
Is there any place where you could talk about that, and help new contributors without crowding github with useless messages? (= messages not talking about issues, which are alerting everybody for nothing)

[2018-02-27 13:27] TobiGr commented on #1142
You can join our [IRC channel](http://webchat.freenode.net/?channels=%23newpipe).

[2018-02-27 13:39] justanidea commented on #1142
Thanks

[2018-02-28 01:16] Cormak commented on #962
@wb9688 Thanks for your efforts and take your time on this project. Please make sure the downloader makes multiple simultaneous connections while downloading like Gigaget does, though, or I predict many people will complain.

[2018-02-28 14:44] theScrabi commented on #1142
Yes why not

[2018-02-28 14:48] wb9688 commented on #1142
I don't think "up-for-grabs" would be the best name for it, I'd rather name
it something like "beginner-friendly'.

[2018-02-28 19:00] subproc commented on #1119
using easy-vpn-free i can connect...but not with bitmask...i'm on a nexus 6p Copperhead OS (Oreo)

[2018-02-28 19:11] HardLight commented on #1033
App still crashes. Tested on latest stable and beta versions. Last version that works with Lithuanian interface is 0.11.2.
Here is log:

`java.util.UnknownFormatConversionException: Conversion: p\n\tat java.util.Formatter$FormatToken.unknownFormatConversionException(Formatter.java:1399)\n\tat java.util.Formatter$FormatToken.checkFlags(Formatter.java:1336)\n\tat java.util.Formatter.transform(Format

[2018-02-28 19:30] speednroll commented on #1142
what he proposes @wb9688 seems to me a better idea. By the way, this other request #1002 could also tag it in the same way

[2018-02-28 19:40] megaxlr commented on #1119
Sounds like a network config error on bitmasks side.

On 28 Feb 2018 20:00, "subproc" <notifications@github.com> wrote:

[2018-02-28 21:12] HardLight commented on #1033
Updated translations. It should solve the problem.

[2018-02-28 21:38] Knowbody42 opened #1151 "Don't show overlay after resuming from buffering"
If I'm watching a video and it needs to buffer, the overlay (play/pause, seek bar) keeps appearing over the top of the video after it resumes.
It's annoying having to press the screen to make it disappear.

[2018-02-28 23:04] mauriciocolli commented on #1150
Closing in favor of #1151, as it's more general and the exact (indirect) problem.

[2018-02-28 23:04] #1150 closed

[2018-02-28 23:04] mauriciocolli commented on #1151
This a long time annoyance for me, I just didn't have the time to improve it.

I'll try to in the next few days.

[2018-03-01 01:10] karyogamy commented on #1151
@mauriciocolli If you wouldn't mind, I'll take care of this issue as part of #1147 since they are closely related.

[2018-03-01 02:42] mauriciocolli commented on #1151
Ok, it's all yours.

[2018-03-01 02:48] subproc commented on #1119
hi, updated to newpipe beta 0.12.0 and no more connection issues...so i think we can close this issues, thanks

[2018-03-01 13:32] TobiGr commented on #1033
Thanks!

[2018-03-01 13:36] Tapmemer opened #1152 "[feature request] parse comments from web"
i know comments request has been rejected so much because of no youtube/google api thing but what about parsing the comments from the web version of youtube (so no posting of comments, only viewing)?

if this is possible it would allow people to view comments and newpipe wouldnt use google libs or youtube api.

• [ x] I carefully read the contribution guidelines and agree to them.
• [ x] I checked

[2018-03-01 15:11] speednroll commented on #1152
those who develop Newpipe have talked about adding this option before

[2018-03-01 22:28] Bubu opened #1153 "Liberapay for newpipe?"
I very much like newpipe and I'd like to donate something to you.

As I'm not using bitcoin I wanted to ask if you have considered creating a liberapay team for newpipe?

Fdroid will have full support for it in the next client and website release as well.

[2018-03-01 22:46] TobiGr commented on #1153
Hey @Bubu,
thanks for your interest in donating to NewPipe! As discussed in #1127 we are going to set up librepay soon and then publish all information you need to the readme, our [website](https://newpipe.schabi.org/donate) and to F-Droid. If you want, you can also donate via [Bountysource](https://www.bountysource.com/teams/newpipe).

[2018-03-01 23:12] theScrabi commented on #1152
Yes this is a duplicate.
@Tapmemer scraping it was not a Problem. I'm just not interestrd in doing it. Howevet if someone else was willing to write this feature he is highly wellcome :D

[2018-03-01 23:17] theScrabi commented on #1133
Thx

[2018-03-01 23:42] KeizerDev commented on #1152
If it is a duplicate, please close it. It will keep the issue list more clean

[2018-03-02 00:59] karyogamy commented on #890
Found the source of the problem, fixed [here](https://github.com/TeamNewPipe/NewPipeExtractor/pull/73/files#diff-eabbe0ba204823c144fd4551d4ba4f43R541). These are flagged contents that require the user to click to confirm before showing the player. I'm just glad youtube-dl has an example tame enough (compared to the other example I've found) for me to write a test :\

[2018-03-02 02:47] speednroll commented on #890
great! I'm forward to using the improved Newpipe 👍

[2018-03-02 04:46] robohobot opened #1154 "Network Error VPN (conditions apply)"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I get a Network Error if I search videos on NewPipe while connecting to some VPN locations using Shadowsocks (not all locations fail, and using Lantern instead of Shadowsocks works).

Me

[2018-03-02 04:50] #1154 closed

[2018-03-02 05:12] mauriciocolli commented on #1119
@robohobbit marked as [pre-release](https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.12.0-beta) in the [releases](https://github.com/TeamNewPipe/NewPipe/releases) section.

In this beta we started using OkHttp (library instead of the built-in), so that could help.

[2018-03-02 07:05] robohobbit commented on #1119
@mauriciocolli Thanks for the swift reply. I'll have to wait then. 0.12 consistently crashes when I search for videos. Keep up the good work!

[2018-03-02 12:40] robohobbit commented on #1119
Actually, I've noticed that the problem with searching videos when on a VPN connection still exists in 0.12.

I can browse fine when I connect through the US server, but I get an error when I go through the HK server.

[2018-03-02 12:40] mauriciocolli commented on #1119
@robohobbit the latest beta crashes? Can you post the log here? (click in the share button and open on some app you can copy it) That could give some insight.

I also tested NewPipe connected in ShadowSocks in the pre-defined profile and in many outer-ips, and it worked fine.

@subproc also tested BitMask and confirmed, connected to their demo server and some other provider and it worked fine as w

[2018-03-02 12:45] robohobbit commented on #1119
I've been also sending the reports via email.

Here's what I've got:

{
   "user_action": "searched",
   "request": "test",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe.beta",
   "version": "0.12.0",
   "os": "Linux Android 8.1.0 - 27",
   "time": "2018-03-02 12:41",
   "ip_range": "47.52.0.0",
   "exceptions": [
      "java.lang.NullPointerException: Att

[2018-03-02 13:05] mauriciocolli commented on #1119
@robohobbit It seems like that NewPipe got a unexpected page.

While connected, try to open on some browser this url (will get different user agent, but could give a clue) in both "normal" and desktop mode: https://www.youtube.com/results?q=test&page=1

[2018-03-02 13:19] robohobbit commented on #1119
I can open no problem on Chrome. The crash happens no matter the keyword. I've tried searching for "ted talks" and I get the same outcome if I use the HK server.

[2018-03-02 13:34] robohobbit commented on #1119
@mauriciocolli i've tried again opening the link you told me with my browser and sometimes if I connect through VPN, there's a captcha. Maybe that's what stumping NewPipe. However, SkyTube has no issue connecting.

[2018-03-02 14:43] mauriciocolli commented on #1119
I've quickly created an app that should be able to see what is downloaded: [app-release.apk.zip](https://github.com/TeamNewPipe/NewPipe/files/1775436/app-release.apk.zip)

It will create a file (`youtube_page_test.html`) in the default root (sdcard or internal storage), you can post it here if you want.

[2018-03-02 14:53] robohobbit commented on #1119
@mauriciocolli Here's the output. A captcha, as I suspected.

Response {protocol=h2, code=503, message=, url=https://ipv4.google.com/sorry/index?continue=https://www.youtube.com/results%3Fq%3Dtest%26page%3D1&q=EgQvNEfhGMHI5dQFIhkA8aeDSzg8MjDGeKBvftxorQPePN4JbtSjMgFy}
date: Fri, 02 Mar 2018 14:48:34 GMT
pragma: no-cache
expires: Fri, 01 Jan 1990 00:00:00 GMT
cache-control: no-store, no-cache, must-

[2018-03-02 14:58] wb9688 commented on #1119
@mauriciocolli: It indeed is a CAPTCHA, but shouldn't the downloader catch
that with a RecaptchaException?

[2018-03-02 14:59] mauriciocolli commented on #1119
@wb9688 [we only check for the code 429](https://github.com/TeamNewPipe/NewPipe/blob/3ec979cc4024fc9c4d1bb89320cecb746d166185/app/src/main/java/org/schabi/newpipe/Downloader.java#L130), you can see that it got a 503 instead.

[2018-03-02 18:34] theScrabi commented on #1148
I agree. The base idea of the ip address was to check weather certain IP ranges might trigger errors due to regional locks of videos. However this seem to not have helped.

I agree on removing this ASAP.

[2018-03-02 18:43] theScrabi commented on #1149
Please don't just post the error here.

However which channel did you subscribe for getting this video?

[2018-03-02 18:47] mueller-ma commented on #1149
https://www.youtube.com/channel/UC6C1dyHHOMVIBAze8dWfqCw

[2018-03-02 19:12] TheAssassin commented on #1148
If you don't mind, I'll try to remove those data from Sentry as well. I won't alter the backups, though, but within a couple of weeks those data will be gone as well.

[2018-03-02 20:14] karyogamy commented on #1149
Looks like 11.6 is using a bad version of Extractor where the subtitles extraction can cause NPE, as seen [here](https://github.com/TeamNewPipe/NewPipe/compare/v0.11.6...dev#diff-39e7d8c00954e920b98e7636f0ac30b2L58). This problem was fixed in the [next commit](https://github.com/TeamNewPipe/NewPipeExtractor/commit/ccc8cde80e8d791f50007fa730b56932ec8c9b6b) to the extractor but wasn't integrated int

[2018-03-02 20:31] DanGLES3 opened #1156 "Player Ignoring Rotation setting"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

if i start playing a video with rotation off and then turn it on the player won't rotate unless reopened

[2018-03-02 21:52] mauriciocolli commented on #1156
That's a bad UX present in the player, we should alter the icons and add an "Automatic rotation" to the cycle.

[2018-03-02 22:01] Bubu commented on #1153
Thanks for your reply, looking forward to it!

[2018-03-02 22:19] ale5000-git commented on #1148
What about keep only the first half of IPs?

So for 151.151.151.151 keep only as 151.151.0.0 (doing the change directly inside NewPipe), in this way there is a minimal info for regional locks but the user isn't traced.

[2018-03-02 22:26] TheAssassin commented on #1148
That is the current state. The IP address information is anonymized on the client before the mail is composed.

However, as we don't have _any_ value in collecting those data, we will get rid of them entirely.

[2018-03-02 22:51] switchtegrax1 opened #1157 "[Feature Request] Allow to Filter Searched Videos"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

A basic video filtering option would be a great addition to newpipe

[2018-03-03 11:37] Pointeh opened #1158 "Feature Request - HDR video"
Hey folks.

Any chance to have 720 HDR and 1080 HDR playback/download choices on supported videos?

I've been using the iYTBP modded YouTube and it works great, don't know why Google haven't updated YouTube proper yet.

[2018-03-03 11:48] Pointeh commented on #1158
Sorry, found https://github.com/TeamNewPipe/NewPipeExtractor/issues/39 after posting

[2018-03-03 12:22] justanidea commented on #1158
You can close the issue if you want

[2018-03-03 14:54] speednroll commented on #973
This has not happened to me again, but because I do not leave so many programs open while I use newpipe. the strange thing is that other music applications work without problems even having a long stack of programs

[2018-03-03 17:12] larsgw commented on #1142
`good first issue` seems to be the standard label for this: https://help.github.com/articles/about-labels/#using-default-labels

[2018-03-03 19:27] RodolfoCandido commented on #1021
I have the same problem, but its only happens when I use the expanded desktop option from LineageOS. If I disable this option, everything works fine again. I am using LineageOS 13 with the latest version of NewPipe.

[2018-03-03 19:55] RodolfoCandido opened #1159 "PopUp don't move around with Expanded Desktop from LineageOS enabled"
PopUp mode doesn't move arround when Expanded Desktop from LineageOS 13 option its enabled.
When I try dragging the video, only the overlay controls moves, keeping the video in original place in top-left corner.
If I disable the Expanded Desktop option, everything works normal, but I only use the option enabled (more because my AMOLED screen has now burned Android nav buttons on down corner), so a

[2018-03-03 21:14] switchtegrax1 commented on #1159
Can confirm also happening on lineage 14.1

[2018-03-03 23:12] jMuzsik commented on #1142
Hi, I'd be up for doing it, though this would also be introductory for me in terms of Java and Android Development so I may take a bit of time to finish but definitely less then a week, if that's cool with ya'll.

[2018-03-04 02:23] #1152 closed

[2018-03-04 09:54] arvit1 commented on #165
I also am very keen to have autoplay on this app, if comes around newpipe will replace youtube

[2018-03-04 10:05] justanidea opened #1160 "Legality of Newpipe"
Imagine a future where Newpipe becomes very important, and a lot of peope use it in the world, enough to make the real youtube App quite lonely. Dont you think google could sue the owners of Newpipe, because they loose money, because of an app which use their own services ? I pretty dont wish that happens, but I was wondering if @theScrabi and all the dev were safe with this app today :)

[2018-03-04 21:48] anoadragon453 commented on #1093
Pretty sure this is fixed now. Thanks!

[2018-03-04 21:48] #1093 closed

[2018-03-04 23:59] john3voltas opened #1161 "[Feature Request] Download a playlist without having to play it"
I've searched but couldn't find an answer. Even asked in the irc channel and @TheAssassin told me this feature doesn't exist.
So I was wondering if it would be viable to implement a download button for playlists.
- One that would be there even before playing the playlist.
- One that would allow us to download the video or just the audio and pick the format (m4a, aac, etc).
Thanks in advance.
Cheer

[2018-03-05 04:06] Praveen0899 opened #1162 "Download error in slow network"
We are getting the download error whlie the network is slow. It takes a long time to load the user search

[2018-03-05 05:36] wb9688 commented on #1161
I agree this would be a nice feature, but it'd be hard to implement,
because some streams in the playlist may have some formats available, while
others may not.

[2018-03-05 05:54] karyogamy commented on #165
Done as part #1147, since this seems trivial enough now. The auto-queuing, when enabled, will append a related stream of the last item of a play queue once it starts playing.

[2018-03-05 06:14] speednroll opened #1163 "[Feature Request] save your playlists, subscriptions and settings in the cloud"
I'm not sure if this goes a bit against the policy of Newpipe, but I think it would be a very good idea to make a server in the style "firefox-sync" in which you can register and store your data there to be able to synchronize them more easily in other phones, tablets and amazonTvs. maybe even this idea works also for when Newpipe is ported to computers

[2018-03-05 07:38] jjgh commented on #165
@karyogamy this is fuckin amazing, thank you guys.
The only things missing are now:
- ability to play live streams
-  managing YouTube playlists
- desktop version

THANK YOU guys for working on this great app!

[2018-03-05 08:27] tkolo commented on #963
This is till an issue for Polish language in NewPipe 0.12.0. It often tries to search for "many" variation which does not exist in Polish translations, as by android rules the language only needed "one", "few", and "other"

[2018-03-05 11:23] justanidea opened #1164 "MobileData saver mode"
It would be great to create a mode where all the images are disabled, (in the feed page, search section, subs page) to save the mobiledata for people who hasnt got a big mobile phone package (ex: I have only 50mo). So when you have to search quickly a video/song you are happy not to burn the half of your phone package in ten seconds :)

[2018-03-05 11:27] TheAssassin commented on #1161
@wb9688 one could always just download the best available audio/video format. @john3voltas is more interested in downloading either video or audio streams, the format picking is more of an alternative way how to achieve it, but being able to choose "I want the audio streams" would probably suffice. One could combine it with a "preferred format" dropdown.

[2018-03-05 12:31] justanidea commented on #1164
Uhm sorry, im going to look for it

[2018-03-05 12:32] TobiGr commented on #963
I see...
There are "other" quantities which have been added before we asked Weblate to change it. I'll take care of it.

[2018-03-05 12:33] justanidea commented on #1164
I think it is #1060

[2018-03-05 12:33] #1164 closed

[2018-03-05 12:34] justanidea commented on #1060
More over it is great to save data for tiny mobile package

[2018-03-05 12:56] justanidea opened #1165 "Put the soundcloud logo as a default bannier in soundcloud's channels"
I think everything is said in the title :)

[2018-03-05 13:16] tkolo commented on #963
I can provide you crash reports if you need them.

[2018-03-05 17:29] TobiGr commented on #963
Yes, that'd be nice so I can ensure the problem is fixed.

[2018-03-05 19:15] myf opened #1166 "soundcloud kore not found"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

If I try to stream soundcloud on kore the error (kore not found) will popup. When I stream/share youtube link with kore it works perfectly.

[2018-03-05 23:11] tkolo commented on #963
[code]

[2018-03-05 23:17] tkolo commented on #963
I remeber being able to trigger multiple different codepaths in 0.11.X, apparently it has gotten worse in 0.12.0. This crash occurs whenever i try to search for essentialy anything, making the app unusable.
The only way to make NewPipe usable is by forcing english, either system wide or using (xposed app locale 2)[http://repo.xposed.info/module/com.flo354.xposed.applocale]

[2018-03-05 23:36] Lionirdeadman commented on #1160
It doesn't use any API and so, it's legally the same as using a browser. And modifying a web page is not illegal by any means AFAIK.

[2018-03-06 06:33] Arcegis opened #1167 ""Network Error" on each and every request"
Hello !
I'm using the 0.11.6 version (that I had to manually download, since 0.11.0 seems to be the most recent on F-Droid...and it's not available anymore), with CyanogenOS 12.1 (Android kernel v5.1.1), on a Gigabit Fiber, with a Wifi-N bridge.
Since yesterday night, each and every request that I type gives me a "Network Error". Even the "Trending" page doesn't display anymore and gives me a "Net

[2018-03-06 06:43] theScrabi commented on #1160
Yes. First of all we are providing a piece of software no service. Therefore everyone that uses NewPipe is responsible for that to him self.

And @Lionirdeadman is basically right with what he says. First of all what is a browser? NewPipe could be.

On the other hand Goole has billions of lawyers, but if we are really big enough so google wants to sue us ... We might have some as well :P

[2018-03-06 09:46] anilgulecha commented on #507
I have a usecase for transfering long talks to a device which only supports mp3 as the format. So if it's possible to include an mp3 encode in the app, this would be a much used feature.

[2018-03-06 09:49] anilgulecha commented on #941
@theScrabi What about a project like https://github.com/Sciss/jump3r ? This would require m4a -> wav (lossless), wav -> mp3 provided by above, so this would not increase the size as much as a full instance of ffmpeg.

[2018-03-06 09:50] anilgulecha commented on #941
https://github.com/nwaldispuehl/java-lame seems to be another option.

[2018-03-06 10:01] TobiGr commented on #963
@tkolo Can you please try out this [app-debug.apk.zip](https://github.com/TeamNewPipe/NewPipe/files/1784440/app-debug.apk.zip). You need to unzip it. In 0.12.0 the changes which were made to Weblate were not applied to the Polish translation because it has not been updated. After 0.12. there were some commits which already replaced the "other" quantities by "many". I didn't have any problems with

[2018-03-06 10:09] tkolo commented on #963
Yeah, this version works. Thanks for the fix.

[2018-03-06 12:52] yasu4 opened #1168 "Feature Request: mark watched videos in playlist/search results/channel"
- [.] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [.] I checked if the issue/feature exists in the latest version.
e.g. by changing color of title/background

[2018-03-06 12:57] yasu4 opened #1169 "Feature Request: display video duration on video page"
- [.] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [.] I checked if the issue/feature exists in the latest version.
When opening a link to the video, if possible, i'd like to know video duration before starting watching it.

[2018-03-06 18:44] #1139 closed

[2018-03-06 18:44] #1151 closed

[2018-03-06 20:05] theScrabi commented on #1168
Well if someone was impelmenting this definetly not a no.

[2018-03-06 20:11] theScrabi commented on #941
There is an app called [video transcoder](https://f-droid.org/app/protect.videoeditor) I think we could create an intent interface to that app. This way ffmpeg is encapsulated in another app, and if someone wanted to have this functionallity he could just install this app like an addon.

[2018-03-06 20:13] theScrabi commented on #507
[Answer to this here](https://github.com/TeamNewPipe/NewPipe/issues/941#issuecomment-370912160). Well get there eventually :D

[2018-03-06 20:17] theScrabi commented on #1167
0.11.0 is not the latest on fdroid. Please try to update the repository manually.

Also please try to use the beta version. And tell us if its existing there as well. However this is odd. Did you modify your phone? Or your network? From where are you connecting?

[2018-03-06 20:18] theScrabi commented on #1166
Kore does not support Soundcloud. We need to hide the option there.

[2018-03-06 20:20] theScrabi commented on #1165
I was more thinking about removing the banner as a default.

[2018-03-06 20:21] theScrabi commented on #1161
Maybe transcoding was an interesting thing here.

[2018-03-06 20:23] theScrabi commented on #1163
Well im currently working with ownCloud on their android app, lets se what the future will bring ;D

[2018-03-06 20:24] theScrabi commented on #1162
Can you describe your situation a bit further.

[2018-03-06 20:27] theScrabi commented on #1159
This gets more and more a problem. Its not the first time this happens.

@mauriciocolly maybe we have to consider using the new overlay funktion for oreo devices.

[2018-03-06 20:29] theScrabi commented on #1159
Did it work on older versions of newpipe?

[2018-03-06 20:29] theScrabi commented on #1021
https://github.com/TeamNewPipe/NewPipe/issues/1159

[2018-03-06 20:30] #1021 closed

[2018-03-06 20:31] justanidea commented on #1165
Its an other possibility that i like too :)

[2018-03-06 20:31] #1158 closed

[2018-03-06 20:32] theScrabi commented on #1157
Yes we need to consider this, however i think this is a duplicate.

[2018-03-06 20:32] theScrabi commented on #1148
No it has no value. We need to remove this.

[2018-03-06 20:35] theScrabi commented on #1149
12.0 is marked as a beta version which might be a reason why it does not show up.

However is 0.12 stable enogh to be relased as stable?

[2018-03-06 20:40] justanidea commented on #1149
There is maybe one thing to correct before to do it :  when i load a channel or my subz page, i have got "sorry some errors occured" but i see no errors... xD

[2018-03-06 20:46] karyogamy commented on #1149
Oh, I was referring to the beta page on fdroid. I think they've just updated to 12.0, after my last comment.

With all the problems of 11.6, it might be a good idea to go straight to 12.0. We should also consider using the commit after #963 was fixed for releasing stable, since `getQuality` seems to fail almost everywhere.

[2018-03-06 20:46] TobiGr commented on #1149
The version is listed in F-Droid's metadata.

[2018-03-06 20:55] TobiGr commented on #1149
I agree. I'd suggest to use the last commit before #1147 was merged.

[2018-03-06 21:48] RodolfoCandido commented on #1159
No. At the least using the 0.9.10 its behave the same way, just overlay buttons moving.

[2018-03-07 00:45] Arcegis commented on #1167
Hello !

Apparently, the problem fixed by itself about half an hour after I posted the question. The app is still working now.
(I am connecting from France, and I've set my region to France. I haven't modified my phone, and I just rebooted my network bridge before retrying.)

[2018-03-07 05:19] anilgulecha commented on #941
@theScrabi thanks! I've posted a comment on an issue already tracking intent creation for the video-transcoder app.

A seamless integration with another app would indeed be welcome, and would reduce the maintainable surface area for Newpipe.

[2018-03-07 12:33] theScrabi commented on #941
@brarcher what do you say, would you like to cooperate with us on that thing?

[2018-03-07 12:41] #1167 closed

[2018-03-07 12:49] theScrabi commented on #1159
I see. Well might might need to think about using [this](https://android.gadgethacks.com/how-to/use-new-picture-picture-mode-android-o-0178324/).

[2018-03-07 13:16] speednroll commented on #1168
this is a duplicate request

[2018-03-07 13:19] RodolfoCandido commented on #1159
But this would only resolve the problem to Android Oreo. LineageOS 13 is based on Android 6, and the LineageOS 14 on Android 7.

[2018-03-07 13:49] speednroll commented on #1163
great, I'll wait for news :grimacing:

[2018-03-07 14:20] theScrabi commented on #1159
Thats true as well. Well, if some of the developers of NewPipe has a device that is inflicted to this error, he might take a look at it.

[2018-03-07 16:35] theScrabi commented on #1168
where is the duplicate?

[2018-03-07 16:43] speednroll commented on #1168
this is the request #1050

[2018-03-07 17:55] theScrabi commented on #1168
thank you :)

[2018-03-07 17:55] #1168 closed

[2018-03-07 19:44] brarcher commented on #941
I like the idea, @theScrabi. We can discuss the details in https://github.com/brarcher/video-transcoder/issues/42.

[2018-03-07 22:08] chris47368 opened #1170 "A very Minor GUI change request"
Dear newpipe developers,
I love your app it works fantastic compared to the other players.I have one simple request for this app that i think will make the user experience much better.Could you change the prompt you get when you share a video from another app into the newpipe app,so the prompt you get that allows you to choose what mode to play the video in as normal but has a 'ok' button and a ti

[2018-03-08 05:48] karyogamy commented on #1170
You can double-click on the selection and it works the same as selecting 'Just once'.

[2018-03-08 07:32] theScrabi commented on #941
Once this is done we should put a link to your transcoder on our readme/website.

[2018-03-08 11:53] IamJithendra opened #1171 "Add Ability To Change The Subtitles Font And Color"
The Subtitle Option Is Now Available on the Beta Version Of This App And The Above Mentioned Features Will Be  Very Useful

[2018-03-08 13:50] max421 opened #1172 "Feature Request: Chronological Order and marking of the videos in the News Section of subscribed channels"
Hi,

i have two wishes.

First can you make the list with the videos in the News Section sorted towards uploading time? At the moment the videos from the channels which I subscribed are totally in a random order. So it's heavy to keep a overview.

Second is it possible to add a option that videos in the News Section can be marked as not new anymore or something like that? Or that videos disappeari

[2018-03-08 14:03] justanidea commented on #1172
Those two topics already exist :) These features are coming, its not for tomorow of course, but some devs work on it. You can follow their progress on #1044 and #1050

[2018-03-08 14:08] mauriciocolli commented on #1172
As @justanidea said.

[2018-03-08 14:08] #1172 closed

[2018-03-08 14:22] max421 commented on #1172
Thx for the informations:)

[2018-03-09 01:14] DanGLES3 opened #1173 "Closing app animation glitch"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Whenever i exit newpipe sometimes the last screen of the app pops in for a split second during the exit animation

[2018-03-09 07:21] theScrabi commented on #1173
Which android version are you using? Is it stock android or something else?

[2018-03-09 12:05] jvaehki opened #1174 "[FR] Pause/Play from lock screen?"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

Hi,

Would it be possible to have NewPipe display on the lock screen like [this](http://cdn.webcazine.com/wp-content/uploads/2015/03/android5_music_controls_on_lock_screen_1_20150408.jpg

[2018-03-09 13:27] justanidea opened #1175 "See the 'About' section of a channel"
By long pressing on a channel in the search result, we could see the 'About' section of the channel, to know what kind of channel it is.
+ If possible, the featured channels section, related to this channel

[2018-03-09 13:46] switchtegrax1 commented on #1173
Lineage os 14.1,newpipe seens to be the only app causing this issue (ive tried changing my system animations but it didn't fix it)

[2018-03-09 13:52] switchtegrax1 commented on #1173
This started happening on version 11.6 while previous versions worked fine.

[2018-03-09 13:56] mauriciocolli commented on #1173
Can you provide a screen record demonstrating this issue?

[2018-03-09 13:57] mauriciocolli commented on #1159
I don't have an Android device atm to test it, but in Android X86 (based on Lineage) it is confirmed:

<img src="https://user-images.githubusercontent.com/13389907/37063218-71a8d4ac-2177-11e8-8ea5-3454247fdb70.png" width="550" />

[2018-03-09 14:12] switchtegrax1 commented on #1173
[20180309_110656.zip](https://github.com/TeamNewPipe/NewPipe/files/1797125/20180309_110656.zip)
The last seconds of the video you can see the glitch 2 times

[2018-03-09 15:26] RodolfoCandido commented on #1159
I've tested all APK releases from GitHub (from 0.9.4 to 0.12.0-beta, I can't compile the source code from olders) and they all have this problem. I've also recorded how its behaves with Expanded Desktop enabled and disabled.

[https://youtu.be/cYLFJdgkj_g](url)

[2018-03-09 15:35] MeikelLP opened #1176 "Crash with no media player"
When trying to open a downloaded video (as audio file) the app crashes when there is no music player app installed.

SysInfo:
* What: ui error
* Request: App crash, UI failure
* Language: GB
* Service: none
* Time: 2018-04-17 08:21
* Package: org.schabi.newpipe
* Version: 0.13.2
* OS-Version: Linux Android 7.12 - 25

[code]

[2018-03-09 18:36] v-cycl3 opened #1177 "Custom images or themes (with transparent) over/replacing titlebar colour"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Hello I enjoy a lot this app!
My idea is like Google Chrome themes, changing only top bar colour with a custom image....
(like transparent fractal of white circles over red)

that may ke

[2018-03-09 18:39] speednroll commented on #1177
I have asked for something similar before. see #1034

[2018-03-09 22:46] MCMic commented on #1161
I want this too !

[2018-03-10 00:47] #1085 closed

[2018-03-10 13:10] john3voltas commented on #1161
@theScrabi

Hey there. Thank you all for getting in this issue, especially you @theScrabi .
Honestly, most phones/tablets out there don't have the necessary specs to transcode audio, not to mention video.
If you would implement that as a feature I would ask you if you could leave the transcoding as an option and not as a obligation.
I feel more inclined to @TheAssassin 's option:

This looks more

[2018-03-10 14:20] frehu01 commented on #609
Any progress on this issue?

[2018-03-10 15:11] #698 closed

[2018-03-10 16:22] mauriciocolli commented on #609
@frehu01 I took a break and forgot about this request, sorry about that.

Will push the commit in a bit, so expect it to be available in the next release.

[2018-03-10 16:37] #1054 closed

[2018-03-10 16:37] mauriciocolli commented on #1054
With the fix everything that don't have 16/9 proportion will have black bars, that why it was implemented like this in the first place.

This happens when in landscape and most videos have the "correct" thumbnails, so I'd not worry about it.

[2018-03-10 16:38] mauriciocolli commented on #1169
Duplicate of #609.

[2018-03-10 16:38] #1169 closed

[2018-03-10 16:45] mauriciocolli commented on #1061
As @wb9688, YouTube doesn't show this information so the only way to implement would be fetching each one to get it, and that is just not possible.

[2018-03-10 16:45] #1061 closed

[2018-03-10 16:46] #1049 closed

[2018-03-11 01:50] speednroll commented on #1161
I like this idea. but until they develop these features you should find some application to convert these files to mp3 or other format and then use vanilla music with the tag editor plugin to modify the tags of the music you download from newpipe and then use the vanilla cover addon to find the album cover (?

[2018-03-11 13:55] jnewz opened #1179 "(idea) A complete offline option in the settings"
A complete offline option in the settings
In some countries, the price of mobile memory cards is cheaper than for mobile data. Therefore, it would be very good to have an option to save all of the data retrieved on the phone. It saves time, mobile data and money.
It should download the search history the descriptions and thumbnails as well as the video and audio track. That if one searches these a

[2018-03-11 14:07] jnewz opened #1180 "(Idea) Download entire channels and playlists while holding down option."
Download entire channels and playlists while holding down option. (Video and / or Audio)

[2018-03-11 16:25] theScrabi commented on #1161
A bit, first of all NewPipe wants to be a replacement for certain video service apps. But the features are the things that make NewPipe cools, so if someone would add and maintain this feature I would totally take it in :)

[2018-03-11 16:26] #1177 closed

[2018-03-11 16:29] theScrabi commented on #1176
This is a rather rare case, but if someone was willing to fix this, we could check if a player was installed , and only send an intent if one is there. If not we could redirect the user to fdroid.

[2018-03-11 16:37] theScrabi commented on #1174
? Isn't this what NewPipe is doing?
You may want to use the background future.

[2018-03-11 16:37] #1174 closed

[2018-03-11 20:40] TobiGr commented on #667
We can close this now. I don't have permission to do that.

[2018-03-11 20:59] TheAssassin commented on #667
You should be able to now. Check your mails.

[2018-03-11 21:09] TobiGr commented on #667
Thanks

[2018-03-11 21:09] #667 closed

[2018-03-11 21:10] #747 closed

[2018-03-11 21:33] ale5000-git commented on #1176
@theScrabi: I'm not experienced into this but can the code to run the intent executed inside "try catch"?

[2018-03-11 21:42] MeikelLP commented on #1176
An exception is thrown so I think this should be possible. I added the stacktrace.

[2018-03-11 22:26] mauriciocolli commented on #1176
If any of you wants to fix it, check [these methods](https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/main/java/us/shandian/giga/ui/adapter/MissionAdapter.java#L260..L286) of the GigaGet list adapter (`MissionAdapter`). It should be using `resolveActivity` like [this](https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/main/java/org/schabi/newpipe/util/NavigationHelper.java#L227..L246)

[2018-03-12 07:54] balogic opened #1181 "Error frequently in accessing the videos"
![](https://i.imgur.com/Kj65I2d.jpg)

[2018-03-12 10:44] jvaehki commented on #1174
I have tried this in two different android devices and none of them had this behavior. Could it be a bug? What more info can I provide to help track this down?

[2018-03-12 12:02] theScrabi commented on #1181
Please use our build in bugreport system, or at least add more details about the crash.

Please do not just put a screenshot of the stacktrace here.

[2018-03-12 13:02] balogic commented on #1181
@theScrabi I have attached a detailed report below.

[code]

[2018-03-12 13:23] justanidea commented on #1174
It may be because you have enabled "hide notifications" in your phone setting

[2018-03-12 13:48] TobiGr commented on #1181
That's exactly what https://github.com/TeamNewPipe/NewPipeExtractor/pull/74 attempted to fix.

[2018-03-12 14:13] jvaehki commented on #1174
The notification displays normally, just not on the lock screen.

In any case, checked the app notification settings: newpipe is allowed to display notifications and the app notifications are given top priority.

[2018-03-12 14:20] jvaehki commented on #1174
Fixed! If anyone has the same problem, try this:

In 'lock screen and security' setting, make sure notifications are 'ON' ('Set display options for notification on the lock screen and always on display')

Thanks a lot to both of you!

[2018-03-12 17:57] theScrabi opened #1183 "version branching from dev to master"
So the following happened:

I wanted to release v0.12.0, so I pulled the tag v0.12.0-beta over to the master branch. There I saw that that beta release was broken on several points, so I've created fixes on the dev branch, and cherry picked them over. However after finding more issues I figured that I horribly f*** up master branch, which mend that I had to discard all the issues.

   1. close dow

[2018-03-12 18:25] justanidea opened #1184 "Question: Does the playlists update themselves when you save an internet platlist?"
Like : if I create a playlist directly from a channel feed, does it be updated?
If not : could this functionnality be added?

[2018-03-12 20:57] theScrabi commented on #1184
I'd say no, since the playlist gets copied and store locally.

[2018-03-12 21:41] Bombastisch commented on #1058
This one PR looks like it was stalled. I really wait for this feature, because downloading them individually takes really long.

[2018-03-12 21:43] Gagggg commented on #1058
I think you got the wrong email...

On Mon, 12 Mar 2018, 22:41 Basti, <notifications@github.com> wrote:

[2018-03-12 21:45] Bombastisch commented on #1058
@Gagggg which Email? No. I was talking about a PR which goal was to actually implement this feature but the creator seems to have stopped working on it.

[2018-03-12 22:00] Gagggg commented on #1058
Ah sorry :P

On Mon, 12 Mar 2018, 22:45 Basti, <notifications@github.com> wrote:

[2018-03-13 03:55] levush opened #1185 "Updated de (German) translation"
I have translated your application into `de` (*German*). Here is the xml:
[code]
maybe it needs some minor review

[2018-03-13 04:16] mauriciocolli commented on #1185
Thanks for your effort!

We use [Weblate](https://hosted.weblate.org/projects/newpipe/strings/) to translate NewPipe instead of here. But this wasn't in vain, you can still upload to it the entire file and fill in the missing ones (and it is quite a bit).

This is the option if you're interested (so you get the credit for it): [German > Files > Upload Translation](https://hosted.weblate.org/projec

[2018-03-13 04:16] #1185 closed

[2018-03-13 16:12] theScrabi opened #1186 "Issues with Live Streaming"
I'm sorry I merged the livestream feature before it got tested.
So here are some thoughts and impressions of mine:

- [x] __New instead of Sync__
On the player if you have live stream, on the right side you see the word Sync. However I found it a little more conveniend and intuitive if it was called Now instead.
![sync](https://user-images.githubusercontent.com/1891273/37354284-9381a77e-26e1-11e8-

[2018-03-13 16:15] theScrabi commented on #195
Live stream support got added :)

https://github.com/TeamNewPipe/NewPipe/pull/1147

However it still needs to be improved and tested :)

[2018-03-13 16:15] #195 closed

[2018-03-13 16:29] #1183 closed

[2018-03-13 19:31] justanidea commented on #1184
Could it be updated ?

[2018-03-14 01:29] awefartib opened #1187 "allow subtitles also in Popup mode"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I just tried the new subtitle feature in the NewPipe beta. From what I can tell, it's only available in the fullscreen player. I was wondering if it's possible to allow subtitles in the

[2018-03-14 01:33] awefartib opened #1188 "don't delete videos from queue if they don't play"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

NewPipe seems to sometimes produce errors when playing videos, while using a VPN service. This can easily be tested by using it for a couple of days through Orbot. I don't know if the er

[2018-03-14 12:12] theScrabi commented on #1184
@karyogamy can it?

[2018-03-14 13:24] mcarlo95 commented on #165
Amazing! Is it coming out with next relase!?
I just wanted to ask for the same feature :)
Great app!

[2018-03-14 16:50] karyogamy commented on #1187
It does work in popup, but you need to expand the popup window large enough, so the subtitle button has space to show up.

[2018-03-14 16:56] karyogamy commented on #1184
Not trivial, since we need to update the database schema and create a special playlist just for doing this. Also, it's probably difficult to explain this functionality to other users.

It's best to just wait for the new feed system and add a playlist control panel (background/play all/popup) to that instead.

[2018-03-14 16:59] justanidea commented on #1184
Okay

[2018-03-14 17:42] theScrabi commented on #1187
I think @karyogamy is right, the popup UI already is overcrowded.

[2018-03-14 17:42] #1187 closed

[2018-03-14 17:43] #1184 closed

[2018-03-14 17:44] theScrabi commented on #729
Thanks to @karyogamy we have it now: https://github.com/TeamNewPipe/NewPipe/pull/1147

[2018-03-14 17:44] #729 closed

[2018-03-14 17:45] #165 closed

[2018-03-15 22:18] JustMeErazem opened #1190 "Order Subscription videos by date not one per Channel"
Can you order videos by release date, so that there can be more videos by the same channel if they were released one after another (like in normal Youtube or SkyTube). Now there is only one video per channel and some channels haven't posted in months, so it's confusing.

[2018-03-15 23:19] theScrabi commented on #1190
This got requested multible times. We might have to add a something to the database that remebers which vidos of a channel you've already seen.

[2018-03-16 01:29] codesalad opened #1191 "Unable to play downloaded audio files"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

[2018-03-16 01:36] codesalad commented on #1191
I am using the beta version 0.12 and I can only playback the downloaded video files, but it seems like the audio files are corrupt.

The media players I tries were Google play music, default android one and vlc. I unfortunately don't get useful error messages when trying to play, just that it is similar as when you try to play a faulty file.

Anything I could check on my phone to fix this? And tha

[2018-03-16 05:58] justanidea commented on #1191
Have you tried Vanilla music?(on fdroid) Because sometimes some apps just cant read m4a

[2018-03-16 06:03] justanidea commented on #1050
Let's motive someone to do that! :)

[2018-03-16 07:51] codesalad commented on #1191
I just did and still nothing. Webm also doesn't work. I will look at the files on my computers when I have time and try to see what's wrong.

[2018-03-16 09:11] beta-phenylethylamine opened #1192 "NewPipe uploaded with ads to app store"
I just found this app and I figured y'all might like to know about it:

https://play.google.com/store/apps/details?id=com.helixapps.steemittube

It calls itself a d.tube player but it's actually just an old version of NewPipe with some colors, text, and images changed, plus ads.

Technically I guess that wouldn't be a problem on its own, but it doesn't seem to be following the GPL either. I search

[2018-03-16 09:57] wb9688 commented on #723
Hit the 3000 mark now! :tada:

[2018-03-16 12:09] justanidea commented on #1191
What is your phone device? Wait for a real dev for more answers 😉

[2018-03-16 12:14] TheAssassin commented on #723
I think we need to set up some monitoring for this...

[2018-03-16 12:45] theScrabi commented on #723
Yea totally :'D

[2018-03-16 12:56] codesalad commented on #1191
It's an LG e980, 4.1 – 4.3.1 Android. So it's quite dated, but I haven't met any issues like this before. Thanks.

[2018-03-16 15:10] theScrabi commented on #1192
Hei thank you.
However I will close this, since we have an own thread for copycats:
https://github.com/TeamNewPipe/NewPipe/issues/539

[2018-03-16 15:10] #1192 closed

[2018-03-16 15:22] theScrabi commented on #1050
Haha ... well you know we have bountysource ;D

[2018-03-16 22:19] GaryMericano commented on #1170
I second this request and add that a 'better open with' style countdown would match the name preferred player a little better. If you could designate a preference, say popup, and if background or show info or video player wasn't clicked in 3 or 5 seconds it would default to popup.
At that point if a direct download button and/or open in other app buttons were added I could finally set NewPipe to d

[2018-03-17 13:25] codesalad commented on #1191
The files are downloaded correctly. I was able to play the files when opening VLC on my phone and choosing the file from the directories. It does however report "Playback error" when I try to play the audio file with VLC from within NewPipe.

[2018-03-17 13:25] #1191 closed

[2018-03-17 17:37] phly95 commented on #1058
Another thing would be allowing for adding numbers before each item, which will be useful when downloading albums to keep things in the right order.

[2018-03-17 19:28] JustMeErazem commented on #1190
Maybe you can see how [SkyTube](https://github.com/ram-on/SkyTube/) does it.

[2018-03-19 11:29] darkon5 commented on #1014
I would love if it would parse the track name and artist from the video title/channel name. A dialog message would be best to check if the parsed info is correctly typed.

[2018-03-19 19:43] andrewferguson commented on #1190
I don't particularly see why it is necessary to remember which videos in the subscription feed have already been watched - at least at this stage. (Although is this information not already stored in the database because it will be in the watch history?)

A good fix in the interim I think would be to show the first 15 or 20 most recent videos from subscribed channels, with the option to view more o

[2018-03-19 19:48] JustMeErazem commented on #1190
@andrewferguson I didn't mention remembering already watched videos, as I also find that not as useful. But your 2nd argument is what I proposed. Latest 20-30 videos released by subscribed channels in order of release. I think the dev understood what I meant.

[2018-03-19 21:37] mauriciocolli commented on #1190
Duplicate of #822.

[2018-03-19 21:37] #1190 closed

[2018-03-20 05:03] GKid94 opened #1194 "Add Features"
Can you please add a Repeat video feature?

[2018-03-20 05:07] GKid94 opened #1195 "Feedback"
Can you please update the app so that it looks like the current YouTube app and add the comments other things?

[2018-03-20 06:25] justanidea commented on #1194
There already is :)

[2018-03-20 08:46] GKid94 opened #1196 "Feedback"
Can you also add a subtitle option and to play the video on the page and not in fullscreen?

[2018-03-20 09:10] wb9688 commented on #1196
Subtitles are already implemented and the second thing is being implemented
by @avently.

[2018-03-20 13:22] #1195 closed

[2018-03-20 13:26] mauriciocolli commented on #1194
Already exist.

[2018-03-20 13:26] #1194 closed

[2018-03-20 13:26] TobiGr commented on #1194
You can already repeat videos, but this feature is hard to find. We'll need to improve the UI/UX for that.
When watching a video, tap on the playlist icon (the three bars prepended each by a dot). Then toggle the repeat mode on the top left.

[2018-03-20 13:50] theScrabi commented on #1195
@GKid94 please dont call your isseus just "feature" or "request". Provide a propper title.

[2018-03-20 13:51] theScrabi commented on #1196
@GKid94 please dont call your isseus just "feature" or "request". Provide a propper title.

[2018-03-20 13:52] #1196 closed

[2018-03-20 18:54] GKid94 commented on #1196
@wb9688 How do I enable the subtitles I don't see any option?

[2018-03-20 19:04] wb9688 commented on #1196
It'll be included in the next release.

[2018-03-20 19:51] justanidea commented on #1196
But you can already have it in the beta version (available on fdroid )

[2018-03-21 09:05] wb9688 commented on #1014
@theScrabi: That JCodec thing is pretty cool, I think we should implement that (instead of going with the FFmpeg in a separate app way I suggested before).

[2018-03-21 09:07] wb9688 commented on #1191
@codesalad: In the download section I assume? If so, the download section is really buggy, and I'm going to replace it soon.

[2018-03-21 09:40] wb9688 commented on #1159
@mauriciocolli: Nice that we can finally reproduce this issue ourself (before there were only certain users with certain phones with this issue).

[2018-03-21 19:59] #1148 closed

[2018-03-21 20:05] theScrabi commented on #1159
Yes. By the way I have lineage os 12.1, and it turns out when I enable expanded desktop I have the same problem.

[2018-03-21 20:06] theScrabi commented on #1014
Yea we can give it a shot, especially when its just about putting an album cover somwhere.

[2018-03-22 09:16] D-Ermis opened #1198 "NewPipe desktop version"
Hi -- Do you think it's feasible to have a desktop version of NewPipe?

I love NewPipe and I use it daily on my Android device. I'd like to do the same on my personal computer.
Thanks a lot and keep up the good work! Waiting for #1044 to be available, this will be a game changer.

[2018-03-22 09:17] wb9688 commented on #1198
Duplicate of #1051

[2018-03-22 09:17] #1198 closed

[2018-03-22 20:56] theScrabi opened #1199 "New drawables and icons"
As @karyogamy pointed out [here](https://github.com/TeamNewPipe/NewPipe/pull/1189#issuecomment-375434974) our current icons/drawables use up lots of memor and are not very scalable since they are bitmaps. On top of that I think they don't look not look very awesome. So as he suggested we should replace them with vector desirables.

[2018-03-22 21:38] theScrabi commented on #1153
Spread the word, we now have librepay:
https://liberapay.com/TeamNewPipe/

[2018-03-22 21:40] TobiGr commented on #1153
I'll add it to the [donation page](https://newpipe.schabi.org/donate/) soon.

[2018-03-22 21:51] theScrabi commented on #1127
All right so I set every thing up.

I took 200$ ~ 150€ from Bountysource as a claim:

[auszahlung.pdf](https://github.com/TeamNewPipe/NewPipe/files/1839363/auszahlung.pdf)

Now i put 144€ into libre pay:
![librepay](https://user-images.githubusercontent.com/1891273/37800461-2467ceba-2e23-11e8-8601-f0fdc38c3073.png)

And setup a monthly payment of about 13 € > 15 $ up:
![bildschirmfoto vom 2018-03-

[2018-03-22 21:53] TheAssassin commented on #1127
@theScrabi feel free to write some, we'll review it.

[2018-03-22 21:56] theScrabi commented on #1153
@TobiGr @wb9688 @coffeemakr @mauriciocolli @karyogamy @TheAssassin please feel free to sign your self up to the team :)

[2018-03-22 22:02] theScrabi commented on #1153
@Bubu please think twice if you wan't to donate to NewPipe. I've just seen you are part of the fdroid team, and we use a small part of the NewPipe donations to support fdroid. So if you donate back you might push money in a circle.

[2018-03-22 22:30] Bubu commented on #1153
@theScrabi that would be indeed rather awkward, yes 😅

Well in that case I have just added it to the f-droid metadata:
https://gitlab.com/fdroid/fdroiddata/commit/6264f1c2c235f6fbc4c06014c1753291139be68d

And thanks for your work, this is now one of the most used apps on my Phone ;-)

[2018-03-22 22:37] TheAssassin commented on #1153
@Bubu may we quote you on that on our homepage, please?

[2018-03-23 00:06] TobiGr commented on #1127
I think it's undecent to tell everyone that we donated money. It can easily sound like "Hey we are the good ones and look how generous we are!!!!". Just take a look at Budweiser's last Super bowl commercial. It is horrible.
IMHO we should donate, but in a decent way. If you guys really want to announce it, the post shouldn't be advertising. A good occasion to inform people about it could be a post

[2018-03-23 00:47] TheAssassin commented on #1127
@TobiGr I think he meant we should advertise that we accept donations via Liberapay in a blog post.

[2018-03-23 05:18] Rubylion opened #1200 "Play video in details page (as popup)"
Hi. Would it be possible to make the video play in the resultpage.
Meaning, when you click a video in the list, the next page opens, where the video is on top and other sruff,incl. suggestions are displayed.
I would like to playback the video in that top window, instead of going to fullscreen imediatley. Therefore i can read the notes and browse the suggestions while watching the playback.
Very be

[2018-03-23 06:22] theScrabi commented on #1127
No I ment the first one, but @TobiGr is right.
Should we create a blogpost for librepay then?

[2018-03-23 09:12] theScrabi commented on #1200
@avently is currently working on this https://github.com/TeamNewPipe/NewPipe/pull/834

[2018-03-23 10:12] Bubu commented on #1153
Sure, why not.

[2018-03-23 14:25] TheAssassin commented on #1127
Seems like a good idea, @theScrabi.

[2018-03-23 18:43] daedrot opened #1202 "Share or yt account data to NewPipe storage"
Hello, thx for your amazing project. I've found it not long ago, and have been using youtube pretty heavily lately. I'd like to ask if there are possible ways to add my youtube channel statistics(subscriptions/playlists/favourites/etc) any other ways than manually? If not is such a feature possible and might be implicated in the future? Thank you for your reply.

[2018-03-23 20:10] justanidea commented on #1202
Watch #1145, and wait for it :)

[2018-03-23 23:14] codesalad commented on #1191
@wb9688 Yes, in the downloads section. Thanks.

[2018-03-24 00:57] theScrabi commented on #1202
I am so on fire to release the new beta O.o hopefully soon.

[2018-03-24 09:52] theScrabi commented on #723
Scary sh***

[2018-03-24 10:05] #1186 closed

[2018-03-24 10:05] justanidea commented on #723
Your project is snowballing :)

[2018-03-24 11:00] theScrabi commented on #666
Yep our wikipedia artikle got removed.

But we are now listed here:
https://de.wikipedia.org/wiki/Liste_von_freien_und_Open-Source-Android-Applikationen

[2018-03-24 11:19] justanidea opened #1204 "An issue with release 0.13.0"
Hi! Amazing release, thanks everyone :)
However, i just wanted to show that we may need to adapt the text size relative to the translation for the live word: with the french version for instance, when i start a live i should see "DIRECT" at the bottom right corner, but the word is too long, so I only see "DIRE", so its quite consfusing... :')

[2018-03-24 11:46] justanidea commented on #1202
0.13.0 released. Now you can import your youtube data !

[2018-03-24 11:53] justanidea opened #1205 "What's new feed [Question]"
With the New feed's sorting, would it be possible to separate Lives from videos feed, and make a little page  where you see all the lives of your subscriptions in a same time?

[2018-03-24 12:45] theScrabi commented on #1205
Yea could be.

[2018-03-24 12:45] theScrabi commented on #1202
yup

[2018-03-24 12:45] #1202 closed

[2018-03-24 12:46] theScrabi commented on #1204
Please send a screenshot related to this.

[2018-03-24 13:11] justanidea commented on #1204
Yup

[2018-03-24 13:12] justanidea commented on #1204
Here they are :
http://i66.tinypic.com/xaw2et.jpg

http://i66.tinypic.com/25zpcib.png

http://i65.tinypic.com/av6h06.png

[2018-03-24 13:26] switchtegrax1 opened #1206 "Video freeze when switching apps 0.13"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

 If i switch to another app while watching a video on the latest beta and go back to the video,the video stays frozen and only the audio plays until i exit and start the video again

[2018-03-24 13:49] theScrabi commented on #1206
can this be confirmed?

[2018-03-24 13:50] justanidea commented on #1206
I have tried and I havent had any problem. My device is samsung galaxy grand prime.

[2018-03-24 13:51] theScrabi commented on #1204
confirmed

[2018-03-24 13:51] karyogamy commented on #1204
Yeah, I did this to prevent people from using words that are too long for the LIVE button as some translations were over 10 letters and that just looks bad, especially on the popup window. One solution I can think of right now is to simply make LIVE not translatable, so that part of the UI is uniform across languages, but if there's better solution please suggest it.

[2018-03-24 13:52] theScrabi commented on #1204
I'd be fine with that.

[2018-03-24 13:53] theScrabi commented on #1206
@switchtegrax1 could you give us some more information. What phone/os are you using. Can you take a video about what happens?

[2018-03-24 15:05] switchtegrax1 commented on #1206
Lg L70 Lineage 14.1 android 7.1.2,as i described i start watching a video,switch to another app then switch back to the video it stays frozen and only the audio plays
[ScreenRecord-2018-03-24-12-00-35.zip](https://github.com/TeamNewPipe/NewPipe/files/1844498/ScreenRecord-2018-03-24-12-00-35.zip)

[2018-03-24 16:49] theScrabi commented on #1206
Hm this is strange. I'm not able to reproduce this.

[2018-03-24 18:30] 5nefarious opened #1207 "Notification bar priority fight with Google Maps"
When New pipe is playing in the background and navigation is running at the same time, the two apps fight for priority in the notification bar. This results in both applications endlessly swapping back and forth in the UI, making it hard to tap on either of them.

I do not know if this is only an issue with Google Maps, but this is the only app I have observed this behavior with.

[2018-03-24 19:47] budsterblue opened #1208 "Wrong version shown in crash log"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

In the 0.13.0 beta, the version shown in the crash log says 0.12.0 instead of 0.13.0

Also, I have a crash, but the "Report Error Via E-Mail" button seems to be grayed out (app in crash

[2018-03-24 21:11] Rubylion commented on #1200
great

[2018-03-25 01:19] tgp1994 commented on #1181
That's unfortunate that the PR was closed because there's definitely something wrong in New pipe 11.6, latest on F-Droid. I've been sending in maybe 2+ crash report emails per day.

[2018-03-25 09:13] theScrabi commented on #1181
Have you tried the current beta?

If so we might consider to freeze the features on v0.13.0 and just fix bugs in order to release the next release version.

[2018-03-25 09:17] theScrabi commented on #1208
HOLLY F*** I forgot to increse the version number.

God thing its not yet on fdroid.

[2018-03-25 09:17] #1208 closed

[2018-03-25 09:28] theScrabi commented on #1207
Can you send a video of this happening?

[2018-03-25 09:39] anoraktrend opened #1209 "(idea) limit videos per page in the subscriptions feed"
Have newpipe limit the feed to the 25 latest videos, allowing users with massive subscriptions to be able to check the newest videos at a relatively faster pace, and all users to see the exact latest.

[2018-03-25 09:43] anoraktrend commented on #1170
This, I believe, is a ROM based thing. I get the check mark usually.

[2018-03-25 12:01] GaryMericano commented on #1170
I get a tick box on nearly everything but the preferred player selection, including the initial option to open with NewPipe vs gettube vs firefox etc

[2018-03-25 13:45] stemy2 opened #1210 "[Enhancement] Convert audio files to mp3"
Hello,

For now, audio conversion allows only conversions to m4a, but this format is less compatible than mp3.

[2018-03-25 13:51] TemporaryAccount0x1 opened #1211 "v0.13 crash when Subscription Page is the main page"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

This crash happens as soon as I start newpipe beta v0.13:
{
   "user_action": "ui error",
   "request": "App crash, UI failure",
   "content_language": "GB",
   "service": "none",
   "pa

[2018-03-25 14:03] TemporaryAccount0x1 commented on #1211
additional logcat info:

---- 25 Mar 2018 15:58:51 ----

03-25 15:58:21.467  1096  1229 I ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=org.schabi.newpipe.beta/org.schabi.newpipe.MainActivity (has extras)} from uid 10035 on display 0

03-25 15:58:21.511  1096  2256 I ActivityManager: Start proc 11025:org.schabi.newpipe.beta/u0a1

[2018-03-25 15:54] TemporaryAccount0x1 commented on #1211
I fixed it, I forgot to uninstall the old version before installing the new version.

[2018-03-25 16:02] TemporaryAccount0x1 commented on #1211
I spoke too soon.

This still happens. The cause seems to be having the subscription page as main page since that was my main page in beta v0.12 it happened at start up. Uninstalling and reinstalling will reset the main page to the trending page.

To reproduce:

go to content -> Content of main page and change it to Subscription Page -> crash

[2018-03-25 17:33] karyogamy commented on #1211
Confirmed. Locked myself out of the app. Fixed in #1212.

[2018-03-25 18:31] #1211 closed

[2018-03-25 18:50] theScrabi opened #1213 "★★ Bug Purging Time ★★"
[![giphy-downsized](https://user-images.githubusercontent.com/1891273/37878741-d06b9bd2-306d-11e8-9ccd-833f67008a80.gif)](https://github.com/TeamNewPipe/NewPipe/projects/3)

Now where v0.13.0 beta is out we could try to squees a few bugs again.

## [Here is a list](https://github.com/TeamNewPipe/NewPipe/projects/3)

It was good if we ceept it low with features for version, so v0.13.1 can be a rele

[2018-03-25 18:59] thejan2009 opened #1214 "[Feature request] Add the ability to automate background player with apps like Tasker"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

Having the ability to start playing a playlist in the background based on some trigger would be very handy.

I'm ready to try implementing the wanted features myself, just need
 - an ass

[2018-03-25 19:14] slyscorpion opened #1215 "0.13.0 beta - Polish and English are both displayed at the same time"
Hi,

I checked the issue tracker but I couldn't find if my issue exists or my github-fu skills are lacking.

In the 0.13.0 beta for NewPipe there are some Polish words mixed in with English when I open up NewPipe.

https://i.imgur.com/DuhQwM1.jpg

If you look at the attached screenshot, you will see the words "2 dni temu" (2 days ago) mixed in with everything else.

My phone's language is set to E

[2018-03-25 19:37] slyscorpion opened #1216 "[Feature request]Allow NewPipe to be selected as a default video player"
Hi,

Would it be possible to have NewPipe show up in MIUI 9's default apps setting? I would like to have NewPipe show up as an option for a default video player for video links.

In this screenshot you can see that other apps can be set as a default video player https://i.imgur.com/6ObAYbD.jpg and this one https://i.imgur.com/aBFa4RK.jpg and I was hoping that the same could be done with NewPipe.

[2018-03-25 20:16] theScrabi commented on #1216
I don't know how that works, but I would gues what they mean is the video player that can play local files. NewPipe can not do that.

[2018-03-25 20:19] theScrabi commented on #1215
2 dni temu is generated localy on your phone, while the rest  of the item is downloaded. If the content country and your language are different this will mix.

[2018-03-25 20:20] theScrabi commented on #1214
Well if you do it well, I wouldn't keep it back :D

Btw are there open source apps that can handle tasker events?

[2018-03-25 20:21] slyscorpion commented on #1216
Hi,

I meant that I would like to have NewPipe open up when I click on a video link in another application like the web browser or a Reddit app on my phone. You know how when you're browsing the net on your phone and you tap a video link and YouTube opens up? I was hoping something like that could be done for NewPipe.

[2018-03-25 20:24] slyscorpion commented on #1215
I just changed my content country to USA in NewPipe to match my language which is English (United States) and I still get the "2 dni temu" text.

[2018-03-25 21:49] theScrabi commented on #1215
Ah ... well al right are you in Poland right now?

I might have told you wrong, the date is not yet parsed and locally generated as I said.
In fact the date is generated by Youtube, and it depends on your content language. However NewPipe does respect your content countery, which means its which video your content language, which means in which language Youtube presents meta information.

We discu

[2018-03-25 21:51] slyscorpion commented on #1215
Hi @theScrabi yes I am located in Poland.

[2018-03-25 21:59] mauriciocolli commented on #1118
Is not from the takeout, but you can import/export subscriptions from other source.

Check out #1145.

[2018-03-25 21:59] #1118 closed

[2018-03-25 21:59] mauriciocolli commented on #705
See #1145.

[2018-03-25 21:59] #705 closed

[2018-03-25 23:06] tgp1994 commented on #1181
@theScrabi I've only been using what's on F-Droid at the time, I wasn't aware that there's a beta.

[2018-03-26 10:30] theScrabi commented on #539
Here are some new ones: https://play.google.com/store/apps/details?id=com.litetube.floatingtube.floattube

[2018-03-26 10:42] theScrabi commented on #539
@Poussinou you asked me lately weather there are things to take down.
This app still needs to be taken down, and is rather nasty right now:
https://play.google.com/store/apps/details?id=com.floattube.liteyoutube

[2018-03-26 10:43] anoraktrend commented on #1209
Pull#1044 is what the goal of this idea is.

[2018-03-26 10:43] #1209 closed

[2018-03-26 13:14] theScrabi commented on #1216
But NewPipe can do that. I think the feature to open links in other apps depends on your browser.
Which browser are you using?

[2018-03-26 13:15] #1210 closed

[2018-03-26 13:15] theScrabi commented on #1210
https://github.com/TeamNewPipe/NewPipe/issues/507

[2018-03-26 14:13] slyscorpion commented on #1216
@theScrabi I use Chrome and Xiaomi's own browser that I guess is just called "Browser" (I assume that this is the stock Android browser somewhat modified by Xiaomi somehow).

I also use a Reddit app called Joey for Reddit and I was hoping to have NewPipe open up when I click on a video link within that application.

Apologies if I am asking for too much ;)

[2018-03-26 15:41] wb9688 commented on #1216
@slyscorpion: It does that, but YouTube is by default set as don't ask or
something, so disable that in Settings > Apps > YouTube, and you should get
a choice between NewPipe, YouTube, Chrome and Browser next time.

[2018-03-26 16:15] slyscorpion commented on #1216
@wb9688

This is how my defaults menu looks like currently with no video player set to default: https://i.imgur.com/ppmq0lR.jpg

So far, I have not received any option to play video content with NewPipe.

[2018-03-26 16:32] wb9688 commented on #1216
@slyscorpion: Not that menu, but the following: https://vgy.me/5gfGd6.png
https://vgy.me/tUfVEu.png https://vgy.me/F5WwID.png

[2018-03-26 16:46] slyscorpion commented on #1216
@wb9688

This is all I get when I go into the YouTube app info: https://i.imgur.com/z6hkpSD.jpg

I am not running stock Android as you appear to be.

[2018-03-26 16:49] slyscorpion commented on #1216
Oh and none of those menu items offer me the same choices as you have on your 3 screenshots @wb9688

[2018-03-26 17:57] switchtegrax1 commented on #1206
I just found out if i minimize newpipe and change rotation (landscape to portrait) and go back to newpipe the video continues as normal (if i go from landscape to portrait and back to landscape it also works)

[2018-03-27 07:27] pr0gr8mm3r opened #1218 "Toast background"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

# Steps to reproduce:
1. Set Theme to light
2. Go to Settings > Content
3. Click on "Import database" or "export database"
4. Deny access to storage
5. Toast saying "Permission to access

[2018-03-27 07:28] pr0gr8mm3r commented on #1218
Version 0.12.0
I forgot to check checkboxes

[2018-03-27 08:42] theScrabi commented on #1218
Normally we can not alter the style of a toasy. Can you send a screenshot?

[2018-03-27 10:10] pr0gr8mm3r commented on #1218
![screenshot_2018-03-27-12-06-05 1](https://user-images.githubusercontent.com/37022952/37961166-d9b848ac-31b7-11e8-94b3-6ac3f739bccf.png)

[2018-03-27 12:14] theScrabi commented on #1218
How does it look when its black layout?

[2018-03-27 12:57] pExeen opened #1219 "Popup window is detached from the "control frame" and stays in the top left corner"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Hello, first of all I want to thank all the contributors for developping the app.
So as I described it in the title the video and the controls are detached and I the video stays in the t

[2018-03-27 14:17] theScrabi commented on #1219
We are aware of that bug :D but thank you.

[2018-03-27 14:17] #1219 closed

[2018-03-27 14:18] #916 closed

[2018-03-27 14:19] theScrabi commented on #916
Closing this in favour of https://github.com/TeamNewPipe/NewPipe/issues/1159

[2018-03-27 14:20] theScrabi commented on #1219
https://github.com/TeamNewPipe/NewPipe/issues/1159

[2018-03-27 17:39] pr0gr8mm3r commented on #1218
Just like it should:
![screenshot_2018-03-27-19-37-26 1](https://user-images.githubusercontent.com/37022952/37984422-85048fb6-31f6-11e8-9ea2-80d208f811d1.png)

[2018-03-27 19:33] ABOATDev opened #1220 ""New" button list sorted by date"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.

Hello to the developer!
http://prntscr.com/ix7jup
You want to file the videos on the release date?

Version : 0.11.6
Langage : French
Thank you

[2018-03-27 21:07] pr0gr8mm3r commented on #1218
The error doesn't occur in 0.13.0 (tested on all themes). Close it?

[2018-03-27 22:33] DidiBear commented on #1207
I faced the same issue. Google Maps is also the only app that do this.

Here is a video of the problem : https://www.youtube.com/watch?v=9gIg82rkJuQ

[2018-03-27 23:12] ghost opened #1221 "[bug] the covers of the videos aren't seen in the background player"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I publish this here since I have not found the original problem where it was requested before (because I'm sure it was previously requested).
I don't see the covers of the videos in the

[2018-03-27 23:32] gappleto97 commented on #1096
I would also be interested in this

[2018-03-28 00:00] ale5000-git commented on #1096
I think it would be better to also add an option to only change container and direct stream copy audio because every conversion lost quality.

[2018-03-28 03:54] momo42 commented on #967
I'm on v0.11.6 (F-Droid) now but don't see any improvements. I'm not a developer and I'm not able to understand your code changes or compile something. Is there any progress in this topic? I really like NewPipe. So I'd like to use it at home too. :-)

[2018-03-28 04:41] karyogamy commented on #967
This should be fixed in the new 13.0-beta release, though it might take some time to get to the F-droid beta page, although the your existing data (e.g. subscriptions) won't be carried over.

@theScrabi
Have we released a new stable version yet? If not, maybe we should consider doing so since anything is better than the current 11.6-stable now, with the subtitle NPE and whatnot. Also, this will le

[2018-03-28 05:33] Duppadaadadii commented on #1221
Why are people sending bug reports for older versions?

I can see the cover on 0.13.0 beta.
So at least i don't have this problem.

[2018-03-28 06:07] wb9688 commented on #1221
I don't have this problem in the latest release nor in the current
development branch, but I'm using Android 7.0. Is there any version where
it was working on?

[2018-03-28 07:59] theScrabi commented on #1221
I've added a not to the contribution page that one hase to check if an issue exists in the latest version before posting a report.

@speednroll please check if the bug exists in v0.13.0-beta

[2018-03-28 13:02] speednroll commented on #1221
before I used Android Stock Nougat and these problems didn't happen, but remember that Android Oreo is different in several things (I don't know how the next Android P will be). I just tried the 0.13.0 and the problem persists (remember that the problem only happens in Oreo)

[2018-03-28 13:04] speednroll commented on #1221
@Duppadaadadii you speak for speaking :laughing:

[2018-03-28 16:11] OffifialMITX commented on #1181
Indeed, the beta from F-Droid seems to solve the problem.

[2018-03-28 16:41] justanidea commented on #1204
You solved this problem :)

[2018-03-28 16:41] #1204 closed

[2018-03-28 20:50] momo42 commented on #967
Thank you guys! Generally I know how to download and install the beta apk to test it but will it break my existing installation? And is it possible to switch back to f-droid when the final is released? Please excuse my dump questions! I'm just a (happy) user and don't know the technical stuff under the hood. :-) Beside of that I definitely vote for a new F-Droid release! :-)

[2018-03-28 20:51] wb9688 commented on #967
Beta build should be a separate NewPipe Beta app, which you can install
alongside NewPipe.

[2018-03-29 04:37] LIYANJU2015 opened #1222 "Left menu select SoundCloud item, Trending or youtube content, SoundCloud content not displayed"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.

Left menu select SoundCloud item, Trending or youtube content, SoundCloud content not displayed

[2018-03-29 08:13] JuniorJPDJ commented on #1222
You forgot to tick boxes xD
But +1, should be fixed

[2018-03-29 08:24] wb9688 commented on #1222
This was more or less intentionally done. We know that UI isn't really
intuitive, so we're going to improve it soon.

[2018-03-29 10:14] TobiGr opened #1223 "Audio loss after clicking notification"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

We got a bunch of feedback on our blog. [Chris](https://newpipe.schabi.org/blog/pinned/NewPipe-needs-feedback/#isso-32) had following problem:

[2018-03-29 12:51] theScrabi opened #1224 "NewPipe lite version"
Some of you might already have heard that I play with the thought of releasing a lite version of NewPipe. This version would have reduced functionality so it can be put on Google Play. The fdroid version will not be touched or altered by this, and it will remain with full functionality.

The positive thing about a lite version would be
1. We can fite copy cats on google play
2. We will gain more f

[2018-03-29 14:50] theScrabi commented on #1220
Yes the feedpage needs to be reworked hardly. The one we have right now is just sort of some prototype.

[2018-03-29 16:32] justanidea commented on #1224
And dont forget to often remember them that a bigger version exists on fdroid

More other more people could support Fdroid and its great for them too :)

[2018-03-29 17:29] Lionirdeadman commented on #1224
Sure, it's free publicity *but* it may lead people to think that NewPipe doesn't have certain features

I would also think it can create more issues and require more work for development.

[2018-03-29 18:28] speednroll commented on #1224
I don't think it is necessary to think about putting a welcome warning that recommends you to use newpipe from f-droid. I think it's enough to name newpipe LITE and not find another newpipe (complete) in gplay, except in the description of the first one, heading to the Newpipe page.

[2018-03-29 22:36] theScrabi commented on #1224
We may not be allowed to add ads for fdroid on apps in the play store directly. However we can put links to our website ... there things can be explained.

Also the difference betwean beta/stable already is like a lite/pro version. It's barely 10 lines of code. Some ifs that check weaterh its release ore not and than hide/show UI ellements accordingly.

[2018-03-29 22:45] speednroll commented on #1224
Of course, I was specifically referring to advertising the Newpipe website 👍

[2018-03-29 22:51] speednroll commented on #1224
by the way, I think it would be confusing to have so many versions of Newpipe, because there is a stable version, beta, now the lite version will come out and the million question is... will newpipe lite have a beta version? 😆

[2018-03-29 23:21] theScrabi commented on #1224
Yea ... actually beta didn't play out the way I would have liked it to be. It made things more complicated than they should be. ... maybe we should go back to a moddel where we only have a release version. ... Just do the QA better this time.

[2018-03-29 23:43] theScrabi opened #1225 "get rid of beta again"
We where trying that thing with beta about three months now, and honestly, I don't think it worked out the way I thought it would.

The initial idea was that beta could lead to a more stable code in the release branch, so people using release don't encounter so many bugs. This is something you could expect to work on a normal project. For us however it created some problem. If we don't keep the ex

[2018-03-29 23:56] theScrabi commented on #1221
Anyway, I'll need to check this.

[2018-03-29 23:58] theScrabi commented on #1096
We are currently not able to convert anything, we can only take what we get form youtube. And this is basicly m4a or webm.
However we through about converting. In several other threads.

[2018-03-29 23:59] #1218 closed

[2018-03-29 23:59] theScrabi commented on #1218
Still this looks strange tho.

[2018-03-30 00:00] theScrabi commented on #1207
Yea nasty. I have to check this.

However It brings a little movement into the screen :dancer:

[2018-03-30 01:51] Lionirdeadman commented on #1225
I think so too. Cancelling the Lite version is probably a good idea too.

[2018-03-30 02:00] karyogamy commented on #1225
I think replacing the beta with lite is a good solution.

One of the reasons why we stayed for so long on 11.6 is because the rollout window is way too long on F-droid, so we wanted to make sure everything is working properly before doing a stable release. However, with beta, we need to have fast turnaround time, so bugfixes can be rolled out as quickly as possible.

In comparison, new versions on

[2018-03-30 02:18] karyogamy commented on #1225
Which internal branch? Feature branches are good for rebasing, but for public branches like `master` and `dev`, the slightest chance of rebase + force push can create nightmares =\

[2018-03-30 04:46] momo42 commented on #967
Ok, I'll test it on we. :)

[2018-03-30 07:43] Kexim6 commented on #1225
What about adding a toggle in the settings to activate beta features? It can be off by default with a warning that the user may experience bugs when turned on. Any features considered unstable or incomplete could be gated behind this switch, eliminating the need for two separate apps.

[2018-03-30 08:30] theScrabi commented on #1225
This would become a coding nightmare. ... I guess.

[2018-03-30 19:44] theScrabi commented on #1127
Here we go. So its official 15€ per month to librepay.

[fdroid_librepay.pdf](https://github.com/TeamNewPipe/NewPipe/files/1864614/fdroid_librepay.pdf)

[2018-03-30 20:17] theScrabi opened #1228 ""implement me" bug"
If you enable a soundcloud kiosk as frontpage, and go back to the frontpage you will get an error:

![screenshot_20180330-201843](https://user-images.githubusercontent.com/1891273/38152405-f73020d2-3467-11e8-9342-152fd232985d.png)

The snagbar for this error always shows up, however its particular nasty because you cant access the settings in the drawer enymore in order to turn off the kiosk.

How

[2018-03-30 21:03] karyogamy commented on #1228
I can't seem to reproduce the error, but for the snackbar, maybe it's a good idea to add a dismiss button to it.

[2018-03-30 21:29] karyogamy commented on #1223
Can't seem to reproduce the bug under the same settings on emulator. Since receiving notifications during playback should be a common event and this bug would've been reported a long time ago, I think this might be an individual occurrence. This was tested on the latest build, so the problem might've been fixed already.

[2018-03-30 22:06] speednroll commented on #1225
As a regular user, I vote to go back to the simple design of the Newpipe versions. As it was at the beginning, maybe it's not the best method but it's not the worst (?

the only strange thing I would add is the more "light" version of Newpipe to respect the rules of google and add them to gplay.

[2018-03-30 22:10] theScrabi commented on #1228
that would not help since the error is instantly risen again. I/we just had to fix the error I produced by writing that "implement me" thing.

On the current version you can still access the settings via dropdown menu, however I'm working on a branch where I remove beta builds, and therefore also the redundant items in the dropdown menu. Then this issue will be a problem for us.

[2018-03-30 22:24] theScrabi commented on #1225
You need to stop using google translator xD

Sounds better :)
La próxima vez correctas mi español  :sweat_smile:

Anyway, I've strated to remove beta here https://github.com/TeamNewPipe/NewPipe/pull/1227

[2018-03-30 22:42] karyogamy commented on #1228
Oh, I was on the `removebeta` branch and can't reproduce any error on returning to main fragment after changing the page to soundcloud kiosk.

Something might be wrong internally, then, since something has to constantly spewing out errors to make the snackbar reappear instantly.

[2018-03-30 22:56] TobiGr commented on #650
We keep getting feedback and suggestion through our blog. Wesley wrote [this](https://newpipe.schabi.org/blog/pinned/NewPipe-needs-feedback/#isso-42) and a [bit more](https://newpipe.schabi.org/blog/pinned/NewPipe-needs-feedback/#isso-36):

I wanted to throw it into this discussion because he brought up a different UI for subscriptions. We didn't put much thoughts into how to handle subscriptions,

[2018-03-30 23:12] speednroll commented on #1225
jajaja, no puedo simplemente hablar en mi idioma?

[2018-03-30 23:15] speednroll commented on #650
I like this!

[2018-03-31 09:37] 2SI3NX opened #1229 "Play in background/Add to playlist option in the Watched List"
- [ x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x ] I checked if the issue/feature exists in the latest version.

The option to play in background or adding to playlist is available when searching for a video but it is not available when you're in the Watched list. Besides deleting videos from Wat

[2018-03-31 09:57] TobiGr commented on #1127
Sounds good. @theScrabi Are you going to write a post then?

[2018-03-31 10:08] theScrabi commented on #1127
Na we said we wont want to do that. I think its ok the way it is :)

[2018-03-31 10:08] #1127 closed

[2018-03-31 10:29] theScrabi commented on #650
@TobiGr We can't add an all service (yet), because imagine you want to search in ... say 25 services at the same time, you either end up with a drained battery, or you wait for half an hour.

Having the subscriptions be sorted by specific services is however a good idea I think :D, maybe we should consider adding this feature once we have a few services :+1:

[2018-03-31 10:47] theScrabi commented on #1225
No, pero pronto :D. Aprendo tú idioma. ;D

[2018-03-31 10:48] theScrabi commented on #1228
I see ...

[2018-03-31 13:10] speednroll commented on #1229
Is this not the same as what I requested earlier in #998 ?

[2018-03-31 15:17] nijel commented on #1042
It has to be present in the translation files, what is AFAIK not possible in Android strings. Weblate just displays information present in the file (eg. Gettext PO or Qt TS files have this).

[2018-03-31 15:25] IamJithendra commented on #1224
On  Thinking about Lite Version Don't Forget New pipe Original Version

[2018-03-31 15:29] IamJithendra opened #1231 "Needs To Work More And More On Download Manager"
The Download Manager Of New Pipe Is Very  Bad Because the Download Speed  is too Slow and Can't Even Watch any Videos If Any Downloads Are Going On. No any Videos are Loading if Any Downloads are in the Mission

[2018-03-31 16:06] #1231 closed

[2018-03-31 16:06] theScrabi commented on #1231
https://github.com/TeamNewPipe/NewPipe/issues/962

[2018-03-31 16:09] theScrabi commented on #1042
hm all right :/

[2018-03-31 17:43] Djfe opened #1233 "WIP"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [] I checked if the issue/feature exists in the latest version.

This is my feedback for now, just some ideas on how this app could be improved :)
I used it for one day and I like it already.
This issue is **WIP** for now, because I'm out of time. (jus

[2018-03-31 19:51] karyogamy commented on #1233
I'll cover some of the points, but for many of the issues, the answer is simply that we don't have enough people and resources to work on them. Also, this issue will likely just get closed since we expect only one issue per problem and many of the issues pointed out here have already been mentioned.

This is being worked on #1044

See #110

This is already implemented, someone just has to add a co

[2018-03-31 20:42] theScrabi commented on #1233
Hello @Djfe .You did some work here which is great, but aome of the issues you listed here are already known to us and are duplicates. Also we have the rulw here that qe creafe one issue at a time in order to be able to track and discuss that issue better. Im therfore closing this one here. However you brought some good points so if you find time again it was awesome if you opened those issues :)

[2018-03-31 20:42] #1233 closed

[2018-03-31 22:18] theScrabi commented on #1229
Yes ... Yes makes sense. Also when this is available in the rest of the UI we should add it here as well.

[2018-04-01 00:57] DanGLES3 opened #1234 "[Feature request] Improve Player Design & consistency"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I find it anoying when i playing a video and when i want to change the quality i press on the resolution (360p,480 etc..) and them it shows the codec right at the side of the resolution,

[2018-04-01 00:58] ahmedzs opened #1235 "Earphone controller buttons, downloading playlist and other features"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Hello, thank you for this great project. Please, include support to go to next/prevents track using earphone buttons in playlist and in background mode.

Another feature that would be gr

[2018-04-01 04:12] ahmedzs opened #1236 "[Feature Request] Playlist downloading, syncing. Naming songs to the name of the channel."
- [✓] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [✓] I checked if the issue/feature exists in the latest version.

Hello, thank you for this great project
It would be great to include is downloading playlist as well as auto downloading playlists, so any video added to YouTube playlist is automaticall

[2018-04-01 04:13] #1235 closed

[2018-04-01 09:40] pr0gr8mm3r opened #1237 "Soundcloud "double subscribe""
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

# Steps to reproduce
1. Subscribe to a Soundcloud channel
2. Go to Subscriptions tab and click on the channel
3. Press the subscribe button again
4. Channel appears two times in Subscrip

[2018-04-01 10:35] pr0gr8mm3r commented on #1237
I recently tested it on another device (emulator API 27) and I was not able to reproduce the issue.

[2018-04-01 13:41] theScrabi commented on #1237
I was not able to reproduce that bug. Did you subscribe to a specific channel?

[2018-04-01 14:10] theScrabi commented on #1236
This is fresh, quite some nice request, even though these are two.

[2018-04-01 14:16] theScrabi commented on #507
[![serveimage](https://user-images.githubusercontent.com/1891273/38174073-e9619736-35c7-11e8-8ee7-e15ef2d370a4.jpeg)](https://github.com/brarcher/video-transcoder/issues/42#issuecomment-377742178)

https://github.com/brarcher/video-transcoder/issues/42#issuecomment-377742178

[2018-04-01 15:08] Shan11812 commented on #1142
@jMuzsik are you still working on this? I'd like to give a try if you are not.

[2018-04-01 15:40] jMuzsik commented on #1142
Please do it, I apologize, never intentionally got to it...

[2018-04-01 20:07] theScrabi commented on #1234
arguable. I use this function quite often.

[2018-04-01 20:38] switchtegrax1 commented on #1234
Before you play the video you already see what format the video is in the top so there's very little to keep that inside the player as it looks asthetically unplessing and unintuitive as the user will select a quality (480p) and then BAM a large menu opens up showing both format and quality so i propose this either remove the mpeg and webm text from the exoplayer or show that text all the time to

[2018-04-01 20:39] switchtegrax1 commented on #1234
Before you play the video you already see what format the video is on the top so there's very little to keep that inside the player as it looks asthetically unplessing and unintuitive as the user will select a quality (480p) and then BAM a large menu opens up showing both format and quality so i propose this either remove the mpeg and webm text from the exoplayer or show that text all the time to

[2018-04-01 20:56] justanidea opened #1239 "Quality selector in lives"
I know somebody told that the quality selector is useless for lives because ot set automaticaly the 'best' quality, but i dont agree with that :  when i start a live on Newpipe I have a shitty quality most of the time, whereas I can watch 720p 60fps lives on twitch... So we should have an access to set manually the quality, or maybe choose in settings a default quality (like for videos)

[2018-04-01 21:03] pr0gr8mm3r commented on #1237
Yes, it is called 'Jogeir'. On the emulator i tried a different channel (Adele), which also works correctly on my phone.

[2018-04-01 22:01] ahmedzs opened #1240 "[Feature Request] Quick download audio button beside songs in background playlist"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Hello,

I propose feature: Quick download audio button beside songs in background playlist. So in background playlist, there would a small button beside each song to quickly download it

[2018-04-01 22:05] ahmedzs opened #1241 "[FR] set name of artists in downloaded songs"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

naming artist field of downloaded songs to the name of channel, set album to 'name of channel - playlist name'

[2018-04-01 22:07] ahmedzs commented on #1236
Separated the 2 requests.

[2018-04-01 22:45] axel2230 opened #1242 "Error upon pressing media buttons from other apps"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

The app is unable to handle media buttons inputs that come from other apps installed. For example Kustom Live Wallpaper, Kustom Widget, Music Boss, and the Pebble app (with using a pebbl

[2018-04-02 01:24] karyogamy commented on #1239
Confirmed. Apparently, the bandwidth metering that controls the adaptive quality selection requires the livestream to have at least 10 seconds of buffer before it upgrades the quality to the next available level. Since many livestreams have a very short buffer duration (i.e. 2 seconds), the quality change just never happens. I'll push a fix to #1226 once I've experimented with different timing par

[2018-04-02 02:54] #1240 closed

[2018-04-02 06:46] justanidea commented on #1239
Thank you :3

[2018-04-02 13:56] ildar commented on #537
Very demanded feature.
Though the title of this issue needs to be changed as it's currently obscure.

[2018-04-02 14:01] speednroll opened #1243 "[Feature Request] add search filters and an administrator to customize them"
I see that there are many videos that have sexual or violent content for adults that is not filtered with the option to "disable content restricted by age".
I would add a filter manager, to determine which words should not be received as a title results or when searching with those words.

[2018-04-02 14:07] ildar commented on #14
Playlists are here and working.
I guess we're in one leap to Favorites?
I suggest all usual YT lists be implemented for user's sake: +1 👍 (aka
Favorites), Watch later, ... what else?

[2018-04-02 14:25] speednroll opened #1244 "[Feature Request] add support to video hostings"
I would like Newpipe to be compatible with Video Hostings such as streamplay, streamcloud, streamango, powvideo, gamovideo, etc... and the search engine in these cases would be used to enter the URL that directs you to the video.

[2018-04-02 18:36] theScrabi commented on #1244
Yea ... I thought about such services. Maybe we can (later on) create some interface where you can enter information that some services need to work. Like a url.
Also we might need to think about generik services later, where you can add multiple services for different instances of streamplay etc.

[2018-04-02 18:37] theScrabi commented on #1244
For now however lets get the multyservice thing. We can think about the future if the presence work ;D

[2018-04-02 18:39] theScrabi commented on #14
Yea but can't you add a playlist like favourite, or watch later yourself, or do you think its necessary for us to label those?

[2018-04-02 18:50] theScrabi commented on #1242
email button is fixed again.

[2018-04-02 18:52] theScrabi commented on #1242
@karyogamy  implemented media button interface in v0.13.0 I wonder why its not working.

[2018-04-02 18:59] karyogamy commented on #1242
@theScrabi
My guess is @axel2230 is trying to create custom widget to start playback on newpipe, when no player is actually running. This is not supported at the moment since we are not implementing `MediaBrowserService` on the players, and I think it's probably better to do this once we merged all the players though. I'll take a look into this once I have a good chunk of free time, since [this](h

[2018-04-02 19:27] JakobWerner opened #1245 "Unsubscribing a deleted channel"
As far as I know the only possibility to unsubscribe a channel is to navigate to the channel and uncheck the subscribe button. However I subscribed to a YouTube channel which is now deleted. Hence I cannot load the channel. It only gives a rather obscure error message and therefore I cannot delete the channel from my subscription list.

[2018-04-02 19:39] TobiGr commented on #1245
hey @JakobWerner,
someone had this problem before and opened #940.

[2018-04-02 19:39] #1245 closed

[2018-04-02 20:49] placidcasual98 opened #1246 "Can't download to SD card"
I have been trying to download to my SD card but the app does not allow me to.

[2018-04-02 21:13] placidcasual98 commented on #1246
{
   "user_action": "ui error",
   "request": "App crash, UI failure",
   "content_language": "GB",
   "service": "none",
   "package": "org.schabi.newpipe",
   "version": "0.13.1",
   "os": "Linux Android 7.1.2 - 25",
   "time": "2018-04-02 21:12",
   "exceptions": [
      "java.lang.RuntimeException: java.io.IOException: Permission denied\n\tat us.shandian.giga.get.DownloadManagerImpl$Initialize

[2018-04-02 21:21] balogic commented on #1181
NewPipe Beta solved the issue for me :heart:

[2018-04-02 22:18] theScrabi commented on #1246
Sd card download does not yet function, but we are aware of that.

[2018-04-02 22:18] #1246 closed

[2018-04-02 22:36] placidcasual98 commented on #720
Yeah it still crashes when will this be fixed, this is a major flaw
{
"user_action": "ui error",
"request": "App crash, UI failure",
"content_language": "GB",
"service": "none",
"package": "org.schabi.newpipe",
"version": "0.13.1",
"os": "Linux Android 7.1.2 - 25",
"time": "2018-04-02 21:12",
"exceptions": [
"java.lang.RuntimeException: java.io.IOException: Permission denied\n\tat us.shandian.giga

[2018-04-02 22:39] placidcasual98 opened #1247 "[feature request] actually being able to download to the SD card"
[feature request]I have been trying to download to my SD card but the app does not allow me to.
This is a major flaw .

[2018-04-02 23:38] ildar commented on #14
I can. My child - hardly )))
A star as the "Add to Favorites" action is much demanded by my sun. Please?

[2018-04-03 01:47] axel2230 commented on #1242
@karyogamy, Umm that isn't actually the case. I'm well aware of trying to start a player when no content is previously playing causes issues even with other apps. My custom widget is designed to just control the state of the current player only when there is some content loaded. Like for example pausing a song that is running and then resuming it a minute or two later.

The issue crops up immediat

[2018-04-03 02:59] karyogamy commented on #1242
From the [media button reciever reference page](https://developer.android.com/reference/android/support/v4/media/session/MediaButtonReceiver.html):

So, it's possible that the error you are seeing is stemming from the manifest not having those intent filters on the player services. However, I am unable to reproduce the exception since the media controls on Kustom Live Wallpaper and Kustom Widget d

[2018-04-03 04:27] switchtegrax1 commented on #1247
They'r working on it,the current downloader used in newpipe (giganet) does not support downloading on the sdcard on newer versions of android and they are trying to find another open source downloader to replace giganet

[2018-04-03 04:37] axel2230 commented on #1242
Try setting the preferred music player to NewPipe in Kustom widget or Kustom Live Wallpaper. It should force the play/pause commands directly into newpipe.

[2018-04-03 05:31] karyogamy commented on #1242
That fixed it, thanks =D And here's the [fix](https://github.com/TeamNewPipe/NewPipe/pull/1226/commits/39b0c83c51d7cefe7da47bd0154a9ab8176415f0).

This change designates the background player as our default player when a media button event from an external app is directed at the newpipe, so maybe we will need to discuss about this.

Still, starting playback when the player is not running is still

[2018-04-03 05:36] theScrabi commented on #720
We know that it's not yet working. We knwo we need to fix it.

[2018-04-03 05:43] theScrabi commented on #14
By your son hä 😀. Na if it's like that we need to discuss that ;D

However the thing is that i always want to keep the UI as flat as possible, in order not to add double functionality, or doube paths. Otherwise this would bload it. We already are at a point where we barely can put something at the detail screen, but still have to.

[2018-04-03 05:45] #1247 closed

[2018-04-03 06:09] placidcasual98 opened #1248 "[feature request] able to download to SD card"
[feature request]I have been trying to download to my SD card but the app does not allow me to.
This is a major flaw .
Before closing this request please link to the already open one if you think this is duplicate.

[2018-04-03 06:48] ildar commented on #14
:)
This is very rational approach.
But actually this isn't about "customization" but actually the question of
UI/UX. Favorites/Star/Bookmarks is a very recognizable and demanded
interface capability. Children is just one example of users who needs Star
because playlists aren't as usable for them.
I don't insist but writing this just to move my sun from WebTube to NP. For
me NP is the everyday app

[2018-04-03 07:54] hansip87 opened #1249 "[feature request] Oreo native pop up by home button"
Please implement pop up by home button to perfect this app :)

[2018-04-03 08:52] theScrabi commented on #1248
https://github.com/TeamNewPipe/NewPipe/issues/315

[2018-04-03 08:52] #1248 closed

[2018-04-03 10:50] placidcasual98 commented on #1248
Lol that is not a feature request thread is is a fault

[2018-04-03 10:55] placidcasual98 opened #1250 "[feature request] able to download to SD card"
[feature request] downloading to an SD card,
 at the moment you can only do it to internal memory so I "request the feature" of being able to download to an SD card.
Before closing this request please link to the already open one if you think this is duplicate.
No redirect to  other fault threads
For example
#315 as this is a fault NOT an feature request

[2018-04-03 11:15] IamJithendra opened #1251 "Add New Menu To Add to Playlist for suggested videos"
Along with the Option to Enque on Background and Enqueue on Popup option on Next Videos Add Option to add to Playlist

[2018-04-03 11:25] #315 closed

[2018-04-03 11:26] #1250 closed

[2018-04-03 11:27] theScrabi commented on #1250
https://github.com/TeamNewPipe/NewPipe/issues/412

[2018-04-03 11:33] theScrabi commented on #720
I mark this as duplicate in favour of https://github.com/TeamNewPipe/NewPipe/issues/412

[2018-04-03 11:34] #720 closed

[2018-04-03 11:47] theScrabi commented on #1251
I'm sorry, I don't quite understand the sentence 😕

[2018-04-03 14:18] placidcasual98 opened #1252 "[feature request] download to SD card"
- [x]  I carefully read the contribution guidelines and agree to them.

- [x] I checked if the issue/feature exists in the latest version.

[feature request] downloading to an SD card,
at the moment you can only do it to internal memory so I "request the feature" of being able to download to an SD card.
No redirect to other fault threads
For example
#315
#412
Are bugs, NOT an feature request.

[2018-04-03 16:27] alexandroidii opened #1253 "[feature/enhancement] add playlists to subscription feed"
- [x ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x ] I checked if the issue/feature exists in the latest version.

Hey guys and girls and thank you for this awesome app!  I just discovered it to only load subscribed channels so my son can watch videos from those channels without being flooded with

[2018-04-03 17:54] justanidea opened #1254 "Video popup on lock screen"
Is it technically possible to make appear a video popup on the lock screen, as a notification for instance? So you can watch it without doing your code, and if you switch off the screen it continues in background.

[2018-04-03 19:39] switchtegrax1 commented on #1254
Why would someone do that,the screen would still turn off,so its kinda pointless

[2018-04-03 19:55] switchtegrax1 commented on #1254
No,you can't overlay the lockscreen (with a popup atleast) neither can you run a video as notification,plus the lockscreen would still forcibly turn the screen off

[2018-04-03 20:06] switchtegrax1 commented on #1252
That's the thing IT IS A BUG you can download to sd card on older versions of android but newer ones broke that,so the feature IS there it just BROKEN on newer versions of android

[2018-04-03 20:10] wb9688 commented on #1252
That's because newer Android versions use a special way to access external
storage. We didn't want to change that part of the downloader, since we're
going to replace the downloader with a whole new much better downloader. So
until I've implemented the new downloader (which will probably take a
while, since I don't have that much time), this is still going to be an
issue.

[2018-04-03 21:11] ahmedzs opened #1256 "Error Report"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.

{
   "user_action": "requested channel",
   "request": "https:\/\/www.youtube.com\/channel\/UC5MLZKeG_jHzNSexEk8UCeQ",
   "content_language": "GB",
   "service": "YouTube",
   "package":

[2018-04-04 04:26] speednroll commented on #1250
hahaha, this was the funniest thing. You threw the last poisonous drop that filled the glass. this shows that you can not read, you made about 3 or 4 requests and they answered that the problem should be solved in next versions, currently the developers are focused on other issues of the application. you should know how to put yourself in the place of others, if you are so upset that there is stil

[2018-04-04 07:51] theScrabi commented on #1256
I know the error report button of v0.13.1 is broken, but please don't just past them here. please either give a description or wait until v0.13.2 which will fix that problem.

[2018-04-04 07:55] junior012 commented on #1256
why does not it allow me to save the videos in any folder of the sd memory? it only allows me in the SD in the route /Android /data /org.schabi.newpipe

[2018-04-04 07:57] theScrabi commented on #1256
I'm currently working on that.

[2018-04-04 07:58] #1256 closed

[2018-04-04 10:39] IamJithendra commented on #1251
![screenshot_2018-04-03-16-37-24](https://user-images.githubusercontent.com/33452200/38303023-6879ec10-3822-11e8-9757-ca79a45a7255.png)

Along With These Option Add "Add to Play List" Feature

[2018-04-04 13:12] phly95 opened #1257 "Archive.org contribution script"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Seeing that videos and channels often get removed that haven't entered Archive.org, it would be good to have a script that can be enabled that automatically triggers archiving of both th

[2018-04-04 13:14] phly95 opened #1258 "Archive.org contribution script"
[Duplicate post, please close]

[2018-04-04 14:51] Zenopheus opened #1259 "[Feature request]Setting to limit mobile data usage"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

When I use NewPipe outside of my home I always switch to 144p to avoid eating up my data plan. This is annoying and I often forget. Could you add an option to limit bandwidth usage when

[2018-04-04 15:33] phly95 opened #1260 "Setting formats for different quality settings"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

WebM is great in the sense that it provides much better quality at a specified resolution, but my Nexus 6 cannot handle HD WebM streams properly. Could it be possible to set WebM for low

[2018-04-04 15:37] phly95 opened #1261 "WebM videos fallback to 3GPP instead of MPEG-4"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

Many obscure videos don't have WebM versions, so when watching these obscure videos in low qualities such as 144p and 240p, the quality is significantly reduced (3GPP is much worse than

[2018-04-04 15:40] phly95 opened #1262 "[feature] Remuxing for video-only streams for downloading"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

When downloading, it would be nice if for things like 1080p60, a script could run to stitch the audio and video together in an MKV or some sort to keep things intact.

[2018-04-04 18:01] TobiGr commented on #539
I found these three:
https://play.google.com/store/apps/details?id=com.playtube.tubeplayer
https://play.google.com/store/apps/details?id=metromedia.youmusic.youvideo
https://play.google.com/store/apps/details?id=com.liteyoutube.videorocket

[2018-04-04 18:03] #1258 closed

[2018-04-04 18:04] wb9688 commented on #539
@TobiGr: The first one is gone and the second one doesn't look like NewPipe
in the screenshots.

[2018-04-04 18:07] theScrabi commented on #539
The second one definitely is NewPipe even from the screenshots. They just changed some bits.

[2018-04-04 18:08] theScrabi commented on #1257
What would be necessary to do something like that?