[2020-01-25 17:48] justanidea commented on #3006
Can you please read the previous threads???

[2020-01-25 17:48] justanidea commented on #3006
Or, better, update to 0.18.2

[2020-01-25 18:09] bunaif commented on #3007
@boomer1ultimum  update to latest version 0.18.2

[2020-01-25 18:11] justanidea commented on #2037
Guys read better, its kind of a trap but the messages saying that 0.15.x is fine date from last year (2019)
Nowadays its not true anymore, only 0.18.2 can play videos correctly, so download the latest version from the website and not fdroid and things should be working fine.

[2020-01-25 18:31] mvincent514 commented on #3006
Try this fix:
https://github.com/TeamNewPipe/NewPipe/issues/3005

[2020-01-25 18:33] mvincent514 commented on #3007
If you have trouble installing the lastest version from github, try this fix:
https://github.com/TeamNewPipe/NewPipe/issues/3005

[2020-01-25 18:55] craven144 opened #3008 "Ner"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-01-25 18:55] craven144 opened #3009 "Need version 18.2"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-01-25 18:57] craven144 commented on #3009
F-droid has version 18.1 it still doesn't work! It says could not play stream

[2020-01-25 19:07] #3008 closed

[2020-01-25 19:08] #3007 closed

[2020-01-25 19:08] #3006 closed

[2020-01-25 19:18] gkeegan commented on #3009
FDroid takes a while to update. Use #3008 to get the new version.

[2020-01-25 19:42] jhorner6511 commented on #2961
Hello Everyone. I am neither a spokesperson nor a representative of SkyTube or NewPipe, however, I am here to inform you all that the reason why both apps are not working has nothing to do with the apps themselves. Unfortunately, YouTube/Google has updated their policies recently, along with their algorithms, and is now preventing such apps from scraping their videos. YouTube now requires that any

[2020-01-25 19:49] gkeegan commented on #2961
Yes we know that YouTube is changing their stuff. NewPipe works fine after updating.

[2020-01-25 19:52] TippyLion28 opened #3010 "Videos refuse to play unless I fiddle with the quality settings"
- [yes] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [yes] I checked if the issue/feature exists in the latest version.
- [n/a] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

Every time I load a video it stays on a

[2020-01-25 20:00] gkeegan commented on #3010
I have the same issue, although setting default to 720 works fine.

[2020-01-25 20:12] monirul-bd1 opened #3011 "When can resolve the problem for newpipe ?"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-01-25 20:14] TobiGr commented on #3011
Which problem? Please be more specific. We released version 0.18.2. Consider updating when using an older version.

[2020-01-25 20:30] landry314 commented on #3011
nothing is loading at all. " could not decrypt video url signature

[2020-01-25 20:30] TobiGr commented on #3011
Please update to 0.18.2

[2020-01-25 20:30] #3011 closed

[2020-01-25 20:31] #3009 closed

[2020-01-25 20:32] landry314 commented on #3011
im 100% updated. i deleted the app and reinstalled it. still, cant watch anything.

[2020-01-25 20:33] TobiGr commented on #3005
FYI. In our [FAQ](https://newpipe.schabi.org/FAQ/) it says:

[2020-01-25 20:36] TobiGr commented on #3011
What version are you using? Where are you located?

[2020-01-25 20:41] landry314 commented on #3011
oh sorry, i read other issues where it said the f-droid version is not updated yet. i am using 0.18.1. i'll wait.

if i get the apk off of github im worried the signature will be different and id have to manually check f-droid for 0.18.2 to get back in the update stream.

[2020-01-25 20:47] landry314 commented on #3011
im in new york city.

[2020-01-25 20:51] Kukulkan2019 commented on #2961
That's what I thought to begin with, it is the Google death star entity, I
got the new update, but haven't tried it yet... I bid you the best of
luck...

Brennan

Google gaming Archmage, legendary hero, great hero, EK League...

On Sun, 26 Jan 2020, 3:49 AM Keegan Given <notifications@github.com> wrote:

[2020-01-25 22:19] TheFrenchGhosty commented on #3010
Duplicate of https://github.com/TeamNewPipe/NewPipe/issues/2509

[2020-01-26 01:51] #3010 closed

[2020-01-26 08:26] Imunhatep opened #3012 "Could not decrypt video URL signature"
Fails to open any video... On initial setup was working fine.

## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=fg0aT_Pc0vk
* __Content Language:__ GB
* __Service:__ YouTube
* __Version:__ 0.18.1
* __OS:__ Linux Android 10 - 29

<details><summary><b>Crash log</b></summary><p>

[code]
</p></details>
<hr>

[2020-01-26 08:32] diggy128 commented on #3012
Same here too.

[2020-01-26 08:40] Imunhatep commented on #3012
From other thread it seems fixed in 0.18.2 version, but thus version is not accessible on fdroid yet..

[2020-01-26 08:45] Imunhatep commented on #3012
And here #3006, I'm closing it..

[2020-01-26 08:45] #3012 closed

[2020-01-26 08:51] Imunhatep commented on #3012
Installed directly from releases: https://github.com/TeamNewPipe/NewPipe/releases

Fixed the issue

[2020-01-26 14:13] Kukulkan2019 commented on #2961
Error reports across the board on everything even after last update... ♞
![Screenshot_20200126_221033_org schabi newpipe](https://user-images.githubusercontent.com/51299121/73136467-f6e2a580-4088-11ea-96a4-1843858bebbe.jpg)
![Screenshot_20200126_221104_org fdroid fdroid](https://user-images.githubusercontent.com/51299121/73136469-f77b3c00-4088-11ea-937a-d88ebf811f34.jpg)

[2020-01-26 14:26] justanidea commented on #2961
Please make sure to write in the right thread next time.
Anyways, i would advise you to export your data, uninstall this version of newpipe that you got on fdroid, and then download this version from the official website: https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.18.2
Its because fdroid hasnt released the new version yet,  it takes quite longer :) Then you will can load your data agai

[2020-01-26 14:30] Kukulkan2019 commented on #2961
I thought I did write in the thread, must've missed it, I'm old now...
Thanks for the info, but why is this happening? Why is Google preventing
open source access, this is like the third time in the past several
months...

Brennan

Google gaming Archmage, legendary hero, great hero, EK League...

On Sun, 26 Jan 2020, 10:26 PM justanidea <notifications@github.com> wrote:

[2020-01-26 14:42] justanidea commented on #2961
I dont know if their main goal was to disturb a minor community watching youtube from an open source app, anyways, please, make sure to delete your messages when your problem will be fixed, not to overcrowd this thread :)

[2020-01-26 14:46] Kukulkan2019 commented on #2961
Hi,

I'll delete them right now, I'd rather not have to make threads to begin
with, I'd rather be able to have direct contact with a customer service,
I'd rather not have to have any technical problems with these things at
all...

Brennan

Google gaming Archmage, legendary hero, great hero, EK League...

On Sun, 26 Jan 2020, 10:42 PM justanidea <notifications@github.com> wrote:

[2020-01-26 17:11] mvincent514 commented on #3005
@TobiGr thanks for pointing that out! I should have read the FAQ, my mistake... sorry!
Just wanted to help others by sharing experience!
My sincere apologies.

[2020-01-26 17:24] TobiGr commented on #3005
Thanks for posting the detailed walk through here. It helped me to realise, that we did not link to the FAQ in the readme. Your post helped a bunch of people, so there is no reason to apologise :)

[2020-01-26 18:13] phnikola opened #3013 "(Feature request) Status bar color"
Hi all - Status bar color looks very outdated compared to Action bar.

Can this be offered as an option in menus that Status bar color is the same color as Action bar? Visually it looks alot more appealing.

Alternatively - would be great if someone could point to code line that renders this, I looked through it but without luck.

[2020-01-26 19:06] Younes-L commented on #2961
Is this the reason why sharing/opening a yt video link newpipe and selecting "download" no longer works, while "show info" then downloading from the newpipe UI still works ?

[2020-01-26 19:11] jhorner6511 commented on #2961
1. Uninstall NewPipe
2. Go to: https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.18.2

3. Click on "Assets"
4. Download "NewPipe 18.2 apk
Install on your phone and enjoy.

[2020-01-26 20:54] Stypox commented on #3013
The status bar is currently a little bit darker than the action bar... isn't that OK and conforming to Material Design?

[2020-01-26 21:47] jimmyrustles opened #3014 "How do I download/open the 0.18.2 Newpipe?"
Hi guys, I'm a complete noob so forgive me if I'm not sure how to do this properly. How do I actually download and open this new version of Newpipe? I take it you have to go to this page ![Screenshot_20200127-072659](https://user-images.githubusercontent.com/5096684/73142133-1b656e80-40d7-11ea-9584-b930c4bb080b.png) and select 'download link'? I've done that but I only have an app called 'Files' o

[2020-01-26 22:04] gkeegan commented on #3014
The files you are downloading aren't the apk, or aren't downloading properly somehow. The size of the files is way too small.

https://github.com/TeamNewPipe/NewPipe/releases/download/v0.18.2/NewPipe_v0.18.2.apk

Open that link in browser and download. You should be able to install from the files app.

[2020-01-26 22:58] jimmyrustles commented on #3014
Thanks mate.

[2020-01-26 22:58] #3014 closed

[2020-01-27 00:58] ChairmanMkay commented on #899
Of the functions I have tested the most problematic is emailing a crash report. There is no email client available. I'm researching a side load option. Popup video always crashes on my 4k stick.  I am using a USB ethernet bridge for throughput.

I had hoped to watch (skim) 8 daily hours of senate trial video. After a frustrating 9 minutes of searching the video does play full screen but the aspect

[2020-01-27 01:07] ChairmanMkay opened #3015 "FireTV wonky aspect ratio: far too wide"
Of the functions I have tested the most problematic is emailing a crash report. There is no email client available. I'm researching a side load option. Popup video always crashes on my 4k stick.  I am using a USB ethernet bridge for throughput.

I am able to navigate with fire remote.

I had hoped to watch (skim) 8 daily hours of senate trial video. After a frustrating 9 minutes of searching the v

[2020-01-27 01:21] ChairmanMkay commented on #2965
XMPP is has been baked into android. Contact has IM:Jabber. Nice integration.

Desktop. gajim is mature. Android has Converations, its better fork Pix-Art Messenger. iOS has Monal.

Conversations has a new multiparty chat distinction: channel (nod to IRC, public), MUC "private".

riot has less mature implement e2e with megOLM. XMPP has omemo.

Need more hybrid? Xmpp & sip (like mobile lte calling)

[2020-01-27 02:26] ChairmanMkay commented on #2924
Is this an issue of ip address _reputation_ , shared address, user agent, or access pattern?

I'm leery to suggest but there are "free", low quota, "privacy" vpn services. I won't name any. (XPrivacy reveals harvesting problems with certain provider apps.) This should allow exploration of reputation issue or shared address issue.  DNSBL might provide the distinction.

I also use an adblocking DNS.

[2020-01-27 06:46] sorryusernameisalreadytaken commented on #3015
There is no official AndroidTV support nor FireTV support.

@alexander-tx did a pr but do give DPAD support. I dont yet understand the reasons exactly why it was not possible to get the code changes into Master. I build an older version of this but sadly since some days no Videos played anymore:
https://github.com/TeamNewPipe/NewPipe/issues/1363#issuecomment-575906782

I will try to Integrate the

[2020-01-27 07:55] cool-student commented on #1660
I'm almost done with this. This weekend I got in all the important features that I wanted in and the notifications now work well on my test devices; the only thing I still need to do is code clean up and I need to add the setting to enable the old notifications. Around next week or the week after I should have my PR ready for this. In the meantime if anyone wants to test the current work in progre

[2020-01-27 08:07] cool-student commented on #2845
@PeterHindes check out my work in progress test apk
https://github.com/TeamNewPipe/NewPipe/issues/1660#issuecomment-578630151

[2020-01-27 08:34] cool-student commented on #2976
It would be good to have your android version as well.
If the error still happens could you use this app: https://play.google.com/store/apps/details?id=scd.lcex&hl=en_US (or any logcat app really) and then on the sidebar select per-app logcat then try to trigger the error in newpipe then go back to the logcat app and make a screenshot of the last few pages so that we can see what the error might b

[2020-01-27 08:40] JLOPS opened #3016 "None of the videos work anymore - android 8.1.0"
I included the json here because bugreport markdown doesn't works, It always say that json format cannot be parse.

Symptoms:
None of the videos works anymore

Installation source: F-DROID

Bugreport:
[code]

[2020-01-27 08:43] cool-student commented on #3016
yeah so this is was fixed in 0.18.2 you can either update to the github version or wait until fdroid updates it.

here is a good explanation of how to update:

https://github.com/TeamNewPipe/NewPipe/issues/3005#issuecomment-578440744

[2020-01-27 09:08] CharlieBrown12 commented on #3013
Thanks. I work in design for years and that darker shade in NewPipe is just not right.

Indeed - Material design guidelines recommend this but: 1. Many apps in PlayStore offer the setting to color the status bar in the exact tone of action bar. 2. Some Google apps like Gmail (versions from 2019 with red action bar) also have aligned statusbar and action bar (see screenshot from my phone).

3. NewP

[2020-01-27 09:10] CharlieBrown12 commented on #3013
![Screenshot_20200127-100202_Chrome](https://user-images.githubusercontent.com/38468934/73162037-30e59300-40ed-11ea-9e04-9f50720aedd5.jpg)

[2020-01-27 09:44] Umeaboy commented on #539
My guess it's people working for some antipiracy companies making this mess. Why would it continue if it isn't fun?

[2020-01-27 10:04] champion174 opened #3017 "Improvement"
Everything is fine, Can you Please add the playlists option in the channels view, as of now it's available in the search option only, it'll be Very helpful. Because we can't browse all videos know. I hope it'll be available in the next update.

[2020-01-27 12:38] #3016 closed

[2020-01-27 12:39] JLOPS commented on #3016
Upgrade to 0.18.2 from newpipe's github releases

[2020-01-27 13:08] spvkgn commented on #1660
@cool-student There is a bug in background player - seeking not works, playback always goes back to the beginning. [Screenshot](https://i.imgur.com/PlbOVe2.png) (Oreo 8.0)

[2020-01-27 13:37] cool-student commented on #1660
@spvkgn ah yeah sorry about that, I commented out some code that updates the progress, I realised late at night that I commented it out at a place that would make it so that it won't update the backgroundplayeractivity's progress as well which is of course not good. So I'm aware of this issue and I will fix it in the next build.

[2020-01-27 14:30] gkeegan commented on #539
@Umeaboy it is definitely just individuals seeking to make a profit by adding advertisements and tracking to NewPipe.

[2020-01-27 15:26] theScrabi commented on #539
@Iamdeadlyz I've send them a take down notice.

[2020-01-27 15:37] theScrabi commented on #539
I've send a DMCA.

[2020-01-27 15:48] Stypox commented on #3017
Duplicate of #2414

[2020-01-27 15:48] #3017 closed

[2020-01-27 16:25] bunaif commented on #539
@theScrabi also this [https://play.google.com/store/apps/details?id=play.tube.video.playtube.videotube.musictube](https://play.google.com/store/apps/details?id=play.tube.video.playtube.videotube.musictube)

[2020-01-27 17:38] castrated commented on #2986
@theScrabi why nintendo?

[2020-01-27 17:47] minsk21 opened #3018 "Not enough space to display playing position"
NewPipe v0.18.2

Display 5.5', 1440 x 2560 pix, 411 dp

<details>

![screenshot](https://i.imgur.com/cEuemQS.png)

</details>

[2020-01-27 18:05] nikur opened #3019 "Latest version on F-droid?"
Hi guys,
I saw that version 0.18.2 was released on Friday but F-droid still has the old version 0.18.1 on their page. Am I doing something or hasn't the latest version not been released to F-droid yet?

[2020-01-27 18:29] Norman191 opened #3020 "Can't Play Videos + Error Page"
After choosing any video to play it, i got the **Error Report Page**.
And looking for the issue using android studio we got this :

**Caused by: org.schabi.newpipe.extractor.utils.Parser$RegexException: failed to find pattern ";([A-Za-z0-9_\$]{2})\...\( inside of var kea=function(a){a=a.split("");var b=[-184395239,-1302549814,-919195204,-1448551649,1167263185,function(c,d){for(d=(d%c.length+c.leng

[2020-01-27 18:42] Stypox commented on #3018
This is a duplicate, though I can't find the related issue

[2020-01-27 18:43] Stypox commented on #3019
It has not been released yet. See #3005 #1981

[2020-01-27 18:44] #3019 closed

[2020-01-27 18:44] Stypox commented on #3020
Fixed in 0.18.2

[2020-01-27 18:44] #3020 closed

[2020-01-27 18:51] Stypox commented on #2979
Thank you, this is finally a reproducible ReCaptcha that can be looked into :-D

[2020-01-27 18:52] Stypox commented on #2988
Duplicate of #2900

[2020-01-27 18:52] #2988 closed

[2020-01-27 18:55] #2864 closed

[2020-01-27 18:56] Stypox commented on #2933
This already exists, as you have been told in #2927

[2020-01-27 18:56] #2933 closed

[2020-01-27 18:58] Stypox commented on #2991
I edited the description. Did I understand correctly what you mean?

[2020-01-27 19:01] Stypox commented on #3001
Duplicate of #2621

[2020-01-27 19:01] #3001 closed

[2020-01-27 19:04] Stypox commented on #2946
It has nothing to do with the extractor, this is the correct place.

[2020-01-27 19:07] Stypox commented on #866
@h1nk says in #2946:

From my very minimal understanding, NewPipe currently implements the video, audio and caption download functionality in the app's source itself and not via a library dedicated to downloading YouTube videos? If my further understanding is correct, NewPipe also uses the variable amount of operating system threads that the user sets on a video download task to parallelize the pr

[2020-01-27 19:08] Stypox commented on #2946
This is strictly related to #866 so I am closing in favour of that one. I copy-pasted what you wrote there, thanks :-)

[2020-01-27 19:08] #2946 closed

[2020-01-27 19:09] danialbehzadi commented on #2621
This would be awesome 😍

[2020-01-27 19:45] Norman191 commented on #3020
Thank you.

Is there a java code instead of kotlin ?

[2020-01-27 19:51] Stypox commented on #3020
This app is built in Java (a part from some recent Kotlin additions)

[2020-01-27 20:09] logos88 commented on #668
And a firefox extesion + app which is implementing the cast option in Firefox:
[https://github.com/hensm/fx_cast/blob/master/IMPLEMENTATION.md](https://github.com/hensm/fx_cast/blob/master/IMPLEMENTATION.md)

[2020-01-27 20:18] lyndmi opened #3021 "Can't download subtitle due to SSL error"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.
- [N/A] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

An error caused downloader to gets stuck th

[2020-01-27 21:02] Stypox commented on #3021
This seems like a network error or a certificate error and should not be related to NewPipe. Does it always happen?

[2020-01-27 21:08] Stypox commented on #2979
Could you test this apk? The reCAPTCHA activity is shown, even though the website just shows "Too many requests", and the user can then press back or "Done" to exit. @B0pol @Neboer @bleedingcrow
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4119347/app-debug.zip)

[2020-01-27 21:10] Stypox commented on #2924
Could you test this apk? The reCAPTCHA activity is shown, the user can resolve the reCAPTCHA (or follow the instructions, or do whatever they want), and then press back or "Done" to exit.
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4119347/app-debug.zip)
@ChairmanMkay @mehedihasanziku @abbluiz

[2020-01-27 21:10] Stypox commented on #2896
Could you test this apk? The reCAPTCHA activity is shown, the user can resolve the reCAPTCHA (or follow the instructions, or do whatever they want), and then press back or "Done" to exit.
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4119347/app-debug.zip)
@baraa272

[2020-01-27 21:11] Stypox commented on #2788
Could you test this apk? The reCAPTCHA activity is shown, the user can resolve the reCAPTCHA (or follow the instructions, or do whatever they want), and then press back or "Done" to exit.
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4119347/app-debug.zip)
@BoFFire @MuntashirAkon @Ksanbah @Gymcap @fabiano-araujo @whywhywhyHah

[2020-01-27 21:12] Stypox commented on #2766
Fixed in 0.18.2

[2020-01-27 21:12] #2766 closed

[2020-01-27 21:13] Stypox commented on #2766
@shafiusy about the reCAPTCHA: could you test this apk? The reCAPTCHA activity is shown, the user can resolve the reCAPTCHA (or follow the instructions, or do whatever they want), and then press back or "Done" to exit.
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4119347/app-debug.zip)

[2020-01-27 22:51] moneytoo commented on #3013
I'm witch Charlie on that. I cannot find it now but I believe that later revisions of MD allowed it. Yes, Gmail and some other 1st party apps switched to single color (also some samples) before going white. Chrome also dropped generating darker status bar color from themeColor and uses single color now.

[2020-01-27 23:02] Iamdeadlyz commented on #539
Glad to see that they are taken down @theScrabi

Another one
https://s.lazada.com.ph/s.ZQXsz

[2020-01-28 02:10] Ksanbah commented on #2788
It doesn't seem to download. Help

On Tue, Jan 28, 2020, 2:41 AM Stypox <notifications@github.com> wrote:

[2020-01-28 06:08] B0pol commented on #2979
I can't install it, "the package appears to be corrupt."

[2020-01-28 06:33] manikantag opened #3022 "[Feature] Option to trim part of video for downloading"
Thanks for the excellent work :)

Can you please consider adding support for video trimming (1080P/4K) (ex: https://ytcutter.com/) with start time (incl milli seconds) and end time. Because, most of the times I want a video for part of the content. Thanks.

[2020-01-28 06:44] Stypox commented on #3022
Duplicate of #2800

[2020-01-28 06:44] #3022 closed

[2020-01-28 07:14] snow-frog opened #3023 "Recaptcha crash on app open"
- [ x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x ] I checked if the issue/feature exists in the latest version.
- [x ] I did use the [incredible bugreport to markdown converter]

## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Language:__ GB
* __Service:_

[2020-01-28 07:50] Stypox commented on #3023
Which service were you using?

[2020-01-28 07:51] snow-frog commented on #3023
I'm not sure what you mean. Just opening newpipe leads me to a captcha and crashes it, probably fetching the "Hottest" videos (which is always youtube-curated i never watch and could do whitout entirely)

[2020-01-28 08:05] Stypox commented on #3023
Ok, thanks. I will provide a fix in a few hours

[2020-01-28 11:23] primozcerar opened #3024 "Please push v0.18.2 to F-Droid"
We need the update to resolve [#2981](https://github.com/TeamNewPipe/NewPipe/issues/2981).
It's been 4 days since a fix has been committed. Please push it to F-Droid.

Thank you for your continued work on NewPipe.

[2020-01-28 11:30] bboa opened #3025 ""seconds" string is not available for translation"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

Hey friends, please add ["seconds"](https://g

[2020-01-28 11:45] TobiGr commented on #3025
The hardcoded strings must be remove [here](https://github.com/TeamNewPipe/NewPipe/blob/5bf1df9f1403cbd4de9d9cc7d4f8945ac98ef29e/app/src/main/res/values/settings_keys.xml#L33) and a formatted string requested [here](https://github.com/TeamNewPipe/NewPipe/blob/2d39e65b5cf204ea80d74c7d7919315bbfbd6d8e/app/src/main/java/org/schabi/newpipe/settings/VideoAudioSettingsFragment.java).

[2020-01-28 11:46] #3024 closed

[2020-01-28 11:55] B0pol commented on #3025
It will be fixed by #2944 if merged

[2020-01-28 12:34] 07416 opened #3026 "Feature request: a self-updating version"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-01-28 12:35] #3026 closed

[2020-01-28 12:35] 07416 commented on #3026
It seems that only the F-Droid version lacks this feature. Sorry.

[2020-01-28 14:05] lyndmi commented on #3021
No it was working perfectly on 0.17.4 and below. It can't be my network fault since i never changed anything
I can still watch video with subtitle enabled and download video, just only subtitle i can't download. Maybe it's caused by this changes? https://github.com/TeamNewPipe/NewPipe/pull/2957

[2020-01-28 14:10] lyndmi commented on #3021
Seems it's only work on 5.0 and above. I can reproduce it on emulator running 4.4
Was TLS been enforced to latest version? TLSv1.1 and TLSv1.2 protocols are not enabled by default on kitkat 4.4

[2020-01-28 14:37] Stypox commented on #2788
What do you mean by "it doesn't seem to download"? It is a zipped file, so you have to extract it before installing.

[2020-01-28 14:38] Stypox commented on #2979
@B0pol did you unzip it? For me (on Android 7) the apk installs flawlessly.

[2020-01-28 14:41] Stypox commented on #3021
@mqus could you take a look at this?

[2020-01-28 14:44] Stypox commented on #2979
Here is a direct apk download link: [app-debug.apk](https://github.com/Stypox/NewPipe/releases/download/untagged-e35050f79c5922b192d5/app-debug.apk)

[2020-01-28 14:45] Stypox commented on #2788
Here is a direct apk download: [app-debug.apk](https://github.com/Stypox/NewPipe/releases/download/untagged-e35050f79c5922b192d5/app-debug.apk)

[2020-01-28 14:46] Stypox commented on #2924
Here is a direct apk download (the other was .zip): [app-debug.apk](https://github.com/Stypox/NewPipe/releases/download/untagged-e35050f79c5922b192d5/app-debug.apk)

[2020-01-28 14:48] Stypox commented on #3023
@snow-frog could you test this apk? The reCAPTCHA activity is shown, the user can resolve the reCAPTCHA (or follow the instructions, or do whatever they want), and then press back or "Done" to exit.
[app-debug.apk](https://github.com/Stypox/NewPipe/releases/download/untagged-e35050f79c5922b192d5/app-debug.apk)

[2020-01-28 14:56] lyndmi commented on #3021
Yeah this could be TLS issues related. Should not be a problem if TLS 1.2 was enabled by the app.
Everything else still working fine though. maybe TLS 1.2 was not enabled for subtitle downloading?

[2020-01-28 15:06] B0pol commented on #2979
Yeah of course
It doesn't run on both my phone and old phone
Your link returns a 404 page

[2020-01-28 15:09] monirul-bd1 commented on #3011
Dear sir,

Many people use newpipe 0.17.3. Not working now. Please solve this problem soonest.

B. Regards!
Monirul.
     On Sunday, 26 January 2020, 2:41:20 AM GMT+6, Landry Racoon <notifications@github.com> wrote:

oh sorry, i read other issues where it said the f-droid version is not updated yet. i am using 0.18.1. i'll wait.

if i get the apk off of github im worried the signature will be diff

[2020-01-28 15:10] monirul-bd1 commented on #3011
Dear sir,

Many people use newpipe 0.17.3. Not working now. Please solve this problem soonest.

B. Regards!
Monirul.

     On Sunday, 26 January 2020, 2:36:33 AM GMT+6, Tobias Groza <notifications@github.com> wrote:

What version are you using? Where are you located?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-28 15:10] monirul-bd1 commented on #3011
Dear sir,

Many people use newpipe 0.17.3. Not working now. Please solve this problem soonest.

B. Regards!
Monirul.

     On Sunday, 26 January 2020, 2:31:01 AM GMT+6, Tobias Groza <notifications@github.com> wrote:

Closed #3011.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-28 15:12] monirul-bd1 commented on #3011
Dear sir,

Many people use newpipe 0.17.3. Not working now. Please solve this problem for old version soonest.

B. Regards!
Monirul.

     On Sunday, 26 January 2020, 2:14:53 AM GMT+6, Tobias Groza <notifications@github.com> wrote:

Which problem? Please be more specific. We released version 0.18.2. Consider updating when using an older version.

—
You are receiving this because you authored the t

[2020-01-28 15:24] Stypox commented on #2979
I didn't publish the release I used to upload the apk, here it is again, sorry: [app-debug.apk](https://github.com/Stypox/NewPipe/releases/download/for_apk_uploads/app-debug.apk)

[2020-01-28 15:46] mqus commented on #3021
I can't repro it on my phone right now, as I'm still waiting for FDroid to provide 0.18.2 (Youtube crashes ;)) . I'll try to look at it later this evening.

[2020-01-28 16:40] Ksanbah commented on #2788
OK

On Tue, Jan 28, 2020, 8:07 PM Stypox <notifications@github.com> wrote:

[2020-01-28 16:43] Ksanbah commented on #2788
Still doesn't install.

On Tue, Jan 28, 2020, 8:07 PM Stypox <notifications@github.com> wrote:

[2020-01-28 17:12] fnadde42 opened #3027 "[feature request] Bluetooth controls fast-forward/rewind instead of skip to next/previous in playlist"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

----

When I listen to YouTube videos in podc

[2020-01-28 17:34] lyndmi commented on #3021
are you testing it on your phone running 4.4.x right?
It can be reproduced on emulator called Memu running 4.4 image
Works fine on 5.1 and 7.1

[2020-01-28 17:40] gkeegan commented on #3011
How are people supposed to fix the old version without an update? Just use 0.18.2.

[2020-01-28 18:54] hyankov opened #3028 "Could not decrypt video URL signature"
I can't play any kind of videos/music anymore. Doesn't matter in background or not.

[code]

[2020-01-28 18:56] hyankov commented on #3028
Sorry, now I see it's duplicate

[2020-01-28 18:56] #3028 closed

[2020-01-28 20:30] mqus commented on #3021
exactly ;)
I reproduced this in the normal android emulator coming with android studio on android 4.4.2@x86 right now, I'll try and see what I can do to fix it ;-)

[2020-01-28 21:58] mqus commented on #3021
So I tried the following two things:
1.: I turned on the debugger and set the TLSFactoryCompat directly in `DownloadMission` Line 230.

This still produced the error, and I'll check if this actually opens a TLS1.2 connection later. This shouldn't be solving anything though because that TLSFactoryCompat is set as a default at the start of MainActivity.

2.: I tried a sample URL from which the subti

[2020-01-28 23:28] mqus commented on #3021
After cross-checking with wireshark, It seems that DownloadMission is requesting some chunks with TLS 1.2 and some other chunks with SSL3 (not even TLS1.0), which fail the TLS Hello with an `Alert: Protocol Version`, probably leading to the error. I can't make out why android would do this. I'll try some more tomorrow.

[2020-01-28 23:56] blackbox87 commented on #3021
It's a different exception, but NewPipe Legacy was also failing to download files on an old phone I test with. I pushed a single line fix to DownloadMission.java two hours ago.

https://github.com/TeamNewPipe/NewPipe-legacy/pull/21

[2020-01-28 23:58] blackbox87 commented on #3021
@mqus It's a different exception, but NewPipe Legacy was also failing to download files on an old phone I test with. I pushed a single line fix that applies to DownloadMission.java two hours ago.

https://github.com/TeamNewPipe/NewPipe-legacy/pull/21

[2020-01-29 00:35] blackbox87 commented on #3021
@mqus It's a different exception, but NewPipe Legacy was also failing to download files on an old phone I test with. I pushed a single line fix that applies to DownloadMission.java two hours ago.

https://github.com/TeamNewPipe/NewPipe-legacy/pull/21

I compiled NewPipe with the same fix applied and it allows me to download captions on Android 4.4.4.

[2020-01-29 02:06] odman commented on #3005
I walked through every step carefully and I still get the "app not installed" error. I am on android oreo huawei mate 10 lite.

[2020-01-29 04:54] craven144 opened #3029 "How do you Update new pipe /new pipe legacy. Need steps 1-however many steps!"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-01-29 05:05] snow-frog commented on #3023
I'm not getting the recaptcha anymore on the production app or the debug one, i cant say if it works sadly

[2020-01-29 06:04] Stypox commented on #3029
Either wait for Fdroid to provide you with another version or uninstall the app and reinstall it from the apk provided in releases.

[2020-01-29 06:39] champion174 opened #3030 "Comment option not available"
Why there isn't a comment option below the video just like in youtube.
I can only able to read the comments but i want to add comments.
Please fix this soon

[2020-01-29 09:03] Stypox commented on #3030
We do not allow Google login, as you can read in the FAQ

[2020-01-29 09:03] #3030 closed

[2020-01-29 09:30] primozcerar commented on #3024
Closed without a comment and update not available in F-Droid?

[2020-01-29 10:02] mqus commented on #3021
you're right!
`conn.setRequestProperty("Accept-Encoding", "*");` fixes the whole thing. I'll do a PR later today, if no one else already did.

[2020-01-29 10:40] mqus commented on #2898
While searching for a fix for #3021, I found https://guardianproject.info/code/netcipher/ .
This is mostly a generalized version of my workaround (#2792) and will enable the appropriate TLS versions and ciphersuites for the matching android versions. They don't include any ciphers or crypto on their own and just configure the built-in crypto of android (at least for now, they seem to look at inclu

[2020-01-29 10:45] ChiefMikeK commented on #3024
[NewPipe | F-Droid - Free and Open Source Android App Repository](https://f-droid.org/en/packages/org.schabi.newpipe/) it takes a few days for an update to get published please be patient, remember that they are not a humongous corporation and

[2020-01-29 11:10] dewijones92 opened #3031 "Can't open any video"
No matter which video I click on I always get this error message

{
   "user_action": "requested stream",
   "request": "https:\/\/www.youtube.com\/watch?v=WyJ7kVJuh3I",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe",
   "version": "0.18.1",
   "os": "Linux Android 6.0.1 - 23",
   "time": "2020-01-29 11:05",
   "exceptions": [
      "org.schabi.newpipe.ext

[2020-01-29 11:49] Stypox commented on #3031
Fixed in 0.18.2

[2020-01-29 11:49] #3031 closed

[2020-01-29 11:50] Stypox commented on #3024
It was closed without comment because it was a duplicate of many many other issues

[2020-01-29 11:50] Stypox commented on #3029
See #3005

[2020-01-29 11:50] #3029 closed

[2020-01-29 11:56] primozcerar commented on #3024
I don't wish to sound ungrateful but I don't see another issue asking for version 0.18.2 on F-Droid.
Asking for the same thing in a different context is not a duplicate in my opinion.

[2020-01-29 14:10] #3021 closed

[2020-01-29 15:30] mauriciocolli commented on #2254
If this is to be kept, maybe we should think about making the navigation drawer available application-wide as well?

Very annoying that you have to quit everything for changing a single setting.

[2020-01-29 15:39] warppower opened #3033 "Legacy + Android 4 • all videos result in error • v16.2 & v18rc"
{
   "user_action": "requested stream",
   "exceptions": [
      "org.schabi.newpipe.extractor.services.youtube.extractors.YoutubeStreamExtractor$DecryptException: Could not parse decrypt function \n\tat org.schabi.newpipe.extractor.services.youtube.extractors.YoutubeStreamExtractor.loadDecryptionCode(YoutubeStreamExtractor.java:849)\n\tat org.schabi.newpipe.extractor.services.youtube.extractors.Y

[2020-01-29 15:56] damavrom commented on #3033
Same exception on Android 7.1.1
Although I use org.schabi.newpipe

[2020-01-29 16:00] cool-student commented on #3005
@odman it's possible that you uninstalled the app and the signature was not deleted you can remove it if you are rooted by doing
`su bash `
and then
`pm uninstall "org.schabi.newpipe"`
or via adb using similiar commands. There might be some other ways too.

[2020-01-29 16:13] damavrom commented on #3033
I installed the latest release and it is fixed. This release though is not on F-Droid yet.

[2020-01-29 16:13] Stypox commented on #3033
Fixed in 0.18.2

[2020-01-29 16:15] Stypox commented on #3033
Fixed in version 0.18.2 of legacy, still not available on fdroid: https://github.com/TeamNewPipe/NewPipe-legacy/releases/tag/v0.18.2

[2020-01-29 16:15] #3033 closed

[2020-01-29 17:52] ponyportal2 opened #3034 "Decrypt Exception in Bluestacks (No playback in BlueStacks, Win 10)"
Basically no videos work in NewPipe using BlueStacks, but I really love using it, cause of skip silences feature.

Here's error report:
https://imgur.com/a/69HTjKa

[2020-01-29 18:13] TobiGr commented on #3034
Update to 0.18.2 (not on F-Droid yet)

[2020-01-29 18:13] #3034 closed

[2020-01-29 19:08] kapodamy commented on #2997
fixed in https://github.com/TeamNewPipe/NewPipe/pull/2959/commits/342377e69ae3157c0b11a03d32721b80844a0b7b

[2020-01-29 19:42] kapodamy commented on #2640
@opusforlife2 test this
[IDOL-9IVhjh15ofo.zip](https://github.com/TeamNewPipe/NewPipe/files/4130360/IDOL-9IVhjh15ofo.zip)

[2020-01-29 19:46] Sonickyle27 commented on #2768
@ucmatestudio Please publish your source code if you're going to continue making updates to your app. Your website says that the last update was on 2020-01-24.

[2020-01-29 19:57] TobiGr commented on #2768
Apart from that, you should link it from the website and the app as well as that your app is based on NewPipe.

[2020-01-29 19:58] eladkarako opened #3036 "Unrecoverable Player Error"
720p/480p won't play.
there is a message w/o actual error page, just a small message that disappears after a second.

360p works fine.

v18.2

[2020-01-29 20:15] kapodamy commented on #2889
¿can you test if the issue was fixed?
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4130473/app-debug.zip)

[2020-01-29 22:10] xinobrax commented on #3031
OT, but related: Every time something like this happens I have to uninstall the F-Droid version and install the latest Github release manually. Why does it take so long to put the latest release in the F-Droid repository? It makes the auto updates kinda useless...

[2020-01-30 05:50] lukahn commented on #2889
Heya @kapodamy, thanks so much for looking into this.
Unfortunately I'm still seeing the same message as before (tested in the same way using the same 144p video):

## Exception
* __User Action:__ download post-processing
* __Request:__ https://www.youtube.com/watch?v=3FNOKSwkg5U [ {type=video format=MPEG-4 quality=144p videoOnly=true}  {type=audio format=m4a bitrate=128} ]
* __Content Language:__

[2020-01-30 06:04] Stypox commented on #3036
Duplicate of #2673

[2020-01-30 06:04] #3036 closed

[2020-01-30 09:15] Lamdarer commented on #2929
(sorry if this is a bit off topic but I dont know how to PM someone on GitHub)
@FinixFighter if you want an Alternativ front end for YT and login you could use [YouTube Vanced](https://vanced.app/)  for Android (it also almost looks the same as the "normal" YT app)
But I also preferr NewPipe for obvious reasons.(sorry for the off-topic)

[2020-01-30 10:58] huckvrni opened #3037 "Add search in playlist for saved playlists"
- [✅] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [✅] I checked if the issue/feature exists in the latest version.

I use newPipe primarily to listen to music which is why I usually only use it as a media player.

I have playlists with hundreds of songs in them and I thought it would be awesome and pr

[2020-01-30 11:34] Stypox commented on #2651
Closing in favour of #3037

[2020-01-30 11:34] #2651 closed

[2020-01-30 18:08] opusforlife2 commented on #2640
@kapodamy Not fixed. It's the same 1 second cut off. Vanilla just jumps from 0 to 2 seconds on the seekbar and Odyssey rapidly goes from 0 to 1 to 2 within a second. The cut off is there with FX File Explorer as well.

[2020-01-30 18:56] kapodamy commented on #2889
another try
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4135598/app-debug.zip)

[2020-01-30 20:10] Stypox opened #3038 "Standardize view animation duration"
If you check the usages of `animateView` you will see that the typical range will be 0 all the way to 500, with most in the 100-250 range.

It should've been done with a default value in the first place. It is pretty much arbitrary right now, it was whatever the person felt like at the time of writing.

I'll leave this task to another PR, which the goal will be to standardize the used duration of

[2020-01-30 21:46] eladkarako commented on #3036
doesn't seems to be related, it isn't webm, but mp4 stream.

[2020-01-30 21:50] eladkarako commented on #2673
v18.2
480p,720p,+...MP4 streams failed to load in the player,
no error page just a small banner the disappears after 1 second saying Unrecoverable player errer.
all videos in the 'recently updated' 'feed'.

[2020-01-30 22:08] rhazor commented on #2047
I downloaded and installed from given direct link for 0.15.0 version and I still get same error, no video will play.

[2020-01-30 22:52] lukahn commented on #2889
Thanks for that. I'm still getting errors, but with a slightly different JSON error message this time (tempFile was null):

## Exception
* __User Action:__ download post-processing
* __Request:__ https://www.youtube.com/watch?v=3FNOKSwkg5U [ {type=video format=MPEG-4 quality=144p videoOnly=true}  {type=audio format=m4a bitrate=128} ]
* __Content Language:__ GB
* __Service:__ YouTube
* __Version:__

[2020-01-30 23:02] Kellett commented on #3023
I'm also having this issue. I tried the APK @Stypox posted and it didn't help.

[2020-01-31 02:31] gillhash commented on #2833
Yes volume spikes on mine Samsung J2 Pro too.
Running android 6.0.1
Using Newpipe 18.2
@B0pol hopefully this issue be resolved bit early. Sadly can't find any related PR.

[2020-01-31 06:04] Stypox commented on #3036
Both issues are about missing resolutions and would be fixed by the same thing, most probably

[2020-01-31 06:06] Stypox commented on #3023
What does it mean that it didn't help? @Kellett
Also, please try the apk in #3037

[2020-01-31 07:08] OffifialMITX commented on #2673
I'm not quite sure what happens, but it looks like by now that the process hangs on whichever resolution/fps the player was first opened but works just fine if I choose *any* other resolution/fps. Even if I change it back to the resolution I first opened the video before the newly selected video is properly buffered.

[2020-01-31 07:17] gkeegan commented on #2673
I can confirm the behavior @OffifialMITX is experiencing.

[2020-01-31 09:59] kuba-orlik opened #3040 "Crash report email bounced - wrong address"
After sending a crash report, it bounced, saying:

[code]

[2020-01-31 10:16] iah commented on #3040
I got the same issue:

This is the mail system at host mxtls1.mailbox.org.

I'm sorry to have to inform you that your message could not
be delivered to one or more recipients. It's attached below.

For further assistance, please send mail to postmaster.

If you do so, please include this problem report. You can
delete your own text from the attached returned message.

[2020-01-31 11:15] cheack commented on #206
Thanks!

[2020-01-31 11:24] saepurusass commented on #3040
The problem is simple:
`mail.commandnotfound.org` refuses to accept mail without encryption - should it reject plaintext email is a long debate. I think plaintext email should be blocked - but that is not up to me to decide.

Your SENDING server can not negotiate TLS connection because it does not support modern TLS protocols and/or ciphers and then eventually goes to fallback mode, which is plain

[2020-01-31 11:39] TheAssassin commented on #3040
Thanks for your explanation @saepurusass. The mail system enforces encryption. Unencrypted mail traffic has been a security nightmare ever since, and this issue has been solved literally decades ago by the introduction of SSL/TLS encryption.

@kuba-orlik the server has *never* responded with any message that would indicate the address was wrong, the message has told you exactly the same as we did.

[2020-01-31 11:39] #3040 closed

[2020-01-31 11:55] opusforlife2 commented on #2640
@kapodamy I just checked another phone (Nokia 6.1 running Android 10, Newpipe 0.18.2) and the m4a isn't cut off! It's possible that the bug I'm experiencing exists in LineageOS 16, instead. I don't know if @dmoa is on LOS as well. I don't have access to any Samsung phone. It would be good to confirm if this issue occurs there or not.

[2020-01-31 12:41] B0pol commented on #2969
Another issue: live preview

<details>
  <summary>On NewPipe</summary>
![](https://i.ibb.co/McShfZL/Screenshot-20200130-191722-New-Pipe-Debug.png)
</details>

<details>
  <summary>On YouTube PC</summary>
![](https://i.ibb.co/tmWpQg4/Screenshot-20200130-193120-Browser.png) (the chat was disabled for this livestream is shown ir French, at the bottom of the thumbnail)
</details>

<details>
  <summary

[2020-01-31 17:02] gillhash commented on #3021
NewPipe Legacy was also failing to download files on an old phone I test with. I pushed a single line fix that applies to DownloadMission.java two

@blackbox87 would you upload latest compiled apk with download fixes somewhere preferably in
https://github.com/TeamNewPipe/NewPipe-legacy/pull/21
as it may take considrable time to update Legacy version by its maintainer.
and Btw your work is of great

[2020-01-31 18:08] azooter opened #3041 "Newpipe not installing"
So I wanted to install Newpipe on my tablet, but it cant. It only shows "App not installed"

My tablet is a Lenovo Tab M10

[2020-01-31 18:09] #3041 closed

[2020-01-31 18:10] azooter commented on #3041
I'm so stupid! I didn't realize F-Droid already downloaded it.

[2020-02-01 00:56] kapodamy commented on #2889
another try
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4141956/app-debug.zip)

please:
* start a new download, do not resume the existings
* you will get a notification **Setting temporal dir to +/pending_download_temp**, folder path can vary
* or get another **NullPointerException** crash

for some reason `us.shandian.giga.postprocessing.Postprocessing#setTemporalDir()` doent ge

[2020-02-01 03:51] lukahn commented on #2889
Hi @kapodamy,

Thanks for the advice. I do get the toast message now:

![Screenshot_2020-02-01-14-33-49](https://user-images.githubusercontent.com/5970051/73586375-48af8380-4500-11ea-9d37-c965bcd1397c.png)

And the same message as before immediately after the download:

![Screenshot_2020-02-01-14-34-06](https://user-images.githubusercontent.com/5970051/73586376-52d18200-4500-11ea-99ee-92f8c3bb113c

[2020-02-01 12:33] gillhash commented on #2900
Latest test apk given in #2309  PR shows empty "Show info" page with "both video content unavailable" "Some errors occurred, " message. This occurs on 1 out of 10 videos i try to watch, Which can be played in the browser.
After Search clicking on playlist in error report then this video:-
https://www.youtube.com/watch?v=ACOLT3z6Kag
Gives blank page with sad face.

Error Report
{
   "user_action":

[2020-02-01 13:30] TobiGr commented on #2922
Fixed by #3004

[2020-02-01 13:30] #2922 closed

[2020-02-01 14:47] #1130 closed

[2020-02-01 14:47] #1215 closed

[2020-02-01 14:47] #2794 closed

[2020-02-01 15:25] Stypox opened #3042 "Polish white theme: make app bar text and icons white"
This is how the white theme looks like:
<img src="https://user-images.githubusercontent.com/36421898/73567740-44835780-4467-11ea-9de9-b0b009c91d9d.png" width="200"/>

As you can see text and icons in the title bar are black, even though they are on the exact same red background as in the dark theme. Black on red looks strange, so text and icons should be white, as in the Retry button

[2020-02-01 17:36] XiangRongLin commented on #875
Following the idea of @PeterHindes of intializing an array of the playlist size and shuffling that, I found a way to get the video at a specific index in a playlist.

Using this playlist as example:
https://www.youtube.com/playlist?list=PLgfrzIaFR9HfrMfEHHA75y6ieaeyBxuTu

You can get a specific video by using the embedded player and adding index=NUMBER to the url, like:
https://www.youtube.com/emb

[2020-02-01 18:12] B0pol commented on #3042
Should they really be white?
Shouldn't they match the slider page (grey for icons, light dark for text)?
<img src="https://user-images.githubusercontent.com/58657617/73596876-5ffd6980-451e-11ea-96df-722b27db8ea6.png" width="200">

[2020-02-01 21:52] kapodamy commented on #2640
tl;dr wont fix

looking  the ffmpeg log the file contains a bad timestamp, so ffmpeg add a few empty samples at the start to avoid the "silence".
`ffmpeg.exe -i IDOL-9IVhjh15ofo-dash.m4a -c copy IDOL-9IVhjh15ofo-nodash.m4a`
![ffmpeg output](https://user-images.githubusercontent.com/16857233/73584305-3426a900-4476-11ea-83a9-5567a49d53e8.PNG)
i dont know how to detect this behavior, is unfixable wit

[2020-02-02 11:50] dducro commented on #2784
Hey, I installed 0.18.2.
I checked if the app had the file access permission, that was correct. However it can't open the file. Do you have any suggestions?
![screenshot](https://user-images.githubusercontent.com/2156884/73607747-66d9ba00-45ba-11ea-9b67-f15ea9aed44d.jpeg)

[2020-02-02 12:17] XiangRongLin commented on #2895
The problem is that auto-generated playlists don't have a "youtube.com/playlist?list=playlistID" url. But the linkhandler converts

to

So the extractor would need to differenciate between user-generated playlists and auto-generated ones and in the case of auto-generated ones, extract them from the first link and not the second one.

It seems that:

- User-generated playlist ids start with "PL"

-

[2020-02-02 13:34] #1907 closed

[2020-02-02 13:54] XiangRongLin commented on #2895
I threw together a way to handle it like described above. After some quality control i'll open a PR.

[2020-02-02 16:47] opusforlife2 commented on #2640
@kapodamy Is there a way to counter this offset? I don't think it would matter if this results in some audios regaining the 'proper' time and some audios gaining an extra second of silence.

[2020-02-02 20:04] eladkarako opened #3045 "Share a download from NewPipe creates an error. v18.2"
## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Language:__ GB
* __Service:__ none
* __Version:__ 0.18.2
* __OS:__ Linux Android 9 - 28

<details><summary><b>Crash log</b></summary><p>

[code]
</p></details>
<hr>

[2020-02-02 20:15] Stypox commented on #3045
Thanks for the report!
These exceptions are also related: https://github.com/TeamNewPipe/NewPipe/issues/2861#issuecomment-568301677 https://github.com/TeamNewPipe/NewPipe/issues/2861#issuecomment-568302519

[2020-02-02 21:16] #2979 closed

[2020-02-02 21:16] #2788 closed

[2020-02-02 21:16] #2924 closed

[2020-02-02 21:16] #3023 closed

[2020-02-02 21:55] eladkarako commented on #2673
all resolutions seems to work now (nothing changed within NewPipe). Possibly 'servers fault'...

[2020-02-02 22:30] OffifialMITX commented on #2673
@eladkarako For me the behavior seems highly inconsistent, but definitely there.

[2020-02-03 02:00] kapodamy commented on #2889
last attempt
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4145920/app-debug.zip)

[2020-02-03 07:35] rahuldeshwal21 commented on #3045
I use  v0.18.2
Mobile = Samsung M10
Many  times  Play  background  music  problem  Is  continuously play sound  with music (system Notification Sond )

[2020-02-03 09:34] cool-student commented on #1660
I've chased down some bugs and have a new build ready:

[app-debug-v4.zip](https://github.com/TeamNewPipe/NewPipe/files/4147093/app-debug-v4.zip)

Changes since v3-1:
- [x] background player activity progress was stuck on Android < 10
- [x] Android 10 seekbar seeking caused time to reset to 00:00 for a moment due to excessive notification recreation
- [x] added a buffering indicator icon when the

[2020-02-03 09:52] goxr3plus commented on #2047
Download New Pipe 0.18.2

On Fri, Jan 31, 2020 at 12:08 AM rhazor <notifications@github.com> wrote:

--

*Personal Information*

*Phone,What's App: (+30) 6955398222 <http://6955398222/>*

*Mail : alexanderkentros@gmail.com <alexanderkentros@gmail.com>*

[2020-02-03 10:00] rhazor commented on #2047
That's what I wrote?

[2020-02-03 10:01] goxr3plus commented on #2047
@rhazor  Haven't seen it sry :)

[2020-02-03 11:49] lukahn commented on #2889
I've tried it again, but this time I don't see the toast, nor do I have the option to start a failed download to get the JSON.
However, despite giving an error after post-processing, the downloaded video appears to be working perfectly fine (without the stutters that it suffered from before)!

I've uploaded the whole process here:
**Installation:**
https://youtu.be/gaWGplJ7IxM

**Post-processing d

[2020-02-03 14:27] B0pol opened #3047 ""Resume on focus gain" doesn't work with browser"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.

On spotify, when you listen to music, then go play another media, eg youtube video, it pauses the music, like newpipe does.
But Spotify resumes the music when you paused or left the media.

I think this is a cool feature, and would be great to have in N

[2020-02-03 16:35] TobiGr commented on #3047
There is an option in den video and audio settings, called "Resume on focus gain".

[2020-02-03 16:44] Poolitzer opened #3048 "Can't play any stream"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.
## Exception
* __User Action:__ requested stre

[2020-02-03 16:45] #3048 closed

[2020-02-03 16:51] B0pol commented on #3047
Yeah, but it doesn't cork with browser, spotify,
Works with newpipe and vlc tho.

[2020-02-03 22:05] moneytoo commented on #3013
Just trying to get rid of darker ``colorPrimaryDark`` results in looks like this:

![device-2020-02-03-225722](https://user-images.githubusercontent.com/1071643/73694749-02f9e300-46d9-11ea-8a07-d938aa16aefd.png)

I see that @Stypox already tracks that (make text white on red) in #3042 :)

[2020-02-04 03:28] bgoodr commented on #1839
![Screenshot_20200203-191628_NewPipe](https://user-images.githubusercontent.com/141319/73711231-0d0ce900-46bb-11ea-9c36-5528a8630498.jpg)

Find the screenshot above. The error message shown was too vague. It needs to provide more text in the error message to clarify what went wrong. I found that by using Firefox on android to download the subscriptions from YouTube, the output file could not have

[2020-02-04 09:52] NazcaLine opened #3050 "Accessing YouTube videos needs completing Captcha."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-02-04 10:09] vkhomenk opened #3051 "Main to popup"
Changing from main view to popup opens both popup and background playback and randomly choses one to play.

**Steps to reproduce:**
1. Click on youtube video to open main view.
2. Go to popup view.
3. Opens both popup and background and plays one of them.

**Expected behaviour:**
...
3. Opens popup and plays it

**Configuration:**
Oneplus 7
Android 10
OxygenOS 10.3.0GM57AA

[2020-02-04 10:33] Stypox commented on #3050
This is the normal and intended behaviour

[2020-02-04 10:56] vkhomenk opened #3052 "Twitching in portrait view"
**Steps to reproduce:**
1. Click on youtube video to open main view.
2. Turn to portrait view and wait second till controls disappear.
3. Tap to reveal controls.
4. Video jumps up for a moment.

**Configuration:**
Oneplus 7
Android 10
OxygenOS 10.3.0GM57AA
NewPipe 0.18.3

[video_2020-02-04_12-53-58.zip](https://github.com/TeamNewPipe/NewPipe/files/4152831/video_2020-02-04_12-53-58.zip)

[2020-02-04 12:37] Stypox commented on #3051
After 1. and 2. are there two notificantions in the app bar, one for the background player and one for the popup player?

[2020-02-04 12:39] Stypox commented on #3050
Oh, sorry, for some reason I thought you were already using the fixed version... could you please test the apk provided in #3035?

[2020-02-04 12:41] Stypox commented on #3050
Here is a direct link: [app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4145262/app-debug.zip)

[2020-02-04 13:47] NazcaLine commented on #3050
It works!

Thanks and closed.

[2020-02-04 13:47] #3050 closed

[2020-02-04 14:42] dogtopus opened #3054 "Playlist dragging/editing is too easy to get mistriggered when scrolling with single hand"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

As long as the scrolling happens on the edge

[2020-02-04 20:10] gillhash opened #3055 "App Crash on Opening Banned [YouTube] Channel (v0.18.2)"
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter] to paste bug reports.

Tapping on youtube channel (which i didn't know was banned recently) triggers App Crash.
https://www.youtube.com/channel/UCg6IB3Yz6Y2Gf83cNZC0Dmg
I Paste youtube channel link somewhere in phone to quickly see all its content just by tapping. Ope

[2020-02-04 20:20] B0pol commented on #3055
Duplicate of TeamNewpipe/NewpipeExtractor#228

[2020-02-04 20:48] #3055 closed

[2020-02-04 20:49] Stypox commented on #3055
Also, next time use the incredible markdown converter, as you have checked in the corresponding checkbox

[2020-02-04 21:19] gillhash commented on #3055
Sorry for that i am new on github. I tried to use the incredible markdown converter https://teamnewpipe.github.io/CrashReportToMarkdown/
But couldn't use it successfully. btw I am using git on a browser.
Can you suggest a better choice like some git client which is safe & speedy ?

[2020-02-04 22:01] benchpress826 opened #3056 "this is a feature request."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-02-04 22:19] gkeegan commented on #3056
If you have a request please add it or this will end up being closed.

[2020-02-04 22:41] benchpress826 commented on #3056
Microphone feature must be found in the search section

search filter must be available

![20200205_013503](https://user-images.githubusercontent.com/60674025/73793734-0912c100-47b8-11ea-98ec-a852c0db9d48.jpg)

![20200205_013536](https://user-images.githubusercontent.com/60674025/73793790-22b40880-47b8-11ea-8188-279d354d4ee4.jpg)

must be what appears in the photos.

[2020-02-04 22:41] #3056 closed

[2020-02-04 22:55] benchpress826 opened #3057 "this is a feature request"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-02-04 22:57] benchpress826 commented on #3057
Microphone feature must be found in the search section

search filter must be available

![20200205_013503](https://user-images.githubusercontent.com/60674025/73795043-b981c480-47ba-11ea-9c7b-f3f0e96c5abc.jpg)

![20200205_013536](https://user-images.githubusercontent.com/60674025/73795063-c69eb380-47ba-11ea-8939-b56c8b63790b.jpg)

there must be things that appear in the photos

[2020-02-04 23:16] gkeegan commented on #3057
Search filters have been brought up before, and are doable.

I don't think the voice search would ever be used since it would require some Google parts afaik, which is against the "rules" of NewPipe.

[2020-02-04 23:20] benchpress826 commented on #3057
Thank you for your interest 🙏🙂

[2020-02-04 23:30] benchpress826 commented on #3056
Thank you for your interest 🙏🙂

[2020-02-04 23:49] selurvedu commented on #3057
What do you mean?

[2020-02-04 23:52] selurvedu commented on #3037
+1
Searching for saved playlist names and subscriptions would be nice to have as well.

[2020-02-05 00:03] benchpress826 opened #3058 "this is a feature request"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

[2020-02-05 00:05] benchpress826 commented on #3058
videos must be previewed.

videos must have a video filter; best comment, newest comment.

[2020-02-05 01:38] eladkarako opened #3059 "DeadSystemException"
searched a video, clicked the ~40 result. app crash. repeated, same. force close clean install, same. reboot, same.

## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Language:__ GB
* __Service:__ none
* __Version:__ 0.18.2
* __OS:__ Linux Android 9 - 28

<details><summary><b>Crash log</b></summary><p>

[code]
</p></details>
<hr>

[2020-02-05 03:57] tyler-reclen opened #3060 "Minor interface bug"
when switching between players with a paused video newpipe "forgets" that the video was paused

Eg if you pause a video then close the app then the video will resume as a pop-up on in the background.(assuming you have "minimise on app switch enabled")

[2020-02-05 05:28] ldxw opened #3061 "Information playback problem"
When the message comes, it will stop playing automatically. You need to click manually to continue playing

[2020-02-05 05:59] gkeegan commented on #3061
Can you explain your issue more please and add more detail?

[2020-02-05 06:57] Stypox commented on #3056
What would that microphone do?

[2020-02-05 07:00] Stypox commented on #3057
I agree with @gkeegan, and one could always use a keyboard with microphone support if he needs to

[2020-02-05 07:00] #3057 closed

[2020-02-05 07:03] Stypox commented on #3058
Create a separate issue for every one of your requests, and put a better title for them. Also, the issue description should be used as a description, you shouldn't put information in a comment below. Thank you 😃

[2020-02-05 07:04] #3058 closed

[2020-02-05 07:07] Stypox commented on #3059
This seems likely to be a device specific issue: https://stackoverflow.com/questions/42784731/android-deadsystemexception#44395215

Which phone are you using?

[2020-02-05 07:10] Stypox commented on #3060
Duplicate of #2239 and #2391

[2020-02-05 07:10] #3060 closed

[2020-02-05 07:13] Stypox commented on #3054
This would be fixed by #2583 if I get to implement it

[2020-02-05 07:27] ldxw commented on #3061
![stop.gif](https://i.loli.net/2020/02/05/iPDOIWQqxNw3vLg.gif)

[2020-02-05 08:13] ldxw commented on #3061
Resolved, focus recovery turned on, thank you

[2020-02-05 08:13] #3061 closed

[2020-02-05 10:27] selurvedu commented on #1437
Bump to prevent closing.

[2020-02-05 11:24] Stypox commented on #1437
It wouldn't be closed anyway (the stale bot isn't there anymore), and this will be included in #2309

[2020-02-05 11:44] T-rex2017 opened #3062 "reCAPTCHA challenge"
Not able to play video's or even open info section.  While it loads it shows this screen and when it finishes shows a browser version of YouTube
Haven't checked other things
![Screenshot_2020-02-05-16-58-31](https://user-images.githubusercontent.com/29393932/73838892-b9290e00-483a-11ea-927d-c24053c9ec98.png)
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPip

[2020-02-05 11:47] #3062 closed

[2020-02-05 12:28] Stypox commented on #3062
Try the apk provided in #3035

[2020-02-05 13:25] benchpress826 commented on #3058
Thank you for your interest 🙏🙂

[2020-02-05 17:29] eladkarako commented on #3059
I thought so too.
Samsung Galaxy J400F. Android Pie. I too saw that stackoverflow, but it doesn't make much sense either.

[2020-02-05 17:31] hegdeniranjan47 opened #3063 "Can't play any video"
{
   "user_action": "requested stream",
   "request": "https:\/\/www.youtube.com\/watch?v=L7BFuCJQNF4",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe",
   "version": "0.18.1",
   "os": "Linux Android 10 - 29",
   "time": "2020-02-05 17:29",
   "exceptions": [
      "org.schabi.newpipe.extractor.services.youtube.extractors.YoutubeStreamExtractor$DecryptExce

[2020-02-05 17:57] TobiGr commented on #3063
Update to 0.18.2

[2020-02-05 17:57] #3063 closed

[2020-02-06 09:20] cool-student commented on #3059
@eladkarako can you check your logcat ? maybe there's an exception thrown before the `DeadSystemException` ?

[2020-02-06 11:09] Suncatcher opened #3064 "Video not available"
Video not available error is thrown on some videos, presumably Live ones or recently released.
Version is latest.

![photo_2020-02-06_05-57-07](https://user-images.githubusercontent.com/6388034/73931945-3ee2a300-48a7-11ea-8ace-770048d2e7f1.jpg)

![photo_2020-02-06_05-57-11](https://user-images.githubusercontent.com/6388034/73931948-41dd9380-48a7-11ea-9ad9-be3f2f09468d.jpg)

[2020-02-06 12:33] Monirzadeh commented on #2911
any update on this issue?
it's so annoying first video on my whats' new is for 1 year ago !!!

[2020-02-06 14:40] gkeegan commented on #3064
Confirmed. I've seen this on recent videos as well. Going back then clicking the video again makes it load though.

[2020-02-06 16:16] Suncatcher commented on #3064
Immediate back-and-return doesn't help. Waiting 10 min helps sometimes, but I didn't find any strict rule or time interval though.

[2020-02-06 18:22] Stypox commented on #2911
@Monirzadeh see #2309

[2020-02-06 19:26] opusforlife2 commented on #2673
In my case there are certain videos that don't play on _any_ DASH resolution. The only three streams that play are the non DASH video streams that contain the audio streams within them. This means WebM 360p (VP8), MPEG-4 720p and 360p (AVC) streams, the bottom 3 formats in any youtube-dl format list.

I noticed this because if I tap on Download, and look at the list of resolutions, _only_ the size

[2020-02-06 19:28] B0pol commented on #3064
Should be related to this comment:
https://github.com/TeamNewPipe/NewPipe/issues/2969#issuecomment-580718374

There is currently no live preview support on NewPipe.
Your issui is a video but planned to be streamed in live (so there will be a chat, but no stream, just recorded video), so it's not exactly the same but really close.

[2020-02-06 19:35] VvLuijovV commented on #668
Newpipe is Soooooo good, sometimes it gives me some errors with some videos, but 99% of the time it is What youtube's app and overall what youtube showld've been, even tho that's a fact, the only thing i need to finally uninstall YT's app and free my phone from those 700 mb i have to be cleaninng every certain days is this feature, please, cheers on you guys!!

[2020-02-07 11:24] Monirzadeh commented on #2911
Thanks @Stypox  so I should wait for merge

[2020-02-07 12:08] Suncatcher commented on #3064
It is NOT always a Live video. Sometimes I experienced that on videos that are years old. I will post here all videos where I meet this issue

[2020-02-07 12:17] eladkarako commented on #3059
can't reproduce again.
'think bug can be closed until more data would be available.

[2020-02-07 12:17] #3059 closed

[2020-02-07 13:11] justanidea commented on #2911
There are some test apk provided in the pr so if you cant wait until merge you can use them

[2020-02-07 13:38] Stypox commented on #3064
Duplicate of #2900

[2020-02-07 13:38] #3064 closed

[2020-02-07 13:44] Skylead commented on #2397
This bug isn't limited to background player, it's breaking main player too when the car is shutoff and the phone loses bluetooth connection. I can do more testing to confirm it in the popup player as well. All playback will fail as will reselecting the same video. Can be fixed by loading a different video and then returning to the original content.

[2020-02-07 13:52] Skylead commented on #2070
I had a similar bug to this when I just swapped to the automatic popup player on focus loss. Selecting background player from a main playback window causes the popup window to open the feed instead of background player (no longer dual playing at least it seems). I have noticed sometimes the background player gets half a word in before the popup player opens (and takes over from where it sounds lik

[2020-02-07 13:57] Stypox commented on #3051
Duplicate of #2070

[2020-02-07 13:57] #3051 closed

[2020-02-07 15:34] theScrabi commented on #539
So google as well as lazada claim "they can not detect  an issue" which is obviously bogus. They say need further prove. Apparently simple screen shots aren't enough. I am not sure if this is a phase as they are not interested in removing any apps, or if they really do want to see sort of a code "diff".

Could some one help to reverse engineer these apps to "find" the parts that got stolen?

[2020-02-07 16:45] gkeegan commented on #539
@theScrabi How do they intend to stop any infringement if there is no way to show the code of a closed source copy? Stupid.

Would looking at the icons be possible by decompiling the app? Then check file hashes of the icons (like for trending and the like) they have vs the ones in NewPipe.

[2020-02-07 16:51] kubo6472 commented on #539
Wouldn't #2732 speed up this process, as they have to act? Or am I misunderstanding?

Von meinem Samsung Galaxy Smartphone gesendet.

-------- Ursprüngliche Nachricht --------
Von: Keegan <notifications@github.com>
Datum: 07.02.20 17:46 (GMT+01:00)
An: TeamNewPipe/NewPipe <NewPipe@noreply.github.com>
Cc: Jakub Doboš <kubo6472@gmail.com>, Comment <comment@noreply.github.com>
Betreff: Re: [TeamNewPi

[2020-02-07 17:08] B0pol commented on #539
Look on comments with medias on lazada, 1 star two weeks ago, the crash reporter shows package "org.schabi.newpipe", could not decrypt video url signature, and version 0.17.4

The package name is the same, the crash reporter is the same, the ui is the same (look in comments with media)
BUT two screenshots from 2 weeks ago or more recent shows the YouTube interface, so the owner have switched due t

[2020-02-07 18:05] gkeegan commented on #539
@B0pol that would probably be sufficient proof for removal, so long as an apk of that version is obtainable.

[2020-02-08 10:21] MACtr opened #3066 ".MP3 Support"
.MP3 I think it should have its format. The .m4a format, especially .Opus, is not supported on older devices.The device does not play when I download it to the device. I cannot install a different player because there is no space on the device. Please add the .mp3 format. I cannot help you because I do not know coding.Sorry.

[2020-02-08 10:40] B0pol commented on #3066
Duplicate of #507. See it, there are explainations.

[2020-02-08 10:42] MakoriSM commented on #183
The ability to write your own artist and song name is definitely my most desired feature.
It would also be great if we could use the youtube thumbnail as album art

Newpipe looks like the best alternative to the now defunct Peggo but I hate having my music library filled with songs titled like: "verylongsongname (lyrics) - artist" with the artist set to: "unknown artist"

[2020-02-08 11:01] #3066 closed

[2020-02-08 19:06] Whoareyouagain opened #3067 "[Bug] Tag Editors cannot edit Opus (160 kbps)"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

NewPipe version: 0.18.2
Phone: Samsung Note 8
Android OS: 9

Hello, I seen there are similar report regarding Opus. However, my reporting is about Opus file is using wrong extension and

[2020-02-08 20:53] ghost opened #3068 "Show out of memory error if ran out of memory"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

When my device runs out of memory, the player crashes and show a toast error "Could not play stream". First I though it might be Wifi issue but took me long time to find out it was cause

[2020-02-08 23:11] #1025 closed

[2020-02-08 23:27] #2997 closed

[2020-02-09 00:13] kapodamy commented on #2889
sorry for the delay, i cant believe this not fixed yet.
now seeing your video i cannot see any popup asking for read/write permissions like this one:
![ask](https://user-images.githubusercontent.com/16857233/74090889-afe4af00-4a8f-11ea-80c3-16f9ab362276.PNG)
also:
* there are files in "pending_downloads" but not in "pending_downloads_temp"
* cannot access to `/storage/emulated/0/Android/data/org.s

[2020-02-09 09:53] lukahn commented on #2889
Heya @kapodamy ,
Thanks for your persistence. I'm seeing the same behaviour as before with the new file (the video saves/converts fine without stutter, though I don't get the popup for SD card permission still).

Unfortunately I can't change the permissions of the app, but it *should* have everything.

![Screenshot_2020-02-09-20-29-29](https://user-images.githubusercontent.com/5970051/74099868-35d

[2020-02-09 10:53] Stypox commented on #2896
Fixed by #3035 (I accidentally mentioned #2986 instead of #2896)

[2020-02-09 10:53] #2896 closed

[2020-02-09 12:09] Stypox commented on #3067
@opusforlife2

[2020-02-09 12:34] theScrabi opened #3069 "External Kiosks (Trending pages) for NewPipe"
Hei guys,

recently I had a talk with the people from [jedentageinset.de](https://jedentageinset.de) if it was ok to integrate their site into NewPIpe. They come from Nuremberg, the same  city I am from, and the provide a non profit platform where they audit electronic and minimal sets mainly from SoundCloud. I like their platform as I am using it almost daily.
This is why I would love see it be i

[2020-02-09 12:49] StyXman commented on #2876
should I open another issue for 'mute by default?'

[2020-02-09 14:07] selurvedu commented on #1815
@drji3m Google's algorithms choose the next video for you. NewPipe has nothing to do with that. It could, though, switch to another video from suggestions if "Up next" is blacklisted.

[2020-02-09 17:06] opusforlife2 commented on #3067
I just checked both 70 kbps and 160 kbps downloads. Poweramp can edit tags for both of them. So can Kid3.

You might have faced this issue with downloads using earlier versions. Are you sure you've faced it with downloads made _specifically_ from 0.18.2?

[2020-02-10 10:16] radopas opened #3070 "autoplay in SoundCloud"
Hello,
I don't see the option Autoplay available when using SoundCloud. It is available when using YouTube.

[2020-02-10 11:34] theScrabi commented on #3069
@TobiGr @TheAssassin what is your opinion?

[2020-02-10 14:49] pliskin7 opened #3071 "Background Player stuck in Notification Bar"
On Android Q, (using Pixel 4 XL) if I play a video on Background, the X button will not close the notification and will randomly repop up and disappear even if I haven't used it in days.

[2020-02-10 15:32] B0pol commented on #3070
If I understood, it's because [this line returns null](https://github.com/TeamNewPipe/NewPipeExtractor/blob/9112a106eab9c05ca5c9e574623d4908ecc15656/extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud/SoundcloudStreamExtractor.java#L238)

[2020-02-10 15:39] TobiGr commented on #3070
If this is the case, we should select either the first or a random related video.

[2020-02-10 18:00] B0pol commented on #2969
About live preview:
NewPipe can't gather any stream, either audio, or video, for videos / live preview (that's what we expect as there are no streams). But then, it doesn't have a StreamType, and that's why « Content unavailable » is shown.
One should create a StreamType like StreamInfo, or StreamPreview, idk, if one wants to fix this problem.

[2020-02-10 18:15] B0pol commented on #2478
Yeah
Look at [this music](https://soundcloud.com/shakosh2020/yxeenohdx7ar), you can see a « Free Download » button.
To get this, you can easily have it:
in SouncloudStreamExtractor.java
[code]
if there is not that information, it returns null, such as with [this music](https://soundcloud.com/liluzivert/do-what-i-want-produced-by-maaly-raw-don-cannon)

[2020-02-10 18:57] yausername commented on #3069
Hi @theScrabi
Third party trending pages are acceptable if they are community curated like invidio.us or hooktube.us. But promoting specific channels/playlists/feeds goes into the "advertisement" domain which we should stay away from.

Also, the criteria for addition of new services is quite open. So people can add a new service if it qualifies of being one. jedentageinset.de is more a channel tha

[2020-02-10 19:42] snappyapple632 opened #3072 "[Soundcloud] NewPipe crashes when searching"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.
- [X] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

Any attempt made to make searches or return s

[2020-02-10 19:54] Stypox commented on #3072
@TobiGr I'll fix this, or are you already doing it?

[2020-02-10 19:59] TobiGr commented on #3072
:man_facepalming: didn't find the problem first while running the latest extractor commit. fixed by https://github.com/TeamNewPipe/NewPipeExtractor/commit/9112a106eab9c05ca5c9e574623d4908ecc15656. We need to push an update. However, we should investigate why `getClientId()` worked for the last few days although the clientId was invalid and now refused to work.

[2020-02-10 20:00] TobiGr commented on #3072
@Stypox The only question is whether to roll out a hotfix release with just one commit or 0.18.3 at its current state.

[2020-02-10 20:01] kaikun97 commented on #2970
I have this same problem. It looks like we are back to the older problem that happened in the past where some videos do not have the audio available for higher resolutions. This seems to be the case for a lot of music videos.

[2020-02-10 20:04] Stypox commented on #3072
@TobiGr there are too many changes in 0.18.3, I think it needs the usual week of testing before release... I think it would be better to push a hotfix

[2020-02-10 20:16] TobiGr commented on #3072
@Stypox @poolitzer Can someone write a small announcement for the blog?

[2020-02-10 20:26] Stypox commented on #3072
Telling that the client id was updated?

[2020-02-10 20:27] TobiGr commented on #3072
yes

[2020-02-10 20:27] Stypox commented on #3072
Ok

[2020-02-10 21:16] Stypox commented on #3072
I will open a PR at the website tomorrow, ok?

[2020-02-10 21:34] opusforlife2 commented on #2970
Linking a previous comment of mine here because it's relevant. https://github.com/TeamNewPipe/NewPipe/issues/2673#issuecomment-583069389

[2020-02-10 21:37] wb9688 commented on #228
For Android's lockscreen thingie, we need to use https://developer.android.com/reference/android/app/Notification.MediaStyle. I don't think that'd be hard to implement.

[2020-02-10 21:49] opusforlife2 commented on #3071
How far have you tested this?

After going from Oreo to Pie I've noticed that the Newpipe background notification doesn't close immediately upon tapping close, even though the audio does stop instantly. The touch area (?) of the close button has also decreased somewhat, making it difficult to tap.

If Newpipe was your last played audio app, then events such as connecting a headphone can automatica

[2020-02-10 21:52] snappyapple632 commented on #3072
Looks like the new release fixed it. Closing this issue.

[2020-02-10 21:52] #3072 closed

[2020-02-10 22:00] TobiGr commented on #3072
@Stypox sure

[2020-02-11 01:09] Poolitzer commented on #3072
@tobigr since @stypox apparently already got it, Im gonna chicken out on that one ;P

[2020-02-11 01:54] champion174 opened #3073 "Youtube Music link support"
Please include YouTube music in newpipe, just like you've added SoundCloud, Mediacloud and some others.it'll help a lot
I hope your dedication can do this.

[2020-02-11 02:38] gkeegan commented on #3073
Not sure about the difficulty of making YouTube Music into it's own tab, but YouTube Music videos/audios would be a simple implementation I believe.

Take this track: https://music.youtube.com/watch?v=9XvXF1LrWgA&list=PLrEnWoR732-DtKgaDdnPkezM_nDidBU9H

If you remove the `music` and the `&list=PLrEnWoR732-DtKgaDdnPkezM_nDidBU9H`, you just get the singular track on YouTube, which could then be down

[2020-02-11 04:20] gkeegan commented on #3073
If you could test the apk in #3074 that would be appreciated. It seems like there was already stuff for YouTube Music in the extractor, so I don't think I'll have much work to do.

[2020-02-11 06:34] Kukulkan2019 commented on #2970
Chrome browser will not open new update 18.1 that just came out today... ♞

[2020-02-11 06:41] Kukulkan2019 commented on #2961
Chrome browser is not opening the new update that came out today, can you
send me the link?

Brennan Mulrennan on LinkedIn, Gravatar & WordPress.com...♞

On Mon, 27 Jan 2020, 3:11 AM jhorner6511 <notifications@github.com> wrote:

[2020-02-11 06:48] rstular commented on #539
I've looked into the `Play Tube - Video Tube` app.
The developers used a large chunk of NewPipeExtractor in their app, with minor modifications, which mostly consist of:
- Removing some exception handling
- Renaming some function and variable names (looks more like a compile-time optimization)

Practically the whole NewPipeExtractor codebase (with the exception of `/extractor/comments` directory)

[2020-02-11 06:50] jhorner6511 commented on #2961
1. Uninstall NewPipe

[2020-02-11 06:50] gkeegan commented on #2970
Open from files app.

[2020-02-11 06:51] bkqtnte10 opened #3076 "Change text of lonpgress menu"
I often find myself confused what to tap when I want to play a video in the queue.

I now realised that the wording of the long press popup is unintuitive:
Especially "Enqueue in a new popup" is confusing. Is it played in a new popup or later?

Proposed solution is to change wording and what is displayed:
- If nothing is currently playing only show "Play in background" and "Play in popup"
- If som

[2020-02-11 07:04] Kukulkan2019 commented on #2970
I don't know what a files app is, the New Pipe notification thing directs users to the browser... ♞

[2020-02-11 07:40] cs-nero opened #3077 "Tor/proxy support"
Hey,
I would appreciate if NewPipe would add a support for proxys (Type, Host, Port).
I think it is a feature which many users would like, because NewPipe is important for privacy.

Please let me know what you think about that and sorry for my bad english.

[2020-02-11 08:16] rstular commented on #539
@theScrabi As for the Lavaza listing, it could be taken down via the Alibaba IPP portal, if someone is willing to go through their identity verification process.

[2020-02-11 08:30] opusforlife2 opened #3078 "[Bug] Video lags behind audio"
- [x] I checked if the issue/feature exists in the latest version.

Sometimes while watching a video, the audio goes out of sync (the video lags behind). From that point, any video I watch continues to have this lag. I _think_ this may be caused by frequent skipping of the video backward and forward.

Nothing except a force stop of the app from settings can remedy this when it happens.

[2020-02-11 08:33] Kukulkan2019 commented on #2970
If you mean the tablet built in files app, there is nothing in there concerning any update, for example, what would you expect to be in the internal storage or external storage unless I put it in there myself? (Rhetorical)... Thanks anyway, I already have the link... ♞

[2020-02-11 08:56] rstular commented on #539
Also, another closed source apps, which uses the extractor
[playtube.videotube.playing](https://play.google.com/store/apps/details?id=playtube.videotube.playing)

[2020-02-11 12:27] OffifialMITX opened #3079 "Shortened invidio.us link support"
NewPipe supports shortened yt links and invidio.us links, but not shortened invidio links.

Example:

will lead one to the browser, and only then to NewPipe, whereas

leads to NewPipe directly.

Can this please be implemented=

[2020-02-11 12:38] B0pol commented on #3079
Do you have the lastest version ? They are supported.

[2020-02-11 12:46] vkhomenk commented on #3051
Yes there are two of them

[2020-02-11 13:26] OffifialMITX commented on #3079
I have the 0.18.2 from F-Droid, but, according to the changelog, that doesn't seem to change in 0.18.3.

[2020-02-11 13:28] OffifialMITX commented on #3079
"good first issue"? I'm genuinely flattered, thank you :)

[2020-02-11 13:48] Stypox commented on #3079
It means that the issue is simple to solve and thus can be solved by a newbie

[2020-02-11 13:54] OffifialMITX commented on #3079
Oh. And here I thought my issue was so unique and impressive >_<

[2020-02-11 16:45] Mercurial commented on #2818
can anyone explain why it will require jailbreak?

[2020-02-11 17:38] theScrabi commented on #3069
@yausername yes you bring up good points. I would not implement an additional support for external RSS, as this could easly be done with an RSS reader and does not belong to one of our tasks. Additionally thinking about jedentageinset.de it would require additional code which would disqualify it for rss. Maybe if I have time then I'll write an additional app for their site then :)

[2020-02-11 17:38] #3069 closed

[2020-02-11 18:27] B0pol commented on #3079
Look at this video
https://vimeo.com/390798674

It's supported. But indeed, it first open browser, whereas the same video above with youtu.be link didn't open browser, but newpipe directly.

By the way, the one working on it should pay attention to other invidious instances: invidiou.sh… They have the same behavior as invidio.us for shortened links (at least invidiou.sh)

[2020-02-11 18:36] Stypox commented on #2818
Because it could not be added to the store

[2020-02-11 18:52] OffifialMITX commented on #3079
@B0pol You're right, that's what I meant, but I might have worded it poorly. The issue is with whatever says the Android system which URLs it can handle.

[2020-02-11 18:54] B0pol commented on #3073
Also, playlists generated from YouTube Music are not handled.
https://music.youtube.com/playlist?list=PL4fGSI1pDJn5Je5NXSbA_Y-pSwa16FntZ
It crashes, it should give top 100 tracks in the world.

[2020-02-11 19:11] B0pol opened #3080 "Mediaccc links support"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

https://media.ccc.de/v/oscal19-12-the_hairy_issue_of_end_to_end_encrypted_instant_messaging
It should open as a video. Not supported by extractor, we have "link not supported" toast.

ht

[2020-02-11 19:59] lovec741 commented on #1058
For me:
`{
   "user_action": "requested stream",
   "request": "https:\/\/www.youtube.com\/watch?v=19gXZpjXmh4",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe.debug",
   "version": "0.17.1",
   "os": "Linux Android 9 - 28",
   "time": "2020-02-11 19:57",
   "exceptions": [
      "org.schabi.newpipe.extractor.services.youtube.extractors.YoutubeStreamExtract

[2020-02-12 01:50] theScrabi commented on #539
@B0pol @rstular very nice. Thank you :D

I am currently busy writing my bachelor thesis, but once I find time to answer them I'll keep u up to date.

[2020-02-12 02:03] kapodamy commented on #2889
the logcat command is:
[code]
or
[code]

`grep -i newpipe` only lines with "newpipe" string

[2020-02-12 04:33] gkeegan opened #3081 "1080p downloads cannot be opened"
As the title suggests, I can't open/play any 1080p downloads from either SD card or internal storage. I'm using a build of the latest dev commits as of this issue.

This was supposedly fixed by #2959, but somehow isn't?

It was working fine with a build from when 0.18.2 was released, but now doesn't work.

[2020-02-12 04:35] gkeegan commented on #3081
Example video: https://www.youtube.com/watch?v=6Ljs9_yIiY0

[2020-02-12 04:45] gkeegan commented on #3081
I contemplated just posting this to #2997, but my issues seem slightly different. For me the video won't open at all or play as audio.

[2020-02-12 06:51] lukahn commented on #2889
Hi @kapodamy ,

Thanks for those adb commands. I ran the first one, and have the following logcat:
[logcat.log](https://github.com/TeamNewPipe/NewPipe/files/4190247/logcat.log)

And the last APK downloaded the files as expected (they play back without lag at 144p and 1080p), but there's just that error message at the end of the post-processing stage. I'd guess that it's not able to clean up some f

[2020-02-12 07:50] TobiGr commented on #539
@rstular Using the extractor is completely legal as long as you say that you do so

[2020-02-12 08:10] cool-student commented on #3071
@pliskin7 @opusforlife2 hello guys I'm currently working on improving the notifications
could you test my latest test build from here: https://github.com/TeamNewPipe/NewPipe/issues/1660#issuecomment-581321212 ?

one major flaw with the current notifications is that they are being recreated too often which can lead to all kind of issues I fixed this and some other issues in my new notification impl

[2020-02-12 08:31] rstular commented on #539
@TobiGr And as long as you use GPL for your project, if I understand GPL correctly?
Regardless, neither developer disclosed the use of NewPipe extractor, nor used the GPL license for the apps in question.

[2020-02-12 09:28] mqus commented on #3069
I wrote a small forwarding server to provide a podcast feed for all jedentageinset sets, it "scrapes" the site using the wordpress json api and then converts the soundcloud links to actual media urls using youtube-dl. If there is interest, I can upload it to github.

Personally I then use AntennaPod on Android, which covers my usecase pretty much. There are obviously limitations, such as not havin

[2020-02-12 10:02] vkhomenk commented on #2882
[MP4_20200212_120047.zip](https://github.com/TeamNewPipe/NewPipe/files/4191159/MP4_20200212_120047.zip)
Ui bug of apk from this thread

[2020-02-12 13:05] Stypox commented on #1660
@cool-student the thumbnail in the new notification is squished and does not keep the 16:9 ratio. There are two ways to solve this, and each of them implies creating a new drawable based on the original thumbnail:
- take only the central square of the image
- make the image fit inside a square by adding transparent borders above and below
Another option would be to make the image space bigger, but

[2020-02-12 13:26] MrHeating opened #3082 "[FR] Add tweaks to 'fast-forward during silence' function"
This feature is amazing already, but I wish for a few options:

- [ ] Set the speed to ramp up and down instead of instantly jumping between different speeds (linear only should be plenty)

- [ ] Control the ff-speed

- [ ] Control the volume threshold (preferably with visual volume feedback)

[2020-02-12 13:41] OffifialMITX opened #3083 "[FR] Use NewPipe for internal video playback"
Pretty much the title. At this point in my case at least, NewPipe's functionality is superior to even VLC's.

Smooth software VP9 decoding on my 2016(ish) MTK processor, fast-forward functionalities being the most important ones to me.

I miss it especially when I download a video from within NP but have to use another player to watch it.

[2020-02-12 13:43] OffifialMITX commented on #3077
As it is right now, you can use Orbot's "VPN" mode to force NP to use Tor. Generally it does not cause issues.

[2020-02-12 13:48] OffifialMITX commented on #3076
Additionally a "play triangle" on the bottom left corner for starting playback now and a plus on said corner on queue buttons.

IMO the whole menu, including the share function could be replaced with an icon-only (with text on long-press) one.

[2020-02-12 14:02] OffifialMITX opened #3084 "Brightness resets on first gesture brightness change after playback activity open"
Thia bug persists since a long time, I didn't come around reporting it.

Stock Android 7.1.1
XT1771

[2020-02-12 14:03] Stypox commented on #1922
Closing since all of the ideas are now either duplicate or solved

[2020-02-12 14:03] #1922 closed

[2020-02-12 14:04] Stypox commented on #3083
Duplicate of #478 and #1179

[2020-02-12 14:04] #3083 closed

[2020-02-12 14:05] Stypox commented on #3077
Duplicate of #1129

[2020-02-12 14:05] #3077 closed

[2020-02-12 14:06] Stypox commented on #2543
Update to 0.18.2 and if the problem still persists create an new issue

[2020-02-12 14:06] #2543 closed

[2020-02-12 14:11] Stypox commented on #3084
The brightness changes according to the position of the finger in the gesture. So the brightness changes to where your finger is as soon as you begin a brightness gesture. So this is intended, or am I understanding something incorrectly?

[2020-02-12 14:12] cool-student commented on #1660
@Stypox so just for clarification you're not talking about the metadata album art that is shown on lock screen controllers but the image shown in the notifications itself ? @K1rakishou cropped the album art image in https://github.com/TeamNewPipe/NewPipe/pull/2690 and I undid these changes but it depends on the oem skin how well they look.

this is how it looks on my lockscreen controller (and mos

[2020-02-12 14:12] Stypox commented on #3078
This is new to me, never heard of something like this. Can you provide more information about when the problem arises? Is there any way to reproduce consistently?

[2020-02-12 14:16] Stypox commented on #3076
The plan is #2583

[2020-02-12 14:25] OffifialMITX commented on #3084
But it's always the relative position change, isn't it? I can start in the upper third of the screen and the very first time it'll still reset to minimum brightness, but after that it'll reuse the last set position and relative movement. Note that the volume changes start at the right value regardless of when or where it was last set.

[2020-02-12 15:09] Stypox commented on #3084
OK, I see

[2020-02-12 15:20] AndroidDeveloperLB opened #3085 "Request: when choosing to download video/audio, also allow to make it skip relatively (or 100%) silent parts"
- [ X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ X] I checked if the issue/feature exists in the latest version.
- [X ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

As the title says.
I've noticed we have th

[2020-02-12 15:25] pliskin7 commented on #3071
@opusforlife2 It will happen when I stopped listening to the music for awhile (days even) and it'll repop up empty, not showing the last video I was playing. The close button looks fine, and highlights when I press it, but will not make the notification disappear.

@cool-student, Sure thing. I will be happy to test it out. No worries if the issues isn't fixed just yet, I know that you guys are doi

[2020-02-12 15:30] jmbreuer opened #3086 "Background player: Painful volume spikes when playback resumes after a pause due to buffering"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.

I sometimes have a network connection that even for just audio playback using the background player cannot keep up.

When the buffer empties, there's a gap of silence (obviously). When t

[2020-02-12 15:53] Stypox commented on #3086
Duplicate of #2833

[2020-02-12 15:53] #3086 closed

[2020-02-12 16:17] Stypox commented on #1660
This is how it looks on my Android 7.1 Huawei p9 lite:
![Screenshot_20200212-160331](https://user-images.githubusercontent.com/36421898/74354274-65c73a80-4dbb-11ea-896a-c65c31a187f8.png)

[2020-02-12 16:18] vkhomenk commented on #1660
@cool-student I try to run your code but only get crash on attempting to watch video. The apk works fine. Am I doing something wrong?

[2020-02-12 17:44] Flat opened #3088 "Unable to view live streams on YouTube shortly after airing"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

When trying to view a video such as https://y

[2020-02-12 17:50] hardhead-roulette opened #3089 "Request: Have video titles and descriptions in the default content language where available"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.
- [X] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

The titles and descriptions for YouTube video

[2020-02-12 19:52] avently commented on #2882
@vkhomenk
Thanks, man. You motivated me to make another try and to finally make scrolling awesome. I tried once some weeks ago but failed. Today I found a way. So, I uploaded an apk https://github.com/TeamNewPipe/NewPipe/pull/2907#issuecomment-585384781 and a commit with changes.

[2020-02-12 20:34] opusforlife2 commented on #3071
@pliskin7 That is exactly what happens. If you connect a headphone/use volume long press and Newpipe was your last played media app, then an empty notification will show up. The title is "Unknown", isn't it? If your music app is the last media app, a song would start playing instead.

If your close button doesn't close your notification even after several seconds, then that's something different f

[2020-02-12 21:12] opusforlife2 commented on #3078
I've bookmarked two videos that I know it happened on for sure, so I can keep testing.

It JUST happened to me again on one of them. This time, it was after unlocking the phone and pressing play. Audio went out of sync. But then I tried it again and it didn't happen. So I can't reproduce it reliably yet.

[2020-02-12 21:40] B0pol commented on #3071
Same here. Audio automatically stops, but notification stays few seconds later.

But as you mentioned @opusforlife2 , I think this is not a NewPipe bug: I'm also on Lineage 15.1 (well actually /e/ OS but it's based on LOS15.1), and also I have the exact same behavior on Spotify.

[2020-02-12 21:49] Offerel opened #3091 "java.net.MalformedURLException: unknown protocol: vnd.youtube"
If i click a YouTube link or thumbnail in an app like FeedMe or other RSS reader, NewPipe starts but crashes instantly with the error "org.schabi.newpipe.extractor.exceptions.ParsingException: Malformed url: vnd.youtube:thi73589" or some similar error. If I open the same link with standard YouTube app, the right video is opened.

[2020-02-13 02:40] kapodamy commented on #2889
@lukahn after looking the log the exception is
[code]
The exception is thrown while attemping to truncate the file. where go another workaround
[app-debug.zip](https://github.com/TeamNewPipe/NewPipe/files/4196202/app-debug.zip)

[2020-02-13 04:10] kapodamy commented on #3081
the `stss` box has less keyframes that a file muxed by ffmpeg (newpipe 77 ffmpeg 96). but plays ok.
¿what player app are using? VLC??? MX Player????

[2020-02-13 05:27] gkeegan commented on #3081
VLC on Android. It's strange that it works fine for you. I'm on Android 9, but perhaps it is device specific?

[2020-02-13 05:39] XiangRongLin commented on #3091
Please use the [converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) and add the full crash log.

[2020-02-13 06:04] Stypox commented on #3071
@opusforlife2 you can install it alongside the official app since it is a debug build

[2020-02-13 07:21] Offerel commented on #3091
## Exception
* __User Action:__ requested stream
* __Request:__ vnd.youtube:Jb8BqYYqDMQ
* __Content Language:__ GB
* __Service:__ YouTube
* __Version:__ v0.18.3
* __OS:__ Linux Android 10 - 29

<details><summary><b>Crash log</b></summary><p>

[code]
</p></details>
<hr>

[2020-02-13 07:23] Offerel commented on #3091
BTW: I have installed Vanced after this error occurs, to check if a similar problem exists there also. Vanced opens, but cant load the video. It seems to load forever, but without a crash. Only the vanilla Youtube app could load the video. But i would prefer to deactivate vanilla Youtube and use Newpipe.

[2020-02-13 07:52] XiangRongLin commented on #3091
It seems like vnd.youtube is the URI for an intent to open the video in another app (YouTube app).

The part after the colon ":" should be the video id.

[2020-02-13 09:36] cool-student commented on #1660
@Stypox to be honest mediastyle notifications don't look so great below Oreo ^^';
I'll check on the weekend if I can fix the aspect ratio of the image or if I can find another way to make it look better on < Oreo devices.

@vkhomenk can you check your logcat so I can see what causes the crash, it should have an exception in there. Alternatively you can wait until Monday or Tuesday next week so I c

[2020-02-13 10:44] lukahn commented on #2889
Hi @kapodamy ,

Thank you for your patience.
Still the same as before from an end-user perspective (including the file in This PC\Galaxy S4\Phone\Android\data\org.schabi.newpipe.debug\files\pending_downloads). Still no permissions pop up either.

[logcat2.log](https://github.com/TeamNewPipe/NewPipe/files/4197766/logcat2.log)

I also had the option to export the error message (which is the same as

[2020-02-13 11:00] theScrabi commented on #539
Yes when NewPipe extractor is used the app has to be made open. Otherwise the extractor license had to be MIT or apache.

[2020-02-13 11:14] TobiGr commented on #539
Oh yes. You are right

[2020-02-13 12:14] 3risian opened #3092 "PeerTube use does not add to view count of video"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.
- [-] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

In my experience, watching a PeerTube video d

[2020-02-13 12:20] stukgrub opened #3093 "reCAPTCHA challenge requested"
there is problem when i watch use vpn.
![Screenshot_2020-02-13-19-13-32-37_ee8807d2de22f1831269d80920e33a3b](https://user-images.githubusercontent.com/31304277/74434801-13d5f180-4e5b-11ea-9a98-ecb3a02ba24a.png)

[2020-02-13 12:33] woj-tek opened #3094 "[FR] Track watch status and progress of downloaded videos"
- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.

Currently, because NewPipe uses external application to play downloaded videos, it doesn't track playback progress nor watch status of those. It would be nice to actually  at least mark

[2020-02-13 12:56] Stypox commented on #3093
Wait for 0.18.4, the problem will be  solved. In the meantime use the apk in #3035

[2020-02-13 12:57] #3093 closed

[2020-02-13 13:06] Stypox commented on #3092
Related: #2929

[2020-02-13 13:08] Stypox commented on #3089
Strange, this should have been fixed by TeamNewPipe/NewPipeExtractor#114

[2020-02-13 13:15] B0pol commented on #2948
Reopened because it can be fixed, and is fixed by #2907

[2020-02-13 16:00] B0pol commented on #3089
My experience about this:
With the case of videos uploaded in French, but translated to english, content country to france and content language to french:

The title is everytime shown English when it should be French:  ; **except in the detail page**, where everything is always fine.
The description is always in english when it should be French.

[2020-02-13 16:42] Whoareyouagain commented on #3067
Ahh yes, you must be correct. Most of them was downloaded from a older version of NewPipe that are causing this issue. I thought I already updated it but it didn't, I am having issue with F-Droid are not updating NewPipe. I am not sure why but I managed to get it updated after the third attempt. I am able to edit and save the tags without issues. Thank you for your patience.

[2020-02-13 16:42] #3067 closed

[2020-02-13 17:53] vkhomenk commented on #1660
@cool-student I mean I get "this was not supposed to happen" screen when attempting to watch video, while apk works fine

[2020-02-13 21:06] 3risian commented on #2929
I am a supporter of PeerTube, but it should be noted that individual instances cannot be assumed to be good actors. A review of the top 10 most popular instances a few months ago showed three had ad trackers in use.

I have not used [Thorium](https://github.com/sschueller/peertube-android) yet, but it is a dedicated PeerTube app which does allow users to login to PeerTube instances. Maybe contribu

[2020-02-13 21:11] 3risian commented on #3092
Related, but there is a significant distinction I wish to discuss:

Supplying a view is unnecessary, so not including this feature **is certainly justifiable**, but I believe it provides no authentication beyond IP address.

The only significant information it would give, as far as I understand, is that you watched a decent amount of a video and therefore your IP address may be engaged by it. If i

[2020-02-14 00:21] B0pol commented on #578
This is because of the language of the app is system language (or VPN), but the content is English. It's fixe by #2921

[2020-02-14 00:24] B0pol commented on #1013
The trending content is changed by the content language, not the content language.

Youtube features trending by countries, that's why. Please close this @Stypox

[2020-02-14 00:26] B0pol commented on #2848
Fixed by #2921 . Please close this @Stypox

[2020-02-14 01:14] TheAssassin commented on #539
@rstular we cannot provide legal advice. Please contact a lawyer if you are unsure.

Not legal advice: yes, the GNU GPL version 3 requires projects using such a depencency to be licensed under the same license terms.

[2020-02-14 01:58] kapodamy commented on #3081
@gkeegan sorry i missed a commit on #2959. thats why works on my device

[2020-02-14 06:04] #1013 closed

[2020-02-14 06:08] #578 closed

[2020-02-14 06:08] #2848 closed

[2020-02-14 13:15] Mercurial commented on #2818
and why is that?

[2020-02-14 13:51] gkeegan commented on #2818
Apple would never allow it into the store.

[2020-02-14 19:51] Skylead commented on #2397
Update, pausing the video before shutting off the car doesn't help it hold onto the stream. However, disabling bluetooth from the phone before shutting off the car keeps everything working without reloading the video. Maybe a lost bluetooth connection isn't being handled properly?

[2020-02-14 21:06] kapodamy commented on #2889
last 2 attempts, im out of workarounds. this is a device bug like https://github.com/TeamNewPipe/NewPipe/issues/2470 and appears to be unfixable

workaround 1: using ftruncate directly
[app-debug_r0.zip](https://github.com/TeamNewPipe/NewPipe/files/4206781/app-debug_r0.zip)

workaround 2: using base context
[app-debug_r1.zip](https://github.com/TeamNewPipe/NewPipe/files/4206786/app-debug_r1.zip)

[2020-02-15 02:42] barudaret opened #3097 "Store unplayed items in queue"
If I had a nickel for every time I had a long queue lined up and accidentally pressed the back button while in the fullscreen player, thus losing the whole queue...

And just now, I had a long queue in the popup player, and pressed the fullscreen button, only the fullscreen player never appeared, it just ate my queue.

Oh and sometimes, my connection's not that great, so NewPipe just decides "can'

[2020-02-15 10:14] vkhomenk commented on #1660
@cool-student Whan you have time, please make a runable release. Thanks

[2020-02-15 12:31] #2819 closed

[2020-02-15 12:50] lukahn commented on #2889
Heya @kapodamy ,

Still the same behaviour unfortunately, so maybe it is a Samsung Android 5 ROM problem.
I also noticed that unfortunately the last three debug APKs (app-debug.zip - 13/02/2020, app-debug_r0.zip/app-debug_r1.zip - 15/02/2020) no longer allow the downloaded video to be played. I've gone back to test the other ones and they all work, along with the latest official release (0.18.3),

[2020-02-15 17:10] opusforlife2 commented on #3071
@Stypox Is it possible to install only one debug build at a time or can several exist side by side?

@cool-student After playing a background audio, I immediately felt the jarring lack of forward and rewind buttons and progress bar. I'm on Pie. Is it necessary to remove them?

[2020-02-15 17:11] opusforlife2 commented on #1660
@vkhomenk Tried reinstalling? It works normally for me.

[2020-02-15 17:37] kapodamy commented on #2889
sad to hear, this issue cannot be fixed

[2020-02-15 20:54] Stypox commented on #3071
@opusforlife2 unfortunately only one debug build at a time can be installed (the difference is just in the package name: in debug builds a .debug is added)

[2020-02-16 01:39] Poolitzer opened #3100 "Feature request: Display Changelog in app"
I would love to have that implemented. Maybe even with links to the fitting blog posts.

Even better would be to be able to see what the new version brings me from the notification, and then I decide if I want to download it. If we want to link to the blogpost there, we would be required to publish it before the new version, but that would also be nice.

[2020-02-16 09:10] B0pol commented on #3100
Related #2124.

[2020-02-16 10:01] #2889 closed

[2020-02-16 17:10] Poolitzer commented on #3100
Not sure I see how they are related?

[2020-02-16 20:12] desmonk commented on #1892
Waiting for so long for HDR support... Any hope left?

[2020-02-16 22:01] TobiGr commented on #3100
I create a first prototype for viewing changelogs yesterday :D
However, the changes are stored in a file which is included in the app so viewing the changelog before updating is not possible. I guess only a few people translate these files during the release phase.

I guess @B0pol wants to note that we can get the changelogs directly from the fastlane directory and thus offer translations of them,

[2020-02-16 22:03] TobiGr commented on #3100
I also considered this. We can either link the post before releasing a new version or even better. get that url from our api

[2020-02-16 22:06] B0pol commented on #3100
Yeah, that's what I meant by related, include translation of changelogs. And indeed if you use API, we can gather data after update, therefore get some time for translations (with F-Droid delay + RC phase it should be good).

[2020-02-16 23:29] garawaa opened #3103 "Soundcloud share to newpipe does not work"
When share a song from soundcloud app, gives an error  "unsupported url".

[2020-02-16 23:54] nabakolu opened #3104 "Gesture controls don't disable on downloaded videos"
Disabling gesture controls in settings does not disable them, when viewing downloaded videos.

- [X] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [X] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.

[2020-02-17 00:12] gkeegan commented on #3104
When you view downloaded videos, they open in another app (such as VLC). NewPipe can't control the settings of an external app.

[2020-02-17 00:34] Poolitzer commented on #3100
I am not sure I can follow 100%. But it sounds like doubling the work, fastelane and our API. Cant we use only one?

[2020-02-17 06:50] Stypox commented on #3103
Could you share that song to an app that lets you copy the URL and post the URL here?

[2020-02-17 07:53] Suncatcher opened #3105 "Crash during share from Downloads inside app"
![photo_2020-02-17_09-45-34](https://user-images.githubusercontent.com/6388034/74633427-4ee16900-516a-11ea-8878-5b6e34b7cb0e.jpg)

Steps to reproduce:

1. Go to Downloads folder inside app via three-dot button
2. Click Share on any video
![Inkedphoto_2020-02-17_09-49-18_LI](https://user-images.githubusercontent.com/6388034/74633726-f52d6e80-516a-11ea-8cac-b6353a6373d5.jpg)
3. Crash!

## Exception

[2020-02-17 07:59] Suncatcher opened #3106 "Crash during searching"
![photo_2020-02-17_09-54-58](https://user-images.githubusercontent.com/6388034/74633963-90264880-516b-11ea-8718-b2a8ae80d471.jpg)

Steps to reproduce:

1. Put search term in Cyrillic "настоящее время" (maybe not only this), and hit enter.

It doesn't happen always, just sometimes, I cannot figure any rule. I observe this bug throughout the last three app versions, I believe.

P.S. The screenshot i

[2020-02-17 08:39] cool-student commented on #3106
this happened to me as well recently but as stated above it doesn't happen every time. for me it happened when I was scrolling down, possibly something didn't load quickly enough ?

## Exception
* __User Action:__ searched
* __Request:__ eminem
* __Content Language:__ GB
* __Service:__ YouTube
* __Version:__ v0.18.3
* __OS:__ Linux Android 10 - 29

<details><summary><b>Crash log</b></summary><p>

[2020-02-17 09:10] cool-student commented on #1660
@Stypox so I checked what the notification look like on my LG G3 @ Nougat and I compared them to the vlc notifications (they also use mediastyle notifications) turns out they look pretty much the same so we can't improve the image size on the notifications.
But what I could do is fix the aspect ratio of the 16:9 image by turning it into a 1:1 image this should make the image look better.

@opusfor

[2020-02-17 09:20] wb9688 commented on #3103
I recommend using Intent Intercept (Dev tool to view inter-app communication) - https://f-droid.org/app/de.k3b.android.intentintercept for that

[2020-02-17 18:01] opusforlife2 commented on #1660
@cool-student Sure! A toggle to choose between them would be great. My thinking is that with songs and such I generally want to skip tracks. With Youtube videos I generally find myself wanting to rewind.

Is it possible to have the setting control which pair of buttons are shown _if_ there are multiple audios in the queue? Because it doesn't make sense to have the skip buttons if only a single aud

[2020-02-17 18:10] #3104 closed

[2020-02-17 20:30] XiangRongLin commented on #3105
Duplicate of #3045

[2020-02-17 20:49] #3105 closed

[2020-02-18 06:33] Preformer opened #3108 "[Feature Request] Playlist view with options to play/download it entirely"
Right now if we share a playlist it just starts playing the video's without asking. If we have to download a playlist we have to add each download separately.

[2020-02-18 06:51] B0pol commented on #1660
Wow they look nice 😊
I found one unwanted behavior, I guess: when a video in background is finished, it won't close the notification automatically (I tested with vlc, it auto-close).
The same thing happens with playlists.

And another thing, when the audio is loading, the download symbol is shown, it feels weird because we don't download but only load (technically it's still downloading data, but

[2020-02-18 12:36] Stypox commented on #3108
Duplicate of #2380 #1236

[2020-02-18 12:36] #3108 closed

[2020-02-18 12:46] Stypox commented on #1660
Buggy bebaviour: clicking on the download button blocks the notification (the video stops loading and no button works), and the only way to exit this strange situation is clicking the X button, that resets the notification.

[2020-02-18 12:52] Stypox commented on #1660
Also, the thumbnail is still not 1:1 in app-debug-v6
<img src="https://user-images.githubusercontent.com/36421898/74737423-1cf90100-5255-11ea-8106-1259ca53a909.png" width=300></img>

[2020-02-18 13:35] opusforlife2 commented on #1660
@B0pol

No no no no no that's not unwanted behaviour at all! When you finish watching a video, you can replay it without downloading anything because it gets cached. The same thing happens with the audio. While the notification stays, the audio stays in the cache, and can be replayed any number of times without incurring additional data costs. This is a feature, not a bug.

[2020-02-18 13:45] opusforlife2 commented on #3078
Well, after some more testing it turns out that the common factor in all these videos... was the fact that I used Bluetooth headphones instead of wired ones. (facepalm)

So there is no issue after all.

[2020-02-18 13:45] #3078 closed

[2020-02-18 14:14] RalfKo commented on #2755
I am looking for a "pocast like" app for YouTube, and in my eyes NewPipe lacks exactly the features mentioned in this here!
Most of all I would really like to have a "Autodownload of new uploads" feature per channel!
thx

[2020-02-18 18:03] Max1Truc commented on #539
Hey @theScrabi , I didn't read the full discussion so sorry if I waste your time... but NewPipe isn't available on the Play Store because it violates some Google legal advices on Youtube or something like that, right ? So maybe NewPipe copycats could be deleted on the Google Play Store by explaining that they violate Google's Terms of Use or any other thing...

[2020-02-18 23:41] Mercurial commented on #2818
why its not pirating or having adult content, I don't understand. this is basically a browser of videos

[2020-02-19 08:06] cool-student commented on #1660
Thank you guys for all the feedback so far.

@Stypox

good catch I try to fix it.

your first interpretations was correct the fix is in v6 so I'm confused why it doesn't work for you. Does your device not consider itself to be a part of <= Android N MR1 (API level 25) ? Have you tested it with more than 1 stream ? I could've sworn that it worked on my LG G3 @ Nougat...

@B0pol

as @opusforlife2 ex

[2020-02-19 08:16] B0pol commented on #1660
First, I think the cross button is better, because the user need to know the trick (pause and swipe).

Secondly, you should be able to add the shuffle button even with the cross. Look at spotify, they have like button + controls + cross.
https://i.ibb.co/fQBq0Qc/Screenshot-20200219-091301-Notes.png

[2020-02-19 08:20] cool-student commented on #1660
look at the picture again. there are only 5 buttons. that's also the number we are limited to, we already have `prev` `play/pause` `next` `repeatmode` `close`

[2020-02-19 08:25] cool-student commented on #1660
yeah this is true but vlc is also doing it ...

but yeah if people don't like it I'll keep it as is for now and maybe later I'll add a setting for the button layout or something like that

[2020-02-19 12:49] lepieru opened #3110 "[Feature request] Copy URL from info page"
The info page, in the top right menu, do not offer the feature to copy the URL.

I often open a video in the Web browser and then copying the URL from it when the "Share" button does not fit to my need, but it's kind of boring.

[2020-02-19 13:25] Stypox commented on #3110
This is an issue with many apps, just install "Share to Clipboard":
https://f-droid.org/app/com.tengu.sharetoclipboard

[2020-02-19 13:38] lepieru commented on #3110
@Stypox Thanks for the tip! :D

[2020-02-19 13:38] #3110 closed

[2020-02-19 14:26] #3084 closed

[2020-02-19 15:01] Stypox commented on #1703
Closing in favour of #1600

[2020-02-19 15:05] Stypox commented on #3018
Duplicate of #2606

[2020-02-19 15:05] #3018 closed

[2020-02-19 15:07] #1703 closed

[2020-02-19 15:23] #2224 closed

[2020-02-19 16:22] Stypox commented on #2225
Now fixed, or outdated bugreport anyway

[2020-02-19 16:22] #2225 closed

[2020-02-19 16:25] Stypox commented on #2098
This is a problem with youtube, and cannot therefore be solved, so I'm closing

[2020-02-19 16:25] #2098 closed

[2020-02-19 16:30] Stypox commented on #2878
Closing in favour of #2141. Pr open: #2968

[2020-02-19 16:30] #2878 closed

[2020-02-19 16:40] Stypox commented on #2888
I think this would be better done with a separate app that acts like e.g. bluetooth headphones, that is communicating media actions to the app (which can already be done afaik)

[2020-02-19 16:41] #2973 closed

[2020-02-19 16:47] Stypox commented on #3097
I have already seen a feature request about storing the queue, though I can't find it anymore ;-)

[2020-02-19 16:49] Stypox commented on #2739
Closing in favour of #3103

[2020-02-19 16:49] #2739 closed

[2020-02-19 16:50] Stypox commented on #3103
@garawaa

[2020-02-19 16:51] Stypox commented on #3106
Could you get more information about the webpage with the apk provided in #1816?

[2020-02-19 18:19] phly95 opened #3111 "Stylized subtitles do not display correctly."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

There's this cool tool https://github.com/arc

[2020-02-19 18:58] wb9688 commented on #3111
ExoPlayer only supports TTML, WebVTT, and CEA-608, the latter only embedded in a MP4. NewPipeExtractor defaults to TTML by default and I'm not sure what other subtitle formats YouTube offers. I also don't know what subtitles formats support styling.

[2020-02-19 19:44] jniniinoinoino opened #3112 "ReCaptcha crashes NewPipe v0.18.3"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

I use Orbot, I sometimes get ReCaptcha poppin

[2020-02-19 19:53] Stypox opened #3114 "Release v0.18.4"
### New
- Added language selector to change the app language #2921
- Added send to Kodi button to player collapsible menu #2310
- Added ability to copy comments on long press #3053

### Improved
- Fix ReCaptcha activity and correctly save obtained cookies #3035
- Remove dot-menu in favour of drawer and hide history button when "Watch history" is not enabled in settings #2960
- Ask for display over

[2020-02-19 19:55] Stypox commented on #3112
Try v0.18.4: #3114

[2020-02-19 19:55] #3112 closed

[2020-02-19 19:58] Stypox commented on #3114
@TobiGr should I also add [NewPipeExtractor changelog](https://github.com/TeamNewPipe/NewPipeExtractor/releases) here?

[2020-02-19 21:46] opusforlife2 commented on #1660
Thinking further, since there are 5 possible slots, the defaults should be ones which would see the maximum use. I suggest these options:
- Play/pause
- Rewind
- Forward
- Close
- Restart

Since Shuffle and Repeat are queue operations, and not track specific like the 5 above, they could be changed by opening the background player from the notification like normal. I don't recall seeing any app whe

[2020-02-19 22:05] B0pol opened #3115 "Comments are missing sort by new"
For YouTube, I think it would need (lots of) changes, unless someone find a link / parameter in url where it gives sorted by new, because we use Youtube mobile, as [said here](https://github.com/TeamNewPipe/NewPipeExtractor/blob/4bc5b8d33f4cf52925a02184870225fac490001a/extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeCommentsExtractor.java#L34).

For PeerTube

[2020-02-19 22:44] jhoc2000 commented on #3040
I've just started getting the same message after updating to 0.18.2. I've been able to send error reports before this and my mail server has not changed.

[2020-02-20 00:10] phly95 commented on #3111
As it turns out, YouTube uses its own unique .YTT format. So it may not be as simple as using an off-the-shelf tool.
There's a Reddit post that talks about it https://www.reddit.com/r/youtube/comments/ahater/undocumented_subtitle_format_discovered_and_boy/

https://fileinfo.com/extension/ytt here it says "Since the YTT format is not meant for public use, YTT files are rather obscure. Therefore, yo

[2020-02-20 01:07] garawaa commented on #3103
I just want to download songs by sharing to newpipe

[2020-02-20 05:06] aaazv commented on #3114
Do u have a telegram group?

[2020-02-20 05:09] aaazv commented on #3114
when will this bug of recaptcha get fixed?

[2020-02-20 05:24] garawaa commented on #3114
Please make it possible to download songs from soundcloud by sharing to
newpipe.

On Thu, Feb 20, 2020, 14:09 aaazv <notifications@github.com wrote:

[2020-02-20 05:38] wb9688 commented on #3103
@garawaa: Download that 'Intent Intercept' app, share a song in the SoundCloud app with 'Intercept the Intent', paste the URI it displays here and we'll add support for it.

[2020-02-20 06:17] Stypox commented on #3114
@aaazv no, we don't have a Telegram group, see #2965
Recaptchas have been fixed in this version. Please post here only new issues you find in the provided RC apk.

@garawaa that's not a new bug related to this release and to the provided RC apk, but is just a feature request. There are already issues open for it.

[2020-02-20 07:31] cool-student commented on #3114
@Stypox
I think we should merge https://github.com/TeamNewPipe/NewPipe/pull/3099 since it fixes a regression introduced in https://github.com/TeamNewPipe/NewPipe/pull/2959

[2020-02-20 08:45] 11fen opened #3116 "Content is not available"
![ppp](https://user-images.githubusercontent.com/44218055/74916065-296d8d00-5400-11ea-83d4-72a47df6b3ba.PNG)
Content is not available  （v0.18.3）
https://www.youtube.com/watch?v=qgDvlqgB5Jg

[2020-02-20 09:22] Suncatcher commented on #3106
@Stypox  this app-debug.apk is from the 5th of October. Is it still actual? Won't it introduce more bugs?

[2020-02-20 09:44] TobiGr commented on #3114
@Stypox No. Thank you for taking care of this release. I have a changelog file, but I am waiting for #3098 and #3099 before I push it. Btw, please create a new branch for a release as described [in the our docs](https://teamnewpipe.github.io/documentation/05_releasing/) next time. I forgot to point that out yesterday :)

[2020-02-20 12:36] Stypox commented on #3106
Mmmh maybe it crashes. I will try to provide a new apk when I have time. Please note that the apk's purpose is just that of crashing with more info, not actually fixing anything

[2020-02-20 12:38] Stypox commented on #3116
Duplicate of #2900

[2020-02-20 12:38] #3116 closed

[2020-02-20 13:40] cool-student commented on #3106
unfortunately this only happened to me once and I'm having a hard time reproducing it :/

[2020-02-20 14:29] cool-student commented on #1660
@opusforlife2

there are many use cases so it's not easy to decide; for example someone that listens to an eminem playlist would probably want prev and next to skip through tracks that he doesn't like and forward and rewind are useless in this case. (on Android 10 in particular forward and rewind become less important since you can just seek to a position)

being a queue operation doesn't mean muc

[2020-02-20 17:15] #3081 closed

[2020-02-20 17:43] okan35 opened #3118 "Couldn't decrypt url error"
{
   "user_action": "requested stream",
   "request": "https:\/\/www.youtube.com\/watch?v=ffi2jNPEEsE",
   "content_language": "GB",
   "service": "YouTube",
   "package": "org.schabi.newpipe",
   "version": "0.16.2",
   "os": "Linux Android 9 - 28",
   "time": "2020-02-20 17:41",
   "exceptions": [
      "org.schabi.newpipe.extractor.services.youtube.extractors.YoutubeStreamExtractor$DecryptExcep

[2020-02-20 17:48] wb9688 commented on #3118
Upgrade to v0.18.2 or newer

[2020-02-20 17:50] okan35 commented on #3118
I just got this error after updating from f-droid. and version is 0.18.2

[2020-02-20 20:32] opusforlife2 commented on #1660
Not for long enough videos. For those, tapping on the seek bar becomes very inaccurate - an annoying exercise in hunting for the correct timestamp - and the buttons become essential.

I knew I was forgetting something important when I wrote the comment! Yes. Previous and next are very essential for multiple items in the queue. Now I think the new defaults should be:

- prev rewind play/pause forwa

[2020-02-20 20:50] opusforlife2 commented on #3078
Just leaving this here for future searchers (https://xkcd.com/979/ ;) ). Turning the Bluetooth headphones off, then back on again fixes the lag.

[2020-02-20 23:42] aaazv commented on #3114
Can u tell me when will this be released?

[2020-02-21 01:04] Poolitzer commented on #2965
wanna chime in and say self hosted forum seems to be the way to go for you guys

[2020-02-21 01:05] Poolitzer commented on #3114
if you need it now, download the debug apk

[2020-02-21 02:55] kapodamy commented on #2640
@opusforlife2 try these one
[IDOL-9IVhjh15ofo-nodash.zip](https://github.com/TeamNewPipe/NewPipe/files/4233990/IDOL-9IVhjh15ofo-nodash.zip)

[2020-02-21 03:06] illustribe commented on #2977
Yes please I fully back this suggestion 👍
Otherwise it loses the real use of history logs ;)
Thank you!!

[2020-02-21 08:47] opusforlife2 commented on #2640
@kapodamy No luck, sadly. Same as before.

Do you think the Nokia I tested compensates for this error somehow? It has to be an OS level difference, because Vanilla uses Android's audio engine, not a custom one.

[2020-02-21 08:52] opusforlife2 commented on #3114
@aaazv Yep. As @Poolitzer said, you can use the debug APK if it's urgent. It will install separately from the main app, and you can continue to use the debug app until the new version is released officially.

[2020-02-21 09:04] opusforlife2 commented on #2965
@TheAssassin's choice of staying with IRC makes the most sense to me. Why give up legacy if it doesn't pose any concrete issues? You can access it directly, or bridge through XMPP/Matrix. Whatever floats your boat.

[2020-02-21 09:53] soshial commented on #2590
Probably, a relevant bug that I found for comments:
## BUG: "no comments" seen in NewPipe
(while THERE ARE COMMENTS on YouTube)

#### 1. On Youtube:

![Screenshot_20200221-074508](https://user-images.githubusercontent.com/100644/75023348-56717c80-54a0-11ea-8c79-7be7569e576e.png)

#### 2. On NewPipe:

![Screenshot_20200221-074531](https://user-images.githubusercontent.com/100644/75023359-5bcec700-5

[2020-02-21 11:33] opusforlife2 commented on #2970
@Kukulkan2019, if your problem is solved, please close the issue.

[2020-02-21 11:37] #2970 closed

[2020-02-21 11:38] opusforlife2 commented on #2934
I'm pretty sure it does. Copying my comment from #2673:

I had a thought: Is it possible that all these resolutions aren't loading because NPE is fetching the AV1 stream? The AV1 streams are generally much smaller than their VP9 and H.264/AVC counterparts. (Sometimes, ridiculously so. I saw a video where a 60 FPS AV1 was less than half the size of a 30 FPS VP9 at the same resolution!)

[2020-02-21 12:04] #2975 closed

[2020-02-21 13:15] #3118 closed

[2020-02-21 13:37] cool-student commented on #1660
@opusforlife2

you're right I was thinking about short tracks like music.

I think your overall suggestion sounds good so I will use the mx player layout for the next build.

---

There are still a few things that I need to fix so the new "notification slot settings" might not make the next build. As soon as I am done with the code refactoring (only code changes to make the code more readable and

[2020-02-21 13:52] Stypox commented on #2590
@soshial please open a different issue ;-)

[2020-02-21 20:29] #1132 closed

[2020-02-21 20:29] #2894 closed

[2020-02-21 20:29] #3025 closed

[2020-02-21 20:39] B0pol commented on #1558
@Stypox can you reopen this issue and close #1588 ? My bad

[2020-02-21 21:01] #1588 closed

[2020-02-21 21:01] AlbahrawyTiger opened #3121 "Add option to reduce thumbnail resolution"
It consumes a lot of data to download the video and thumbnails page. Please put an option to reduce the quality of the thumbnails

[2020-02-21 21:12] gkeegan commented on #3121
Please change issue name to "Add option to reduce thumbnail resolution" or similar. I'm not entirely sure that doing this is possible, since I don't know if YouTube provides different sizes. In the meantime, you can try disabling loading thumbnails entirely.

[2020-02-21 22:01] Stypox commented on #3121
@gkeegan YouTube provides different sizes, but the extractor only extracts the one with the highest resolution

[2020-02-21 22:14] TobiGr commented on #3121
I though about this while working on the extraction of the new YouTube version, too. I think we should extract all thumbnails and let the client decide which thumbnail to load.

[2020-02-21 22:15] wb9688 commented on #3121
@TobiGr: I was just about to reply the same thing.

[2020-02-21 22:19] B0pol opened #3122 "Recurrent weblate issue with a string"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

Plural string ``videos`` keeps changing from

[2020-02-21 22:43] B0pol commented on #3121
### about peertube extractor

[This line](https://github.com/TeamNewPipe/NewPipeExtractor/blob/4bc5b8d33f4cf52925a02184870225fac490001a/extractor/src/main/java/org/schabi/newpipe/extractor/services/peertube/extractors/PeertubeStreamExtractor.java#L62) give the highest quality.

For lower quality, use ``thumbnailPath`` instead.
Also, [on this line](https://github.com/TeamNewPipe/NewPipeExtractor/bl

[2020-02-22 00:21] kapodamy commented on #2640
@opusforlife2 no sure but yes

[2020-02-22 00:45] ofiala-a51 opened #3123 "Feature request: add MP3 to download options"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

The title says it all. MP3 is the most widely

[2020-02-22 00:55] ofiala-a51 opened #3124 "Feature request: add "reset playback progress" option"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

When "resume playback" option is enabled, thi

[2020-02-22 02:58] aaazv commented on #3114
A problem.

As I close every app as "kill foreground app", whenever I try to open a utube video with newpipe again, the video doesnt come the first time. the forst attempt, the app shows up on the default page, what ever it is, then u have to click on the link again to see the video in newpipe.
I checked this woth official app and its not like this.

This bothers a little.
Another thing is that th

[2020-02-22 04:21] Poolitzer commented on #3114
How do you try to open it.

[2020-02-22 04:37] aaazv commented on #3114
By searching a video in google and clicking on a vid coming up in search results. Then it asks me to open woth chrome or newpipe, I choose newpipe.

This way, first the app starts without showing the content I want.

[2020-02-22 04:37] aaazv commented on #3114
By searching a video in google and clicking on a vid coming up in search results. Then it asks me to open woth chrome or newpipe, I choose newpipe.

This way, first the app starts without showing the content I want.

[2020-02-22 05:21] rahuldeshwal21 opened #3125 "filter by days and year in youtube search result excite in m.youtube.com websites."
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.
![Screenshot_20200222-103143_Chrome](https://u

[2020-02-22 05:50] wb9688 commented on #3123
We only provide the formats that YouTube (or other services, like SoundCloud) offer. YouTube doesn't offer MP3, so we don't either. If your request is to convert a file you've downloaded to MP3, I think there's already an issue for that, but that's unlikely to be implemented.

[2020-02-22 06:54] soshial opened #3126 "Single comments (that exist on Youtube) not shown in NewPipe"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

## BUG: "no comments" seen in NewPipe
(while

[2020-02-22 06:57] soshial commented on #3071
I also had the problem with notification not closing fast enough in v18.3.

[2020-02-22 06:58] soshial commented on #2590
Opened https://github.com/TeamNewPipe/NewPipe/issues/3126 and deleted the comment here.

[2020-02-22 07:56] B0pol commented on #3126
On www.youtube.com you can't see it unless you sort by new. And on m.youtube.com you can't sort by new.
I don't think something can be done, it's a youtube bug.

[2020-02-22 08:22] Stypox commented on #3114
@aaazv is this a new bug introduced by this release? If not, please open a new issue

Anyway, we would need the device model and OS, and it would help if you intercepted the "open" intent using Intent Intercept: https://f-droid.org/app/de.k3b.android.intentintercept

[2020-02-22 08:43] opusforlife2 commented on #3114
GUYS! REGRESSION!

I thought this setting would replace the dot menu with the drawer everywhere. Turns out that it just removes the dot menu. The drawer is only accessible from the home screen.

If you must remove the dot menu, please make the drawer accessible from all screens.

[2020-02-22 08:47] B0pol commented on #3114
I don't think you need to access settings everywhere, why would you?

I've watched the behavior on some other app, and all are the same : you can only access drawer on main page. If you are in a subactivity (ie there is a back button in appbar), you can't access settings.

[2020-02-22 08:49] opusforlife2 commented on #3114
Not true. Play Store > My apps & games has the back button, yet the side drawer is accessible.

Anyway, why would you want to take functionality _away_ from the user?

[2020-02-22 08:55] Stypox commented on #3124
If you press "Enqueue in the background" this currently does what you said, i.e. it resets the playback progress. Is that ok? I don't think it would be a good idea to add yet another option to the long-press menu, because every user needs a different combination of different options and the menu would become too crowded and inconvenient to navigate

[2020-02-22 08:56] Stypox commented on #3125
Duplicate of #110 and #2251

[2020-02-22 08:56] #3125 closed

[2020-02-22 08:57] Stypox commented on #3123
Duplicate of #507

[2020-02-22 08:57] #3123 closed

[2020-02-22 09:07] Stypox commented on #3114
@TobiGr what should we do about this menu issue? The only button needeed from everywhere is probably "Settings".

[2020-02-22 09:12] opusforlife2 commented on #3114
I think there is nothing wrong with the direction this is going in. If you were to ask me what I preferred, dot menu or sidebar, I would choose sidebar. Is it difficult to make it accessible on other screens?

[2020-02-22 09:25] opusforlife2 opened #3127 "[Bug] Seek duration of 5 seconds makes audio rewind impossible"
- [x] I checked if the issue/feature exists in the latest version.

- Set the seek duration to 5 seconds.
- Play an audio till 30 seconds or so.
- Try rewinding.

It will do so once until the timestamp is a multiple of 10 seconds. Then tapping rewind just keeps taking you to that timestamp, not allowing you to go further back.

If you rapidly jam the rewind button, though, you overcome this 'barri

[2020-02-22 10:08] gillhash commented on #3114
But, why dot menu is being removed in first place, a function that i use routinely.

.. a dot menu one touch away is so helpful.

[2020-02-22 10:19] Stypox commented on #3114
I found an issue in this release: pressing "Switch to Popup" in the background player queue activity generates a crash. I tried to look into it but  I was not able to understand why this happens and how to fix it. Switching to MainPlayer works, and switching from MainPlayer to other players works.

## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Language:_

[2020-02-22 10:22] opusforlife2 commented on #3114
Confirmed.

[2020-02-22 10:39] Stypox commented on #3127
@XiangRongLin could you look into this? ;-)

[2020-02-22 10:40] XiangRongLin commented on #3127
@Stypox Will do

[2020-02-22 10:53] XiangRongLin commented on #3127
@opusforlife2 Could it be that you have "Use fast inexact seek" on?

[2020-02-22 11:03] opusforlife2 commented on #3127
@XiangRongLin Yep.

[2020-02-22 11:21] XiangRongLin commented on #3127
If i understood it correctly, this is just the way exo player works when using inexact seek.
According to this article (https://medium.com/@takusemba/deep-understanding-of-seek-4e10079165ec), it just seeks to the closes sync point with the current config [here](https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/main/java/org/schabi/newpipe/player/helper/PlayerHelper.java#L206), which appears

[2020-02-22 11:34] opusforlife2 commented on #3127
I was guessing it would be something like that.
It does indeed ignore anything modulo 10. Good find.

Why is it that it only happens with audio, though? This works perfectly well for videos.

[2020-02-22 11:37] XiangRongLin commented on #3127
My guess would be that the sync points are different. Like the article mentioned those sync points depend on your media type and streaming protocol

[2020-02-22 11:44] opusforlife2 commented on #3127
Strange. The article mentioned streaming protocol and container format. They should both be the same for audios as well as videos + audios.

[2020-02-22 12:12] soshial commented on #3126
I see. Maybe it is possible to pass some GET parameter to sort them "by new"? I thought that NewPipe uses some Youtube API, but turns out, it parses Youtube webpage for info, right?

[2020-02-22 12:16] B0pol commented on #3126
See #3115. Basically, for Youtube comments we use mobile website. There are no options shown on youtube website to sort by new, so maybe it's hidden and we should find it, maybe it's not available and would need more work to switch to desktop website.

[2020-02-22 14:02] ofiala-a51 commented on #3124
Oh, I never noticed this difference between "start playing in the background" and "enqueue in the background". Maybe it should be made more visible to the user?

[2020-02-22 14:11] TobiGr commented on #3114
Uh. I guess this was introduced by #2917. I'll look into it tonight :(

[2020-02-22 16:18] opusforlife2 commented on #2513
@Stypox Close?

[2020-02-22 16:26] opusforlife2 commented on #2635
@Stypox Opinion?

[2020-02-22 17:52] Stypox commented on #2513
This still happens on really slow devices, I think @opusforlife2

[2020-02-22 17:55] Stypox commented on #2635
I agree with you, using the file browser to do file-related actions is a good idea: it means there are less (device-specific) features to maintain in NewPipe, and also gives more options

[2020-02-22 18:30] B0pol commented on #3106
Reproduced it. It didn't amke the app crash though, I had no results and error at the bottom

## Exception
* __User Action:__ searched
* __Request:__ pewdiepie break
* __Content Language:__ FR
* __GMT Time:__ 2020-02-22 18:28
* __Package:__ org.schabi.newpipe.debug
* __Version:__ 0.18.3
* __Service:__ YouTube
* __Operating System:__ Linux Android 8.1.0 - 27

<details><summary><b>Crash log</b></sum

[2020-02-22 18:53] opusforlife2 commented on #2635
Is it something that can be easily added? If it's simple enough, I could try doing it.

[2020-02-22 19:00] aaazv opened #3129 "Share to newpipe menu does not open at first click on link"
- [no] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [no ] I checked if the issue/feature exists in the latest version.
- [ dont know what is] I did use the [incredible

Im not a pro user who knows much about bug report and etc.

A problem.

As I close every app as "kill foreground app", whenever I try

[2020-02-22 19:01] aaazv commented on #3129
My device is s10+ android 10.
But had the same issue with note 4 android 6.

So I believe its not related to device or android version

[2020-02-22 19:11] Stypox commented on #2635
Yeah, it should be rather simple to add a button that shows a file in the file explorer

[2020-02-22 19:34] Stypox commented on #3129
You should read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and check whether the issue already exists before opening one.

Anyway, thank you for opening a detailed issue ;-)

[2020-02-22 19:37] aaazv commented on #3129
You welcome mate.
Its been a year that Ive been waiting for an update which fixes this.
As saw no results, thought maybe its better to post it here.

Will u try to fix it? :)

[2020-02-22 19:45] Stypox commented on #3129
Could you provide the device model and OS?
Also, since I can't reproduce this it would be useful if you intercepted the "open" intent using "Intent Intercept": https://f-droid.org/app/de.k3b.android.intentintercept

[2020-02-22 19:47] TobiGr commented on #3114
I reverted ef90493c27af898d8e79adbb5e8d449ef5d0ae35 partly in 0bc769b9714db1fa163b41d07d52f6f1a2adfcaa. This fixes the crash for me, but does not introduce the old buggy behaviour. Here is the last RC for this release: [NewPipe_v0.18.4_RC3.zip](https://github.com/TeamNewPipe/NewPipe/files/4239845/NewPipe_v0.18.4_RC3.zip)
CC @opusforlife2 @Stypox

[2020-02-22 19:57] Stypox commented on #3114
Mmmh, strange, we will have to look into this after the release... Anyway, the apk works for me, thanks for looking into it :-).

[2020-02-22 20:30] opusforlife2 commented on #3114
Confirmed. Crash fixed. Release time!

[2020-02-22 20:43] opusforlife2 commented on #2635
Never mind. I had a look. I don't even know what file to modify. I thought it was DownloadActivity.java, but the more I stare at it, the more unsure I become.

[2020-02-22 20:55] dodobar opened #3130 "Player speed"
Hello, is it possible to set a default video playback speed?

[2020-02-22 20:59] opusforlife2 commented on #3114
By the way, @Stypox I downloaded mauricio's PR 2309 apk. He renamed the package. If you could encourage other PR authors to rename their apks as well, we could test multiple apks side by side without having to  go through the hassle of uninstalling and reinstalling.

[2020-02-22 21:03] TobiGr commented on #3114
@opusforlife2 Good idea. We might want to add this information to the contribution guidelines and to the pull request teplate. Btw.. we should also create more issue templates. One for bug reports and one for feature requests

[2020-02-22 21:05] Stypox commented on #2635
There should be a menu for the download activity, and you can deduce the class where it's being used using "Find usages (Alt+Shift+F7)". Also, you could find a string related to the download activity in strings.xml and find its usages

[2020-02-22 21:08] Stypox commented on #3130
Duplicate of #1536 and a better solution would be #1823

[2020-02-22 21:08] #3130 closed

[2020-02-22 21:11] Stypox commented on #3114
Yeah, great idea. What about adding a ".branchname" at the end of the app signature, only if the current branch name is not "master" or "dev"? Also, we could set the app name to "NewPipe branchname" with the rules above. This should be doable with gradle.

[2020-02-22 21:14] Poolitzer commented on #3114
@tobiGR I wanted to do those templates anyway, can do that in a bit (after I updated the blog post)

[2020-02-22 22:12] Poolitzer opened #3131 "Issue templates"
I will create templates for bug reporting and enhancements as well as updating the one for PRs

[2020-02-22 22:57] TobiGr commented on #3114
New version is released.

[2020-02-22 22:57] #3114 closed

[2020-02-22 23:22] B0pol commented on #3114
Why you mentioned [the custom F-Droid repo](https://archive.newpipe.net/fdroid/repo?fingerprint=E2402C78F9B97C6C89E97DB914A2751FDA1D02FE2039CC0897A462BDB57E7501) on [reddit only](https://www.reddit.com/r/NewPipe/comments/f800fa/newpipe_v0184_released/)? That's neat :rocket:

[2020-02-22 23:36] #1536 closed

[2020-02-23 00:06] B0pol commented on #2635
Also, really useful shortcut: ctrl shift F, it's like ctrl F but for the whole android studio project (so for newpipe, project is newpipe)

[2020-02-23 08:13] opusforlife2 commented on #2635
Okay. I was looking through Github. I didn't know you were talking about Android Studio, Stypox. B0pol cleared that up. So I forked and cloned the repo in Android Studio.

Everything was going fine, then something called Gradle sync started. Eventually, it showed this error:

`NDK Resolution Outcome: Project settings: Gradle model version=5.4.1, NDK version is UNKNOWN`

What should I do?

[2020-02-23 08:16] wb9688 commented on #2635
@opusforlife2: Is that actually an error? We don't even use the NDK afaik. Check if you could successfully build it (with that button at the top-right), and if so, just ignore that.

[2020-02-23 08:31] opusforlife2 commented on #2635
@wb9688 Which button? There is a Build menu. If I click on Make Project, nothing happens.

[2020-02-23 08:32] gillhash commented on #3097
+1 for this

[2020-02-23 08:36] wb9688 commented on #2635
@opusforlife2: The green hammer. It should say something about your build progress on the bottom. Btw if you connect your phone and enable adb on it, you could press the green play button to also install your compiled app and run it.

[2020-02-23 08:37] opusforlife2 commented on #2635
The green hammer is Make Project. As I said, it doesn't do anything.

[2020-02-23 08:46] gillhash commented on #2881
One more here
https://youtu.be/Liw-n_L0RG8

[2020-02-23 08:58] gkeegan commented on #2881
@gillhash what version are you using? That video plays fine for me and can start a download fine on 0.18.3.

[2020-02-23 09:00] gillhash commented on #2722
+1

[2020-02-23 09:13] gillhash commented on #2683
Another example:
https://youtu.be/Liw-n_L0RG8

(MPEG-4) 360p & 720p will never load keeps spinning with msg "could not play stream"
Webm 720p loads though alongwith lower formats. Interestingly no Webm 360p option shows after selecting Webm.

[2020-02-23 09:13] Stypox commented on #2635
@opusforlife2 that's not an error, you can just ignore it. The green hammer builds the project, but your project is probably already built, hence it does nothing.
Android Studio should work fine in the situation you are in: on the left open the Project bar (if it's not already open) and e.g. navigate to strings.xml by following this path in folders: "app->res->values->strings->strings.xml" . Then

[2020-02-23 09:16] Stypox commented on #2722
@PeterHindes https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/main/java/org/schabi/newpipe/player/BackgroundPlayerActivity.java

[2020-02-23 10:02] gillhash commented on #2881
Video in question is live stream later uploaded video. This doesn't play in these formats:
MPEG-4 360p & 720p even with Latest 0.18.4 or 0.18.3 NewPipe.
It plays in Webm 720p. See also..
https://github.com/TeamNewPipe/NewPipe/issues/2683#issuecomment-590047997

[2020-02-23 10:24] AlbahrawyAlalimi commented on #3121
Not only is the problem with thumbnails, but when thumbnails are disabled, a lot of data is still used to load the video page itself.

[2020-02-23 10:35] AlbahrawyAlalimi commented on #3121
Not only is the problem with thumbnails, but when thumbnails are disabled, a lot of data is still used to load the video page itself

[2020-02-23 10:57] Stypox commented on #3121
That can't be reduced, it's just the page size provided by YouTube, so we can't change it...

[2020-02-23 13:09] mehedihasanziku opened #3134 "Non Authorized Apps Captcha Verification"
- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [ ] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

![Screenshot_2020-02-23-19-02-26](https://use

[2020-02-23 13:14] mehedihasanziku commented on #3106
Yes, true, it's happened with data network connection & when low internet connectivity. Though i can't reproduce that issue, i will open issue with log or update here when i will face it again.

[2020-02-23 13:25] wb9688 commented on #3134
What version of NewPipe are you using? This issue should be fixed in v0.18.4.

[2020-02-23 13:27] mehedihasanziku commented on #3134
[
![Screenshot_2020-02-23-19-26-09](https://user-images.githubusercontent.com/48652123/75112864-722c7c80-5672-11ea-9c44-1990fa0d5df9.png)
](url)

You can see. It should be fixed.

[2020-02-23 14:18] opusforlife2 commented on #2635
Analysis so far: I think the menu shown for each downloaded file takes entries from mission.xml and strings from strings.xml, and the file URI is known to the StoredFileHelper class in StoredFileHelper.java, which is used by DownloadMission.java and then FinishedMission.java.

But I have no idea how those xml entries are being used to populate the menu. And I don't know which method is creating th

[2020-02-23 14:20] opusforlife2 commented on #2635
By the way, in my Android Studio, all 6 icons to the left of "Attach debugger to android process" are greyed out. I went with the default setup, but I think I need to install or set up something more.

[2020-02-23 15:22] surrodox2001 opened #3135 "Make drawer accessible from every activity"
Probably related to #3128, could you add other options like downloads to (now-gone) app bar?
IMO this can make navigation bit faster.

Or a potentially better way, adding an option to the settings to return UI back to pre-0.18.3 design?

[2020-02-23 17:27] mehlon opened #3136 "Use Tor Browser's User Agent"
In order to protect user privacy and resist browser fingerprinting, the [Tor Browser](https://www.torproject.org/) uses a single user agent string for all users regardless of platform or version. I think it makes sense to use whatever user agent the Tor Browser uses in NewPipe as well, since it lets users blend in more, especially if they use Orbot to connect (https://github.com/TeamNewPipe/NewPip

[2020-02-23 17:44] Stypox commented on #3134
Have you solved the captcha and clicked Submit, before tapping the Done button?

[2020-02-23 17:46] Stypox commented on #2635
No, it should work out of the box, I never had to do anything on any NewPipe repo

[2020-02-23 17:51] mehedihasanziku commented on #3134
Yes, Solved Captcha > Submit > Done.

But I am now closing this thread, because captch issue resolved automatically, i will re-open this thread if it appears again.

[2020-02-23 17:56] opusforlife2 commented on #2635
Can you try to rename/backup your project and clone the repo afresh through Android Studio? Everything was going fine until I hit the gradle sync error regarding the NDK.

[2020-02-23 18:16] karkaminski commented on #2876
Sorry for delay guys.
I've implemented mute button in some places. I am wondering where else i should put it, so any advice/suggestions would be much appreciated. Check below screenshots. White icon = video is muted.
1. Main player
![Screenshot_1582480302](https://user-images.githubusercontent.com/44138626/75117252-1e209880-5670-11ea-8dc5-2ea9c6058a43.png)
![Screenshot_1582480331](https://user-ima

[2020-02-23 18:23] wb9688 commented on #2876
@karkaminski: Do not put it in notifications, as we'll move to Android's standard media notifications, where that won't be possible.

[2020-02-23 18:45] RickyM7 commented on #2876
@karkaminski

[2020-02-23 18:54] RickyM7 commented on #2876
@karkaminski For me it's great, but if it won't work if it is in the notifications, as the friend said above, then I think you could add the mute button directly in that part where we control the list in the background. Anywhere in that area marked in orange the mute button would be fine.
![IMG_20200223_153737](https://user-images.githubusercontent.com/24703825/75117936-b01aa800-5654-11ea-9b4c-8e1

[2020-02-23 19:07] gkeegan commented on #3136
Would this cause any more captchas?

[2020-02-23 19:35] Stypox commented on #2635
I did that just a week ago, so that can't be the issue...
Could you send a screenshot of AndroidStudio while it's not working?

[2020-02-23 19:37] aaazv commented on #3129
I did, on the second msg

[2020-02-23 19:54] aaazv opened #3137 "Seek with swipe"
Sorry for this. Wanted to post this as pull request but didnt know how to :/

I wanted to ask for seek with swipe gestures.

Thanks :s

[2020-02-23 20:19] mehlon commented on #3136
I don't get any reCAPTCHA prompts when accessing YouTube from the Tor Browser.
So I think not. Especially since Tor Browser has a very generic user agent that tends to line up with the latest Firefox ESR on Windows 10:
`Mozilla/5.0 (Windows NT 10.0; rv:68.0) Gecko/20100101 Firefox/68.0`

[2020-02-23 20:21] Stypox commented on #3135
@TobiGr apparently it was a bad idea to remove menus from everywhere, they should probably be reintroduced. The only place that should stay without menus is the main page, where the drawer is openable.

[2020-02-23 20:33] gillhash commented on #3135
Yes, agree with you @Stypox we should  revert changes ,  as most users are accustomed to it.

[2020-02-23 20:37] Stypox commented on #2876
@RickyM7 since it would be a feature used very rarely by just a few users it would be better to add it to the dot menu, IMO

[2020-02-23 20:38] Stypox commented on #3129
@aaazv could you provide the intent content from the app?

[2020-02-23 20:39] Stypox commented on #3137
Duplicate of #889

[2020-02-23 20:39] #3137 closed

[2020-02-23 20:56] RickyM7 commented on #2876
@Stypox It will indeed be a rarely used feature, but it is still a good one. And for me I think that it doesn't matter where the button is, as long as it works, whether in notifications or anywhere else. (Sorry for my bad English.)

[2020-02-23 20:58] opusforlife2 commented on #3135
I still maintain that having the drawer instead of the 3 dot menu everywhere except a few screens is the better way to go. It gives the user immediate access to a wider variety of menus and options.

Why should the user have to back out all the way to the home screen if they feel like having a glance at their Bookmarked Playlists, for example?

[2020-02-23 20:59] Stypox commented on #3135
Adding the drawer would force us to remove the back button though

[2020-02-23 21:02] wb9688 commented on #3135
@Stypox: No, look at how you could still access the drawer by swiping at for example the 'My apps & games' screen in the Play Store

[2020-02-23 21:15] opusforlife2 commented on #3135
https://github.com/TeamNewPipe/NewPipe/issues/3114#issuecomment-589933918 Mwahahaha

[2020-02-23 21:20] Stypox commented on #3135
@opusforlife2 my bad, I missed that comment ;-)

[2020-02-23 21:27] opusforlife2 commented on #2635
Here you go:
![Capture](https://user-images.githubusercontent.com/53176348/75120360-1d453200-5683-11ea-8c12-11d3ad61fd61.PNG)

[2020-02-23 21:35] B0pol commented on #2635
I also have NDK warning, this is not a problem. It's something else.
In add configuration, what happens?
Normally, you should select module "app".

Also, you can search for the issue:
https://www.qwant.com/?q=no%20value%20has%20been%20specified%20for%20this%20provider&client=opensearch&r=GB.

[2020-02-23 22:17] opusforlife2 commented on #2635
🤦‍♂

While trying random things, I tried to Build > Make Module Newpipe, which led to the error that android SDK-28 wasn't installed. After installing that, gradle magically began to sync. That took a few years to finish, and now I can finally build the app.

[2020-02-23 22:36] opusforlife2 commented on #2635
Congratulations to me. I have a non functional download item entry "Open folder". Now to figure out how to make it work. 👀

[2020-02-23 22:56] aaazv commented on #3129
Alright.
Ive installed the app that u gave me the link of it.
Now how to do what u ask for?

[2020-02-23 23:08] karkaminski commented on #2876
I gave it a try. It doesn't look cluttered. What you think?
![Screenshot_1582498746](https://user-images.githubusercontent.com/44138626/75121986-c26b0500-5699-11ea-8359-0e9e7f9b720b.png)
![Screenshot_1582498750](https://user-images.githubusercontent.com/44138626/75121988-c434c880-5699-11ea-9e01-ba6d2a427215.png)
![Screenshot_1582499038](https://user-images.githubusercontent.com/44138626/75121990-c

[2020-02-23 23:12] RickyM7 commented on #2876
@karkaminski In my opinion, this is wonderful.

[2020-02-24 00:42] Stypox commented on #3129
Open the urls you wanted to open in newpipe and send them to that app instead, it should provide you some information

[2020-02-24 02:05] JYNxYoshii opened #3138 "Feature Request: Newest videos within <x> timespan from Subscriptions."
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

While I know this has been brought up before,

[2020-02-24 03:32] aaazv commented on #3129
intent://m.youtube.com/watch?v=XGmBP33Cl-o#Intent;scheme=https;category=android.intent.category.BROWSABLE;launchFlags=0x17400000;i.org.chromium.chrome.browser.referrer_id=5;S.com.android.browser.application_id=com.android.chrome;end
------------
ACTION: android.intent.action.VIEW
DATA: https://m.youtube.com/watch?v=XGmBP33Cl-o
URI: intent://m.youtube.com/watch?v=XGmBP33Cl-o#Intent;scheme=https;cat

[2020-02-24 03:34] aaazv commented on #3129
Have I done it right?
Im not sure if I have explained well what I exactly meant by reporting this bug.

Can u tell me if it was clear or not?

[2020-02-24 03:46] aaazv commented on #3129
[Uploading 20200224_071244.mp4…](In this video, I've tried two times to open newpipe right after killing it from the base to show u what I mean.The third time, didnt kill the app. so as it was open, it loaded the video.

This doesnt happen with youtube original app and even if I kill the app from base, it loads the video correctly

[2020-02-24 03:59] gkeegan commented on #3129
Your video doesn't seem like it finished uploading btw.

[2020-02-24 04:05] aaazv commented on #3129
Here is the video

[2020-02-24 05:21] treble2019 commented on #2730
I mean in my hdpi resolution phone with BEZELS -  landscape mode has difficulties to scroll video. May be everyone is modern with bezelesss phones :-(

Vlc also have a reasonable padding. Please view a video in vlc and check. Thank you

[2020-02-24 09:49] Gymcap opened #3139 "Feature Request: Custom column amount for grid view subscriptions"
Would it be difficult to make the grid view icons scalable to fit a custom column amount? I would personally go up to four to six columns comfortably if my home screen is any indication, and I'm sure others could say the same.

If you have no idea what I'm talking about:

In "Settings > Appearance" you can enable grid view for subscriptions, but it only allows two columns in portrait mode.

[2020-02-24 12:11] Stypox commented on #3139
You can increase the number of things on your screen by changing this setting: `Android settings -> Developer Options -> Smallest width`

[2020-02-24 13:57] TobiGr commented on #2730
@treble2019  Please post a screenshot

[2020-02-24 16:38] jniniinoinoino commented on #3136
Let me shine some light. I use Orbot daily and I can say that recaptchas do appear because one IP addess is being used by many people and Google will request captchas eventually. I usually just press New Identity(new IP address) and it works fine again without captchas popping up. Sometimes I have to retry with a few IPs before it works.

But with your request to change the user agent won't really

[2020-02-24 21:33] MyLogins commented on #226
Please reopen this issue, its still (or again) existing.

[2020-02-25 00:15] aaazv commented on #3129
@Stypox

Will this be fixed in the next update pls?

[2020-02-25 04:13] aaazv opened #3140 "Video doent play on other resolutions"
https://gofile.io/?c=vvYhS7

Check this video I recorded for complete info.
This happens a lot of times with many videos.

Made me think for a long time that newpipe doesnt work untill thought about changing the reso!

[2020-02-25 08:05] Stypox commented on #3140
Duplicate of #2673 and others

[2020-02-25 09:09] #3140 closed

[2020-02-25 09:12] Stypox commented on #3129
@aaazv I will try my best to fix this, but I can't reproduce as of now. Does something different happen if you change `Settings -> Video & audio -> Preferred 'open' action` to `Always ask`?

[2020-02-25 09:17] Stypox commented on #3138
Duplicate of #739 and #822
Fixed by #2309

[2020-02-25 09:17] #3138 closed

[2020-02-25 09:50] soshial commented on #2297
I have the same problem with this video: https://www.youtube.com/watch?v=UPq1LDxL5_w
MPEG-4 works nicely, all WEB-M choices do not work.
NewPipe v18.4 on Google Pixel 2

[2020-02-25 10:42] aaazv commented on #3129
Tried, no changes in the behavior.On Feb 25, 2020 12:42, Stypox <notifications@github.com> wrote:@aaazv I will try my best to fix this, but I can't reproduce as of now. Does something different happen if you change Settings -> Video & audio -> Preferred 'open' action to Always ask?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-25 10:52] Gymcap commented on #3139
That doesn't quite fix the issue I'm facing. I'm aware of dpi tweaks; hopefully it help others with scaling issues.

[2020-02-25 13:38] KonoromiHimaries commented on #664
good idea is use a peertube https://github.com/Chocobozzz/PeerTube/issues/2410#issuecomment-574281081 as cdn or embark, as selfhosted serverless solution https://github.com/embarklabs/embark like cdn https://github.com/Chocobozzz/PeerTube/issues/2115#issuecomment-535620939

[2020-02-25 13:39] Poolitzer commented on #3136
Uhm yes they can? You can actually set your own user agent in a lot of browsers. And what @mehlon suggested makes sense. It would blend in with the TOR users and be less traceable if the current agent is smth more specific to an/this android application. Its a nice feature privacy wise

@gkeegan they will be mostly based on IPs and cookies and how you access the web. I dont think they will discrim

[2020-02-25 14:11] Suncatcher commented on #3106
The same happens on 0.18.4. The problem persists

![photo_2020-02-25_16-08-10](https://user-images.githubusercontent.com/6388034/75254524-27814080-57e9-11ea-98cb-7620e8f125a8.jpg)

## Exception
* __User Action:__ searched
* __Request:__ настоящее время
* __Content Language:__ GB
* __Service:__ YouTube
* __Version:__ 0.18.4
* __OS:__ Linux xiaomi/onc/onc:9/PKQ1.181021.001/V11.0.2.0.PFLMIXM:user/rel

[2020-02-25 14:20] wb9688 commented on #3106
@Suncatcher: Does this issue also happen with https://send.firefox.com/download/5b21cf1361768659/#NUmIIvWTZ1Lwr2D3CK6L7w? That's a build of NewPipe that parses YouTube's new website. That build isn't ready yet, so there are other issues with it, but if this issue doesn't happen there, this issue could be closed.

[2020-02-25 14:22] KonoromiHimaries commented on #664
https://github.com/TeamNewPipe/NewPipe/issues/1349

[2020-02-25 14:23] KonoromiHimaries commented on #1349
https://github.com/TeamNewPipe/NewPipe/issues/664

[2020-02-25 14:32] KonoromiHimaries commented on #1435
as cdn https://github.com/TeamNewPipe/NewPipe/issues/664#issuecomment-590871075

[2020-02-25 16:15] aaazv commented on #2673
The videos dont play in other resolutions than 360p and also dont work with other formats

[2020-02-25 20:47] jniniinoinoino commented on #3136
@Poolitzer Sorry to hear from you. It really makes me sad how uneducated you are in this subject. Btw Tor ISN'T spelled TOR. Maybe you should read the documentation first.

Of course I would have to explain myself because you had to quote me. You CAN, but you shouldn't. If you're grabbing vids with a specific UA. What in the world would that provide any type of anonymity?!?!?!?!?!?!? Explain pls.

[2020-02-25 20:58] Poolitzer commented on #3136
Yes, I am vastly uneducated, first one to admit it.

I think OPs idea was to use the same agent as tor, because it is a) an agent which doesnt give away much and b) would be more wildly used so you cant identify NewPipe users based on it. As I have learned from NewPipeExctractor#258 though we apparently need to send a specific one to request json we can work with anyway, sooo....

[2020-02-25 21:34] opusforlife2 commented on #2635
@Stypox I've searched online and people struggle to find ways to pass an intent to file managers to open a folder. Android doesn't provide a standard intent. Someone should alert Google about this.

Basically I've taken on an impossible task that even the Syncthing guys are struggling with. Unless you or anyone else here knows of a way to do this, I'm out of ideas.

[2020-02-25 21:36] wb9688 commented on #2635
@opusforlife2: Use SAF or our internal file picker, depending on what option the user chose in the settings.

[2020-02-25 22:14] avoidr commented on #3136
I am an expert on this topic, and I propose this user-agent string: "W3C standards are important.  Stop fucking obsessing over user-agent already."
See this article from almost 20 years ago: http://linuxmafia.com/faq/Web/user-agent-string.html

Nobody is talking about anonymity.

So everyone using Firefox 68 on WinNT 10 is just stupid.

[2020-02-25 22:17] opusforlife2 commented on #2635
@wb9688 The idea was to foist the functionality off on the user's installed file explorer, as Stypox says here:

I thought that would be a nice little thing to have. Apart from that, this feature request doesn't make sense, as you get the option to rename the download in the download dialog itself.

[2020-02-25 22:34] opusforlife2 commented on #2635
It is ridiculous that Android doesn't let you show a file even in the default AOSP file explorer, though.

[2020-02-26 03:19] drx1x2 opened #3143 "Feature Request playlist download like youtube_dl"
Feature Request playlist download like youtube_dl

[2020-02-26 04:24] mehedihasanziku commented on #3134
Just tired with this issue, i got this after closing this thread but it was cleared after solving and ticking done, but it was cleared almost after 5min.

Now i can see it's still appearing & appearing from last night

Solved Captcha
![Screenshot_2020-02-26-10-19-43](https://user-images.githubusercontent.com/48652123/75311736-f56fed00-5881-11ea-9bf7-fa29b9859bf8.png)

After Submit
![Screenshot_202

[2020-02-26 06:48] wb9688 commented on #3136
@Poolitzer: We don't need a specific one, we need one that's recent enough, so that YouTube will serve their new site. Or in versions earlier than v0.18.5, we need one that's old enough for them to serve their old site.

Also, as of v0.18.5, we're using the UA of Firefox 68 on Windows 10. We're doing that as Windows 10 is the most common OS and Firefox 68 is a ESR release, so we don't need to chan

[2020-02-26 07:28] Stypox commented on #3139
In my opinion this should not be implemented since it would add complexity and stream info items wouldn't be able to contain much information due to the lack of space (i.e. only very short titles, small thumbnail, no uploader and date). So the only solution is adding a way to change dpi only of NewPipe, so that everything scales down and there are no layout issues.

[2020-02-26 07:36] Stypox commented on #2635
@opusforlife2 mmmh, ok, sorry if I told you this was a simple task... I thought an Intent existed to do exactly that, but apparently it does not exist. Thank you for your interest, anyway :-D

[2020-02-26 07:40] Stypox commented on #3143
Duplicate of #2380, #2303, #1236
I'm working on it

[2020-02-26 07:40] #3143 closed

[2020-02-26 07:43] Stypox commented on #3134
@mehedihasanziku
Could you test this APK (from #3035)? It does not fix the bug, but enables me to gather more information. When you press :heavy_check_mark (after solving) it throws an error on purpose (so that I can see the content of cookies): please paste the bug report content here.
[app-debug_2.zip](https://github.com/TeamNewPipe/NewPipe/files/4142983/app-debug_2.zip)

[2020-02-26 08:04] Stypox commented on #3129
Strange. If I understand correctly, by "Tried, no changes in the behavior." you mean that now the first time you open the link the app opens on the main page, and only on the second time it open the dialog for choosing an action.
I'm sorry, but I can't help. Unfortunately this does not happen on my end and the Intent you sent seems to be all good... This might be device-specific, even if it does h

[2020-02-26 09:43] Pentaphon commented on #2673
I think this bug has to do with this bug https://github.com/TeamNewPipe/NewPipe/issues/2934

[2020-02-26 10:05] attila-lendvai commented on #1188
FTR, i came here just now to report this issue.

[2020-02-26 11:20] KonoromiHimaries commented on #3136
cdn is like a better https://github.com/TeamNewPipe/NewPipe/issues/1435#issuecomment-590895351

[2020-02-26 11:53] KonoromiHimaries commented on #2621
https://github.com/TeamNewPipe/NewPipe/issues/3136

[2020-02-26 11:54] KonoromiHimaries commented on #3136
https://github.com/TeamNewPipe/NewPipe/issues/2621

[2020-02-26 12:09] LukasThyWalls commented on #2804
With some time testing this, i want to add more info, but i don't think it's enough:

* I can say now it doesn't happen always. In fact, to me, it happens always in a concrete youtube channel, and now i don't remember happening in other one, as i can recall in the past two months. The only different thing is those videos from this channel are premieres, i don't see them where are premieres, i see

[2020-02-26 12:10] KonoromiHimaries commented on #2965
https://github.com/TeamNewPipe/NewPipe/issues/2929

[2020-02-26 12:22] KonoromiHimaries commented on #3134
https://github.com/TeamNewPipe/NewPipe/issues/3136

[2020-02-26 12:22] KonoromiHimaries commented on #3136
https://github.com/TeamNewPipe/NewPipe/issues/3134

[2020-02-26 12:32] Stypox commented on #2965
A problem I am facing with IRC is that I can't send images to get fast feedback on GUIs. I'm currently developing the download-playlist option, and a few days ago I wanted to share an WIP image but I found no way to do that.
On Telegram or Discord I would be able to send images, videos, files, formatted code, etc.
Also, the fact that you have to be connected to IRC in order to get all messages is

[2020-02-26 12:32] KonoromiHimaries commented on #1819
it can be work like https://github.com/dhowe/AdNauseam to safe privacy, but ethic.

[2020-02-26 12:39] KonoromiHimaries commented on #2621
https://github.com/TeamNewPipe/NewPipe/issues/1819

[2020-02-26 12:54] aaazv commented on #3129
Can u give me a telegram ID so I explain in details super faster?

[2020-02-26 13:11] Stypox commented on #3129
@Stypox is my Telegram id

[2020-02-26 13:18] wb9688 commented on #2804
Are all of you using Xiaomi devices? And could you test it with v0.18.5 from GitHub releases?

[2020-02-26 14:43] TheAssassin commented on #2965
That issue has been solved long ago. There's systems like Quassel-IRC, which you can self-host. With Matrix, you can also connect to any IRC server, and it'll keep you connected.

That's a huge plus of IRC. The backlog isn't cluttered with images or cat videos. People have to upload them somewhere and post a link. On IRC people also never post lengthy code sections (e.g., logs), they go and use a

[2020-02-26 14:55] opusforlife2 commented on #2635
No problem. :)

I would have liked to see my efforts in understanding the code base and trying to contribute a little pay off, but I learned some things along the way, so I'm not that disappointed.

[2020-02-26 15:45] helght opened #3144 "Incorrect profile pictures"
Channels without avatar have a seemingly random avatar image on video pages.

To reproduce, find a channel without avatar and open their video.

(easy way: go to some popular video that has comments, click on a profile without photo and see if they have videos uploaded)

- [ ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) a

[2020-02-26 15:53] helght commented on #3144
Correction - ALL channels seem to have wrong profile images, not just those without them.

[2020-02-26 16:06] cool-student opened #3145 "Is the trending page supposed to look like this ?"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [ ] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

I'm on Android 10.

this is what it looks lik

[2020-02-26 16:14] wb9688 commented on #3144
What version are you using? v0.18.5?

[2020-02-26 16:16] helght commented on #3144
I'm on 18.5

If you don't see this bug I can post screenshot

[2020-02-26 16:17] wb9688 commented on #3145
Could you tell me what countries/languages you've set in Settings->Content.

[2020-02-26 16:19] wb9688 commented on #3144
Could you link an example channel?

[2020-02-26 16:22] wb9688 commented on #3145
Never mind, this happens in the UK. This is semi-intentional, but should be fixed. It's caused by that "Munya Chawawa" thing you currently see on YouTube's new site.

[2020-02-26 16:23] helght commented on #3144
Ok, a random channel that shows this bug

https://youtube.com/channel/UCXKbVIhNjWkSZolb7tjdfOg

[2020-02-26 16:23] helght commented on #3144
Here is what it looks in newpipe
![Screenshot_20200226-192208_NewPipe](https://user-images.githubusercontent.com/57073591/75364909-7dc7af80-58cd-11ea-8271-7bd8d255bdf3.jpg)

[2020-02-26 16:25] mauriciocolli commented on #3145
Saw this as well, don't know why an issue was not opened for this release (as usual), specially because it brings a big change.

Anyway, [here's why](https://github.com/TeamNewPipe/NewPipeExtractor/blob/02b59903fa5a3c8d0c83166862d12ecf5febf1ff/extractor/src/main/java/org/schabi/newpipe/extractor/services/youtube/extractors/YoutubeTrendingExtractor.java#L90-L94):

[code]

There's more items within

[2020-02-26 16:25] helght commented on #3144
Try what I said - choose random vid, check comments, click on someone, then click on their video

[2020-02-26 16:26] wb9688 commented on #3145
@mauriciocolli: I'll do it as part of TeamNewPipe/NewPipeExtractor#262.

[2020-02-26 19:05] #2682 closed

[2020-02-26 19:39] B0pol commented on #3145
I've noticed it doesn't happen with all countries (try china (hongkong))

[2020-02-26 19:41] wb9688 commented on #3145
@B0pol: That's true, else I would've caught it earlier. However I already fixed it now in https://github.com/TeamNewPipe/NewPipeExtractor/pull/262/commits/db305408e906614fbdff44d963fc94aed1363c9c.

[2020-02-26 21:30] JensMy commented on #539
Why do you care so much about them, this app is so mind blowing great and those Loosers just copy your work because theywere not able to create such a nice application.. Maybe you should text them and offer them some coding lessons but since your app is free and I hope there were great donations made to you their profit will be small... On the other side is if you report them to gplay store, they

[2020-02-26 21:41] gkeegan commented on #539
People care about it since it is stealing the work of others and trying to profit off it.

I don't think YouTube will do anything specific to NewPipe, especially since projects like youtube-dl have been around for a long time.

[2020-02-26 21:45] kubo6472 commented on #539
We are reporting them all the time, but since someone copies just part of the code, or just the extractor code, then play store treats them not as a copycat, and we need to prove it. It's against licence. We care about them, so that they learn, they're doing something disallowed, and also cuz people get confused easily and may make them money, for literally copying someone else's work. I know, I w

[2020-02-26 22:06] rstular commented on #539
In a nutshell, license should be abided. They know enough coding to properly disclose the use of GPL software, there are no excuses for hiding it.

[2020-02-27 00:31] Stig124 opened #3147 "Crash after importing Youtube subscriptions"
- [x] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.
## Exception
* __User Action:__ ui error
* __R

[2020-02-27 05:17] mehedihasanziku commented on #3134
Just used your 2nd uploaded appdebug apk.

Post one not throwing an eror.

Because we can copy json data with markdown format  now i can see this feature is missing in app and also mark down link also saying parse eror, i am not sure what is happening.

{
   "user_action": "ui error",
   "request": "App crash, UI failure",
   "content_language": "GB",
   "service": "none",
   "package": "org.schab

[2020-02-27 08:57] wb9688 commented on #3144
I found the issue: it was getting the avatar of the uploader of the recommended video to watch next.

[2020-02-27 13:17] Domiuns opened #3148 "Newpipe v0.18.5 not load youtube channel :("
- [x ] I carefully read the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md) and agree to them.
- [x ] I checked if the issue/feature exists in the latest version.
- [x] I did use the [incredible bugreport to markdown converter](https://teamnewpipe.github.io/CrashReportToMarkdown/) to paste bug reports.

Hi, the new version of newpipe not load cha

[2020-02-27 13:28] Stypox commented on #1819
@KonoromiHimaries would that mean "clicking on" (i.e. making a network request to) every ad provided by Youtube in the background?

[2020-02-27 13:37] Stypox commented on #3147
Could you provide the subscriptions file (only if you don't think this does violates your privacy)?

[2020-02-27 13:51] Stypox commented on #3134
@mehedihasanziku strange, unfortunately I am not able to debug the issue since with the cookies in the bug report the ReCaptcha activity should work, sorry. I will try to fix this if it happens to me and I can debug with more tools.

Yeah, see #3145

[2020-02-27 13:57] mehedihasanziku commented on #3134
Thanks.

[2020-02-27 14:32] Stypox commented on #3148
Are you sure this only happens when opening videos from a channel, and it happens every time? I followed all the steps you provided but I couldn't reproduce this issue unfortunately.
@wb9688

[2020-02-27 14:57] wb9688 commented on #3148
@Stypox: There is, in NewPipeExtractor at least (not sure about NewPipe), no difference between opening a video from a channel or otherwise. I can't reproduce it either

@Domiuns: What countries/languages have you set in Settings->Content? Are you using a proxy or VPN? If not, in what country are you located?

[2020-02-27 15:06] Domiuns commented on #3148
I have tried and it happens with any video, even if a video in the trend I managed to upload it. I am Italian and I have the feed Italy

[2020-02-27 15:23] Domiuns commented on #3148
I have finnaly load an video for test all. Buth other video not load.
This is worked
![IMG_20200227_161614](https://user-images.githubusercontent.com/53193434/75457385-b377a180-597c-11ea-9c45-5d79b9bd4e2b.JPG)
![IMG_20200227_161625](https://user-images.githubusercontent.com/53193434/75457399-b7a3bf00-597c-11ea-932b-77707cfde971.JPG)
![IMG_20200227_161647](https://user-images.githubusercontent.com/

[2020-02-27 16:10] ghost opened #3149 "Media control bugs"
Background player:
- Doesn't show track/channel name

Popup player:
- Doesn't provide album art

Newpipe's own media control in notification drawer is not affected by this.

[2020-02-27 16:23] helght commented on #3149
![Screenshot_20200228-000258_Media and devices](https://user-images.githubusercontent.com/57073591/75463170-7a4c2b00-5996-11ea-9eab-9bfcd7df59bd.jpg)
![Screenshot_20200228-000340_Media and devices](https://user-images.githubusercontent.com/57073591/75463196-833cfc80-5996-11ea-91fe-b12e991b0055.jpg)

Some screenshots make it more clear

[2020-02-27 16:28] helght commented on #3149
I see duplicates for this issue, but they don't mention different behavior of bg and popup players

[2020-02-27 17:06] PeterHindes commented on #2845
@cool-student Can you link me a pull request for that feature? I want to add it to a custom build for my use.

[2020-02-27 17:32] PeterHindes commented on #962
would [youtube-dl](https://github.com/ytdl-org/youtube-dl) be a good candidate? It's a separate open source program primarily used from the command line. It could likely be embedded in NewPipe.

[2020-02-27 18:28] wb9688 commented on #2965
@Stypox: Use Riot.im and then join #freenode_#newpipe:matrix.org. That way, you don't really have the downsides.

[2020-02-27 19:28] Stypox commented on #962
We know about youtube-dl (we even take inspiration from there for the extractor). But youtube-dl uses Python, which can't be run on Android unless with a heavy and slow emulator

[2020-02-27 19:28] Henry2o1o opened #3150 "Video is not downloaded"
current 0.18.5

already since the last versions
If I change / shorten the video name, it works better.

[2020-02-27 19:38] wb9688 commented on #962
@PeterHindes and @Stypox: Plus youtube-dl isn't even a download manager and won't solve any of the issues mentioned here.

[2020-02-27 19:43] wb9688 commented on #3150
What smartphone are you using? What Android version are you using? Are you using SAF in NewPipe? To what folder are you downloading? Do you know whether older versions of NewPipe worked? Is it possible to create a file with exactly the same 'long' name in another app? Does it happen with all videos? If not, could you link a video where it happens and a video where it doesn't happen?

[2020-02-27 20:23] ronidee opened #3151 "Download-button causes "send and view SMS" permission request - is this intended?"
When I press the download button below a video NewPipe requests to send and view SMS messages and doesn't show the download-dialog if I deny.
Is this intended and if so, why does NewPipe requires SMS access?
I apologize if this is the wrong place to ask, but I couldn't find anyting related to that and only observed this behavior as of this version.
Version: 0.18.5
OS: LineageOS-17.1 (UNOFFICIAL)
D

[2020-02-27 20:25] bovergaauw opened #3152 "Rounding of number of subscribers"
For channels with over a million subscribers, the number of subscribers is rounded down to an integer since v0.18.5, previous versions showed at least tenths of a million.

[2020-02-27 20:27] wb9688 commented on #3151
Where did you download NewPipe from? We never ask for SMS permission, see https://github.com/TeamNewPipe/NewPipe/blob/dev/app/src/main/AndroidManifest.xml for the permissions we have.

[2020-02-27 20:35] bovergaauw opened #3153 "Search returns "No results" while results exist"
When doing a search for "all saints", v0.18.5 returns "No results", but when selecting almost anything other than just "all saints" from the suggestions list appearing while typing "all saints", a proper list of results show up.

[2020-02-27 20:35] ronidee commented on #3151
Turns out it's a mistake by the ROM I'm using. The permission names/descriptions are messed up, apparently.
I wrote a little test-app which only asks for `Manifest.permission.WRITE_EXTERNAL_STORAGE` and it says "SMS" in the dialog too.

Sorry that I bothered you guys, but you can imagine how confused I was. Thank you very much for your quick response.

[2020-02-27 20:35] #3151 closed

[2020-02-27 20:36] wb9688 commented on #3152
Could confirm this happens in NewPipe. I'll look into this tomorrow.

[2020-02-27 20:37] wb9688 commented on #3153
Could confirm. I'll look into it tomorrow.

[2020-02-27 20:54] wb9688 commented on #3152
NewPipeExtractor gets the correct amount, it's just NewPipe that rounds it.

Thanks @B0pol

[2020-02-27 20:55] B0pol commented on #3152
In fact it happens since 0.18.4, we switched to rounding because youtube gives us rounded number, so showing exact number is wrong.
The problem is [Localization.shortCount()](https://github.com/TeamNewPipe/NewPipe/blob/ab4e1819c1d08bf53c6c3ca0e820a5e5ba4774af/app/src/main/java/org/schabi/newpipe/util/Localization.java#L148) doesn't give decimals.

How to reproduce:
[5 minutes craft](https://www.yo

[2020-02-27 21:39] B0pol commented on #3152
Should we round to 1 or 2 (or even 3?) decimals @TobiGr ?

[2020-02-27 22:46] selurvedu commented on #2415
@Stypox can I ask you to make NewPipe ignore them for now, until Dash is fully supported? It would avoid a lot of confusion and would fix backround playing for a lot of people.
Or this could be a option in the settings.

[2020-02-28 01:05] gkeegan commented on #3149
Phone name and Android version?

[2020-02-28 05:23] Suncatcher commented on #3106
@wb9688 Installation fails on Android 9

[2020-02-28 06:04] B0pol commented on #3106
Well just update to v0.18.5, it uses the new website

[2020-02-28 07:55] opusforlife2 commented on #3153
What happens if you perform the same search again? If I get 'no results', I tap on the search bar and tap search again. This usually does bring up results.

[2020-02-28 08:02] wb9688 commented on #3153
This is caused by those search queries having a `promotedSparklesTextSearchRenderer` at the top (i.e. that advertisement for "AllSaints.eu - AllSaints Official Online Shop - AllSaints New Season"), in a separate object in the `contents` array.

[2020-02-28 09:35] cool-student commented on #3149
the issue is that our current notifications don't have a mediaSession / playback state attached to them and also we don't correctly set the metadata for the album art.

@helght I'm aware of this issue and this will be fixed as part of my notification improvements, I do need a few more days though so I hope you can be a bit patient.

[2020-02-28 09:38] cool-student commented on #2845
@PeterHindes I'm still working on this and my code is a bit messy so there is no PR at the moment, my current eta is Wednesday (march 4th) for a PR.

[2020-02-28 10:12] nzlorca commented on #2911
Please merge ;)

[2020-02-28 10:47] Suncatcher commented on #3106
Still had no update notification prompt.
BTW, isn't it correct that my version show Content Lang: **GB**, even when I search content on Russian and my phone is on English (US) language, not GB?
Phone language shouldn't influence content, no?

[2020-02-28 11:55] B0pol commented on #3106
From [v0.18.4 blog post](https://newpipe.schabi.org/blog/release/pinned/newpipe-0.18.4-released/)

For content language: we put the same for the same reason. It should use your language instead of English, but it doesn't work currently, that's why you can see sometimes English titles or descriptions even though they aren't English videos (because it's translated).

[2020-02-28 11:55] Kukulkan2019 commented on #2961
Removing the three dot quick menu like to go back to history is not an
improvement...

Brennan Mulrennan on LinkedIn, Gravatar & WordPress.com...♞

On Tue, 11 Feb 2020, 2:50 PM jhorner6511 <notifications@github.com> wrote:

[2020-02-28 13:53] Stypox commented on #2965
@wb9688 oh, that's great! I am concerned by Discord and Telegram, too, but I couldn't find any great alternative... Riot.im is perfect! Thank you ;-)

[2020-02-28 13:57] Stypox commented on #2415
@selurvedu I was thinking about that, too, lately. I think we could do that, for now, yes ;-)
I will open a PR

[2020-02-28 14:11] opusforlife2 commented on #2965
FATALITY!

Open Source wins!

Flawless victory!

[2020-02-28 14:31] Stypox commented on #2319
@abusarimhindi sorry if I am late, here is what you could do. Keep in mind that we would prefer not to add yet another rather-unused entry in settings, so what I'd suggest another approach: you could make the trending button in the drawer long-pressable, and after a long press you should ask the user if he wants to hide trending views (use a Dialog). The hidden trending menu buttons should still b

[2020-02-28 16:17] PeterHindes commented on #2845
@cool-student Very cool. I guess pull request was the wrong word, do you have a repo online right now? I'm interested in the messy code ;P

[2020-02-28 16:20] PeterHindes commented on #962
Fair enough. I don't know much about youtube-dl, but I believe it has a binary form, IDK if it still packages python there though.

[2020-02-28 16:32] wb9688 commented on #962
@PeterHindes: The issue here is not retrieving the URL of the file, which NewPipeExtractor does wunderfully. The problem is actually downloading the file from the URL that NewPipeExtractor provides. youtube-dl would be an alternative for NewPipeExtractor, which we don't need, besides that youtube-dl lacks a lot of features.

[2020-02-28 16:37] wb9688 commented on #2845
@cool-student: Just FYI: NewPipe is licensed under the GPL. The GPL requires you to provide the source code to anyone you've distributed a binary to within a reasonable time. I (or anyone else who downloaded one of your apk's) could sue you if you don't provide me the exact code you produced the apk's you've published from, though obviously I won't sue you. Next time it'd be smart to open a (draft

[2020-02-28 18:45] subpub commented on #2965
do we really want to use matrix.org?
• it's behind cloudflare https://hostingchecker.com/#matrix.org
•  Also this one https://gitlab.com/libremonde-org/papers/research/privacy-matrix.org/-/tree/master/part1

should we really choose apps based on fancy ui? xmpp can do all this: