[2021-01-12 16:50] illustribe commented on #5047
+1 for this request! :D

[2021-01-12 16:53] mhmdanas commented on #4967
@illustribe please don't make comments like that; you should be using reactions instead.

[2021-01-12 17:09] christopher-wilson commented on #4004
@jstaro If you are still having an issue, maybe try navigating to your middle tab, then pressing down.

[2021-01-12 17:16] Nick-Lit commented on #1239
+1

[2021-01-12 17:26] christopher-wilson opened #5398 "Android TV Option that triggers a different UI"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

The problem is t

[2021-01-12 17:30] illustribe commented on #4967
Ok sorry, didn't know :)

[2021-01-12 18:21] HTSamurai commented on #5351
K

[2021-01-12 18:28] HTSamurai commented on #5351
Here is the video:
![Uploading NewPipe.GIF…]()

[2021-01-12 18:34] avently commented on #5351
@HTSamurai link is broken

[2021-01-12 18:35] mhmdanas commented on #5351
@HTSamurai you have to wait for the video to finish uploading.

[2021-01-12 18:56] HTSamurai commented on #5351
Oh

On Tuesday, January 12, 2021, Mohammed Anas <notifications@github.com>
wrote:

[2021-01-12 19:12] mhmdanas commented on #5351
@HTSamurai well, when will we get the video?

[2021-01-12 19:31] HTSamurai commented on #5351
I thought it sent but it didnt

On Tuesday, January 12, 2021, Mohammed Anas <notifications@github.com>
wrote:

[2021-01-12 20:50] HTSamurai commented on #5351
Sorry the mp4 won't upload

[2021-01-12 21:24] DoaaIkzamia commented on #4572
Hello

How I can run version 19.8 without showing this error ? it prevent me to run it

[2021-01-12 22:14] DoaaIkzamia commented on #4296
Dear @opusforlife2 and @TobiGr ,

About those bugs which you mention in this job issue, I studied the code (version 19.8)  and tried to solve them one by one and I started with this issue (3.2.1) it seems simplest than others.

I wanna to ask you if you make paused for this video before closed pop up mode ? or without paused?

Thanks.

[2021-01-12 23:17] avently commented on #5351
@HTSamurai put the video inside a zip archive and then upload

[2021-01-13 04:39] vrindavan opened #5399 "Swipe Gesture for Main Menu"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
The left side men

[2021-01-13 07:53] XiangRongLin commented on #4572
@DoaaIkzamia update extractor to 0.20.8
see #4918

[2021-01-13 09:49] mhmdanas commented on #5399
Well, actually, you can swipe anywhere from the left edge of the screen and the hamburger menu will open.

[2021-01-13 09:53] vrindavan commented on #5399
Notnworking.

[2021-01-13 09:55] mhmdanas commented on #5399
Weird. I just tested it and it works. Mind posting a screen recording?

[2021-01-13 09:59] vrindavan commented on #5399
[VIDEO](https://drive.google.com/file/d/11QTOnaXUHj7LvHyWDt4PRfFBAkUu38Th/view?usp=drivesdk)

Once seen let me know, I'll delete it.

[2021-01-13 10:02] mhmdanas commented on #5399
Yes, I saw it. You're not swiping from the edge of the screen; you're swiping slightly right of it. I'll post a screenshot now to show how you can do it.

[2021-01-13 10:03] vrindavan commented on #5399
No, that is the problem. These are full screen gestures so I cannot do that otherwise it will press back.

[2021-01-13 10:07] vrindavan commented on #5399
NewPipe needs to have swipe enabled from the main screen for it to work on the full screen gesture devices.

[2021-01-13 10:08] mhmdanas commented on #5399
Ah, makes sense. That piece of context is very important, so you probably want to edit the main issue to include it. Unfortunately, I don't think swiping from amywhere to open the menu will be added since it is also used to move between the tabs. However, I'll re-open this issue just in case.

[2021-01-13 10:09] vrindavan commented on #5399
Oh, sure I will edit this.

[2021-01-13 10:14] vrindavan commented on #5399
Done, check now @mhmdanas

[2021-01-13 11:34] HTSamurai commented on #5351
It says zips are unsupported

[2021-01-13 11:43] HTSamurai commented on #5399
My phone is fullscreen gestures but I can do it. Just swipe in the upper half of the screen

[2021-01-13 11:46] HTSamurai commented on #5399
Look
![Screenshot_2021-01-13-11-44-07-209_org schabi newpipe](https://user-images.githubusercontent.com/71007160/104448300-e1fe6b00-5594-11eb-940f-7944acc6b6fe.jpg)
![Screenshot_2021-01-13-11-44-18-827_org schabi newpipe](https://user-images.githubusercontent.com/71007160/104448311-e62a8880-5594-11eb-8366-093284618412.jpg)

[2021-01-13 13:02] Redirion commented on #5368
I don't think this would be a widely used feature and just "bloat" for NewPipe. You could use another app that brings automatic dark mode to your Android 9 phone like this one: https://play.google.com/store/apps/details?id=systems.maju.darkmode

This way all apps that support dark themes, would be able to profit, not just one app.

[2021-01-13 13:17] illustribe opened #5400 "Share button when playing in background"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
-x [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Hello,
As it i

[2021-01-13 13:38] Psycho-A opened #5401 "Localized titles for videos and channels don't work"
Many videos and user channels on YouTube have now regional-languaged names for their channels and uploaded viedos, f.e. English titles and native language titles. Depending on the country and regional settings, we see the adapted names instead of the originals. In NewPipe this feature is broken. I see English titles even for my Russian channels which displays Russian texts in browsers and Google's

[2021-01-13 13:49] c-shubh commented on #5400
Duplicate of #4039

[2021-01-13 13:59] opusforlife2 commented on #1239
-3

Perfectly balanced, as all things should be.

[2021-01-13 14:31] j3rkf4ce opened #5402 "Error while opening playlist"
## Exception
* __User Action:__ requested playlist
* __Request:__ https://soundcloud.com/stfubastard/sets/songs-that-make-me
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ SoundCloud
* __Version:__ 0.20.8
* __OS:__ Linux Android 10 - 29
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-01-13 16:02] #5157 closed

[2021-01-13 16:28] DoaaIkzamia commented on #4572
@XiangRongLin But I need to run this version, Any suggestion to do that?

[2021-01-13 17:08] XiangRongLin commented on #4572
@DoaaIkzamia That exact version can't be run anymore because of youtube changes. You need to update the dependecy to the extractor to 0.20.8
You can see how i did it in the linked issue above on my pre-unified branch

[2021-01-13 17:43] TobiGr commented on #5402
Um. that playlist does not exist, according to soundcloud. Just click the link in the report and you'll get an error. Is this a private playlist?

[2021-01-13 18:17] vrindavan commented on #5399
@HTSamurai i cannot do it still :/

[2021-01-13 20:19] illustribe commented on #5400
I see, yeah I guess it's within the scope of that PR... Thanks a lot!

[2021-01-13 20:19] #5400 closed

[2021-01-13 22:16] legendofa opened #5406 "Video playback crashes with all videos"
### Checklist

- [x] I am using the latest version - 0.20.1
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
    - Have not found this specific `ParsingError`
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for eve

[2021-01-13 22:41] rysson commented on #5406
The same on Android 8 (Huawei mate 10 pro). I can't install any newer version than 0.2.1 to check if crashes is fixed.

[2021-01-14 04:16] realmain commented on #3185
I am really hoping that this gets updated in the future. It's really annoying if I get into a video with a Vietnamese title, it auto translate it to English.

[2021-01-14 04:18] realmain commented on #5401
Duplicate of #3185

[2021-01-14 10:53] tpdcl commented on #5406
Same here. On F-droid version.

[2021-01-14 10:53] FarahOshaibi commented on #5342
1.	Snackbar comes with google material design you can remove it by searching all files.
2.	Two solutions:
i.	One is remove the library of snackbar from the gradle and search for where it has been implemented
ii.	Second you can comment it . Where it shows in Deleter.java line 88 best way to get rid of all snackbar
@opusforlife2
Successful fixed

[2021-01-14 10:57] nadiration opened #5408 "''Limit download queue'' option doesn't work as intended"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-14 11:08] legendofa commented on #5406
Also using the F-Droid version, maybe this one should be updated?

[2021-01-14 11:13] #5406 closed

[2021-01-14 11:19] nadiration commented on #3332
This is really useful feature we are missing

[2021-01-14 13:25] illustribe commented on #3253
Why can't it just work as usual android way of long tapping onto the link and having the standard little prompt of "open/copy/share" kind of thing?
It's extremely annoying not to be able to copy the links in the description, and not even being able to read them fully -in case I'd like to type em myself. And one more thing, it's not even working as it should when one clicks on a link, cause it does

[2021-01-14 14:04] #5314 closed

[2021-01-14 15:25] #4936 closed

[2021-01-14 15:33] mhmdanas commented on #5402
@j3rkf4ce the playlist is either private or doesn't exist, so there's really nothing we can do.

[2021-01-14 15:33] #5402 closed

[2021-01-14 15:34] #5401 closed

[2021-01-14 16:30] minch4 opened #5410 "option : Remove viewed media from sub lists"
Hello :wave:

### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I

[2021-01-14 17:19] deejay73 opened #5411 "Only old versions of NewPipe in F-Droid"
In F-Droid sind nur alte Versionen von NewPipe bis Version 0.20.1 verfügbar. Warum?

In F-Droid are only old versions of NewPipe available. Version 0.20.1 is the newest available version. Why is this so?

[2021-01-14 17:22] AlexN1997 commented on #5398
[Almost the same enchantment that I wanted](https://github.com/TeamNewPipe/NewPipe/issues/5322)

[2021-01-14 17:52] #5363 closed

[2021-01-14 18:17] tiniwings opened #5412 "Videos not playing if the link is opened in pip mode by default"
Videos not playing if the link is opened in pip mode by default.
## Exception
* __User Action:__ requested stream
* __Request:__ https://youtu.be/EWVXrB1lrEY, opened with popup_player
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux Android 11 - 30
<details><summary><b>Crash log </b></summary><p>

[code]

[2021-01-14 20:00] vladtepesch opened #5413 "newpipe does not switch back to fullscreen after rotating back to landscape"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-14 20:02] mhmdanas commented on #5412
Thanks for opening an issue! Upgrading to 0.20.8 should fix this issue (see https://github.com/TeamNewPipe/NewPipe#updates and read it whole please!).

[2021-01-14 20:02] #5412 closed

[2021-01-14 20:05] mhmdanas commented on #5411
See https://github.com/TeamNewPipe/NewPipe/issues/5069#issuecomment-740712193 for an explanation. See https://github.com/TeamNewPipe/NewPipe#updates on how to upgrade.

[2021-01-14 20:05] #5411 closed

[2021-01-14 20:07] mhmdanas commented on #5406
For all people still using 0.20.1 from the main F-Droid repo, see https://github.com/TeamNewPipe/NewPipe#updates on how to update.

[2021-01-14 20:15] Stypox commented on #5413
Fixed in 0.20.9

[2021-01-14 20:15] #5413 closed

[2021-01-14 20:22] Stypox commented on #5398
Duplicate of #5322

[2021-01-14 20:22] #5398 closed

[2021-01-14 20:23] vkay94 opened #5414 "[dev] App closes when trying to backpress from inner fragment"
### Checklist

- [x] I am using the latest version - 0.20.8 dev
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to re

[2021-01-14 20:26] Stypox commented on #5369
This is normal behaviour on Android and even if what you say is doable I wouldn't consider deleting old non-expired toast a good idea.

[2021-01-14 20:26] #5369 closed

[2021-01-14 20:31] mhmdanas commented on #5413
What? Is 0.20.9 out?

[2021-01-14 21:00] opusforlife2 commented on #5342
@FarahOshaibi The point is to remove the snackbar only on full screen where it is in the way. It is needed elsewhere.

[2021-01-14 21:26] Stypox commented on #5413
No, but it was fixed in a PR that was merged: #4939

[2021-01-14 21:51] Stypox commented on #5359
This would also be solved by #5148

[2021-01-14 22:31] #5313 closed

[2021-01-14 23:14] DoaaIkzamia commented on #4296
Dears,

About this bugs, You now that the version 19.8 is not available right now ((That exact version can't be run anymore because of YouTube changes. ))

- About bug 3.2.1 It fixed in the new version (20.8)
- About bug 3.2.3 It still appear in the new version(20.8) and I fixed it in this commit c4f21c9
- About bug 3.1 I will try to fixed it as soon as possible

Attached the video show you how it

[2021-01-15 01:09] ThisIsPaulDaily opened #5416 "Video descriptions don't parse YouTube redirect (shortened) urls entirely"
### Checklist

- [x] I am using the latest version - 0.20.8
- [ x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to rep

[2021-01-15 03:49] christopher-wilson commented on #5322
@ah1102 I think a toggle would allow a dev to iterate on the current and functional design, instead of having to implement an entire redesign, then iterate on that.

Questions for anyone:
1. Do we have a sense of viable this is?
2. I'm not seeing guidelines on making UI changes. Are there any? If not, should I file another issue?

[2021-01-15 07:17] #5414 closed

[2021-01-15 09:28] cntrl-s commented on #1313
is someone working on this?

i want to try to implement this

[2021-01-15 09:59] #5098 closed

[2021-01-15 12:02] Stypox commented on #1313
No, nobody is working on this at the moment, so feel free to pick it up! Thank you :-D
Before taking ui / usability design decisions I suggest you to get some feedback here, so that you won't have to make more changes later ;-)

[2021-01-15 12:24] kcpatricio opened #5419 "Confirmation before deleting all downloads"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

My suggestion is to make a pop up confirmation when

[2021-01-15 13:09] Stypox commented on #4932
I don't think this is a good idea. There are already shortcuts in the long press menu to achieve simple actions without having to wait for the buttons to appear, and all of your considerations about slowdowns, issues with Google, higher data and battery use, etc. are big cons.

[2021-01-15 13:17] #5306 closed

[2021-01-15 14:39] cntrl-s commented on #1313
i will, thank you :)

[2021-01-15 15:07] Stypox commented on #5382
Could you check if [this apk](https://github.com/TeamNewPipe/NewPipe/suites/1836810430/artifacts/35510945) from the ci in #5148 solves the issue?

[2021-01-15 15:09] Stypox commented on #5035
#4475

[2021-01-15 15:09] #5035 closed

[2021-01-15 15:10] Stypox commented on #5328
#4475

[2021-01-15 15:10] #5328 closed

[2021-01-15 15:10] Stypox commented on #5293
Could you check if [this apk](https://github.com/TeamNewPipe/NewPipe/suites/1836810430/artifacts/35510945) from the ci in #5148 solves the error-reporter-crashing issue?

[2021-01-15 15:13] Stypox commented on #5248
This is an issue with the ROM and can't be fixed by us. Also, this is a duplicate of something

[2021-01-15 15:13] #5248 closed

[2021-01-15 15:14] Stypox commented on #5205
Yeah, this is an issue with finished livestreams, which will be supported only after HLS/DASH is implemented, so let's stick to that issue

[2021-01-15 15:14] #5205 closed

[2021-01-15 15:16] Stypox commented on #5198
Could you check if [this apk](https://github.com/TeamNewPipe/NewPipe/suites/1834544416/artifacts/35447435) from #5415 solves the issue?

[2021-01-15 15:20] Stypox commented on #5162
#4638

[2021-01-15 15:20] #5162 closed

[2021-01-15 15:22] Stypox commented on #5105
You provided an invalid url, obviously that's a content not found

[2021-01-15 15:22] #5105 closed

[2021-01-15 15:23] Stypox commented on #4946
This is expected. Just open video info and then long press on background/popup.

[2021-01-15 15:26] #4507 closed

[2021-01-15 15:29] Stypox commented on #4174
Could you check if [this apk](https://github.com/TeamNewPipe/NewPipe/suites/1836810430/artifacts/35510945) from the ci in #5148 solves the error-reporter-crashing issue?

[2021-01-15 15:29] pymen commented on #4946
@Stypox the issue appears in the following case

when open the link from Youtube  > open with NewPipe -> it can NOT be enqueued, -> instead it just replaces the current video playing in NewPipe

Can the ticket be re-opened?

[2021-01-15 15:41] ah1102 commented on #5171
Chat is needed in the newpipe program

[2021-01-15 15:46] ah1102 commented on #5322
It's hard for me to say which option is better. I think that the one that will allow you to have fewer problems in the future.
And how is this implemented in the official YouTube application?

[2021-01-15 15:59] MichiFr opened #5420 "Sorting and Filterung"
Hi!

Maybe I did not found, maybe it does not yet exist: after searching for YT vids, I'm missing an option to filter and sort the results.

Right now I see many videos in an unsorted order, but I want the lastest to be sorted on top of the list.

Thanks,
Michael

[2021-01-15 17:45] Stypox commented on #4946
Just press on "Show info" and then you can enqueue (by looking at this video: https://github.com/TeamNewPipe/NewPipe/issues/4946#issuecomment-734431716)

[2021-01-15 17:45] Stypox commented on #4946
If the chooser menu does not show up you need to set it to "Always ask" in the settings

[2021-01-15 17:50] Stypox commented on #4638
The issue is not inside NewPipe but inside the UIL library: nostra13/Android-Universal-Image-Loader#908

[2021-01-15 17:54] Stypox commented on #4638
The issue is not inside NewPipe but inside the Universal Image Loader library: nostra13/Android-Universal-Image-Loader#908
Unfortunately the library is not being updated since 5 years, so I guess we can't wait for them to solve the issue. We should probably switch to Glide. @arielshulman thank you again for looking into this, and sorry for getting in touch so late. ;-)

[2021-01-15 18:03] Bruceforce commented on #4946
@Stypox

I always share from youtube to newpipe and choose pop-up player to play videos. In older versions of newpipe this enqueued the item automatically. Now it don't see a way to achieve the same behavior as in the old version. Is also don't see a "show info" in the newpipe sharing dialogue.

[2021-01-15 18:06] Stypox commented on #5239
I don't know if this is a good idea, two buttons are already too large on some devices

[2021-01-15 18:34] AlexN1997 commented on #5420
Repost of[#4599](https://github.com/TeamNewPipe/NewPipe/issues/4599)

[2021-01-15 18:48] Stypox commented on #4946
This only happens when there is nothing playing: in such case the "play" item is shown and "play in the background" just plays the single item in the background (without replacing any queue since there is nothing playing). On the other hand, if something's already playing, the "show info" item is shown, allowing to do what I explained above.
If you never see "show info", even when something's play

[2021-01-15 18:50] TobiGr commented on #4946
We should add an "enqueue" option when there is something running in the background / popup

[2021-01-15 18:54] Stypox commented on #4946
@TobiGr then this is duplicate of #4779

[2021-01-15 18:54] #4946 closed

[2021-01-15 18:54] Stypox commented on #5163
duplicate of #4779

[2021-01-15 18:54] #5163 closed

[2021-01-15 19:00] Stypox commented on #5011
@Lurux sorry for getting in touch so late. I missed this when you first posted a while ago. I really like your solution! If you are going to implement this you can probably take some of my code from #3936

I don't think this is a good idea, as long pressing means something different everywhere else in the app

Now I won't talk to you anymore (just joking, you are right) ;-)

[2021-01-15 19:01] Stypox commented on #4981
Yeah, let's keep everything in #4805

[2021-01-15 19:01] #4981 closed

[2021-01-15 19:46] #5051 closed

[2021-01-15 19:52] opusforlife2 opened #5421 "We know F-Droid version is out of date"
There's nothing we can do about it from our side: https://gitlab.com/fdroid/fdroidserver/-/issues/797

We recommend installing Newpipe from [our custom F-Droid repo](https://github.com/TeamNewPipe/NewPipe#installation-and-updates). Not just while this issue persists, but in general. You'll get faster updates.

The problem is related to reproducible builds. When F-Droid builds the binary, it IS the

[2021-01-15 21:13] CJZup opened #5422 "Background player - change song"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want we used to be a

[2021-01-15 21:14] mhmdanas commented on #5421
Aight, @opusforlife2 just snapped.

[2021-01-15 21:23] Flam3z opened #5423 "Videos on loading loop after tabbing back into app."
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-15 22:03] Stypox commented on #5422
Check Settings -> Notification

[2021-01-15 22:03] #5422 closed

[2021-01-15 22:03] #5420 closed

[2021-01-15 22:08] Stypox commented on #5391
I don't think this is doable. Parsing the entire subtitles just to check for this would be slow and uneffective, since auto-generated subtitles are not trustworthy

[2021-01-15 22:11] Stypox commented on #5388
Adding a setting just for this would be niche for most users, cluttering the logic. Installing another app shouldn't use more than 2-3MB. Adding this to NewPipe is out of scope, sorry

[2021-01-15 22:11] #5388 closed

[2021-01-15 22:15] Stypox commented on #5365
If someone wants to implement this, then it's going to be accepted

[2021-01-15 22:17] #5353 closed

[2021-01-15 22:20] Stypox commented on #5365
I merged back the two issues, since if they are being implemented they should be done together

[2021-01-15 22:25] Stypox commented on #5352
Can't the specific functionality of QUIC that fixes recaptchas be used here? I wouldn't want to add a full network stack just for making normal requests...

[2021-01-15 22:26] Stypox commented on #5351
GitHub now supports mp4s afaik

[2021-01-15 22:48] FireMasterK commented on #5352
Here's something that Omar Roth said regarding quic and captchas: https://github.com/iv-org/invidious/issues/957#issuecomment-576424042

[2021-01-16 00:05] naposm commented on #5322
I think that's better to just adapt the current design. For example my approach (https://github.com/TeamNewPipe/NewPipe/issues/5322#issuecomment-753734661) is just a redesign of the current layout of the app (the menu is the same, just always opened, without the toggle; icons on the top like the current one; miniplayer like the current one but moved on the sidebar). This way there wouldn't be like

[2021-01-16 07:04] Stypox commented on #5352
Yeah I've read that

[2021-01-16 07:11] shoffmeister opened #5426 ""Unrecoverable Player Error occurred" on almost every Youtube video"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-16 07:15] shoffmeister commented on #5426
Is there a way to obtain more information related to "Unrecoverable error occurred"?

The error context provided makes is rather difficult to forward useful information for analysis, I am afraid.

Also, I cannot tell whether this is a regression (in whatever component in the stack), and/or a recent one at that - I hadn't used the device in a while, and now it's all refreshed and patched up and New

[2021-01-16 07:21] s1awek commented on #4779
Any updates on this?

[2021-01-16 08:42] Bruceforce commented on #4946
@Stypox Just to make sure that I understand this correctly. In the attached screen I'm playing a video in pop-up mode (the one below the newpipe dialogue with the guy in front of the mirror). Then is share another video with newpipe and get the dialogue you see on the screenshot. If I got you right there should be an "Info" option instead?

![Screenshot_2021-01-16-09-37-28-398_org schabi newpipe](

[2021-01-16 08:46] HTSamurai commented on #5391
Fair enough.

[2021-01-16 08:46] #5391 closed

[2021-01-16 08:49] Stypox commented on #4946
@Bruceforce as I said, if there is not already something playing, "Video-Player" appears instead of "Show info". But if you press on that button you will be brought to the video details fragment. And in any case, if there is not something already playing, you wouldn't need enqueue buttons.

[2021-01-16 09:18] AnonymousSeal commented on #5421
The Repo:
https://archive.newpipe.net/fdroid/repo?fingerprint=E2402C78F9B97C6C89E97DB914A2751FDA1D02FE2039CC0897A462BDB57E7501
To add to F-droid go to Settings > Repositories > +

[2021-01-16 09:25] Stypox commented on #5426
You may try to get logs from logcat via adb

[2021-01-16 10:52] Stypox commented on #5340
This is where that text is set: https://github.com/TeamNewPipe/NewPipe/blob/b73eb9438d643f61881c1e04d1e72c1549be8841/app/src/main/java/org/schabi/newpipe/fragments/detail/VideoDetailFragment.java#L1554-L1555
And these are the formatting functions involved: https://github.com/TeamNewPipe/NewPipe/blob/b73eb9438d643f61881c1e04d1e72c1549be8841/app/src/main/java/org/schabi/newpipe/util/Localization.jav

[2021-01-16 10:55] Stypox commented on #5338
I think implementing something like this in NewPipe would be too broad

[2021-01-16 10:58] Stypox commented on #5336
This would have to be done alongside showing additional information for the video (e.g. tags, copyright, etc.). I will implement the latter after #4534 is merged, then it should be simple to also implement this (though topic channels are not be supported, and that will take a while)

[2021-01-16 11:15] Lurux commented on #5011
Eh, unfortunately I don't know anything about Android programming yet... :confused:
I do plan on learning more about it at some point, though :smile:

Yeah, I guess I meant the contrary: simple click replaces the queue, long click extends it; like everywhere else in the app :smile:

[2021-01-16 11:43] jefferson018200306 commented on #5365
Thank you @Stypox

[2021-01-16 12:42] #3925 closed

[2021-01-16 13:56] MichiFr commented on #110
Me too was searching for this useful YT feature in NewPipe, since I've found this app on internet. However, the lack of sorting or filtering keeps me away from this app because I don't want to have 5 yrs old vids in my search result which are absolutely not relevant anymore.

Of course, if there are no volunteers to implement those lines of code this into the app, we won't see it anytime soo.
But

[2021-01-16 16:11] tchnonsvvy opened #5427 "reCAPTCHA challenge"
![Screenshot_20210114-134109_NewPipe](https://user-images.githubusercontent.com/77541726/104816365-aeb41a00-57e8-11eb-9685-420b81855382.jpg)

### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.g

[2021-01-16 16:35] illustribe opened #5428 "Toast notification when download started"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I think having

[2021-01-16 17:01] nadiration commented on #5340
There's no solution i guess

[2021-01-16 17:48] TiA4f8R opened #5431 "Store YouTube player's config or SoundCloud client ID in NewPipe's app data"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
It would be great

[2021-01-16 17:53] nadiration opened #5432 "Display non-English READMEs like the English one"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

When you click o

[2021-01-16 19:41] shivasagarrao opened #5433 "Verified mark(Right mark) beside channel name"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I think it would

[2021-01-16 20:01] shivasagarrao opened #5434 "Allow local comments pinning in comments section"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I think it would

[2021-01-16 20:14] vinibali commented on #5105
That was just an example. I replaced the video id with a BLAVIDEO and the list is with a BLALIST.
Let's have an real one here. It has the same error with the latest 20.8 version. Could you please reopen this issue?
https://www.youtube.com/watch?v=kMLfRh-BBKE&list=PL6Az3D4GL-TdsK14I9ZjFKnG7dN3qK8_e&index=1&t=78s

[2021-01-16 20:29] HTSamurai commented on #5434
I'd find thisbvery useful. Great idea!

[2021-01-16 22:32] PhoenixIV opened #5435 "Link to video in playlist plays list at 1"
Opening a YouTube link with NewPipe in the form https://www.youtube.com/watch?v=69lIqDc8Xhs&list=PLbAkPmkjBX3gDGW4HkDQJTB_wHoIOJ9LS&index=62 (Example link) will play the first video in that list, not the one specified in the link.

[2021-01-16 23:56] TobiGr opened #5436 "[dev] Crash when pressing back button in search"
### Checklist

- [x] I am using the latest version - dev at 098c954ef1c5df41b2fd0201804c4e536b6b6b0b
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug re

[2021-01-16 23:58] TobiGr commented on #5436
nvm. I started the wrong np version... it too late.

[2021-01-16 23:58] #5436 closed

[2021-01-17 05:10] mhmdanas commented on #5432
Unfortunately, that's something we can do nothing about since GitHub doesn't support it.

[2021-01-17 05:10] #5432 closed

[2021-01-17 07:46] drov-drov opened #5440 "Bluetooth audio sync"
Aim: Add bluetooth audio sync option to internal audio player of NewPipe
Result: It will be very useful feature for bluetooth-headphones-users

[2021-01-17 08:30] HTSamurai commented on #5440
I'm assuming this would make the audio come out slightly early?

[2021-01-17 08:36] mhmdanas commented on #5440
I use Bluetooth headphones myself, and I don't think I've ever noticed something odd. What does this "syncing" feature do exactly? Is it like @HTSamurai says?

[2021-01-17 08:36] mhmdanas commented on #5440
Anyway, @drov-drov please open a new issue and follow the template instead of removing it.

[2021-01-17 08:36] #5440 closed

[2021-01-17 12:26] #5435 closed

[2021-01-17 12:29] Stypox commented on #5427
This IS normal. Your connection generates ReCAPTCHAs and NewPipe shows a webview to allow you to solve them

[2021-01-17 12:29] #5427 closed

[2021-01-17 13:28] Timmy183-ui commented on #5368
But.. I don't have an android 9 or above device☹️

[2021-01-17 13:32] Redirion commented on #5368
The App that I have found with Google requires 4.4. Did you try it or any alternative?

[2021-01-17 13:35] skyGtm opened #5441 "Ability to search videos within the specific channel"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Ability to searc

[2021-01-17 13:35] Redirion commented on #5368
@Stypox opinion?

[2021-01-17 13:41] nbmrjuhneibkr commented on #5421
If you're going to make a pinned issue for this, then may as well actually explain the cause of this issue, not just a workaround.

[2021-01-17 13:48] nbmrjuhneibkr commented on #4918
Thanks for the continuous updates. Seeing how little has been done to fix some of the terrible design decisions in NewPipe 0.20, I feel like this fork will stay relevant for quite some time.

[2021-01-17 13:49] mhmdanas commented on #5421
@TobiGr mind editing the issue to shed some light on the issue itself?

[2021-01-17 13:59] brnwlshubh opened #5443 "mp3/m4a cover pic feature request"
While downloading the m4a/mp3 file through Newpipe the cover photo of the file is empty/blank.
Please try to add thumbnail as a cover pic of the audio file which is downloaded through Newpipe.
It will look adorable while downloading and playing.

[2021-01-17 14:55] Plugdemholes-Imeanpatchdembugs opened #5444 "Longpress option for video to directly go to the belonging channel"
Hi,
I've noticed when you randomly browsing with the current model of mainscreen for search and "pop-up bar" for video consumption, it gets a bit tricky if you currently have a video running or one you want to finish, that if I find a video from another channel but first want to know what this channel's main subjects are, then I currently only have the option to either directly search for the chan

[2021-01-17 15:19] tchnonsvvy commented on #5427
Hello!
Thanks for your reply.
    But solving the CAPTCHA and thus opening the YouTube webpage inside
NewPipe makes all of the NewPipe features such as play in background,
download, or add to NewPipe playlist non-existent.
    Since this IS normal, I was unaware that it was because I couldn't find
anything about it in the threads, is there not some trick I can do on my
phone to get around it?

[2021-01-17 15:54] TobiGr commented on #5427
did you press the checkmark in the top right after solving the CAPTCHA?

[2021-01-17 15:58] tchnonsvvy commented on #5427
Oops😬 🤭 . I had a toggle from another app parked there. I apologize for
not being more diligent. Sorry to take up everybody's time. I will be more
careful next time.
Thank You

On Sun, Jan 17, 2021, 10:54 AM Tobias Groza <notifications@github.com>
wrote:

[2021-01-17 16:12] mhmdanas commented on #5423
Mind specifying your NewPipe version?

Just to be sure, did you mean Android 10, or are you using version 0.10.0 of a custom ROM?

[2021-01-17 16:17] mhmdanas commented on #5443
Thanks for opening an issue! Could you please open a new issue that follows the template properly instead of removing it?

[2021-01-17 16:17] #5443 closed

[2021-01-17 16:19] mhmdanas commented on #5444
Thanks for opening an issue! Could you please open a new issue without removing the template, instead following it properly?

[2021-01-17 16:19] #5444 closed

[2021-01-17 16:20] SealedJoy commented on #3475
plus one looking for this feature :D

[2021-01-17 16:21] mhmdanas commented on #5426
@shoffmeister I'm not sure if this will work, but I suppose you could, as a temporary workaround, use an external player by enabling `Settings > Video and audio > Use external video player`.

[2021-01-17 16:24] brnwlshubh commented on #5443
I didn't understand what you want to say.
Please explain me, what I have to do while opening new issue?

[2021-01-17 16:26] Plugdemholes-Imeanpatchdembugs commented on #5444
Yes, just saw after posting the three boxes have to remain?
Sry, only my second post ever ^^"

[2021-01-17 16:27] mhmdanas commented on #5443
When you press the "New issue" button, you should be presented with a list of templates, which are "bug report" and "feature request." In this case, since you are requesting a feature, you want to choose the "feature request" template by pressing the "Get started" button beside it. After you press it, in the issue's body there will be a template that asks you to check if you have done certain stuf

[2021-01-17 16:29] mhmdanas commented on #5444
No worries. See [this comment](https://github.com/TeamNewPipe/NewPipe/issues/5443#issuecomment-761839245) for some help on this topic.

[2021-01-17 16:32] johanw666 commented on #5198
Yes, this apk can export the database and settings to emovable storage. Thanks.

[2021-01-17 16:47] brnwlshubh opened #5445 "mp3/m4a cover pic feature request"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
While downloading

[2021-01-17 16:52] brnwlshubh commented on #5443
Finally posted the issue.
Thank you for assisting me. @mhmdanas

[2021-01-17 17:03] mhmdanas commented on #5441
Related: #110.

[2021-01-17 17:15] bellspowot opened #5446 "Captcha not working correctly when opening YouTube link from outside app"
- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1.

[2021-01-17 17:26] Plugdemholes-Imeanpatchdembugs opened #5447 "Longpress (menu) option for direct channel videos overview access (tablet optimisation)"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
A longpress menu

[2021-01-17 18:09] eladkarako commented on #5416
Do you mean something like
<details><summary>this</summary>

[code]
</details>
(just in Java..).

[2021-01-17 18:45] PhoenixIV commented on #5435
Yo, guys, the templates were not shown to me when I created my issue and if that's your way of pushing of a helpful suggestion I am not gonna help you out any further.

[2021-01-17 19:02] #4039 closed

[2021-01-17 19:11] Flam3z commented on #5423
My apologies, thought I stated it correctly.

[2021-01-17 19:34] Stypox commented on #5368
I agree this is way too niche for newpipe

[2021-01-17 19:45] SealedJoy commented on #4994
Closing as this now works :D

[2021-01-17 19:45] #4994 closed

[2021-01-17 19:52] #5368 closed

[2021-01-17 20:43] Stypox commented on #5435
Then try to look up for the template next time: while filling in the template you would have found out that this is a duplicate. We don't have unlimited time so if someone makes a request we at least want him to put some effort into making sure it is a valid request. Sorry if I seemed rude, this is just the policy we decided to go with, otherwise we would be flooded with issues

[2021-01-18 02:45] Falcon342 opened #5448 "Better search filter"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
 a better search

[2021-01-18 03:21] DataStream3 opened #5449 "[Feature Request] Adding SponsorBlock to NewPipe?"
Nevermind, didn't look to ensure this wasn't already discussed and turns out it was already discussed and the topic was closed.

[2021-01-18 03:23] crozone commented on #3713
Found this issue after slipping on newpipe and accidentally maxing the volume on my bluetooth headphones. Not only are the gestures incredibly annoying, they are dangerous to the users hearing.

VLC is also plagued by similar gestures, for both mobile *and* desktop. Personally I have never found them to be anything but an annoyance and something to immediately disable after a fresh install.

The i

[2021-01-18 03:42] #5449 closed

[2021-01-18 04:27] DataStream3 opened #5450 "[Feature Request] Watch a Video While Scrolling Through Comments"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I think it would

[2021-01-18 05:01] XiangRongLin commented on #5448
duplicate #2251

[2021-01-18 05:01] #5448 closed

[2021-01-18 05:05] XiangRongLin commented on #5450
#4484

[2021-01-18 05:05] #5450 closed

[2021-01-18 06:24] mrmotallebi commented on #5069
Just a thought, but what do you think about someone creating a fork of NewPipe and submitting it to F-Droid as a separate app (even with a different name)?

[2021-01-18 06:42] shivasagarrao commented on #5445
Duplicate of #4341

[2021-01-18 06:45] shivasagarrao commented on #5441
Duplicate of [#2414](https://github.com/TeamNewPipe/NewPipe/issues/2414)

[2021-01-18 06:57] mhmdanas commented on #5441
@shivasagarrao you're not wrong, but I'd prefer to keep this one open, as that one requests multiple features.

[2021-01-18 07:52] kiminoyes opened #5451 "Live Streaming cannot be opened"
### Checklist

- [x] I am using the latest version - v0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repro

[2021-01-18 09:15] blauertee commented on #5382
Actually I wasn't able to reproduce the bug for now. So I can not tell you whether the apk from #5148 solves the issue. Sorry it seemed to be very reproducible maybe I should have restarted my device before submitting a bug report.
The streaming app I use is Tidal. Feel free to close the Issue if this thing does not seem to be important :)

[2021-01-18 09:20] Stypox commented on #5382
For now I'm closing this. If you can find more information feel free to reopen it @blauertee ;-)

[2021-01-18 09:59] herrdeh commented on #5388
Can't agree. Everybody is in risk to loose WiFi occasionally. And another setting for behaviour at WiFi / mobile is a breeze.

[2021-01-18 10:49] ildar opened #5452 "Feed fetching errors has bad UI/UX"
### Checklist

- [x] I am using the latest version
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bu

[2021-01-18 12:01] KingDuckZ commented on #5069
Is it possible to just revert whatever commit(s) caused the issue? I feel like having one less feature (that I never had anyways) is better than having no NewPipe at all. I haven't been able to use it for a really long time now. And before anyone tells me, I agree with @mrmotallebi on not wanting to circumvent F-Droid.

[2021-01-18 12:29] proletarius101 commented on #5069
let me look into it :P
Reproducible builds should be encouraged

[2021-01-18 12:33] TobiGr commented on #5069
small update: build is reproducible, but signing fails. I'll get in touch with the F-Droid team to figure out why.

[2021-01-18 12:52] Stypox commented on #5434
This would be problematic to do, since comments do not have a unique id. Though if someone finds a way to implement this it would be accepted

[2021-01-18 13:15] #5382 closed

[2021-01-18 13:52] #4260 closed

[2021-01-18 15:39] shivasagarrao commented on #5434
@Stypox
I think this information might be useful.
We can highlight any 1 comment at a time in YouTube website by clicking on the timestamp. See this [video](https://github.com/FreeTubeApp/FreeTube/issues/783#issuecomment-761824480). After clicking on timestamp of any comment in a video some ID is being generated.

[2021-01-18 17:35] TiA4f8R opened #5453 "[Secondary controls] Scrolling bug when opening links at the top of the description of a video"
### Checklist
- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-18 17:47] nadiration opened #5454 "Missing strings (Weblate)"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-18 18:22] TobiGr opened #5455 "Release 0.20.10"
# Changelogs
## App
### New
- [YouTube] Added support for chapters in player controls #5274
- Added a secondary control panel and tabs to video detail fragment #4534
- [PeerTube] Added sepia search #5257

### Improved
- Disable restoring brightness if brightness gesture is disabled #5283
- Update displayed licenses #5066
- Disable sending metrics to Google when using Android System WebView #5337
-

[2021-01-18 18:38] TiA4f8R commented on #5455
@TobiGr You mixed extractor issues / PRs with app issues / PRs.

[2021-01-18 18:38] nadiration commented on #5455
When you set view mode to grid (Settings > Appearance > List view mode) it doesn't really switch to grid but to a large list-like mode. This was working fine before.

*List view mode: Grid*

![Screenshot_20210118-213453.png](https://user-images.githubusercontent.com/59365236/104952402-6c9bfb80-59d5-11eb-8959-623a9e9dae41.png)

[2021-01-18 18:55] Stypox commented on #5455
@nadiration for me it works as expected. Probably your screen is too small to host two columns of grid items. Does everything work as expected if you rotate the device?

[2021-01-18 18:57] HTSamurai commented on #5455
That's always happened to me:
*0.20.8 screenshot*
![Screenshot_2021-01-18-18-55-01-609_org schabi newpipe](https://user-images.githubusercontent.com/71007160/104953748-e7a5e780-59be-11eb-8bf0-8924edb4128f.jpg)

[2021-01-18 18:58] HTSamurai commented on #5455
![Screenshot_2021-01-18-18-57-17-129_org schabi newpipe](https://user-images.githubusercontent.com/71007160/104953826-1459ff00-59bf-11eb-830d-1c7ee8e680e4.jpg)
This happens on landscape

[2021-01-18 19:28] TobiGr commented on #5454
@stypox any idea, why `exo_controls_next_description` is used? I did not noticed, that it was changed.
I suggest to use something different, because "next track" is not always true (e.g. the queue can contain other streams which are up next). What about "related content" or "similar content" or "related streams"?

[2021-01-18 19:43] nadiration commented on #5454
The "Cancel" key on the app language picker is also the same although cancel is translated fine on other places in the app

[2021-01-18 19:47] TobiGr commented on #5454
In the content settings? That is a standard android dialog We cannot change that.

[2021-01-18 20:00] nadiration commented on #5454
The cancel button on the bottom of the languages list on Settings > Contents > App language? I just checked with some other languages and it changes on some of the languages and some it just stays cancel.

[2021-01-18 20:09] TobiGr commented on #5454
I guess that depends on the languages which are installed on your device.

[2021-01-18 20:17] nadiration commented on #5454
Probably. This one isn't big deal anyway. Thanks.

[2021-01-18 20:20] Stypox commented on #5454
@TobiGr 11e048abb1fc1eee6588b93da87657d197381c27 is the responsible commit: I assumed that the exoplayer strings were translated in all languages. I just tried a couple of languages and the strings were all translated, but apparently ExoPlayer does not fully support Somali (i.e. some strings are translated, some others not). The commit should probably be reverted.

[2021-01-18 21:01] TobiGr commented on #5455
[NewPipe_v0.20.9_RC2.zip](https://github.com/TeamNewPipe/NewPipe/files/5832371/NewPipe_v0.20.9_RC2.zip) includes a fix for a crash that happened when sharing streams to the browser and no browser was installed (e.g. on ANdroid TVs) #5429

[2021-01-18 23:07] avently commented on #4985
Same. Found this issue when wanted to open new issue.
Also the app doesn't react on play button in notification when it stays in paused state too long (killed in background probably)

[2021-01-19 04:40] skyGtm commented on #5450
@DataStream3  Use some hacky way until update comes as requested.
you can use Popup window, resize and reposition at the top. Now you can scroll comments while video playing at the top.

https://user-images.githubusercontent.com/50160188/104988561-86265d00-5a40-11eb-82bb-e2d092a1efee.mp4

[2021-01-19 04:47] skyGtm commented on #4484
This will help https://github.com/TeamNewPipe/NewPipe/issues/5450#issuecomment-762596954

[2021-01-19 05:08] skyGtm commented on #5455
In popup mode, on dragging the popup to the bottom, the RED close button appears for instant and disappears, close action is also not performed.
In NewPipe version 20.8 (works as expected)

https://user-images.githubusercontent.com/50160188/104989889-88d68180-5a43-11eb-9054-efbcd71ff0e9.mp4

In NewPipeVersion 20.9_RC2(doesn't work as expected)

https://user-images.githubusercontent.com/50160188/10

[2021-01-19 05:54] Poolitzer commented on #5455
@Stypox, not sure if thats out of the scope with this release, but what about letting the tab icons vanish or at least make them smaller when scrolling down, and enlarge/letting them reappear when scrolling up? I think that's the default in android apps, at least from my experience. That way you see more of the comments/videos/description without loosing the ability to navigate.

[2021-01-19 08:01] mhmdanas commented on #3578
Fixed by https://github.com/TeamNewPipe/NewPipe/pull/5274.

[2021-01-19 08:01] #3578 closed

[2021-01-19 08:07] Stypox commented on #5455
@skyGtm that seems like to be the correct behaviour. It wasn't working before and 920e560b4b9b602c52c8661b3359ddfa6e89f695 fixed it. The current expected behaviour is for the button to be visible only when your finger is near it. But I agree that's not the best idea, I'm going to push a fix soon

[2021-01-19 08:10] mhmdanas commented on #5445
Again, that issue is quite general. It requests addition of all sorts of metadata, but this one requests one specific type, so I think this should stay open.

[2021-01-19 08:28] mhmdanas commented on #5455
On my Android 6 device, whenever I try to extract the APK from the ZIP archive, I get the following error:

java.io.IOException: Size mismatch on inflated file: 13151759 vs 13151751

However, it works fine on my Android 10 device.

[2021-01-19 09:24] brnwlshubh commented on #5445
How much time it will take to implement in the app?

[2021-01-19 09:27] mhmdanas commented on #5445
That's almost impossible to predict. Also, there is no way to know when somebody will even start working on implementing this.

[2021-01-19 09:31] TobiGr commented on #5455
I tried to reproduce a different bug and got this:
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=hg8qflddZrY
* __Content Country:__ DE
* __Content Language:__ de-DE
* __App Language:__ de_DE
* __Service:__ YouTube
* __Version:__ 0.20.9
* __OS:__ Linux Android 9 - 28
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-01-19 09:33] brnwlshubh commented on #5445
No issue. I'll help Newpipe as much as possible for improving and stabilisation of app.🤗
Thank you.

[2021-01-19 10:07] Katy-sadi commented on #2251
@Stypox  while I was adding two more filters, I had to use the newPipe extractor, the other thing is that but I couldn't sync the extractor with newPipe
the other thing is that the sorting function or the way to implement the sort I couldn't find it
and so the menuItem!
can you give me a hint please

[2021-01-19 11:15] TiA4f8R commented on #5455
There is something strange when clicking links at the top of a description after the secondary controls PR, see issue #5453.

[2021-01-19 11:40] nadiration commented on #5454
@TobiGr i think the untranslated "cancel" is a bug and it's not related to standard Android dialog because i just saw some other normal in-app dialogs that the word didn't change like when creating a new channel groups on subscriptions tab

*Untranslated "Cancel" on creating new chanel groups:
![Screenshot_20210119-143134](https://user-images.githubusercontent.com/59365236/105029622-a4ea1b00-5a63-

[2021-01-19 11:48] XiangRongLin commented on #2251
@Katy-sadi

see https://github.com/TeamNewPipe/NewPipeExtractor#testing-changes

[2021-01-19 11:56] XiangRongLin commented on #5454
@nadiration It's the android cancel. see line 210 and 218

https://github.com/TeamNewPipe/NewPipe/blob/9a65f02d5bbab2e224083db3ab8e8fe5ab34d84e/app/src/main/res/layout/dialog_feed_group_create.xml#L204-L218

[2021-01-19 12:03] nadiration commented on #5454
@XiangRongLin
In the code they are both android strings but why is one string (create) changed and the other (cancel) not??

[2021-01-19 12:31] afusalan commented on #1751
Still waiting for this feature so me, my family, my tribe, and everybody else i know can switch from youtube

[2021-01-19 12:32] mhmdanas commented on #5281
Closing as a duplicate of #4387. If I misunderstood something and it's not actually a duplicate, feel free to write a comment.

[2021-01-19 12:32] #5281 closed

[2021-01-19 12:33] XiangRongLin commented on #5454
@nadiration the "cancel" is an android string (prefixed with android), the create is our own one (prefixed with string). So i would assume the same thing that TobiGr said:

[2021-01-19 14:08] Stypox commented on #5453
Does [this apk](https://github.com/TeamNewPipe/NewPipe/suites/1857209245/artifacts/36065666) from ci in #5460 fix the issue?

[2021-01-19 14:33] TiA4f8R commented on #5453
Unfortunately, no. See screencast below:

[No fix fix-scroll-description apk.mp4.zip](https://github.com/TeamNewPipe/NewPipe/files/5836484/No.fix.fix-scroll-description.apk.mp4.zip)

[2021-01-19 16:14] SreeHaran commented on #5369
No, it is not normal in android, also it is doable, Instead of directly calling toast... create a private toast variable in the class and also create a method for toast. And, call cancel method on the toast object if it is not null.. Like:

void createToast(int message){
    if(Toast != null) Toast.cancel();
    Toast = toast.makeToast(this, message, Toast.LENGTH_SHORT);
    Toast.show();
}

That'

[2021-01-19 16:36] Timmy183-ui commented on #5455
Any fix for this? It's not a good implementation of cars view

[2021-01-19 18:09] brnwlshubh commented on #5455
On updating the Channel group. App crashes with by the following:-

## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Country:__ IN
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ none
* __Version:__ 0.20.9
* __OS:__ Linux samsung/on7xeltedd/on7xelte:8.1.0/M1AJQ/G610FDDU1CSK2:user/release-keys 8.1.0 - 27
<details><summary><b>Crash log

[2021-01-20 01:46] nbear50 commented on #1751
I just want to import all of my watch history into a new account aswell.

[2021-01-20 10:53] Stypox commented on #5453
I don't know how to fix this. Android seems to like moving views around when giving focus to them (even though they are already visible), and I don't know how we could prevent that. @vkay94 do you have any idea how this could be solved? I found [this SO](https://stackoverflow.com/questions/5375838/scrollview-disable-focus-move) but wasn't able to find a good solution (i.e. I could disable automati

[2021-01-20 11:26] Stypox commented on #5369
This works in a single activity, but we have too many activities and fragments to be able to do this without adding too much code. Also, I don't understand why it is an issue if there are multiple toasts... They're there for a reason, aren't they? We can't just dismiss them if they contain random info before the user is able to even read it

[2021-01-20 13:07] vkay94 commented on #5453
@Stypox I'll take a look into it (I have to look into the implementation first)

[2021-01-20 15:17] SreeHaran commented on #5369
Ok

[2021-01-20 15:48] Stypox commented on #5453
@vkay94 this also happens when the description is the first tab that shows up when opening a video

[2021-01-20 15:53] vkay94 commented on #5453
Perfect timing :') So it isn't intentional (I was focussing on the tab switch). To fix it (scrolling on tab) you just have to add `clickable="false"` to `TextView` with id = "detail_description_view" in fragment_details layout.

[2021-01-20 19:46] opusforlife2 commented on #5421
@nbmrjuhneibkr Good point.

[2021-01-20 19:48] opusforlife2 commented on #4039
Woohoo! My Share button!

[2021-01-20 22:43] TheAssassin opened #5467 "Update check is run too often"
### Checklist

This affects all NewPipe versions since the update check was implemented, basically. But yes, it applies to the latest version, too.

- [x] I am using the latest version - 0.20.9
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CO

[2021-01-21 06:23] nadiration commented on #5467
Also an easily visible manual update button to check for updates is essential (for some users)

[2021-01-21 07:22] XiangRongLin commented on #5467
@nadiration you can open a seperate issue for that.

[2021-01-21 09:58] ovz93br43v7 opened #5469 "[Feature Request]: Please add GPG signature and SHA512 hash to verify downloads of NewPipe from Github"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
I currently downl

[2021-01-21 12:36] erikeah opened #5470 "Enqueue UI app crash"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-21 17:45] amir0159 commented on #5248
hi I'm proud to have friends like you

For guidance, I really thank this is your
credit. New Pipe has a Multiple versions. I try to get used to one because
some versions do not support the other version's data. If you know a
version that has a better prize Introduce . I wanted another subject in
another email, but I summarize in an email. 1 (This app:
https://ucmate.info/?Ref=appse does it communi

[2021-01-21 18:37] TiA4f8R opened #5475 "Wrong title of current playing stream in app's bottom when starting playback and enqueing stream(s) with context menu"
### Checklist
- [x] I am using the latest version - 0.20.8 and dev branch
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### St

[2021-01-21 18:42] vkay94 commented on #5470
Thank you for reporting this bug ;) I checked and could reproduce it. In fact, this crash is not limited to the enqueue action but also happens on choosing "Share" for example.

The easiest way to fix it is by closing the menu dialog whenever the stream changed (= related streams change).

[2021-01-21 20:08] mhmdanas commented on #5248
@amir0159 that is the first time I see that app. Taking a look at their screenshots, it does indeed look like that app is based on NewPipe. However, the website itself is extremely suspicious. I don't see a link to the app's source code anywhere in the website too. With that being said, I would advise against installing it.

[2021-01-22 05:40] nadiration commented on #5455
The popup closing button (x) is gone

[2021-01-22 06:39] amra commented on #4572
I was having the same issue with 0.20.1, which was the newest version in F-droid. I followed instructuons https://newpipe.net/FAQ/tutorials/install-add-fdroid-repo/ to add new F-droid repository and installed 0.20.8. Everything works fine now.

[2021-01-22 07:53] mhmdanas commented on #5455
@nadiration see #5458.

[2021-01-22 09:08] HTSamurai opened #5476 "[Feature request] YouTube Stories support"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

YouTube stories

[2021-01-22 09:19] TobiGr commented on #5455
[NewPipe_v0.20.9_RC3.zip](https://github.com/TeamNewPipe/NewPipe/files/5854732/NewPipe_v0.20.9_RC3.zip) fixes the popup closing regression.

[2021-01-22 09:48] brnwlshubh commented on #5455
This package has still https://github.com/TeamNewPipe/NewPipe/pull/5464
this crash issue.

[2021-01-22 10:29] mhmdanas commented on #5455
@brnwlshubh yes, that's expected, as #5464 has still not been merged.

[2021-01-22 12:39] vrindavan commented on #507
Is this still not available? Because I don't see mp3 download option @mhmdanas

[2021-01-22 12:51] alienthief commented on #5455
@TobiGr could you update translations (weblate) from the last two days before 0.20.9 public release?

[2021-01-22 14:44] alienthief commented on #5476
That stories crap is one of the main reasons i migrated from YouTube don't make me go back to YouTube and speak for yourself when assuming everybody wants this feature

[2021-01-22 15:17] HTSamurai commented on #5476
If you don't like them you can just turn it off. I wasn't assuming everyone wants it. It's good to  have the option for people who do want it (like me.)

[2021-01-22 15:46] Stypox commented on #507
The issue is open, hence no

[2021-01-22 16:07] alienthief commented on #5476
But you didn't mention it being an optional feature on the description, you promoted it as a popular feature 'everybody is missing'

[2021-01-22 16:09] alnkike opened #5477 "live, video not available"
I am using the latest version - 0.20.8

When i want to open a live music or other thing in live (search live music) the video doesn't appear, i have just an image with video not available.
I have try to change the video and audio format but it's the same.
I think this problem appears after 0.20.4 around 2 month.

![Screenshot_2021-01-22-17-00-22-020_org schabi newpipe](https://user-images.githubus

[2021-01-22 16:52] alienthief opened #5478 "Revamp the popup player"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

The current popu

[2021-01-22 16:52] HTSamurai commented on #5477
Same thing on my Redmi 8 Android 10/MIUI11

[2021-01-22 16:53] HTSamurai commented on #5476
Oh sorry I will change that

[2021-01-22 16:56] HTSamurai commented on #5476
Done

[2021-01-22 16:57] HTSamurai commented on #5478
Great idea! This would be a welcome addition for me

[2021-01-22 17:49] skyGtm commented on #5478
Point 1 has been fixed https://github.com/TeamNewPipe/NewPipe/pull/5458

[2021-01-22 17:57] dasois commented on #668
After reading this thread I kinda want to revive this (Chromecast support) and help.
As far as I understood there is no legal problem with using https://github.com/vitalidze/chromecast-java-api-v2.
Has there been any progress with the integration of that until now or do we have to start from scratch?
@TheAssassin @wb9688 @KeizerDev @theScrabi

[2021-01-22 17:59] B0pol opened #5479 "Update invidious instances"
and add https://redirect.invidious.io , for v0.20.9

[2021-01-22 18:11] alienthief commented on #5478
The issue/comment you referenced which is yours btw is no way close to this and also that PR you referenced is about "fixing x close button animation". I don't know if you understood what I'm talking about but you were supposed to read before commenting

[2021-01-22 19:31] TheFrenchGhosty commented on #5479
Announcement: https://github.com/iv-org/invidious/issues/1694

[2021-01-22 22:39] vkay94 commented on #5478
Your second point (smooth switching) is not limited to the popup, it happens for all kinds of types. There is also a duplicate:  #5016

[2021-01-23 03:56] kakolisgay opened #5481 "Better handling of suspended/deleted channels"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Currently Newpip

[2021-01-23 04:02] kakolisgay commented on #5481
Dupe of #3313? :/

[2021-01-23 04:02] #5481 closed

[2021-01-23 05:09] opusforlife2 commented on #5478
It's actually older than that: #2863.

[2021-01-23 07:22] opusforlife2 commented on #5455
@alienthief That's always the last step before release, don't worry.

[2021-01-23 08:23] alienthief commented on #5455
@opusforlife2 i know that but since he updated translation from like 5 days ago, i was talking about the most recent ones like two or three days ago

[2021-01-23 08:27] sack0fd3mon opened #5482 "Quick downloads in bulk"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
 I'd like to be a

[2021-01-23 08:32] opusforlife2 commented on #5455
@alienthief What I mean is that the translations will always be synced again just before the release is tagged. Look at the TODO in the OP. It's second last on the list.

[2021-01-23 09:20] Plugdemholes-Imeanpatchdembugs opened #5483 "30fps Rendering Mode for 720p60,1080p60 sources [personal experience of the performance old and new budget chips]"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Experience
I've recently upgraded my ISP connec

[2021-01-23 09:35] opusforlife2 commented on #5483
Wherever a 720p60 exists, a 720p30 stream exists as well. Can you test a few videos to confirm this?

[2021-01-23 09:39] Plugdemholes-Imeanpatchdembugs commented on #5483
Sure can do in about 90mins I can back to that.
Do you anything specific?
And I do remember, even now years back, where YT didn't offer anymore 1080p30 streams when it was originally uploaded with 60fps.

[2021-01-23 09:42] opusforlife2 commented on #5483
That's true. Youtube only offers 1080p60 streams when it can. But you will find in your tests that 720p is always available, even if 720p60 streams are present.

[2021-01-23 10:05] opusforlife2 commented on #5483
Can you give an example where the 720p60 stream exists but not 720p?

[2021-01-23 10:22] Plugdemholes-Imeanpatchdembugs commented on #5483
So far I did only find, when I'm having MPEG4 enabled as codec, which I usually have, since its less noisy than the WebM encoded steams, videos where 720p60 is shown but only a 720p30 version in WebM listed, but when clicked it goes right back to MPEG4 720p60 stream. I think that was always my experience, since I switched permanently to MPEG4 streams, even on my old smartphone prior to 2019.

[2021-01-23 10:53] kjgeyumubdutmjtuyj opened #5484 "Share video URL without playing the video"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Add Share button

[2021-01-23 10:58] opusforlife2 commented on #5483
Ah. I didn't know that.

So why not use the WebM 720p30 stream for your low end devices?

[2021-01-23 11:10] Plugdemholes-Imeanpatchdembugs commented on #5483
Because WebM is very noisy compared to MPEG4. ^^
And for my current device 720p60 isn't an issue anymore, but 1080p60 is. ^^"

[2021-01-23 11:20] opusforlife2 commented on #5483
Okay. Then it depends on how complex the code needed would be. To me it looks like too much work for too little gain, but I'm not a developer. Let's see if anyone takes this up.

[2021-01-23 11:22] Plugdemholes-Imeanpatchdembugs commented on #5483
Neither do I know how complex this would be. My thinking was, drop every 2nd frame. ^^"

[2021-01-23 13:27] vkay94 commented on #5484
This feature is already merged and will be available in the upcoming release (0.20.9). You can already try it yourself by installing the RC in the pinned area - look here how it looks #4534

[2021-01-23 13:27] #5484 closed

[2021-01-23 13:34] opusforlife2 commented on #5484
More importantly,

Duplicate of #4039. Check more carefully next time?

[2021-01-23 14:06] HTSamurai commented on #5455
Is 0.20.9 releasing soon?

[2021-01-23 14:13] mhmdanas commented on #5455
@HTSamurai yes.

[2021-01-23 14:13] opusforlife2 commented on #5455
We've decided to postpone it by a year, actually. We all really need a break.

[2021-01-23 14:14] HTSamurai commented on #5455
How long do you think it will be?

[2021-01-23 14:15] opusforlife2 commented on #5455
One year.

[2021-01-23 14:16] HTSamurai commented on #5455
Really?

[2021-01-23 14:18] HTSamurai commented on #5455
I'm sure you would have said

[2021-01-23 16:42] Stypox commented on #5453
Does [this other apk](https://github.com/TeamNewPipe/NewPipe/suites/1886112616/artifacts/36861859) from ci in #5460 fix the issue?

[2021-01-23 16:57] Stypox commented on #5455
Please don't ask, obviously it is releasing soon: it will be released when it will be ready. As you can see there are still some TODOs left, which mostly fix regressions, after those it will be released.

[2021-01-23 17:00] TiA4f8R commented on #5453
@Stypox No, it doesn't but there is a change: when clicking the description tab, the description view doesn't scroll to the top of the screen. However, clicking on a link scrolls the description view to top of the screen.

[2021-01-23 17:02] Stypox commented on #5453
@TiA4f8R then I can't reproduce

[2021-01-23 17:06] Stypox commented on #5453
@TiA4f8R I pushed another commit to #5460, could you test it when it gets built? I tried with something else

[2021-01-23 17:13] TiA4f8R commented on #5453
@Stypox Same result as the previous :(

[2021-01-23 18:00] HTSamurai commented on #5455
Sorry

[2021-01-23 18:58] mhmdanas commented on #2863
Closing in favor of #5016.

[2021-01-23 18:58] #2863 closed

[2021-01-23 18:59] mhmdanas commented on #5477
@alnkike thanks for opening an issue! Could you please open a new issue without removing the template?

[2021-01-23 18:59] #5477 closed

[2021-01-23 20:20] Plugdemholes-Imeanpatchdembugs commented on #5483
I've given a little update on what current devices could be affected from a slowdown of 1080p60 in my first thread post here.
So just to give a better impression if it's still relevant and for what current phones/tablets.

[2021-01-24 03:11] alnkike opened #5485 "live, video not available"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repr

[2021-01-24 03:12] alnkike commented on #5477
done thank you

[2021-01-24 03:23] alnkike commented on #5485
after reinstall it works.

[2021-01-24 03:23] #5485 closed

[2021-01-24 07:00] ankitmsnv opened #5486 "App crashed after watching a video in my playlist"
## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Country:__ IN
* __Content Language:__ en-IN
* __App Language:__ en_IN
* __Service:__ none
* __Version:__ 0.20.8
* __OS:__ Linux Nokia/TA-1032_00WW/NE1:9/PPR1.180610.011/00WW_5_180:user/release-keys 9 - 28
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-01-24 07:19] mhmdanas commented on #5486
Duplicate of #4475. Also, please don't remove the template when opening an issue.

[2021-01-24 07:19] #5486 closed

[2021-01-24 08:12] gsus24 opened #5487 "Add "RemoteControlReceiver" like MediaButtonReceiver"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

It would be grea

[2021-01-24 11:26] Abdulee commented on #5427
Hello I am having an issue similar to this I solve the captcha the checkmark turns green and then I hit the checkmark in the top right corner of the app and then the captcha opens again. My version is the same as the person who opened the issue

[2021-01-24 12:10] mhmdanas commented on #5478
@alienthief this issue requests multiple features. Could you please open separate issues for each of those (except 2, since there's #5016 for that)?

[2021-01-24 12:10] #5478 closed

[2021-01-24 17:49] byronmansfield commented on #4192
I also would like to see this feature. @HellxDo did this suggested apk include widgets?

[2021-01-24 18:06] Stypox commented on #4192
No, it does not. It was just a preview of the features of 0.20.0

[2021-01-24 18:50] alexspain632 opened #5488 "improvement in visual section"
They should add a button to like or dislike as well as leave a comment in the videos, and leave the library section so that the videos you like and the playlists are displayed, and the video cells that are larger

[2021-01-24 19:20] HTSamurai commented on #5488
Those would have to be local but I'd love that!

[2021-01-24 21:59] Rubbix commented on #4491
Sorry if I ping an old issue but is this problem acknowledged ?
I don't want to rush anything but this was a know bug I had for a while and wanted to get sure it's getting fixed.
Thanks for the work you guys did so far, grateful for the progress so far on NewPipe !

[2021-01-25 05:32] mhmdanas commented on #5488
@alexspain632 see #5147 and #5159. Also, please don't remove the template when opening an issue. Thanks!

[2021-01-25 05:32] #5488 closed

[2021-01-25 06:27] Timmy183-ui commented on #5455
Can't update what's new in 0.20.9 test apk provided above

[2021-01-25 06:50] mhmdanas commented on #5455
@Timmy183-ui it's working fine for me. Can we get a screenshot, and the logs if an error happens?

[2021-01-25 07:31] Stypox commented on #5455
@Timmy183-ui are you sure you are using the latest provided apk? This was an issue before, but now has been fixed

[2021-01-25 08:21] ovz93br43v7 commented on #5280
I now found a "work-around", I imported my lists/settings from my phone to the FireTV and now the subtitle settings from my phone are working on FireTV.

[2021-01-25 08:24] ovz93br43v7 commented on #5325
Probably this can be done with https://github.com/syncthing/syncthing ? Then the sync is safe regarding any privacy risks.

[2021-01-25 08:27] ovz93br43v7 commented on #5421
I was surprised when I saw in the F-Droid app that there is an update for newpipe legacy to 0.20.8 on 21th of January 2021. So the updates via F-Droid are working again now?

[2021-01-25 09:35] mhmdanas commented on #5421
No, NewPipe Legacy does not have this issue.

[2021-01-25 09:44] ovz93br43v7 commented on #5421
Ok I thought because the version history of F-droid shows a gap between version no. for New Pipe Legacy:
0.20.8 - 21th January 2021
0.20.2 - 31th October 2020

[2021-01-25 19:11] dilbech opened #5489 "Brightness gesture default setting: please disable"
### Checklist

- [x] I am using the latest version -v0.20.8
- [X] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [X] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-25 19:44] MD77MD commented on #1313
any update?

i don't know coding but I can help with testing and feedback.

[2021-01-25 20:23] vkay94 commented on #5489
Regarding 1: I searched, but couldn't find such issues in the tracker. You're referring to other users, but do you face this issue on your device, too? (For me, I couldn't reproduce it (auto brightness disabled or enabled - the brightness changes to its normal value after leaving full screen))

If it's a personal preference, you can just disable it in the settings.

[2021-01-26 00:04] Netpilgrim commented on #4480
Having watched videos clearly marked as such would be great. A further improvement would be a filter for hiding watched videos in lists.
Also related: #2642 (manually mark videos as watched)

[2021-01-26 03:39] joshatt commented on #3815
+1.
This will be wonderful for audiobook, podcast or lectures.
And, "sorting playlist" is not enough, audiobook podcast or lectures are not limited to playlist format, it'll be better if channels are also covered. So, either channel or playlist,  when new video added, a simple "play in reverse order" button or option will cover all situations.

[2021-01-26 03:43] joshatt opened #5490 "add "play in reverse order" button or option"
#### How will you/everyone benefit from this feature?

"play in reverse order", this will be wonderful for audiobook, podcast or lectures.
And, "sorting playlist" is not enough, audiobook podcast or lectures are not limited to playlist format, it'll be better if channels are also covered. Either channel or playlist, when new video added it gets complicated, so, a simple "play in reverse order" but

[2021-01-26 03:54] Timmy183-ui commented on #5455
Yes, I am using 0.20.9 rc3, it's always a hit or a miss, sometimes I am able to pull to refresh my subscriptions and sometimes I am not. As it seems I am able to only update my feed two to three times at most per day.

[2021-01-26 05:20] mhmdanas commented on #5490
Duplicate of #3815. Also, please don't remove the checklist, as it's necessary.

[2021-01-26 05:20] #5490 closed

[2021-01-26 05:34] mhmdanas commented on #5489
I agree with disabling it by default, but I want to point this out:

The gesture is there so that we _won't_ have to open that thing when we're in the middle of a video.

Also, you're using the bug report template, but you should be using the feature request template in this case, as this is not a bug. I won't close this issue, but please choose the correct template next time.

[2021-01-26 07:07] alienthief commented on #5478
@mhmdanas 🤦‍♂️ it's a revamp about one specific feature. popup player. it was supposed to have multiple points that's why i wrote "revamp" on the title please reopen the issue

[2021-01-26 07:12] mhmdanas commented on #5478
It doesn't matter that we're talking about one existing feature. The issue is precisely with the multiple points.

[2021-01-26 07:14] nadiration commented on #5489
The brightness gesture is godsend why would anyone want to disable it 🤔

[2021-01-26 07:31] cntrl-s commented on #1313
@MD77MD i am new to android development so this will take a while

i will let you know once i have something for you to test :P

[2021-01-26 08:47] cntrl-s commented on #1313
@MD77MD @Stypox how do you think we should implement playlist group view

i am thinking horizontally scrollable (like feed group) under playlist tab with thumbnail of first playlist under the group as thumbnail for the group

[2021-01-26 08:58] HTSamurai commented on #5455
Maybe try changing feed update threshold in the content settings?

[2021-01-26 09:23] XiangRongLin commented on #1313
@cntrl-s  I would do it like the channel groups/subscription groups.
So the current playlist view gets expanded by a header to manage the groups. When clicking on one of those groups it opens the old playlist overview with all the playlists in that group. From there you can open a single playlist to see the single videos.

It would allow to reuse/copy stuff, depending if you want to extract out co

[2021-01-26 11:10] cntrl-s commented on #1313
@XiangRongLin i agree with this, i was thinking we could have simple groups like subscription groups

[2021-01-26 11:28] Timmy183-ui commented on #5455
Well I don't want an app mining my resources in the background so I do a manual refresh every time I open it

[2021-01-26 11:42] mhmdanas commented on #5455
@Timmy183-ui what do you mean by not wanting NewPipe mining resources in the background? NewPipe currently does not refresh subscriptions unless you tell it to do so. The setting just determines the duration after which the feed is considered outdated.

[2021-01-26 11:44] HTSamurai commented on #5455
Once it is considered outdated, only then you can refresh the feed. I have mine as always update so I can always update it manually but it is never automatic.

[2021-01-26 13:20] HTSamurai opened #5491 "[Feature] Option to disable channel groups"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
In content settin

[2021-01-26 13:46] emilasdf opened #5492 "sepiasearch"
I think it would be nice if you add sepiasearch which makes it easyer to navigate a cross different peertube instaces. (https://sepiasearch.org)

If someone wants to search viedos on peertube one has to add a lot of instances and search them individuelly for just one viedo.

With sepia one can search 642 peertube instaces.

I like the uncommertial decentrliced aspect of peertube, but one of the pr

[2021-01-26 15:15] mhmdanas commented on #5492
Duplicate of #4461. Note that this feature is coming in 0.20.9. You can test it by installing the APK from #5455. Also, please don't remove the template when opening an issue. Thanks!

[2021-01-26 15:15] #5492 closed

[2021-01-26 15:23] PierreSachot opened #5493 "Current time and video duration not displaying in background notification"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-26 20:13] urlordjames commented on #5489
1: This should be resolved when 20.9 releases. (duplicate of #4481 resolved in #5283)
2: duplicate of #3713

[2021-01-26 20:33] JeffRockatansky commented on #1313
JSON / YAML import / export of playlists feature would also be nice.

And maybe an archiving feature per playlist?

Guess I'll describe these ideas in separate issues, but they should be considered in possible playlists tab redesign.

[2021-01-26 20:49] smartieyoung commented on #5455
## Exception
* __User Action:__ searched
* __Request:__ "ambient music full album" → pageUrl: https://music.youtube.com/youtubei/v1/search?ctoken=Er0DEhhhbWJpZW50IG11c2ljIGZ1bGwgYWxidW0aoANFZy1LQVF3SUFCQUJHQUFnQUNnQU1BQklpQVJxQ2hBRUVBVVFBeEFLRUFtQ0FRdHNjVUZ1WkVJMlprbGlXWUlCQzAxM1dUVTNXblY1TTJWVmdnRUxlWFZVWlcxMWRHdDRUVldDQVF0NllsSlpZakJGY0Rrd09JSUJDMEpLV0ZGWmVEZHFYek5KZ2dFTGJGVklaRXh6U2taTlpFR0NBUX

[2021-01-26 20:51] smartieyoung commented on #5455
I got this while running new pipe 0.20.9 I had a search ongoing and after searching for some music this came up.not sure what I was doing wrong

[2021-01-26 21:40] dylanforegger opened #5516 "Increase video download buffering"
This is a beautiful piece of software. I have watched it improve over time tremendously. This is why I am submitting my suggestion to "increase video download buffering".

I use NewPipe to watch YouTube videos on my Android 7 smartphone. The Internet service I use is AT&T, which gives a nice 25 mbps download speed. However, sometimes the download speed can get as low as 3 mbps. When this happens,

[2021-01-27 01:28] Timmy183-ui commented on #5455
OH damn it was the setting, turns out the setting also determines when you can pull to refresh, if your feed was updated 4 hours ago and you set threshold to 24 hours you can't even update manually before 24 hours. Strange behavior lol, anyways my problem was fixed by turning it to always update

[2021-01-27 07:49] andreib1 opened #5494 "Pin code protect restricted content settings"
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
NB: there is something vaguely similar, but it's rolled into a whole bunch of more complicated changes
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue fo

[2021-01-27 08:37] St379 opened #5495 "Long playlist not showing all songs."
I am on v0. 20.8 with redmi note 8.
I have a long playlist and I can't see all the songs
The issue was reported but closed  #4819.

[2021-01-27 08:43] #5479 closed

[2021-01-27 10:18] XiangRongLin commented on #5495
Please fill out the bug template

[2021-01-27 10:18] #5495 closed

[2021-01-27 13:25] Stypox commented on #1313
I also agree, but I'd use the group's thumbnail as a background image for the group item. Also, I'd make the playlist group items have: a height that is something in between 1.5x and 2x the height of subscription group items; a width/height ratio of 16:9.

@JeffRockatansky yeah, those are different and unrelated proposals

[2021-01-27 14:01] cntrl-s commented on #1313
that's what i said in a reply above we could use the thumbnail of the first playlist under the group as thumbnail for the group or we could combine different playlists thumbnail to make a new one (vlc android does this for folder with multiple videos)

[2021-01-27 14:26] Stypox commented on #1313
@cntrl-s if this does not require storing too much cached data on the user's phone then ok

[2021-01-27 14:40] cntrl-s commented on #1313
@Stypox ok i will start working on this, thank you

[2021-01-27 14:54] Stypox commented on #1313
@cntrl-s thanks to you! :-D

[2021-01-27 15:24] defini-tiv commented on #5491
@HTSamurai do you konw you can add a ”What's new“  tab to the main page instead of the subscriptions tab in the content settings?
If you do, i dont understand which problem should get solved?

[2021-01-27 15:25] HTSamurai commented on #5491
I know that, but i prefer the pre-v0.19.0 feed. The channel group system doesn't work for me

[2021-01-27 15:32] defini-tiv commented on #5491
So your problem is that you can't access a single feed through the subscription tab? Because the whats new tab sitll shows a unified feed, irgnoring the groups.
Sorry for the many questions, but i don't really understand right now

[2021-01-27 15:34] HTSamurai commented on #5491
I know. I'm wanting to use the A-Z feed that didn't have to have you refresh it that was used in v0.18.x and before. If you install a 0.18 apk you will see it

[2021-01-27 16:14] Hogerys opened #5496 "delete"

[2021-01-27 16:19] Hogerys opened #5497 "Watched video mark"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

There already ar

[2021-01-27 16:39] Hogerys opened #5498 "More options on creator pages"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I would enjoy mo

[2021-01-27 16:43] Hogerys opened #5499 "Replaying livestreams"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

When i start wat

[2021-01-27 17:03] alienthief commented on #5478
@opusforlife2 what do you think about @mhmdanas point of closing this issue?

[2021-01-27 17:10] amir0159 commented on #5248
Hello, thank you for your attention. I do not understand what you mean. You
say that the website of this app has a problem? I still have it installed
and I use it for Spotify. If there is a problem, I will delete it faster.
Honestly, this is the second app I see made in terms of user interface
similar to newpipe.

To make this app too:

https://www.vanced.pro/

در تاریخ پنجشنبه ۲۱ ژانویهٔ ۲۰۲۱،‏ ۲

[2021-01-27 17:19] mhmdanas commented on #5489
@urlordjames indeed you are right. @dilbech you can comment on #3713 to voice your opinion about this.

[2021-01-27 17:19] #5489 closed

[2021-01-27 20:22] Stypox commented on #5105
Uhm, strange. That url is part of a playlist which does not exist: https://www.youtube.com/playlist?list=PL6Az3D4GL-TdsK14I9ZjFKnG7dN3qK8_e
I don't know what we could do with this, the current behaviour is theoretically the correct one, as the content is really not available.

[2021-01-27 20:25] Stypox commented on #5105
I can't understand what this passage means. What is a custom list? Is it a private playlist? If that's the case then there is not much we can do, as private playlists are not publicly queriable and we can't know whether a playlist is private or not before deciding whether to show the playlist or to show the single video.

[2021-01-27 20:59] eladkarako commented on #5352
https://github.com/iv-org/invidious/issues/957#issuecomment-768563819

[2021-01-28 08:14] alienthief commented on #5455
Minimize on app switch isn't working anymore it just opens popup player when you switch to other apps with a video playing although minimize on app switch is set to background player on settings.

[2021-01-28 09:38] MarinaBoudin opened #5500 "Can't analyse the web site"
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=Ht6X9DMzS4g
* __Content Country:__ FR
* __Content Language:__ fr-FR
* __App Language:__ fr_FR
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux Android 10 - 29
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

### Checklist

- [x] I am using the latest version - x.xx.x

[2021-01-28 11:13] HTSamurai commented on #5500
Update to Newpipe v0.20.8 and it should work

[2021-01-28 11:28] shivasagarrao commented on #5498
Duplicate of [#2414](https://github.com/TeamNewPipe/NewPipe/issues/2414)

[2021-01-28 13:24] Stypox commented on #5455
@nadiration could you send a screenshot of the same grid view in 0.20.8, so that I can check if there are size differences?

[2021-01-28 14:35] #5500 closed

[2021-01-28 15:06] XiangRongLin commented on #5041
Currently it displays when the stream was announced and not when it is scheduled.

If someome wants to work on this, i prepared a branch with the response mocked. This needs to be done with mocks, because after february 18 it's not an upcoming stream anymore.
https://github.com/XiangRongLin/NewPipeExtractor/tree/mock_upcoming_livestream

Requirement for that would be https://github.com/TeamNewPipe

[2021-01-28 17:45] TobiGr commented on #5455
[NewPipe_v0.20.9_RC4.zip](https://github.com/TeamNewPipe/NewPipe/files/5888966/NewPipe_v0.20.9_RC4.zip)
- Updated invidious instances list
- Fixed minimize on app switch: background setting ignored, opens popup

[2021-01-28 17:54] Battant opened #5504 "Newpipe : Error on play vidéo"
Hello,

Hère ils m'y configuration

Android 10
Lynageos 17.1o1/22/2021
Fairephone 2
Google service not installed for privacy reason
Step to reproduce :

1. Get newpip on F-droid marketplace
2. Open newpip
3. Search any video
4. Press play button

Actuel result :

## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=vLekCypoaQU
* __Content Country:__ GB
*

[2021-01-28 18:02] TobiGr commented on #5504
Update to 0.20.8
See https://github.com/TeamNewPipe/NewPipe#installation-and-updates

[2021-01-28 18:02] #5504 closed

[2021-01-28 19:18] connectety commented on #5421
I looked into the cause a bit.
Looking at [this f-droid data issue](https://gitlab.com/fdroid/fdroiddata/-/issues/2207), the cause seems to be, that f-droid does build the app without failures but fails to verify the app against the dev provided APK and thus does not publish it.

In [this f-droid server issue](https://gitlab.com/fdroid/fdroidserver/-/issues/827), which is linked in the f-droid dat

[2021-01-28 20:08] jowiejow commented on #4940
I have the same issue

[2021-01-28 20:08] vinibali commented on #5105
Yes, that's a playlist in the reproduce test.
The playlist I showed in the example is one of my private ones, however the URL which was opened in NewPipe is real.
I used to open Youtube in Firefox, which has a shortcut to the list I used to play in the car. And I long click on one of the videos from the list and share it with Newpipe. This is the way how I insert the links and I click on "Play on

[2021-01-29 08:34] nadiration commented on #5455
@Stypox

About that i forget to comment uninstalling and reinstalling seems to have fixed it

[2021-01-29 08:34] nadiration commented on #5455
@Stypox

About that i forget to comment uninstalling and reinstalling seems to have fixed it

[2021-01-29 08:36] Stypox commented on #5455
@nadiration uh strange, that's probably some bad layout calculation made by your phone, since we don't mess with dp scaling. Thank yoh for confirming ;-)

[2021-01-29 09:16] alienthief opened #5505 "In-player X button for closing popup player"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Changing the bot

[2021-01-29 15:35] prateekmedia opened #5506 "org.schabi.newpipe.extractor.exceptions.ExtractionException: Couldn't get audio streams"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Logs

## Except

[2021-01-29 17:44] XiangRongLin commented on #5494
Pin code for age restricted settings alone won't make any difference, because currently it's broken anyways
https://github.com/TeamNewPipe/NewPipe/issues/5006#issuecomment-734437399

[2021-01-29 21:07] TobiGr commented on #5506
In general: please follow the template
``` Caused by: java.net.SocketTimeoutException: failed to connect to youtube.com/172.217.166.14 (port 443) from /10.34.142.214 (port 49071) after 10000ms ```
this seems to be a network problem. Please reopen if this issue still exists and give us a link to a real video,

[2021-01-29 21:07] #5506 closed

[2021-01-29 22:51] TobiGr commented on #5455
@Stypox I found a small bug, but do not consider it to be blocking: the secondary panel is not updated when the "play with kodi" setting is changed. One needs to restart the app to make the button visible or hide it.

[2021-01-30 05:18] skyGtm opened #5507 "Clicking YouTube video TimeStamps on Video description and Comment Section shows different behaviour"
### Checklist

- [x] I am using the latest version - v0.20.9_RC4
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to r

[2021-01-30 05:20] skyGtm commented on #5455
Needs fix
https://github.com/TeamNewPipe/NewPipe/issues/5507

[2021-01-30 06:04] skyGtm opened #5508 "Download popup UI requires Redesign."
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Currently, the p

[2021-01-30 09:10] xuvatilavv opened #5509 "Certain channels not appearing in search and their channel page only shows old videos"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-30 09:29] HTSamurai commented on #5509
Using a VPN or changing my DNS server has fixed this for me

[2021-01-30 12:50] lkpk opened #5510 "New install"
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=OwF7mWqoQg0
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux Android 10 - 29
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

### Checklist

- [x] I am using the latest version - x.xx.x

[2021-01-30 13:00] strikersh opened #5511 "Opt-in/Out ACRA"
User should be able do choose if they do want to send crash reports without building from source (like f-droid do).

[2021-01-30 13:04] mhmdanas commented on #5510
Update to 0.20.8 to fix this issue (https://github.com/TeamNewPipe/NewPipe#installation-and-updates).

[2021-01-30 13:04] #5510 closed

[2021-01-30 13:05] mhmdanas commented on #5511
Can you elaborate? Crash reports are not sent automatically at all.

[2021-01-30 13:07] strikersh commented on #5511
I've seen that ARCA is bundled in the official build, and not in f-droid.
And since I haven't found any option to enable or disable it I thought it was automatic

[2021-01-30 13:12] Stypox commented on #5511
@strikersh ACRA is bundled in any build and its only purpose is to catch unhandled errors in order to be able to show you a report screen. No data is collected by ACRA itself at all, it is only used to handle uncaught exceptions.

[2021-01-30 13:14] Stypox commented on #5511
As @mhmdanas, data about crash reports is collected only if you choose to send the email from the report screen, and that's a totally different mechanism from ACRA (i.e. it just sends an email with the crash report information)

[2021-01-30 13:59] strikersh commented on #5511
My bad, I'll close the issue.
ClassyShark3xodus do report ARCA on both build.
I did discover that months ago and I might just have compared to the report on exodus website who says there is no tracker

[2021-01-30 14:00] #5511 closed

[2021-01-30 18:55] Piruzzolo opened #5512 "Add "upcoming" or "in <n> hours" to scheduled stream's thumbnail"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
It would be nice

[2021-01-30 19:16] gigiboeru opened #5513 "Disable just the lock screen thumbnail or give some display options"
Hi,

As the title says, the lock screen thumbnail is too ugly - low resolution and it has no option to scale/center it etc.

I'd like to have the thumbnail just for the notifications.

A more customizable option for the lock screen is also welcomed, but I do realize that will take some time to be implemented, so for the first stage a simpler option to disable the thumbnail for the lock screen is r

[2021-01-30 22:35] TobiGr commented on #5455
[NewPipe_v0.20.9_RC5.zip](https://github.com/TeamNewPipe/NewPipe/files/5898860/NewPipe_v0.20.9_RC5.zip)

- [YouTube Music] Fix extracting search item view/subscriber count when it equals zero
- Set all default settings at the beginning

[2021-01-31 06:37] alienthief opened #5514 "Remove "Resizing" text from popup player"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

The resizing tex

[2021-01-31 06:52] alienthief commented on #5455
I know this is off-topic and there's an issue #5323 for it but could you please add a default auto setting for video quality (or at least for wifi) in the next release?

[2021-01-31 06:58] alienthief commented on #5508
@skyGtm also the OK button is a bit out of context, Start would have been much clearer. could you add that to the description?

[2021-01-31 06:59] alienthief commented on #5508
@skyGtm I agree with you and also the OK button is a bit out of context, Start would have been much clearer. could you add that to the description?

[2021-01-31 07:09] mhmdanas commented on #5455
@alienthief if somebody makes a PR for it before we release 0.20.9 it _may_ land on 0.20.9, but I think it's unlikely since it will need to be reviewed and tested. However, it's up to the developers in the end.

[2021-01-31 08:31] Stypox commented on #5513
This is not doable using MediaStyle notifications afaik

[2021-01-31 09:16] TobiGr commented on #5455
[NewPipe_v0.20.9_RC6.zip](https://github.com/TeamNewPipe/NewPipe/files/5899430/NewPipe_v0.20.9_RC6.zip) fixes a bug that prevented NewPipe to fall back to Google Play Store URL when using InstallApp method (e.g. for Kodi or VLC installation)

[2021-01-31 09:51] #5467 closed

[2021-01-31 12:44] TheAssassin commented on #539
Evaluating the last 90 days of bug reports, I could generate the following list:

[code]

These were all rejected by the importer. It's likely incomplete, but gives an idea on the current state.

[2021-01-31 12:49] WoodyMats commented on #5428
Hello! I'd like to work on this enhancement. Can i assigned to this issue? :)

[2021-01-31 13:17] TobiGr commented on #539
Please note: just because an app is on that list, it does not necessarily mean that it violates the GPLv3.

[2021-01-31 13:27] XiangRongLin commented on #5428
@WoodyMats Go for it

[2021-01-31 14:19] Vrihub opened #5517 "Strange behaviour of "back" button"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-01-31 14:35] B0pol commented on #539
And here is the list of apps on play store from @TheAssassin's list:
[code]

[2021-01-31 15:25] mhmdanas commented on #5513
Since this seems to not be possible, I'll be closing this issue. If you find a way to do this, feel free to open a new issue that follows the template properly and tell us how we can do it. Thanks!

[2021-01-31 15:25] #5513 closed

[2021-01-31 21:15] alienthief opened #5518 "[Question] Is it really over for age-restricted content on NewPipe?"
Since Google has made some drastic changes to viewing age-restricted content on YouTube making it compulsory to login with your account inorder to access contents like the below video, is it over for age-ristructed content on NewPipe or are there any workarounds planned?

Context: https://m.youtube.com/watch?v=r4JWI4UDOrc

[2021-01-31 21:20] blackholeearth commented on #5482
I also really want to bulk download playlist . With the prefix playlist  index/order no to filename.

[2021-01-31 23:00] WoodyMats commented on #5428
#5519 I made a pull request that contains code which has this enhancement. :)

[2021-02-01 00:25] nbmrjuhneibkr commented on #5517
Sadly, this is one of the "features" that was implemented on purpose in 0.20, because someone thought that it would be great to break established user experience and introduce something that defies common sense.
I submitted it once https://github.com/TeamNewPipe/NewPipe/issues/4462 , but it was closed. You're not allowed to call it a bug, apparently.
I submitted it again as a "feature request" (ev

[2021-02-01 00:40] nbmrjuhneibkr commented on #5518
These changes aren't new, and they don't seem to apply to all age-restricted videos. I still see videos (including newly-uploaded ones) that can be accessed with usual methods.
As for the videos like this one - yt-dl should still be able to handle them (by allowing you to log in or import cookies), so it shouldn't be impossible to implement some similar solution in NewPipe.

[2021-02-01 02:15] hefty-fading-culprit-epiphany-drew commented on #5455
Was watching a video with rc6 double tapped to seek, NewPipe crashed

[2021-02-01 05:57] captaincupcakes opened #5520 "Searching yields no results"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-01 06:20] mhmdanas commented on #5520
What is your NewPipe version?

[2021-02-01 06:21] captaincupcakes commented on #5520
0.20.8

On Mon, Feb 1, 2021, 1:20 AM Mohammed Anas <notifications@github.com> wrote:

[2021-02-01 06:33] mhmdanas commented on #5520
That is quite odd; I can't reproduce. Perhaps this is related to #5279. I _think_ you're using Wi-Fi (from the screenshot), but just to be sure, if you're using mobile data, can you see if this issue is present with Wi-Fi?

[2021-02-01 06:35] captaincupcakes commented on #5520
Am using WiFi..

On Mon, Feb 1, 2021, 1:34 AM Mohammed Anas <notifications@github.com> wrote:

[2021-02-01 08:37] Megaman99 opened #5521 "Can't play videos"
I don't know why but when i try to play a video, the app returns me this error and i can't see the video. This happens with all the videos on YouTube

## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=c3RXyeEdKvo
* __Content Country:__ IT
* __Content Language:__ it
* __App Language:__ it_IT
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux A

[2021-02-01 09:08] mhmdanas commented on #5521
Update to 0.20.8 to fix this issue (see https://github.com/TeamNewPipe/NewPipe#installation-and-updates).

[2021-02-01 09:08] #5521 closed

[2021-02-01 10:23] Vrihub commented on #5517
Thanks for the explanation, I apologize I failed to find similar issues in the tracker, so I will close this.

Ok, so "swipe down" is the new "back". Well, if this is meant to be a permanent feature (in fact there are some use cases for it, though it's not how most apps work) I think it should be better "documented" in the app (some help screen, intro app tour etc)

[2021-02-01 10:23] #5517 closed

[2021-02-01 10:46] Vrihub commented on #4479
I agree in principle, but if reverting would cause too much disruption, or require too much refactoring of the existing code, then until a solution is found, I think this non-standard behaviour ("swipe down" is the new "back") should at least be well documented, so that the user can be familiar with it from day one (instead of being puzzled and learn it with frustration).

By "documented" I mean w

[2021-02-01 11:12] brnwlshubh commented on #5445
@mhmdanas I found 2 github apps which has this same feature.
Can I share the link for further info.?

[2021-02-01 13:54] prateekmedia opened #5522 "Unified Player not maintaing state when orientation is changed in a video which was opened after end of first video and the player is returned to the first video."
### Checklist

- [x] I am using the latest version - 0.20.8 + 0.20.9
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps

[2021-02-01 14:36] TiA4f8R commented on #5455
Note that there is a small bug which shows the toast `No app on your device can open this` if no app can handle the market scheme when the system chooser to open a web browser or the default browser is opened. I will fix it soon.

[2021-02-01 17:12] nikhilCad commented on #4918
Months fly by, but v20 remains without option to stop autoplay, or playing in landscape without rotating phone.

[2021-02-01 19:17] HTSamurai commented on #5522
Same problem on Redmi 8

[2021-02-01 20:36] MrFeelgoood opened #5524 "back button causes videos to block"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-01 22:41] vrindavan opened #5525 "Endless Scrolling"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Endless Scrollin

[2021-02-02 06:17] captaincupcakes commented on #5520
Wifi or LTE don't matter,it still shows the same results regardless of what I look for.
Also my pixel 2 xl with the same version displays the same behavior.

0.20.7 didn't had this glitch

[2021-02-02 10:53] dg7op commented on #2585
YouTube does provide a way to export favorites and watch later playlists as files! Please implement an import feature!

[2021-02-02 13:37] mhmdanas commented on #5522
@prateekmedia could you please edit the title to be more descriptive?

[2021-02-02 13:49] prateekmedia commented on #5522
Is that enough descriptive?

[2021-02-02 13:51] mhmdanas commented on #5522
That's more than enough. Actually, I'd say it's a bit too much, so it would be great if you can make it more concise. But if you can't, that's fine.

[2021-02-02 13:53] mhmdanas commented on #5522
The issue with your previous title is that it didn't describe the issue in any way. It just said that this is a "serious bug." You should avoid that and at least attempt to describe the problem/feature request itself.

[2021-02-02 14:50] zero77 opened #5526 "[Feature Request] Subscribe / Monitor Without Using API Or Login"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Can you please a

[2021-02-03 05:25] nikhilCad commented on #5520
It sometimes happens with me too, but it goes away when I search the same thing again

[2021-02-03 05:27] captaincupcakes commented on #5520
Mine doesn't...I can look up the same thing several times and still does it

On Wed, Feb 3, 2021, 12:26 AM Nikhil Kadiyan <notifications@github.com>
wrote:

[2021-02-03 08:01] rsyqvthv commented on #5235
I think a separated playlist named "queue" or "watch later" would more reliable than queue function, and the playlist has the `remove watched` command in top right 3 dots menu make it even more convenience.

the queue is quite easily to be overwrite when I share youtube link to Newpipe, and there isn't any history of the last queue.

that's makes queue function quite unuseable.

[2021-02-03 09:31] brnwlshubh commented on #5445
@Stypox @TobiGr Sir please try to implement this in next release(after 0.20.9) or ASAP.
Thanks in advance.

[2021-02-03 15:40] demonff1 opened #5527 "Copy link to clipboard is missing in share option"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-03 16:53] mhmdanas commented on #5527
I can't reproduce. @HTSamurai from issues that you opened, I think you have the same device, or at least a similar one. Can you see if you can reproduce?

[2021-02-03 17:25] jimman2003 commented on #5526
There is an option to import subscriptions from youtube...You could just export(from Google takeout) whenever you subscribe to a new channel...

[2021-02-03 17:36] TiA4f8R commented on #4560
@kubo6472 #5523 fixes the issue?

[2021-02-03 17:41] brnwlshubh commented on #5527
@demonff1 It is because sharing details contains "Title of the video + video link"
You can check this via sharing this to any personal SMS.

[2021-02-03 18:08] BDaggerhart commented on #5203
This honestly seems like a pretty necessary feature, I would like to see this as well.

[2021-02-03 21:26] TobiGr commented on #5455
[NewPipe_v0.20.9_RC7.zip](https://github.com/TeamNewPipe/NewPipe/files/5921604/NewPipe_v0.20.9_RC7.zip)
- Fixed YouTube stream chapters
- Fixed channel subscribe button causing crash on closing
- Reduce requests to NewPipe API when checking for new version
- updated translations

[2021-02-03 22:40] eladkarako commented on #5352
even if the whole thing was a redirect without a cookie,
httpok3 is.. ok, but do not support QUIC nor brotli, which Google servers are basically tuned to. cronet is amazing it even comes out of the box with various in-RAM storage-optimizations, so you can cache jsons, xmls and even thumbnails without even thinking about it or taking storage space.

[2021-02-04 06:48] alienthief commented on #5455
Since description scrolling is caused by "secondry controls" which many of us don't like plus it took over description's place can we like revert it since it's blocking and seems unsolvable?

[2021-02-04 08:28] zero77 commented on #5526
Thanks for your response, that is one of the things i have been doing but it's still a very manual process.

[2021-02-04 13:17] demonff1 commented on #5527
@brnwlshubh, I don't think the problem lies because of the share button containing title plus link.
As you suggested, I used the sms app and also the notes app in my device to check and They only show the video link.

Btw, I forgot to mention that I'm using Android 10 running on MIUI 11.

[2021-02-04 13:25] demonff1 commented on #5507
I think it would be better to have customization on whether pop up player or main player. It should be left to the user end.
Personally I'd love the main player like the YouTube app tho 🙃

[2021-02-04 14:11] mhmdanas commented on #5527
@demonff1 that's odd. I tested it and it shares both the link and video title.

[2021-02-04 17:26] NewNewPipe commented on #5527
I also lack in share options copying link to clipboard. Android 10 app v. 0.20.8. In the previous version it was for sure because I used it.

[2021-02-04 17:48] thansk commented on #3713
I am happy with the gestures, they are extremely useful and convenient and wouldn't have found out about them if they weren't enabled by default.

[2021-02-04 18:10] HTSamurai commented on #5527
Yeah I'm on the same device I'll check

[2021-02-04 18:11] HTSamurai commented on #5527
Yes it's missing for me as well

[2021-02-04 21:00] CactiChameleon9 opened #5528 "[Idea/feature to implement] Captcha is bypassed with embedded youtube urls"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
A friend pointed

[2021-02-04 22:18] Oktayey commented on #5520
I'm also experiencing this issue; it happened when I completed a Captcha, then switched from mobile data to WiFi. I'm on a Samsung Note 9 on the latest Android 10 patch.

[2021-02-04 23:20] arihan-1560795 commented on #5528
I've been getting captchas on both of my phones regardless of whether I'm connected to a VPN or not- across various networks (different buildings). This would be a godsent if I don't have to spend 2-3 minutes doing those puzzles.

[2021-02-05 13:45] demonff1 commented on #5499
I would also like to add that common features like resolution or speed changing option are not available in Livestream.
Many a time Livestream are in 360p or worse 240p. Would love to see Livestream from the beginning in newpipe in good resolution.

[2021-02-05 18:00] 89z opened #5529 "Some YouTube "Topic" fail to load"
For some reason this video wont load in NewPipe, but it does with YouTube:

- 9 Lazy 9 - Topic
- https://www.youtube.com/watch?v=1PohhankfXc

at first I thought it was because it was a "Topic" video, but other Topic work
fine:

- Phil Mison - Topic
- https://www.youtube.com/watch?v=B6iLj4_SUZs

[2021-02-05 18:09] 89z opened #5530 "Playlist append broken on newer versions"
Previously, I would hold on a link, then choose "Open With NewPipe App". If I did
this with multiple videos, then one would play after another.

Now with version 0.20.8, if I open a second video, it stops the first video and
starts the second, instead of adding to playlist.

[2021-02-05 18:23] 89z commented on #5530
It looks like the last version to work correctly is

https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.20.2

and the first broken version is

https://github.com/TeamNewPipe/NewPipe/releases/tag/v0.20.3

[2021-02-05 18:27] 89z commented on #5530
https://github.com/TeamNewPipe/NewPipe/pull/4425

[2021-02-05 19:58] vkay94 commented on #5530
@89z Yeah, the behavior change is because of the combined enqueue option PR (but not directly intended at this situation), to answer your comment in that PR.

There is already a issue which is similar: #4779 . In fact, the option itself is "Background player" and not "Append to background player", it's more like "Start this stream in background player", isn't it?

[2021-02-05 20:01] 89z commented on #4779
https://github.com/TeamNewPipe/NewPipe/issues/5530

[2021-02-05 20:04] 89z commented on #5530
You can only choose if its popup player or background player. You dont have a choice of whether it starts a new playlist or adds to existing. The fact that you dont have that option, combined with the fact that the default has also been changed, makes me frustrated.

I have reverted to the older version until this is resolved. This is not good UX.

[2021-02-05 20:11] opusforlife2 commented on #5478
@alienthief Of your 3 points, point 2 is a duplicate as vkay and I linked already.

Anyway, this is not a revamp. It's two separate feature requests/bugs. Why? Because the code/UI changes aren't related at all. A dev could browse through issues, stumble on one of those, and choose to implement the removing "resizing" one, for example, and it would have no effect on the other.

So it is better that

[2021-02-05 20:12] 89z commented on #4779
This is quite frustrating. The default has been changed to "start a new playlist" instead of "add to playlist". I cant understand how anyone would think that is a good idea. @Stypox can you comment on the justification?

In addition, as shown in the picture, in addition to the default being changed, the interface has no option to change the default back to "add to playlist". I am downgrading until

[2021-02-05 20:14] 89z commented on #5530
https://github.com/TeamNewPipe/NewPipe/issues/4779
https://github.com/TeamNewPipe/NewPipe/issues/5530
https://github.com/TeamNewPipe/NewPipe/pull/4562

[2021-02-05 20:14] 89z commented on #4779
https://github.com/TeamNewPipe/NewPipe/issues/5530

https://github.com/TeamNewPipe/NewPipe/issues/4779
https://github.com/TeamNewPipe/NewPipe/pull/4562

[2021-02-05 20:18] B0pol commented on #5478
I don't think we should change the popup player UI. It's a legacy piece of code IMO.

We should use Android's Picture in Picture API instead (Android 7/8+). There is an issue for that: https://github.com/TeamNewPipe/NewPipe/issues/2223

[2021-02-05 20:23] B0pol commented on #2223
It seems like it was a bug, or a test with Android Q beta that has been reverted ( https://teddit.net/r/Android/comments/b5y1yz/allow_display_over_other_apps_and_other/ )

[2021-02-05 20:26] opusforlife2 commented on #2223
@B0pol Does PiP lack or implement any features different from NewPipe's popup player?

[2021-02-05 20:40] 89z commented on #5530
So it seems you can do this with newer versions, but the steps are awful. First,
change your NewPipe default from "Background player" to "Show info". Then, here
is what you have to do **for each video to be added**:

1. Long press link
2. Click Open With NewPipe App
3. Long press Background

Compared to previous:

1. Long press link
2. Click Open With NewPipe App

https://github.com/TeamNewPipe/Ne

[2021-02-05 20:42] 89z commented on #4779
So it seems you can do this with newer versions according to @Stypox, but the
steps are awful [1]. First, change your NewPipe default from "Background
player" to "Show info". Then, here is what you have to do **for each video to
be added**:

1. Long press link
2. Click Open With NewPipe App
3. Long press Background

Compared to previous:

1. Long press link
2. Click Open With NewPipe App

I will c

[2021-02-05 20:48] s1awek commented on #5530
I started to look for alternalive app because of that bug.

[2021-02-05 20:49] 89z commented on #5530
@s1awek if you find one that is better let me know, this is really bad decision from the developers.

[2021-02-05 21:01] B0pol commented on #2223
It lacks resizability on Android 10- (new feature in android 11) and I think we can add buttons (speed, subtitles) but I'm not sure.
Users are used to Android PiP because other apps.
We won't need to maintain it because Android will.

But then because it does not bring a lot of benefits, it does not have a high priority indeed.

[2021-02-06 07:04] hefty-fading-culprit-epiphany-drew opened #5532 "Crash"
## Exception
* __User Action:__ requested feed
* __Request:__ Loading feed
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ none
* __Version:__ 0.20.9
* __OS:__ Linux Android 7.0 - 24
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-02-06 07:35] mhmdanas commented on #5532
Please don't remove the template when opening an issue. Regarding the crash, it's happening because one of the channels you are subscribed to has been terminated, apparently because "[YouTube] received multiple third-party claims of copyright infringement regarding material the user posted." There's an issue to instead alert the user of the deleted channel: #3313.

[2021-02-06 07:35] #5532 closed

[2021-02-06 09:44] hefty-fading-culprit-epiphany-drew commented on #5532
Sorry about that I was confused at seeing the log generated by NewPipe I didn't know where to put the log

[2021-02-06 10:04] pavi2410 commented on #4599
I'd like to work on this issue

[2021-02-06 11:36] jmbreuer opened #5533 "Show NewPipe as a target in all (more) "Open with..." scenarios"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

When clicking a

[2021-02-06 11:50] hefty-fading-culprit-epiphany-drew commented on #5528
@CactiChameleon9  Quite a marvelous finding, this could really mean using YouTube anonymously using orbot as you won't get annoying captchas

[2021-02-06 14:18] prateekmedia opened #5534 "Download video with captions directly not seperately"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

It would be easy

[2021-02-06 14:49] CactiChameleon9 commented on #5528
@hefty-fading-culprit-epiphany-drew It wasn't me who found it, a friend found it - I will ask if he wants credit here. I really hope this gets implemented, it would be so great!

[2021-02-06 18:43] mhmdanas commented on #4608
I'll be closing this issue since we currently don't plan to do this. You can check out [Piped](https://github.com/TeamPiped/Piped) instead.

[2021-02-06 18:43] #4608 closed

[2021-02-06 22:19] Barmarel opened #5536 "Timer"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
It will be very g

[2021-02-07 00:49] romanstingler commented on #5455
not per se an issue but it would be nice to have the -rcX in the version number of the app (in about and menu).
furthermore, it would be great to have a selectable testing repo with all the rc versions so the development versions would get updated automatically.

[2021-02-07 11:30] toto1444 opened #5537 "Cause fatal failure in sudden random moments."
### Checklist

- [X] I am using the latest version - 0.20.8
- [X] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
* There is one report that has similar log of mine, but the crash happens in different situation.

- [X] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [X] This issue con

[2021-02-07 13:06] mhmdanas commented on #5536
I believe this is a duplicate of #2830. If I misunderstood, feel free to write a comment.

[2021-02-07 13:06] #5536 closed

[2021-02-07 13:25] vkay94 commented on #5537
Could you describe the different situation it little bit more? The issue you refer is probably list related, isn't it?

[2021-02-07 14:57] mhmdanas commented on #5537
@toto1444 I believe this is a duplicate of #4475 (presumably the report you mentioned). The bug reported in that issue can happen in a bunch of places, which is why I think this is a duplicate. If you disagree, feel free to write a comment.

[2021-02-07 14:57] #5537 closed

[2021-02-07 16:04] afonari opened #5538 "Can't find newsmax live in youtube search"
To reproduce try to find this video: https://www.youtube.com/watch?v=39WrSskl3XE

Version is 0.20.8.

[2021-02-07 19:18] nadiration commented on #5455
When opening age-restricted videos by default 'show age-restricted content' is disabled on the app so when you open a restricted video it tells you to enable 'show age-restricted content' on settings, now when you enable that option with a restricted video loaded on the player the menus get overlapped and comments/description don't show up.

**To reproduce:**
1. Open age-resticted video (any video

[2021-02-08 01:29] crozone commented on #3713
This is indicative of poor UI design that doesn't prioritise discoverability. Annoying users with hidden behaviour is not a substitute for a visual indicator that flags the presence of a feature.

[2021-02-08 03:42] finBitorg opened #5540 "Add support to play videos from youtube"
nvm

[2021-02-08 09:11] mhmdanas commented on #5538
I can't reproduce this issue. Can you try to reproduce it again? If so, please open a new issue without removing the template.

[2021-02-08 09:11] #5538 closed

[2021-02-08 09:12] mhmdanas commented on #5530
@89z could you open a new issue that follows the template properly? Thanks in advance!

[2021-02-08 09:12] #5530 closed

[2021-02-08 09:17] mhmdanas commented on #5529
Both of these videos load just fine for me. Can you check if you're using the latest version (0.20.8)? If that's the version you're using or you upgraded and still can reproduce this bug, can you open a new issue that follows the bug template properly? Thanks!

[2021-02-08 09:17] #5529 closed

[2021-02-08 09:18] mhmdanas commented on #5525
Can you clarify? Where do you want endless scrolling exactly?

[2021-02-08 14:21] 89z opened #5541 "Playlist append broken on newer versions"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-08 14:22] 89z commented on #5541
So it seems you can do this with newer versions, but the steps are awful [1]. First, change your NewPipe default from "Background player" to "Show info". Then, here is what you have to do **for each video to be added**:

1. Long press link
2. Click Open With NewPipe App
3. Long press Background

Compared to previous:

1. Long press link
2. Click Open With NewPipe App

I will continue to use the ol

[2021-02-08 14:23] 89z commented on #4779
https://github.com/TeamNewPipe/NewPipe/issues/4779
https://github.com/TeamNewPipe/NewPipe/issues/5541
https://github.com/TeamNewPipe/NewPipe/pull/4562

[2021-02-08 14:23] 89z commented on #5541
https://github.com/TeamNewPipe/NewPipe/issues/4779

https://github.com/TeamNewPipe/NewPipe/issues/5541
https://github.com/TeamNewPipe/NewPipe/pull/4562

[2021-02-08 16:27] alienthief opened #5542 "Downloads slow down/stop when switched to other apps or device is locked"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-08 16:30] brnwlshubh commented on #5542
@alienthief I am also facing the same issue.

[2021-02-08 23:22] MD77MD commented on #4779
better yet, you can instal the legacy version 20.2 of newpipe to handle shared links, and normal newpipe (or block adds version) for normal use. this way you can still enjoy the latest version with all its features.

this is what we have to do when no buddy listens anymore 🙁

[2021-02-08 23:31] MD77MD commented on #5542
this is true

[2021-02-08 23:36] MD77MD commented on #5528
I really hope so

[2021-02-08 23:37] MD77MD commented on #5522
I've been getting this too

[2021-02-09 00:06] #5540 closed

[2021-02-09 01:56] 0Karakurt0 opened #5545 "Unknown error, popping up even on non-feed related actions"
## Exception
* __User Action:__ requested feed
* __Request:__ Loading feed
* __Content Country:__ UA
* __Content Language:__ ru-UA
* __App Language:__ ru_UA
* __Service:__ none
* __Version:__ 0.20.8
* __OS:__ Linux Android 11 - 30
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-02-09 16:17] GalaxJann opened #5546 "Incorrent translation in Download Popup"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-09 16:40] rancidfrog commented on #4460
Unified player has bugs.
Double queued videos in some cases,
Switching to main player causes video to start playing even though it is not in background player queue.
It seems it has not been tested properly for all use-cases.
Thorough testing needed for all edge cases, too.

[2021-02-09 16:54] mhmdanas commented on #5546
Thanks for opening an issue! You can fix this yourself. See https://github.com/TeamNewPipe/NewPipe/blob/dev/.github/CONTRIBUTING.md#translation for instructions. Search for the incorrect string and then fix it. If you face any problem feel free to ask me in a comment.

[2021-02-09 16:54] #5546 closed

[2021-02-09 18:52] vrindavan commented on #5525
Play any video in youtube android or vanced, then when you scroll down you get video related to that, right? On original YT we get lots of videos on scrolling, it does end after a few thought but for normal users it is almost endless. On NP this is even less, lot less so my suggestion was to make it more or endless (video suggestions below the Now Playing). When the user scrolls in original YouTub

[2021-02-09 20:48] TobiGr commented on #5546
Fixed. I also added an explanation to the string so the usage of it is clear to all translators

[2021-02-09 21:36] bphd opened #5547 "Shuffling on big playlists"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to rep

[2021-02-10 01:24] cgray2418 opened #5548 "Unable to view videos past a certain amount"
Version: 0.20.8
Android 10

I am only about to see a handful of videos from any channels. The videos don't want to load past a certain point. This happens with every channel that I have experienced.

[2021-02-10 07:19] Hogerys opened #5549 "Couldn't request stream of video"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-10 07:55] Ammako commented on #5527
Nexus 5/Android 7.1.2 (LineageOS 14.1)

![image](https://user-images.githubusercontent.com/43770697/107480844-40dee200-6b4b-11eb-97b4-26ee0e30be8a.png)

[2021-02-10 08:40] mhmdanas commented on #5498
@Hogerys mind opening separate issues for the channels and about tabs? There's already #5203 for playlists. Thanks in advance!

[2021-02-10 08:40] #5498 closed

[2021-02-10 08:47] mhmdanas commented on #5545
This is a duplicate of #3313. Basically, one of the channels you're subscribed to has been terminated "because [YouTube] received multiple third-party claims of copyright infringement regarding material the user posted." I searched a bit and believe the channel's name is Gloomy Voice. Unsubscribing from that channel should fix that error.

[2021-02-10 08:47] #5545 closed

[2021-02-10 08:50] mhmdanas commented on #5549
Hmm, I can't reproduce this error. Is anybody else getting this error?

[2021-02-10 08:59] mhmdanas commented on #5547
Duplicate of #5125.

[2021-02-10 08:59] #5547 closed

[2021-02-10 09:04] bphd commented on #5547
Maybe the guy reported a similar problem, but the thing is that the reply is only about how to customize buttons on the notification panel, and not how to repair that shuffle problem

So please, either reopen one of those 2 issues or both, but don't close issues not resolved, thanks

[2021-02-10 09:05] mhmdanas commented on #5548
Thanks for opening an issue! It seems like you're using a GitHub client instead of the official website, so could you create the issue from the official website and choose the bug report template then fill it out? Feel free to make a comment in case you face any problems.

[2021-02-10 09:05] #5548 closed

[2021-02-10 09:07] mhmdanas commented on #5547
That issue is still open; it hasn't been closed. The person who replied was just saying that the reporter can customize the buttons in the notification, which the reporter thought was not possible:

[2021-02-10 09:22] mhmdanas commented on #1778
Is anybody still able to reproduce this?

[2021-02-10 09:26] bphd commented on #5547
Oh okay, I read rapidly and my closed issue was reported on this issue

[2021-02-10 11:10] johnth3doe opened #5550 "Channel not loading all videos."
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, and found a duplicate (closed) of this issue in the repo.
- #5548
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the b

[2021-02-10 12:18] harmathy opened #5551 "FOSDEM Videos"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Ability to watch

[2021-02-10 13:57] TobiGr commented on #5551
Getting the videos shouldn't be aproblem. Getting info on the videos is complicated.
We have two options here: parse the website which might be subject to changes or ask for read access to the shedule databse (which might be possible according to their [website README](https://github.com/FOSDEM/website#exporting-from-fosdem-pentabarf))

[2021-02-10 17:48] johnth3doe opened #5552 "Certain videos cannot be played"
### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reproduce the bug

1. Go to https://www.youtube.com/watch?v=BONSAFTiafY (The Darkness 2)
2. Try to

[2021-02-10 22:15] 9mido opened #5553 "Sound from previous watched video being used on current watched video"
Using 0.20.8 and the latest version of Android

I play a video and even though the background of the video plays as the correct video, the sound comes from another video that I previously played. The expected behavior should be that the sound for the video being played is from the same video being played.

I am not sure how to reproduce the issue. It just happened after a while. And it happens ran

[2021-02-10 22:19] #5553 closed

[2021-02-10 22:44] blind51de commented on #5550
This is also occuring in Newpipe Legacy. Whether you access a channel's videos directly or from your subscriptions menu, it will only list up to the end of the first page. It simply DOES NOT LOAD subsequent pages. This has happened for the last few days. Updating and reinstalling the app does not remedy the problem.

You can try to search the playlist for a channel's videos and it will show and lo

[2021-02-11 02:42] Kohoshi12 commented on #5507
Maybe the timestamp should just follow the format the user is already using: main, audio or pop-up. It'll complicate the settings more than it's if that's the case.

[2021-02-11 04:59] mhmdanas commented on #5552
I tried to watch it in YouTube's website and it tells me that "this video is unavailable on this device." So I believe this is not actually an issue with NewPipe.

[2021-02-11 05:39] Flashwalker commented on #4460
Unified player and some recent changes significantly degraded the once good application

[2021-02-11 06:14] yashpalgoyal1304 commented on #4460
@flashwalker what are the changes other than unified player 🤔 that “degrade” it??

[2021-02-11 10:09] karkaminski commented on #5514
I would like to do it. may I? :)

[2021-02-11 10:17] shscs911 commented on #3713
As a long-time user of MX Player, I personally found the brightness and volume gestures extremely intuitive. Just my opinion, but it would be awesome, if there was a setting to make the Brightness and Volume set by gestures to persist across sessions (Though I don't think many people would like that). Thanks for all your hardwork.

[2021-02-11 11:10] alienthief commented on #5514
@karkaminski Thanks. go ahead with it and create a PR

[2021-02-11 11:58] mhmdanas opened #5555 "Add question template"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Add an issue tem

[2021-02-11 14:53] FestplattenSchnitzel opened #5556 "Unrecoverable player error occurred"
### I apologize have searched not good enough:

This is probably a duplicate of https://github.com/TeamNewPipe/NewPipe/issues/5426; feel free to close this.

### Checklist

- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
Since most of the "failing to play video" issues are very vague; no.
- [x] I have read the

[2021-02-11 15:00] FestplattenSchnitzel commented on #5426
This one does not work for me either.

[2021-02-11 15:04] FestplattenSchnitzel commented on #5556
As https://github.com/TeamNewPipe/NewPipe/issues/845#issuecomment-344132714 a reboot fixed this issue. :facepalm:

[2021-02-11 15:04] #5556 closed

[2021-02-11 15:20] B0pol commented on #5499
duplicate of https://github.com/TeamNewPipe/NewPipe/issues/1634

@demonff1 duplicate` `of #1239

[2021-02-11 15:20] #5499 closed

[2021-02-11 15:23] B0pol commented on #5512
duplicate of https://github.com/TeamNewPipe/NewPipe/issues/5192

[2021-02-11 15:23] #5512 closed

[2021-02-11 15:24] B0pol commented on #5192
related: https://github.com/TeamNewPipe/NewPipe/issues/2969#issuecomment-584252068

[2021-02-11 16:10] samuraikidXDA commented on #5528
And the captcha fails more than i QQ
 this is just a privacy blocker scheme  hope we find a solution keep it up

[2021-02-11 18:37] julian-fairfax commented on #1051
Is there any alternative? I use this not just because of the ability to listen to watch youtube videos without ads but also because it's more private. I believe there are jailbreaks tweaks for the stock youtube app, but do you know if there's anything like this? It seems iOS lucks out in the open source software scene, not just because this project is kind of against some tos, but most open source

[2021-02-11 18:39] Flam3z commented on #1051
[FreeTube](https://freetubeapp.io/)

[2021-02-11 18:41] julian-fairfax commented on #1051
I don't see an iOS version of that.

[2021-02-11 21:33] Zakkumaru opened #5557 "Cleared Playlist Doesn't Stay Cleared"
### Checklist
- [x] I am using the latest version - 0.20.8
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprodu

[2021-02-11 21:56] Zakkumaru opened #5558 "Remove Duplicate Entries From Queue"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
A button or a pas

[2021-02-11 22:10] Zakkumaru opened #5559 "Clear Playing Queue"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
A button to be ab

[2021-02-11 22:19] Zakkumaru commented on #5325
I, too, was going to recommend Syncthing.  However, with the  emergence of EteBase ( https://github.com/etesync ), I think it would be possible to create a database all your devices could use to sync NewPipe.  I would very much like to see this become a thing.

[2021-02-11 22:26] AlexN1997 commented on #5558
Have you looked at #5334 ?

[2021-02-11 23:08] SaraRWarren commented on #5520
I had same issue and was able to fix by clearing cache and 're-captcha data'
![SmartSelect_20210211-170541_NewPipe](https://user-images.githubusercontent.com/29682363/107709919-a33efc00-6c8b-11eb-96d1-987bd534e7e0.jpg)

[2021-02-12 03:17] captaincupcakes commented on #5520
This did it.. able to search again

On Thu, Feb 11, 2021, 6:08 PM Sara Warren <notifications@github.com> wrote:

[2021-02-12 03:44] captaincupcakes opened #5560 "Background player resets and doesn't play content when disconnecting and reconnecting Bluetooth unless closed and opened again"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-12 04:51] Ammako commented on #5560
The same thing causes newpipe to show up with an [Unknown] notification when using bluetooth with something unrelated to newpipe. Have to open newpipe every time and then close it for the empty notification to go away.

[2021-02-12 05:20] captaincupcakes commented on #5560
Yes to that as well... earlier versions used to do that when I connected,
although since they improved the background player it stopped doing it for
me.

On Thu, Feb 11, 2021, 11:51 PM Ammako <notifications@github.com> wrote:

[2021-02-12 07:37] Zakkumaru commented on #5558
I didn't notice it, although I had tried searching for something similar.  I would consider this a separate feature since the features apply to preexisting entries, as opposed to checking one at a time at the time of adding them to the list.  Plus, #5334 wouldn't apply retroactively.

[2021-02-12 09:01] imanincel opened #5561 "[Bug] Cannot Play The Video Samsung J4+"
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=wsXhk1xmYAI
* __Content Country:__ US
* __Content Language:__ en-GB
* __App Language:__ in
* __Service:__ YouTube
* __Version:__ 0.20.1
* __OS:__ Linux Android 9 - 28
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-02-12 09:05] imanincel commented on #5561
Oops! when i updated it to the latest version, it works! lmao sorry for the incovenient

[2021-02-12 09:05] #5561 closed

[2021-02-12 10:01] Stypox commented on #5455
@nadiration could you test #5563?

[2021-02-12 15:19] DamnItB0pol commented on #5455
Damn it @B0pol it should be called Release 0.21.0 not 0.20.10.

[2021-02-12 17:00] HTSamurai commented on #5455
Wait I thought it was 0.20.9 wha-

[2021-02-12 17:00] HTSamurai commented on #5455
Is this a joke

[2021-02-12 17:04] nadiration commented on #5455
@Stypox the layout problem is gone but could you make the play button to refresh the video since now when you go and enable restricted content on settings and come back the video doesn't [auto] refesh and the play button (on the minimized video) does nothing.

[2021-02-12 17:35] FireMasterK commented on #5528
Can you confirm whether the desktop variant works? Eg: https://www.youtube.com/embed/enBjzAhNHm8

[2021-02-12 18:31] CactiChameleon9 commented on #5528
@FireMasterK I just tested... And yes it works! However the mobile version may be more useful, due to the comments still being there (identical to normal mobile web page). I am unsure of the restrictions to the extractor with mobile and normal embedded links though - I am sure you and the other devs do.

[2021-02-12 18:37] etofi opened #5565 "Option to always open the video maximized (without comments)"
I use NewPipe on my FireTV. When I open videos from my favorites they are always minimized and opened with the comments.
It would be great if you could turn on an option that the videos are always opened automatically maximized.

[2021-02-12 19:13] romanstingler commented on #5455
heap dump
canary
https://drive.google.com/file/d/1eO5OlgLFAzhBeYjm-BCdxfSOt1lfVKti/view?usp=drivesdk

[2021-02-12 21:30] theappuser opened #5567 "Bookmarked Playlist Backup?"
Is there a way in addition to also backup bookmarked playlists as well?

[2021-02-12 23:30] houson1817 opened #5568 "The Videos on the Channel Are Not Loading."
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-12 23:36] houson1817 commented on #5568
No Channel Has Video Released for 4 Days.  Only 1 Line Appears and cannot be scrolled down.

[2021-02-13 00:19] theappuser commented on #5567
Found it. Thanks

[2021-02-13 00:22] theappuser commented on #5567
You can close this. I found out how. I was trying to delete this request but I guess I can't.

[2021-02-13 03:56] Kohoshi12 opened #5569 "Tapping on video of background playlist's change of behavior"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

I wish it could

[2021-02-13 04:04] Kohoshi12 opened #5570 "More logic renaming of playlists"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Make the user ab

[2021-02-13 04:21] Kohoshi12 commented on #5522
It have been too long since I noticed that. Thanks for making the issue.

[2021-02-13 04:43] Basarkar123 opened #5571 "Video Play issues"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-13 05:02] Kohoshi12 commented on #2277
Freetube implemented this feature.

[2021-02-13 07:12] XiangRongLin commented on #5350
@Stypox @TobiGr Any opinions about this?

[2021-02-13 08:43] Stypox commented on #5455
@nadiration that's not a regression and as such will not be fixed here

[2021-02-13 09:54] johnth3doe commented on #5550
Solved in #5564.
With that, I will be closing the issue.
Thank you to the team for the swift fix.

[2021-02-13 09:54] #5550 closed

[2021-02-13 12:48] mhmdanas commented on #5571
Unfortunately, we can't really help you if you don't provide us with any information about your issue. Could you please edit your issue to follow the template and then make a comment?

[2021-02-13 12:48] #5571 closed

[2021-02-13 12:49] mhmdanas commented on #5568
Fixed in 0.20.9 (see https://github.com/TeamNewPipe/NewPipe#installation-and-updates on how to upgrade).

[2021-02-13 12:49] #5568 closed

[2021-02-13 12:52] mhmdanas commented on #5567
You don't have permission to do that. From https://docs.github.com/en/github/managing-your-work-on-github/deleting-an-issue:

Issues should not be deleted except in exceptional cases. They should be closed instead.

[2021-02-13 12:52] #5567 closed

[2021-02-13 12:53] mhmdanas commented on #5565
This is a duplicate of #4387. Also, please don't remove the template when opening an issue. Thanks!

[2021-02-13 12:53] #5565 closed

[2021-02-13 12:56] JCU0 opened #5572 "Content localization is still broken"
### Checklist

- [x] I am using the latest version - 0.20.9
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

#3089 looks like po

[2021-02-13 14:04] StevenGaaming opened #5573 "When I try to download the New pipe 20.9 update it says "Forbidden"and it doesn't allow me to proceed with the download."
When I try to download the New pipe 20.9 update it says "Forbidden"and it doesn't allow me to proceed with the download.

[2021-02-13 14:13] opusforlife2 commented on #2223
Then we should probably wait until the minimum Google-supported Android version is 11, which will take 3 years, I think.

[2021-02-13 16:00] UX0l0l commented on #4501
I don't see why not to implement it in Newpipe too

[2021-02-13 16:30] Revive365 opened #5574 "Take pills or survey for new layout design or features"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

If you take poll

[2021-02-13 16:38] opusforlife2 commented on #5574
It's _not_ crowdsourced, though? No one is paying the developers anything. They all do it voluntarily in their free time.

If you want to discuss things like UI changes, comment on the relevant Issue or PR.

There is really no way around it; you can either be reactive and complain after a change is already made, or be _proactive_ and bring logical arguments why a certain change is good or bad or s

[2021-02-13 16:51] Revive365 commented on #5574
Crowdsourcing can be either paid or unpaid. Newpipe here is unpaid and done by volunteers.

Anyway, my point is that if something is implemented, there is little incentive to change it cuz the volunteers put their hard work on it. They like to defend their decisions. So if there was a discussions and polls, if it is disliked by users by a vast majority, then the idea can be easily discouraged befo

[2021-02-13 17:08] maxlinux2000 opened #5575 "Latest subscription videos list in chronological order"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

It would be nice

[2021-02-13 18:24] mailsantam opened #5576 "Streaming / Login for YouTube and SoundCloud"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
I would like to s

[2021-02-13 18:26] XiangRongLin commented on #4918
I created a repo where i'll upload the releases from now on. So it's possible to just watch the releases of that repo in order to get notified.

https://github.com/XiangRongLin/NewPipe-preuinified/releases/

[2021-02-13 18:28] mailsantam opened #5577 "Login to YouTube and Soundcloud"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
I will login to Y

[2021-02-13 18:43] mailsantam opened #5578 "Interrupt playing music"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-13 19:17] urlordjames commented on #5574
Admittedly, I think Counting on people to comment on PRs probably leads to a fairly significant voluntary response bias.  I think GitHub PRs tend to over-represent those with strong opinions and gives more influence to contributors as opposed to the average user.  However, using proprietary services like Reddit or Discord would massively under-represent people who don't use proprietary software (l

[2021-02-13 19:45] demonff1 commented on #5534
I think this will have good effects. I don't see any problems with hard subs. But there should be two downloading options: one with vid and sub separately N another where they r integrated into one.
 Also it would even better if newpipe could support upload custom subtitles.

[2021-02-13 19:55] demonff1 commented on #5574
I think both side of the argument gave compelling  reasoning. Polls r a good thing but don't think polls are needed all the time. People will appreciate new features as long as they don't take out existing feature they grew fon of.
As for the layout change, imo newpipe is changing it's hi at a rapid pace. A lil bit coordination would have been nice.
I'd like use the example of the tv show 'Silicon

[2021-02-13 20:25] demonff1 opened #5579 "[FEATURE REQUEST] Closed caption editing service to videos"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Now that YouTube

[2021-02-13 20:46] mattfj10 opened #5580 "Importing any subscribers from any file format not working in CalyxOS"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-13 20:53] johanw666 commented on #5198
This still does not work in 0.20.9, when will this PR, https://github.com/TeamNewPipe/NewPipe/pull/5415 , merged?

[2021-02-13 21:26] MD77MD commented on #5522
@avently could you check this issue please.

[2021-02-13 21:30] MD77MD commented on #2171
@sleepypikachu where you able to see this

[2021-02-13 21:42] Stypox commented on #5350
This seems like a good idea to me. Obviously there is going to be some noise at the beginning, but then it would hopefully prevent more bugs from arising. In order to prevent some hassle I'd add this directly with checkstyle support. Is there a similar tool which does Android-specific inspections, though (which would e.g. highlight the view binding issues?)?

[2021-02-13 22:52] Beatz106 commented on #5577
There are already problems with Google after using an account through YouTube Vanced, for security reasons it is impossible to include this feature in Newpipe.

[2021-02-14 02:17] prateekmedia commented on #5534
Here I am not talking about custom subtitles but to directly download subs of the video with the video so that I dont have to popup download Popup twice.

[2021-02-14 05:25] mhmdanas commented on #5580
That's weird. Could you make sure that you followed the steps properly? For example, did you extract the JSON file and then import it, or did you import the ZIP?

[2021-02-14 05:28] mhmdanas commented on #5577
@mailsantam That's not happening. See [this question in our FAQ](https://newpipe.net/FAQ/#bugs-google-login). Also, please don't ignore the template when opening an issue.

[2021-02-14 05:28] #5577 closed

[2021-02-14 05:30] XiangRongLin commented on #5350
I only know this from work so i dont know other tools that are also free for open source or which you can self host.

As for Android related rules there currently are only 4
https://rules.sonarsource.com/java/tag/android

But custom rules can be added for ourselves or even submitted as PR to their repo
https://docs.sonarqube.org/latest/user-guide/rules/
https://docs.sonarqube.org/latest/extend/con

[2021-02-14 07:03] smartieyoung opened #5582 "Swiping through search results too fast causes crash"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to rep

[2021-02-14 07:47] nadiration opened #5583 "What's up with "Release" 0.20.9??"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-14 07:50] HTSamurai commented on #5583
I know right! I have been waiting for a month now and they swiftly changed
it to being 0.20.10.

On Sun, 14 Feb 2021, 7:48 am nadiration, <notifications@github.com> wrote:

[2021-02-14 07:51] nadiration commented on #5455
What's going on? I mean "release" 0.20.9 is 0.20.8 renamed check #5583 for screenshot

[2021-02-14 07:53] HTSamurai commented on #5455
I can't believe they just sneakily changed the features to come in 0.20.10.

On Sun, 14 Feb 2021, 7:51 am nadiration, <notifications@github.com> wrote:

[2021-02-14 07:55] nadiration commented on #5583
@HTSamurai i don't really mind renaming it to .10 but why tf is 0.20.8 released as 0.20.9

[2021-02-14 07:57] mhmdanas commented on #5455
To those wondering why this release was changed to 0.20.10, it's because there was a bug where you can't load more videos in the channel page (#5550), and since this is a big bug and this release was taking a while, we decided to release 0.20.9 with the hotfix for that bug. 0.20.10 has NOT been postponed.

[2021-02-14 07:57] mhmdanas commented on #5583
@nadiration see https://github.com/TeamNewPipe/NewPipe/issues/5455#issuecomment-778742434.

[2021-02-14 07:57] #5583 closed

[2021-02-14 07:57] HTSamurai commented on #5583
I know they fixed a bug where a limited amount of videos load in channel
page. That's all 0.20.9 is now

On Sun, 14 Feb 2021, 7:55 am nadiration, <notifications@github.com> wrote:

[2021-02-14 08:02] HTSamurai commented on #5455
Is 0.20.10 released soon? I've been waiting a month for these features, and
was confused when 0.20.9 didn't have any of it

On Sun, 14 Feb 2021, 7:57 am Mohammed Anas, <notifications@github.com>
wrote:

[2021-02-14 08:02] nadiration commented on #5583
@HTSamurai weird release

[2021-02-14 08:07] nadiration commented on #5455
@mhmdanas I think 0.20.8.1 would have done it for the hotfix

[2021-02-14 08:09] mhmdanas commented on #5455
@nadiration our version scheme is x.xx.x. We have no plans to add another number there. Anyway, this discussion is off-topic here, so if you still have anything to say, create a comment on #5583.

[2021-02-14 08:10] mhmdanas commented on #5455
@HTSamurai quoting @Stypox:

[2021-02-14 09:17] HTSamurai commented on #5583
It was a pretty serious bug.

On Sun, 14 Feb 2021, 8:02 am nadiration, <notifications@github.com> wrote:

[2021-02-14 09:57] Krawei opened #5584 "Share button is missing"
After searching a video and finally found what I've been looking for I wanted to share my result with a friend. While checking Newpipe's icons i noticed, that the share button wasn't available.

### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given a

[2021-02-14 12:41] JOduMonT commented on #1926
Hi, I understand the par where I'm sharing the playlist in YouTube but how I retrieve them on the NewPipe side if those are unlisted and/or not really popular ;)

[2021-02-14 13:19] Stypox commented on #5350
Oh ok, I see. Well, I would be in favour of adding this anyway, it seems like it could be helpful.

[2021-02-14 13:57] Paul8322 opened #5585 "I cannot see any comments under a video"
### Checklist

- [x] I am using the latest version - 0.20.9
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-14 14:01] Flashwalker commented on #4460
@yashpalgoyal1304 for example, try "open with" a video that newpipe can'ot load.
You won't even be able to access this button

[2021-02-14 16:09] SpinHit commented on #5419
Hello we are two students who want to work on this issue, this is the first time we are contributing to a project if you could help us a little bit it would be great.

[2021-02-14 16:22] sebma commented on #1051
@phly95 Can you please update your title to something like : "Windows/Linux/macOS Desktop Version?"

@julian-fairfax According to [this](https://github.com/FreeTubeApp/FreeTube/blob/development/README.md) :

Therefore it's not meant for mobile devices.

I suggest someone to create an separate issue for a NewPipe equivalent for other mobile OSes than Android (such as Windows Mobile/iOS/etc...)

[2021-02-14 16:40] Atemu commented on #1926
NewPipe should offer itself as a "share" target for any YouTube link. All you should have to do is share the playlist's URL with NewPipe. You can do that from the official YT app, your browser or any text field.

[2021-02-14 16:53] kcpatricio commented on #5419
Yeah
How could I help you?

[2021-02-14 16:54] kcpatricio commented on #5419
Yeah
How could I help you?

[2021-02-14 17:20] Atemu commented on #1051
FreeTube's existence means that there is no need for a Desktop NP version anymore because that's essentially all a desktop NP could hope to be.
I'd almost consider this issue fixed because of that.

I'd want syncing subscriptions, playlists, history etc. between FreeTube and NewPipe to be a thing before truly declaring it a desktop counterpart though.

The iOS App is still open of course but since

[2021-02-14 17:37] XiangRongLin commented on #5419
@kcpatricio Is this even still the case now?
You have to first click on the "trash" icon, then select "Delete downloaded files", which are 2 actions.

After confirming both, you get a snackbar at the bottom with the "undo" option.

[2021-02-14 17:37] opusforlife2 commented on #5574
Related #5298.

[2021-02-14 18:07] GeluOltean opened #5586 "Enqueuing/playing a video from history should not queue the whole playlist"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

Hi everyone. Thi

[2021-02-14 18:12] kcpatricio commented on #5419
Yes
{
1 click (trash icon)
1 click (delete downloaded files)
*All files deleted*
3-4 seconds notification at the bottom with undo option
}
But no confirmation request before deleting
My suggestion is to prompt a warning about the wipe action, requesting a confirmation before executing it
Or to change from "delete" to "send to bin" where it would hold files till a given expiration date or manual de

[2021-02-14 19:28] opusforlife2 opened #5587 "UI Crash (minor bug) : Simultaneously open menus in Settings"
### Checklist

- [x] I am using the latest version - 0.20.9
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-14 19:37] opusforlife2 opened #5588 "(Minor bug) Snackbar error on certain long search terms"
### Checklist

- [x] I am using the latest version - 0.20.9
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-14 22:48] #5455 closed

[2021-02-15 00:26] JOduMonT commented on #1926
Ok I'll ease my life by installing YouTube app on my phone ;)
Thank for your quick reply

[2021-02-15 03:38] thinsoldier commented on #4779
@MD77MD how do you get 2 different versions of the same app installed at the same time?

[2021-02-15 04:25] AwesomelyHumble opened #5590 "[feature request] settings option to disable minimized video"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

#### Is your fea

[2021-02-15 04:29] AwesomelyHumble opened #5591 "[feature request] allow video settings menu to appear before playing"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

#### Is your fea

[2021-02-15 05:37] Towelie90 commented on #27
I think a sleep timer is most important feature that is still missing. Is there a reason why it is still missing?

[2021-02-15 07:44] igorcmelo commented on #5578
Newpipe automatically changes from normal to background if you are watching a video then you minimize the app.
I am not a dev but I believe it is the regular behavior because audio and video are separate streams.

If you don't want that to happen, press the background button and let the music play on background.

[2021-02-15 07:47] igorcmelo commented on #5575
It already existis:
![IMG_20210215_044719_897](https://user-images.githubusercontent.com/59902451/107918643-d19d2f80-6f48-11eb-947b-9bfb96ee8e58.jpg)

[2021-02-15 08:54] maxlinux2000 commented on #5575
It's true and it works.
I therefore propose that the name of the icon be changed to "Latest".
"All" is too generic and you don't understand what this button does.

[2021-02-15 09:39] JCU0 commented on #5590
I agree, it's a very annoying feature because it pops up for every video. With "back" button. With a click on channel icon from a video info screen. Every time. Basically, I am watching non-musical videos, so minimized and background players aren't useful for me. I know, two fingers gesture is a thing but it is not ideal solution to close every video with two fingers.

**What I suggest** is the se

[2021-02-15 09:52] AwesomelyHumble opened #5592 "[feature request] have a subscriptions folder / organization"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want

#### Is your fea

[2021-02-15 10:24] JCU0 commented on #5592
It should be useful. When you enter a channel group, a list of channels (subscriptions) that are included into this group, may appear on top just before a currently implemented feed. A list of channels (maybe with collapse button), then a list of videos.

[2021-02-15 11:01] Hx2-code opened #5593 "Not downloading when saving to custom location"
When I enable the option to save videos to cusom location, after selecting the location the download does not start.

[2021-02-15 11:02] JCU0 opened #5594 "Easy fullscreen"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
Add a new fullscr

[2021-02-15 11:05] lucanomax opened #5595 ""Hide description" option doesn't work as expected"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repro

[2021-02-15 11:29] Br1ght0ne opened #5596 "Crash when reordering channel groups"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repro

[2021-02-15 12:24] XiangRongLin commented on #5596
I'll take a shot of the dark and say it's from view binding
https://github.com/TeamNewPipe/NewPipe/pull/4814/commits/f04b5fd42f493df0dc6b35c8c45b3b498f4ef9f5

@Isira-Seneviratne

[2021-02-15 12:32] karkaminski commented on #5559
Hello, i'd like to work on this issue :)

[2021-02-15 12:57] alfaazian opened #5597 "Newpipe"
### Checklist

- [x] I am using the latest version - x.xx.x
- [ ] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [ ] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [ ] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-15 15:01] HTSamurai commented on #5597
What?

On Mon, 15 Feb 2021, 12:57 pm alfaazian, <notifications@github.com> wrote:

[2021-02-15 16:05] mhmdanas commented on #5597
@alfaazian we can't help you if you don't provide us with any details. Please edit the issue to fill out the template and then make a comment.

[2021-02-15 16:05] #5597 closed

[2021-02-15 16:08] mhmdanas commented on #5590
@AwesomelyHumble if I understand your explanation correctly, you can disable the popup player being opened when leaving NewPipe by changing "Settings > Video and audio > Minimize on app switch" to None. I'll be closing this issue, but if I misunderstood your explanation please make a comment and I'll re-open the issue.

[2021-02-15 16:10] mhmdanas commented on #5584
In 0.20.10, the share button can be shown by pressing on the arrow besides the video title.

[2021-02-15 16:10] #5584 closed

[2021-02-15 16:12] mhmdanas commented on #5585
Can you give us an example of a video which causes this issue? I can't reproduce this issue; perhaps the video creators disabled comments on their videos?

[2021-02-15 16:18] Stypox commented on #5596
I don't know why ACRA didn't start for you, but here is a crash report:

## Exception
* __User Action:__ ui error
* __Request:__ App crash, UI failure
* __Content Country:__ US
* __Content Language:__ en
* __App Language:__ en_GB
* __Service:__ none
* __Version:__ 0.20.10
* __OS:__ Linux Android 10 - 29
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-02-15 16:55] Paul8322 commented on #5585
Okay. I can't see comments on any video. For example https://m.youtube.com/watch?v=2VDdP7lYiiI. I can't see a comment, despite there are comments shown on the plattform Youtube.

I use a Samsung Galaxy S20 with Android 11.

[2021-02-15 16:55] Paul8322 commented on #5585
I replied

[2021-02-15 17:26] Stypox commented on #5350
I also found [LGTM](https://lgtm.com/), maybe we should compare them

[2021-02-15 17:39] lukashass opened #5599 "Play with Kodi button in Player always prompts to install Kore"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repro

[2021-02-15 17:55] lukashass commented on #5599
Throwing unknown errors might be helpful here.

https://github.com/TeamNewPipe/NewPipe/blob/5bc0a8fba198ae51ce5aaf4940b4a77fed5172aa/app/src/main/java/org/schabi/newpipe/player/Player.java#L3572-L3579

[code]

[2021-02-15 18:04] AudricV opened #5600 "Content behind the view of an unavailable content can be clicked when this view is shown"
### Checklist
- [x] I am using the latest version - 0.20.10 + build based on a recent dev branch after 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for ev

[2021-02-15 18:30] TiA4f8R commented on #5453
@Stypox @vkay94 With 0.20.10, this bug is now more strange. It just scroll a bit if the description tab is the default tab before opening a content for the first time you open an instance of the app. See the second screencast in the top comment.

[2021-02-15 18:48] XiangRongLin commented on #5350
From a quick glance it seems more security focused rather than been generic code quality. Which also is visible in the number of issues that are found. 33 vs ~950. some of those are certainly noise. But many are still useful which LGTM seems to not cover. Like the one about `isEmpty()` that i linked on top as good issues for news contributors

[2021-02-15 19:10] Stypox commented on #5600
Does #5148 solve this?

[2021-02-15 19:22] AwesomelyHumble commented on #5590
@mhmdanas Thank you for looking into this issue. I believe you have it misunderstood as my settings currently reflect your suggestion. What I'm referring to is when a video is playing and you press the back button to return to the previous window (i.e. search results), and the playing video is continuing to play in a smaller window at the bottom of the screen (see attached photo). I don't know wha

[2021-02-15 19:34] AwesomelyHumble commented on #5590
Just to add, the feature I'm referring to was added in release version 0.20.0 and called "minimized player" when described in the version release blog post. https://newpipe.net/blog/pinned/release/newpipe-0.20.0/

[2021-02-15 19:36] TiA4f8R commented on #5600
@Stypox Yes but does this works if you rebase the PR on dev branch?

[2021-02-15 20:54] TI84boy opened #5601 "Video keeps pausing and unpausing"
### Checklist

- [x] I am using the latest version - x.xx.x
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to reprod

[2021-02-15 21:19] MD77MD commented on #4779
actually new publicity is a bit different with a different signature... that's why android consider them aa two different apps because they effectively have two different signatures

this is the link to newpipe legacy version: (or ] can find it yourself from from the TeamNewpipe page;

https://github.com/TeamNewPipe/NewPipe-legacy/releases/tag/v0.20.2

P.S: only up to v0.20.2 still have enqueue, l

[2021-02-15 21:20] FunctionalHacker commented on #2408
There seems to be a switch implemented in the latest version, so this issue is respolved

[2021-02-15 21:21] #2408 closed

[2021-02-15 22:28] TobiGr commented on #5350
I agree that we need some static code analysis to improve code quality. We should compare a few tools. I have no idea what tools are available for Android development.

[2021-02-15 23:16] huckvrni opened #5602 "Most played videos show incorret values"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Actual behavio

[2021-02-15 23:17] huckvrni commented on #5602
Also I forgot to mention I mostly use new pipe in the background with long playlists so perhaps it's related.

[2021-02-16 02:30] 9mido commented on #5585
@Paul8322 I am having the same problem. I cannot see any comments.

[2021-02-16 05:12] mhmdanas commented on #5601
@TI84boy we can't really help you if you don't provide us with any details. Could you fill the template properly and then make a comment?

[2021-02-16 05:12] #5601 closed

[2021-02-16 05:13] mhmdanas commented on #5582
Can you give us the crash report? You can do so by pressing the "report" button when the error snackbar shows.

[2021-02-16 05:14] mhmdanas commented on #5578
This is a duplicate of #5016. If I misunderstood feel free to make a comment.

[2021-02-16 05:14] #5578 closed

[2021-02-16 05:25] mhmdanas commented on #5593
@Hx2-code thanks for opening an issue! Can you see if the APK in #5415 fixes this issue? If not, could you please open a new issue following the bug report template properly?

[2021-02-16 05:25] #5593 closed

[2021-02-16 05:29] mhmdanas commented on #5595
Curiously, I seem to not be getting the same behavior. If I disable everything, nothing shows, as expected. However, if I enable the description and meta info, I can't see the description, but I can see the comments, which are disabled in the settings.

[2021-02-16 05:34] mhmdanas commented on #5569
You can open the video details by long-pressing on it and then clicking on "details." Also, to be clear, what you're talking about is not a "playlist," but a queue. Basically, it's a queue of the videos that you want to play.

[2021-02-16 05:40] mhmdanas commented on #5572
I also think this is a duplicate of #3089, so I'll be closing this issue.

[2021-02-16 05:40] #5572 closed

[2021-02-16 05:43] Hx2-code commented on #5593
@mhmdanas There is no file. When I click on the link containing apk, it shows 404 error.

[2021-02-16 05:46] mhmdanas commented on #5593
Can you try downloading from [this link](https://github.com/TeamNewPipe/NewPipe/files/5986375/app.zip) then?

[2021-02-16 06:06] Hx2-code opened #5603 "Not downloading media when I enable the option to save to custom location"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

Steps to reproduce

[2021-02-16 06:49] B0pol commented on #5575
They are all sorted by "latest", "All" group contains all your subscriptions

[2021-02-16 08:25] mhmdanas commented on #5575
As the feature requested is already available, I'll be closing this issue.

[2021-02-16 08:25] #5575 closed

[2021-02-16 08:47] Hx2-code commented on #5593
@mhmdanas Its not working.

[2021-02-16 08:50] TobiGr commented on #5593
Uhm. Do you live in a country which blocks certain internet traffics and websites?

[2021-02-16 08:54] Hx2-code commented on #5593
@TobiGr No and I am from India.

[2021-02-16 09:01] Hx2-code commented on #5593
@mhmdanas Well its working now when I restarted my device but it does not work when I try to download by share option.

[2021-02-16 09:12] Nathawat-lab opened #5604 "comment bug"
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=hF-_2JiI7gs
* __Content Country:__ TH
* __Content Language:__ th
* __App Language:__ th_TH
* __Service:__ YouTube
* __Version:__ 1.6
* __OS:__ Linux Android 7.0 - 24
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2021-02-16 09:18] xibr commented on #5604
Update to 0.20.10
See https://github.com/TeamNewPipe/NewPipe#installation-and-updates

[2021-02-16 09:22] mhmdanas commented on #5604
@Nathawat-lab the NewPipe version you're using raises some eyebrows. We don't have a 1.6 release. Mind saying where you got it from?

[2021-02-16 11:58] GriNAME opened #5605 "UI Error"
Deleted

[2021-02-16 12:47] JCU0 commented on #3089
Content localization setting is still broken (0.20.10), content is displayed in English.
See my #5572 (closed as duplicate) for more examples.

[2021-02-16 13:02] ThatIsAPseudo opened #5606 "Threshold/dead zone on touch controls"
### Checklist

- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one feature request. I will open one issue for every feature I want to request.

#### Describe the feature you want
There could be a

[2021-02-16 13:03] JCU0 commented on #3084
This bug is here again after the unified player update. (current v0.20.10)
Please consider reopening this issue.

[2021-02-16 13:15] sirsapphire opened #5607 "Home page doesn't load and unable to play any videos"
## Exception
* __User Action:__ requested stream
* __Request:__ https://www.youtube.com/watch?v=XUvj1JrVRas
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ YouTube
* __Version:__ 0.20.10
* __OS:__ Linux samsung/j3topltetuz/j3toplteaio:8.0.0/R16NW/J336AZTUU5ASB2:user/release-keys 8.0.0 - 26
<details><summary><b>Crash log </b></summary><p>

[code]
</d

[2021-02-16 14:01] TI84boy commented on #5601
Oh I'm sorry. I typed it within the brackets. I'll just redo it.

[2021-02-16 14:12] TI84boy opened #5608 "Video keeps pausing and unpausing"
### Checklist

- [x] I am using the latest version - 0.20.10
- [x] I checked, but didn't find any duplicates (open OR closed) of this issue in the repo.
- [x] I have read the contribution guidelines given at https://github.com/TeamNewPipe/NewPipe/blob/HEAD/.github/CONTRIBUTING.md.
- [x] This issue contains only one bug. I will open one issue for every bug report I want to file.

### Steps to repro

[2021-02-16 14:13] TI84boy commented on #5608
Apologies if I  messed this up again. This is my first interaction with Github. Thanks for your help!

[2021-02-16 14:40] #5607 closed

[2021-02-16 14:40] sirsapphire commented on #5607
Resolved on it's own after phone reboot.

[2021-02-16 15:56] #5514 closed

[2021-02-16 16:35] eVen-gits commented on #4720
I would also like to add that sometimes, the takeout doesn't seem to include all channels. This is not really a NewPipe issue, but rather google's.

It would make sense to be able to import from a list of channel names (because that is what I have). Alternatively, a json structure compatible for importing should be specified.

[2021-02-16 16:39] JCU0 commented on #5608
It looks like an internet connection problem. Connection is too slow and video is buffering every few seconds. Try official app or site with the same video quality. If you'll see the same problem, then ask your Internet provider or try to reduce quality or download videos and watch them offline.

[2021-02-16 16:55] TI84boy commented on #5608
Ahh got it. Thanks

[2021-02-16 16:59] nadiration commented on #5454
@XiangRongLin  > the "cancel" is an android string (prefixed with android), the create is our own one (prefixed with string).

Can we use our own "cancel" string instead of prefixed android string?