[2022-10-02 16:46] opusforlife2 commented on #9023
@migbox Thanks! We'll ping you and help you figure out how to provide relevant info when needed.

[2022-10-02 16:48] opusforlife2 commented on #9041
That's okay. We can wait for others in this thread.

[2022-10-02 16:48] Elanngo-Madheswaran commented on #9041
Hmm ok sir

[2022-10-02 17:05] itsme24082004 commented on #9041
@opusforlife2 bro @GlitzSmarter gave a crash log is this usefull

[2022-10-02 17:11] opusforlife2 commented on #9041
I know... I got the notification.

[2022-10-02 17:13] itsme24082004 commented on #9041
Ooh sorry for the disturbance i am new

[2022-10-02 17:15] NSTAdventure opened #9053 "Media player crash [0.24.0]"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-02 17:15] opusforlife2 commented on #9041
No problem.

[2022-10-02 17:32] opusforlife2 commented on #9041
Right. Seeing the logs and the steps taken, this is a duplicate of #9030.

[2022-10-02 17:32] #9041 closed

[2022-10-02 17:37] itsme24082004 commented on #9041
Sorry as i dont know technicaly about this problem i started this issue  ,
i didnt intensionally start a duplicate issue . And i am sorry for the
disturbances

On Sun, 2 Oct, 2022, 11:02 pm opusforlife2, ***@***.***>
wrote:

[2022-10-02 17:38] opusforlife2 commented on #9041
No problem. If we felt like you ignored the template on purpose, we would have used that specific label.

[2022-10-02 17:40] Elanngo-Madheswaran commented on #9041
Ok thanks is there any way that problem getting solved

On Sun, 2 Oct, 2022, 11:09 pm opusforlife2, ***@***.***>
wrote:

[2022-10-02 17:42] itsme24082004 commented on #9030
Same issue on redmi

[2022-10-02 17:43] opusforlife2 commented on #9041
Patience.

[2022-10-02 17:45] Elanngo-Madheswaran commented on #9041
Thank you!

On Sun, 2 Oct, 2022, 11:14 pm opusforlife2, ***@***.***>
wrote:

[2022-10-02 18:12] falkpaulfabian2004 opened #9054 "Playback Error"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-02 18:14] Bilingest opened #9055 "HLS video quality."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-02 18:15] opusforlife2 commented on #9054
You need to actually write some info from your side too. The crash log doesn't magically provide all the info. Otherwise we would have removed the sections for expected and actual behaviour.

[2022-10-02 18:16] opusforlife2 commented on #9055
Not enough info. Please elaborate.

[2022-10-02 18:21] Bilingest commented on #9055
The best quality is selected by HLS to comfortably watch videos.

[2022-10-02 18:22] Bilingest commented on #9055
HLS is very fast.

[2022-10-02 18:22] opusforlife2 commented on #9055
That's already the case. What made you think it isn't?

[2022-10-02 18:23] Bilingest commented on #9055
Opening videos is delayed.

[2022-10-02 18:24] Bilingest commented on #9055
The feature is very good.

[2022-10-02 18:24] opusforlife2 commented on #9055
That's not due to the lack of HLS support.

[2022-10-02 18:24] #9055 closed

[2022-10-02 18:41] Bilingest opened #9056 "Accelerate video loading."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-02 18:43] Bilingest commented on #9056
In the LibreTube app, they added that videos open fast.

[2022-10-02 18:44] Bilingest commented on #9056
Fast opening of videos depends on the default quality.

[2022-10-02 18:45] Bilingest commented on #9056
Since the default quality is Auto or HLS.

[2022-10-02 18:46] opusforlife2 commented on #9056
Explain.

[2022-10-02 18:56] Bilingest commented on #9056
In that app, the videos were loading late and they added HLS as the default quality. Changing the buffer settings made the longest videos load faster.

[2022-10-02 18:58] Bilingest commented on #9056
When the main, maximum buffer is reduced, the video loads faster.

[2022-10-02 18:59] opusforlife2 commented on #9056
"HLS" is not a quality. HLS is a protocol for streaming videos. So I'm still not sure what you're talking about.

Also, please edit your comment to add info instead of making a new one each time. It generates a bunch of unnecessary notifications and clutters up the thread.

[2022-10-02 19:00] Bilingest commented on #9056
Good!
But what will happen now?

[2022-10-02 19:02] opusforlife2 commented on #9056
What will happen is that you will explain in more detail what it is you want. Based on your comments so far it is still not clear. Please write one big paragraph explaining the idea. Use examples, if possible. Right now this issue is not actionable at all.

[2022-10-02 19:06] Bilingest commented on #9056
Maximum buffer - The player will buffer the maximum amount of media in this period.

[2022-10-02 19:07] Bilingest commented on #9056
For example: 120000 milliseconds

[2022-10-02 19:07] Bilingest commented on #9056
I don't know anything else.

[2022-10-02 19:12] opusforlife2 commented on #9056
Sigh.

We're in contact with the Libretube people. The developer of Piped (which Libretube is based on) is part of our team. So you can rest assured that if there are any new ways to increase video loading speed, we will definitely try to use them.

[2022-10-02 19:12] #9056 closed

[2022-10-02 20:04] AudricV commented on #8839
Closing, as the issue should have been fixed, for real this time, with TeamNewPipe/NewPipeExtractor#905 and TeamNewPipe/NewPipeExtractor#934, shipped with 0.24.0.

[2022-10-02 20:04] #8839 closed

[2022-10-02 20:05] peat80 commented on #5789
@ingmarcosp to reach fullscreen you just have to open the osd on the video, then press 2x down and then enter.

[2022-10-03 00:08] janTaja commented on #9052
I have the same problem, also on an Android 8 Galaxy phone (mine is a3 2017). An example crashing comment is the pinned one in this video: https://www.youtube.com/watch?v=_Nm6OWFleis

[2022-10-03 00:19] #8902 closed

[2022-10-03 00:28] gqqjhffr commented on #9042
Confirming this bug on the latest GrapheneOS.

[2022-10-03 04:05] Bilingest opened #9057 "Home page"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-03 07:55] ravener opened #9058 "Video starts playing in a different language"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-03 09:12] Dilkush7976 commented on #9054
![Screenshot_20221003_144200](https://user-images.githubusercontent.com/114712446/193541702-a83d9c11-cc49-44f4-9079-200d4eb6434f.jpg)
Not download songs

[2022-10-03 13:12] falkpaulfabian2004 commented on #9054
I go the same error on my Huawei P10 Lite with StockRom Android 8.0 after playing a 10 Horus video, during which I slept, yeah don't asking me why I play this video... My screen got even more display problems like green display pixels aka dead pixels and display burnins when I use it for a longer time. this video fix some of the display burnins..

## Exception
* __User Action:__ play stream
* __Re

[2022-10-03 14:55] reaseno opened #9059 "search music by genre"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-03 20:04] opusforlife2 commented on #9056
@Bilingest Deleting all your comments is not only impolite, it also leaves readers with no context for the conversation. Try to avoid it.

[2022-10-03 20:26] falkpaulfabian2004 commented on #9053
## Exception
* __User Action:__ ui error
* __Request:__ ACRA report
* __Content Country:__ LU
* __Content Language:__ de-LU
* __App Language:__ de_LU
* __Service:__ none
* __Version:__ 0.24.0
* __OS:__ Linux Android 8.0.0 - 26
<details><summary><b>Crash log </b></summary><p>

[code]
</details>
<hr>

[2022-10-03 21:34] opusforlife2 commented on #5789
@peat80 What is "osd"?

[2022-10-03 21:39] #9057 closed

[2022-10-03 21:52] opusforlife2 commented on #9059
Search/filter feature is being worked on. Right now the focus is on YT search filters. Once the basics are in place, we could look at adding more kinds of filters, such as for YT Music.

Meanwhile, check out ViMusic on F-Droid.

[2022-10-03 22:22] CONIGUERO opened #9061 "Video is extremely glitchy and can't be watched"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-03 22:31] reaseno commented on #9059
Thank you very much for the infos 👍

[2022-10-04 00:28] DraconicNEO commented on #5789
I think he meant On screen Display, although I've never heard anyone use OSD to refer to it before.

[2022-10-04 01:40] momo42 opened #9062 "Option to keep audio device alive (to prevent soundbars from shutting off)"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-04 05:21] killerrook opened #9063 "Background play crash bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-04 06:34] Bilingest opened #9064 "Set the default quality to 360p."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-04 07:41] peat80 commented on #5789
Yes, i meant on screen display. With other words click in the video, then the you see the big play/pause button (which i call osd) then 2x down should focus the fullscreen button and enter then opens fullscreen.

[2022-10-04 08:22] mhmdanas commented on #5789
The term "OSD" is used by [MPV](https://mpv.io), so they might have heard the term from that project.

[2022-10-04 12:27] tsiflimagas commented on #9064
Why don't you just do it yourself? Btw, you know that dropping the quality makes the image worse, right?

[2022-10-04 15:04] opusforlife2 commented on #9061
Works fine here. Try different resolutions.

[2022-10-04 15:16] t297161 opened #9066 "Unfinished / Incomplete download disappear from Download list on closing or stopping the app"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-04 15:18] t297161 commented on #9066
The app version is 0.24.0 on Android 6.0.1.

[2022-10-04 15:29] vishalscodes opened #9067 "Request to make the video stay static while scrolling"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-04 15:35] xcoldx commented on #1981
NewPipe v0.24.0 it keeps crashing when watching a video

[2022-10-04 16:08] opusforlife2 commented on #9063
Have you blocked Newpipe notifications?

[2022-10-04 16:13] #9066 closed

[2022-10-04 16:14] #9067 closed

[2022-10-04 16:21] Fertanima opened #9068 "Download error."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-04 17:36] vishalscodes opened #9069 "Request to make video and description/comments abe viewed on the same screen (like YouTube) in Landscape mode"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-04 20:15] CONIGUERO commented on #9061
Hmm. You're right It only seems to happen with the 720p60 resolution

[2022-10-04 22:21] Master2050 commented on #9063
No I haven't blocked notification from newpipe

[2022-10-04 22:35] Master2050 commented on #9063
I can even provide screen recording if you want.

[2022-10-04 23:38] opusforlife2 commented on #9069
You can long-press on the top right arrow to see the comments, or drag up the full screen button if it is visible to the same effect.

[2022-10-04 23:38] #9069 closed

[2022-10-04 23:43] opusforlife2 commented on #9061
YT's compression went wrong for that stream. Only solution is to use another resolution for that particular video.

[2022-10-04 23:43] #9061 closed

[2022-10-04 23:45] opusforlife2 commented on #9063
The crash log is what's needed. Edit the description and paste it there.

[2022-10-05 00:36] MD77MD commented on #9036
that is defiantly not  Intuitive... bro i was not asking for workarounds... i know you are a pro using newpipe... im just making request for essentials that the average user would need in the future... everyday newpipe is growing in functions and features, making it nearly impossible for beginners to experiment without worrying they might not be able to undo them

also it would be appreciated if w

[2022-10-05 01:32] Marcos6226 commented on #9052
Can confirm. Mine's happens on almost all videos with a considerable sum of comments. But there is a specific video that it happens all the time. [Link to the video](https://www.youtube.com/watch?v=oCWhytwQ1As)

Here is the log:
## Exception
* __User Action:__ ui error
* __Request:__ ACRA report
* __Content Country:__ CA
* __Content Language:__ en
* __App Language:__ pt_BR
* __Service:__ none
* __

[2022-10-05 03:02] tsiflimagas commented on #9052
For anyone experiencing this issue, try out the debug build from https://github.com/TeamNewPipe/NewPipe/pull/9065.

[2022-10-05 04:08] Master2050 commented on #9063
Updated but not 100% sure check if it helps

[2022-10-05 05:51] WorkHard4470 opened #9070 "App crashes when in background"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-05 05:54] WorkHard4470 commented on #9070
Must require by open a Pull Request. The developer of their repo has not yet fix their error.

[2022-10-05 06:41] tsiflimagas commented on #9070
I don't understand what you're writing in your comment, but this appears to be a duplicate of #9053, which in return appears to be a duplicate of #9030, and eventually this crash was described in https://github.com/TeamNewPipe/NewPipe/issues/8646#issuecomment-1236162209.

[2022-10-05 08:41] vishalscodes opened #9071 "How to increase font size and thumbnail size to fit screen?"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-05 09:12] opusforlife2 commented on #9036
None of that is a problem. Even if I closed this, you were still able to ask me to reopen. Don't consider "closing" of an issue as "final rejection, no changes allowed". These are just maintenance decisions, most of which can be reversed easily.

I marked it as a question after answering because I thought the solution was good enough. Since you want a button anyway, I'll just click on the "reopen"

[2022-10-05 09:22] opusforlife2 commented on #9071
Strange. I get two columns.

[2022-10-05 09:23] opusforlife2 commented on #9070
@tsiflimagas Sure? I'm no dev, but the STRs don't seem similar, despite the exception possibly being the same.

[2022-10-05 10:07] WorkHard4470 commented on #9070
There could be a problem by clicking the search history. Follows app crash.

[2022-10-05 11:54] tsiflimagas commented on #9070
Tbh I had by doubts thinking it again, as I'm not a developer either. Let's wait for one I guess.

[2022-10-05 13:47] opusforlife2 commented on #9071
@vishalscodes What's your screen size? Did you modify display settings?

[2022-10-05 14:04] mohamed2019z opened #9072 "crash"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-05 14:29] #9072 closed

[2022-10-05 16:19] vishalscodes commented on #9071
My screen size is 5.93 inches. I didn't modify any display settings but I did change the List view mode to Grid in the Appearance tab.

[2022-10-05 16:31] killerrook opened #9073 "Option to cap maximum cache storage"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-05 16:39] Master2050 opened #9074 "Option to select default audio quality while playing in background"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-05 16:46] Master2050 opened #9075 "Option to batch download a playlist."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-05 20:50] #9075 closed

[2022-10-05 20:52] #9073 closed, assigned to nobody

[2022-10-05 21:03] Master2050 opened #9076 "Option to auto resume playing after interruptions like calls"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-05 21:12] Master2050 opened #9077 "Glitchy playback due to excessive cache accumulation"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-05 21:32] Master2050 opened #9078 "Option to show full video titles instead of collapsed ones in feed"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-06 02:23] #9076 closed

[2022-10-06 04:07] #9078 closed

[2022-10-06 11:09] Manishpandey11 commented on #8920
Hello All ,I would like to work on this issue

[2022-10-06 12:04] Bugaddr commented on #8615
Hey, you can fork this project and push your commits there and open a pull request later.

[2022-10-06 14:52] TheMCNerd2017 commented on #5326
I just encountered this error when attempting to watch this video: https://www.youtube.com/watch?v=dUSAl4f4RVw. Upon retrying after getting the error, the video loaded properly.

The crash log however was slightly different than what the OP encountered, so I'll be posting it here if it's needed for any reason.

<details>

## Exception
* __User Action:__ requested stream
* __Request:__ https://www.

[2022-10-06 16:17] opusforlife2 commented on #9071
Then it must be a quirk of your particular device's display proportions. Try fiddling with the display size to see what happens.

[2022-10-06 16:18] Rominet13 commented on #9070
I noticed the same since the last version

## Exception
* __User Action:__ ui error
* __Request:__ ACRA report
* __Content Country:__ GB
* __Content Language:__ en
* __App Language:__ fr_FR
* __Service:__ none
* __Version:__ 0.24.0
* __OS:__ Linux Nokia/Phoenix_00WW/PNX_sprout:11/RKQ1.200906.002/00WW_6_210:user/release-keys 11 - 30
<details><summary><b>Crash log </b></summary><p>

[code]
</details

[2022-10-06 16:28] #9074 closed

[2022-10-06 16:32] opusforlife2 commented on #9077
That's not a Newpipe problem. That's a you problem. Of course the video buffer is going to take up space. That's unavoidable.

How are you even using a device with just 100 MB left? Isn't Android spamming you with "running low on storage" notifications?

The obvious solution is to clear up some space on your device.

[2022-10-06 16:32] #9077 closed

[2022-10-06 16:37] opusforlife2 commented on #8937
It's possible. That's the nature of FOSS projects, sometimes.

[2022-10-06 16:43] tsiflimagas commented on #8615
There's an open PR for this already, though.

[2022-10-06 16:44] vishalscodes commented on #9071
@opusforlife2 How should I do that with a mobile? Besides, I want the video thumbnail and fonts to increase so that it looks more like YouTube, not a double-columned layout.

[2022-10-06 16:45] opusforlife2 commented on #8615
Whoops. Forgot about that. Thanks, @tsiflimagas!

@Manishpandey11 You can work on the other PR I assigned to you.

[2022-10-06 16:46] ElDani82 commented on #8629
I just ran across this same issue on a high volume channel. In my case it was NFL, which at this moment has uploaded 20 new videos within the past 24 hours.

Unless I miscounted, the number of videos added to the feed is 30, which is only 1.5 days worth of content in my example case. This would be less of an issue, if feed updates could be scheduled/run automatically, since I don't even open the a

[2022-10-06 16:46] opusforlife2 commented on #9071
I don't think that's possible currently. You can follow #6087 for that.

[2022-10-06 16:46] #9071 closed

[2022-10-06 21:36] hehhehheh commented on #8583
Seems to have resolved itself for OnePlus Nord 2 5G in the OxygenOS 12.1 update with build number DN2103_11_C.10.

[2022-10-06 21:40] MarcellHarmaci commented on #8583
It is more rare now, but still occurs for me on the same updated OxigenOS build.

[2022-10-07 06:04] PrzemekSkw commented on #8583
I move to LibreTube and it's very rare there but also sometimes occur.

[2022-10-07 15:02] ggdorman opened #9080 "Downloaded media path not parsed to OS?"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-07 15:10] NSTAdventure opened #9081 "Split screen video size"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-07 16:10] Matszwe02 opened #9082 "Add variable video buffer amount"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-07 16:23] EthanZeigler commented on #9070
I can confirm what @Rominet13 said. The app doesn't even have to be focused for this to occur. Just having the app in the background (not manually swiping closed from switcher) is enough to trigger the error. Newpipe will take focus back from whatever the current app is to display a near identical error to everyone else. I'm not sure what I would have done to cause it given the app wasn't open.

[2022-10-07 16:29] IMMalebolgia commented on #9023
@opusforlife2

I am a heavy Firestick user and would be happy to do some testing as well to help the effort. I have noticed some substantial differences between the way the 4k and 4k Max behave so I can test on both.

[2022-10-07 17:45] opusforlife2 commented on #9080
Depends on what the path is. Paste it here after removing any personal info.

[2022-10-07 17:59] opusforlife2 commented on #9082
Related: #3251

[2022-10-07 18:02] opusforlife2 commented on #9070
I've gotten a report about this from a user, too. The app can randomly crash while the user is busy using some other app.

[2022-10-07 18:03] opusforlife2 commented on #9023
@IMMalebolgia Thanks! To be sure, are you referring to this specific issue or do you wish to be a TV tester for us in general?

[2022-10-07 18:10] IMMalebolgia commented on #9023
Happy to be a teater in general.

I have been an EE for 26+ years now specializing in post silicon debug so
plenty of experience tracking down wierd SW/HW bugs so figured I might be
of service to an app I rely heavily on. I previously assumed you had plenty
of testers or else I would have volunteered sooner 🙂

On Fri, Oct 7, 2022, 11:03 AM opusforlife2 ***@***.***> wrote:

[2022-10-07 19:22] Rominet13 commented on #9070
Ok, it always appears when disconnecting (and sometimes when connecting) bluetooth devices like my car or loud speaker (My watch is connected too but I don't think it changes anything.)
Way to reproduce : use normally (watch some video, or listen music in background), quit the app. And after some time, connect and disconnect to a Bluetooth device like a car.

[2022-10-07 19:39] opusforlife2 commented on #9070
Right. That's a known problem and has more to do with Android. Before version 0.24.0, you just got a blank player notification, since Newpipe was the last "media player" app used. Now it causes a crash.

@Stypox This seems actionable now. Is there a way to prevent Newpipe being seen as a media app by the OS? It obviously has something to do with the changed player code, but we might be able to byp

[2022-10-07 20:36] the-ozyrys commented on #9023
Hi,
below is the error I get in logcat when trying to play video fullscreen on Android TV. Visible symptoms are the same as the other guys are getting. Android version 11, vendor Philips, uname -a says "Linux localhost 4.19.182-ab2437 #1 SMP PREEMPT Fri Jul 15 10:35:27 CST 2022 armv8l".

`10-07 22:11:36.164 12647 12647 E Player  : ExoPlayer - onPlayerError() called with:
10-07 22:11:36.164 12647 1

[2022-10-08 00:18] #9004 closed

[2022-10-08 00:18] #9005 closed

[2022-10-08 03:10] u7280338 commented on #4189
Hello, Can I work on this issue?

[2022-10-08 09:24] MOElements commented on #5730
Different logs for this issue, this is reproduceable.

Shortly after unlocking the phone from a multiple hour sleep.

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=JGRMd4vCeI0
* __Content Country:__ HU
* __Content Language:__ hu-HU
* __App Language:__ hu_HU
* __Service:__ YouTube
*

[2022-10-08 11:17] pharmadz opened #9083 "Screen Look"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-08 12:30] NeloKa61 commented on #539
add to the list
https://play.google.com/store/apps/details?id=com.newpipe.mp4downloader.video.downloader.addsblock.app
i think this is the worst
using newpipe while displaying google ads(I think)
![Screenshot_20221008-192513](https://user-images.githubusercontent.com/114873709/194707597-a8b36cda-88e6-48cb-832a-24cc257c74cd.png)
![Screenshot_20221008-192522](https://user-images.githubusercontent.co

[2022-10-08 12:35] NeloKa61 commented on #9023
I am Android TV Box user( a low end device) so maybe i can give some feedback on testing .My device is B860H V5.0

[2022-10-08 12:47] EDGE-ELITE opened #9084 "Play Stream: Unable to play certain videos, whilst others work fine."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-08 14:13] #9083 closed

[2022-10-08 14:35] AudricV commented on #9084
Duplicate of #9038. Please search (better, with different keywords?) for duplicates the next time you want to open an issue. Thank you.

[2022-10-08 14:35] #9084 closed

[2022-10-08 14:45] Master2050 opened #9085 "Skipping videos in the queue bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-08 14:58] MDP43140 opened #9086 "NewPipe Crashed After Clicking Next on Shorts video"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-08 15:21] MDP43140 opened #9087 "Video frame shifted one frame if switching away and go back to newpipe (pressing Recents button)"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-08 15:30] MDP43140 commented on #9053
Sounds like Android is killing NewPipe foreground process (`android.app.RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()`), and when you go back to NewPipe, it crashes. I never had this bug, so this may happen only on some devices (specifically the one that had blocked NewPipe from running in background???).

[2022-10-08 15:45] AudricV commented on #9086
This isn't an official NewPipe version. Is it reproducible with the official version? I used your steps to reproduce the bug, but I didn't get a crash.

[2022-10-08 16:19] MDP43140 opened #9088 "Crashed when using the Download button from context menu and switching menus"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-08 16:21] MDP43140 commented on #9086
i did try it in official version

[2022-10-08 16:28] #9087 closed

[2022-10-08 16:28] #9088 closed

[2022-10-08 16:33] opusforlife2 commented on #9070
Can you all confirm that you haven't disabled the Newpipe player notification in your OS settings? I'm interested in knowing if your player notification is showing just fine and you still get this error.

I'm trying to narrow this bug down and the lack of the player notification may be a cause, since that's what Android uses to determine if the app should be kept in memory or not.

[2022-10-08 16:46] opusforlife2 commented on #9086
Try with a different OS. This might be OS specific.

[2022-10-08 17:48] Rominet13 commented on #9070
If by "Newpipe player notification", you mean the "Hide player when the media session has ended (the player allows you to resume a session from the expanded quick setting panel)", it is disabled. I have never changed... I didn't know it exists^^. I m going to set it on ( I don't why with VLC I can resume but not with NewPipe. Maybe it is the solution.)

[2022-10-08 18:47] opusforlife2 commented on #9070
I'm... not sure, actually, if that Android 11+ setting matters. What I'm asking specifically is that when you play a video in the main player, popup player, or the background player, does the player notification show in the notification shade?

[2022-10-08 20:35] Rominet13 commented on #9070
Yes the player is in the notification shade, and I use it.

[2022-10-08 21:26] solid-snail commented on #9024
From looking at #8889 the change to a `left join` looks kinda sus (in the context of this bug).
I'd probably start looking there for the source of the bug.
Apology for not just testing it and opening a PR. I'm not really setup for android development right now.

https://github.com/TeamNewPipe/NewPipe/pull/8889/files#diff-f85f6bf4cea29ac78e9c829a906aa4e6f076b01c62a8f1a3e53d31ce7e501e1d

in app/src/

[2022-10-09 04:16] nlof commented on #9038
Same issue, getting it quite frequently on random videos...

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=Tnd3fyJk3GA
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ YouTube
* __Version:__ 0.24.0
* __OS:__ Linux Android 11 - 30
<deta

[2022-10-09 04:32] djdhdhdhdbdlub opened #9089 "YouTube videos not working"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-09 05:37] HashtagAnkit opened #9090 "Help needed Most"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-09 09:14] #6987 closed

[2022-10-09 09:40] #9007 closed

[2022-10-09 09:58] #9089 closed

[2022-10-09 10:00] djdhdhdhdbdlub commented on #9089
... Where's the original then???

[2022-10-09 10:21] Callisto404 commented on #8343
Hey, I'd like to attempt this feature if that is okay.

[2022-10-09 11:23] Adam-Dai commented on #8859
Hi, I would like to try to solve this problem if possible

[2022-10-09 11:44] ShareASmile commented on #5075
This issue remains open, i think it is not reproducible anymore.

[2022-10-09 12:50] opusforlife2 commented on #9070
Alright, that's a dead end, then. Thanks for confirming!

[2022-10-09 12:51] #9090 closed

[2022-10-09 12:52] opusforlife2 commented on #6987
@janTaja Is your issue fixed?

[2022-10-09 12:55] opusforlife2 commented on #9089
@djdhdhdhdbdlub You're the one who has to make the effort to find out. That's why it's stated in the template.

[2022-10-09 12:57] opusforlife2 commented on #8343
@Callisto404 Great! Could you give a rough idea of how you will implement this, before taking this up?

[2022-10-09 12:59] opusforlife2 commented on #8859
@Adam-Dai Great! Could you give a rough idea of how you will implement this, before taking this up?

[2022-10-09 13:13] NSTAdventure commented on #5949
heya guys? some chat or msg here seems missing?
or is it?
what happen?

[2022-10-09 13:26] janTaja commented on #6987
I think so, I haven't encountered it in a very long time.

[2022-10-09 13:28] opusforlife2 commented on #5635
@SameenAhnaf Hey. You're practically an unofficial issue maintainer by now. Would you like to join the team officially as a maintainer? It will allow you to properly close issues and apply labels.

[2022-10-09 13:43] coderkei commented on #8748
Happens to me too except, I can't download anything, it keeps force closing on the download box every time.

[2022-10-09 14:35] opusforlife2 commented on #8748
Try it on a different OS.

Seal from F-Droid?

[2022-10-09 15:04] coderkei commented on #8748
@opusforlife2 Just to add on, I get the same type of Crash on an Oppo Reno (1st Gen Model) running Android 11.

Using the latest version from the Newpipe upstream F-Droid repo.

[2022-10-09 15:07] opusforlife2 commented on #8748
Things to check:
- App has the correct permissions?
- Video and audio download folders are set properly?
- OS has at least one working and enabled SAF provider?

[2022-10-09 15:16] coderkei commented on #8748
Hi @opusforlife2

1) Yep, all permissions allowed:

2) SAF Provider is DocumentUI, seems to be working for other apps.

3) Paths are set as follows. They were set with the DocumentUI activity:

![](https://i.ibb.co/nMFKPSN/Screenshot-2022-10-09-16-10-52-89-ee8807d2de22f1831269d80920e33a3b.jpg)

Here is a video that causes the crash for me:
[https://www.youtube.com/watch?v=dp5aGjt2xok](https://www.

[2022-10-09 15:18] opusforlife2 commented on #8748
@coderkei What you describe is not the same bug then. You don't even get to start the download before you get the crash. See if there is another issue that describes your exact problem.

[2022-10-09 16:40] djdhdhdhdbdlub commented on #9089
I spent a good 24 minutes looking and I couldn't find any. And yet it gets marked as duplicate and I'm still not told where the duplicate is?

I found a few that had *similar* error codes but they weren't the same as mine!

[2022-10-09 16:52] opusforlife2 commented on #9089
#9038. What were your search terms?

[2022-10-09 17:43] steelman opened #9091 "Accept twitter t.co redirections"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-09 18:22] razbone opened #9093 "does not recognize the function activated in the settings for the videos to open in full screen"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-09 19:11] opusforlife2 commented on #9093
Probably related to #9023.

[2022-10-09 21:01] TobiGr opened #9094 "Clean up translations"
In #9092 @AudricV noticed new, but empty translations.I took a closer look at Weblate: We have
9 languages at 0% (0 of 721 translated) [ars, ay, ayc, dum, enm, ang, nds, ks, scn]
1 at 1% (1 of 721), [af]
1 at 1% (2 of 721), [kk]
1 at 1% (4 of 721), [si]
1 at 1% (13 of 721) [ace]
I suggest to remove those if no activity occurs until the next RC. T**his should be done by an admin on weblate,**

_Ori

[2022-10-09 21:04] spitemim opened #9095 "Pressing 'pause' button on headphones while no video is currently playing will crash NewPipe"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-09 21:39] Massedil commented on #5075
I don't have experienced this issue anymore.

[2022-10-09 21:39] #5075 closed

[2022-10-09 22:18] fohfuu commented on #9038
@AudricV

A little more info from an occurance today:

Nope.

I followed these steps and the external video player option didn't show up. I don't ever use this feature in the first place.

For what it's worth, the bug report says "error occurred while playing https://www.youtube.com/watch?v=[...]". This URL was also used by the "open in browser" function.

I don't use an external player and have n

[2022-10-09 22:28] TobiGr commented on #9052
I am unable to reproduce the original issue in the emulator. @devlearner @janTaja  does #9065 fix the crash ?

[2022-10-09 22:31] janTaja commented on #9052
@TobiGr it does for me (at least i haven't had any crashes scrolling through comments, and that used to happen a lot with the release version)

[2022-10-10 04:50] devlearner commented on #9052
yep, now I feel the peace of mind not having to watch out where my finger lies when scrolling through the comments ;-)

[2022-10-10 08:51] #9052 closed

[2022-10-10 09:18] #8639 closed

[2022-10-10 14:46] ggdorman commented on #9080
Not sure if this is what you meant but here's an example:
/storage/emulated/0/Movies/NewPipe/Big Buck Bunny.mp4

[2022-10-10 15:05] zendynar commented on #8583
With the latest 0.24.0 the issue behavior has changed. Before the update it would also sometimes jump to the end of the video and you have to kill and restart the app or the video would start over after resume. Now with the update to 0.24.0 the video can sometimes get stuck but now after app relaunch it continues from the correct timing.

[2022-10-10 15:18] kirkawolff commented on #9070
This is with an older version, adding in case this helps

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_UNSPECIFIED] occurred while playing https://www.youtube.com/watch?v=qKDbVWa_obA
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ YouTube
* __Version:__ 0.23.3
* __OS:__ Linux Android 9 - 28
<details><sum

[2022-10-10 15:34] bell-kevin opened #9097 "NewPipe App. Tracking"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-10 15:36] bell-kevin commented on #9097
![Uploading Screenshot_20221010-093543.png…]()

[2022-10-10 16:15] TobiGr commented on #9097
NewPipe does not track. Do you have the official app installed? You can find the exodus privacy report for NewPipe [here](https://reports.exodus-privacy.eu.org/de/reports/org.schabi.newpipe/latest/). It clearly says: no trackers
However, when searching for NewPipe on the exodus website you'll notice that there are many illegal NewPipe copies with trackers included.

Stuff that is listed in the sec

[2022-10-10 16:48] bell-kevin commented on #9097
Thank you for the reply! I use the NewPipe app. via F-Droid, so I'm assuming I have a good copy/version of the NewPipe app. This tracker app is the DuckDuckGo tracker app.

[2022-10-10 17:10] TobiGr commented on #9097
I suggest you to report these complete false claims to the devs of the DuckDuckGo tracker app. These kinds of false reports can harm the reputation of other devs, too. The report is complete non-sense for various reasons.
We cannot access data like email addresses, first and last name or gender, because we don't even have the permission to access any kind of profiles. I have no idea how they "dete

[2022-10-10 17:10] #9097 closed

[2022-10-10 18:13] bell-kevin commented on #9097
@duckDuckGo

[2022-10-10 18:53] Da-vid21 opened #9100 "How is the local playlist handled"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-10 19:40] AudricV commented on #9038
Unfortunately not.

Additional question: does this issue happen when trying to download videos using the [latest version of yt-dlp](https://github.com/yt-dlp/yt-dlp/releases/latest)? Some reports have been made here (and on youtube-dl too), stating that the fallback server that YouTube adds in its streaming URLs may work in this case.

[2022-10-10 20:33] KhaosPone opened #9101 "An error occurred"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-10 20:44] #9101 closed

[2022-10-10 22:38] Master2050 opened #9102 "If newpipe crashes the position of playing video is not saved."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-10 22:49] Master2050 opened #9103 "Video quality switching bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-10 23:22] tsiflimagas commented on #9102
Duplicate of #8358.

[2022-10-11 00:07] #9102 closed

[2022-10-11 00:43] Dylan-Turner commented on #8988
Hello! Could I work on this :) ?

[2022-10-11 00:57] ioerjfoige0439i opened #9104 "Going back closes the currently playing video and jumps to the last played video"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-11 03:09] marevm commented on #8898
Hello, can I work on this issue?

[2022-10-11 03:27] u7280973 commented on #8962
Hey, could I work on this issue? :))

[2022-10-11 03:56] HighGr0und commented on #9044
Hi, I would like to solve this issue if possible.

[2022-10-11 04:19] Jfax510 commented on #4189
I've just tested this on the latest version 0.24.0. And this bug is not occurring when I replicate those steps. Is this something that I need to fix specifically for version 0.19.8?

[2022-10-11 04:24] TheGoldenSun opened #9105 "Newpipe's Subscription"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-11 05:04] sumit1564 opened #9106 "Add big Thumbnail feature."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-11 05:19] plasticanu commented on #9036
Hi, we are an assignment group studying computer science at the Australian National University. We would like to work on this issue, and we have 19 days left to write code and open a pull request. Can you assign this issue to us?

[2022-10-11 05:22] plasticanu commented on #8717
Hi, we are an assignment group studying computer science at the Australian National University. We would like to work on this issue, and we have 19 days left to write code and open a pull request. Can you assign this issue to us?

[2022-10-11 06:45] plasticanu commented on #8605
Hi, we are an assignment group (6 people) studying computer science at the Australian National University. We would like to work on this issue, and we have 19 days left to write code and open a pull request. Can you assign this issue to us?

[2022-10-11 06:45] plasticanu commented on #9068
Hi, we are an assignment group (6 people) studying computer science at the Australian National University. We would like to work on this issue, and we have 19 days left to write code and open a pull request. Can you assign this issue to us?

[2022-10-11 07:01] Nizami20052022 commented on #9068
What will happen after 19 days?

[2022-10-11 07:03] plasticanu commented on #9068
It will be the deadline for our assignment :).

[2022-10-11 07:05] Nizami20052022 commented on #9068
Can you no longer contribute to NewPipe?

[2022-10-11 07:07] Nizami20052022 commented on #9068
Solve this issue. I don't think permission is needed.

[2022-10-11 07:07] plasticanu commented on #9068
There will be a final exam period. I am personally interested in this project, so I'll keep contributing after the exams. Not sure about other people. However, you can assume we'll no longer contribute.

[2022-10-11 07:09] plasticanu commented on #9068
So we can work on this? Thanks!

[2022-10-11 07:12] Nizami20052022 commented on #9068
Yes

[2022-10-11 07:13] Nizami20052022 commented on #9068
Start if you want.

[2022-10-11 07:14] niccokunzmann commented on #8258
Sorry, I cannot Update.

[2022-10-11 07:16] shnoah641 commented on #8517
Still having issues even with the website instructions you gave me

On Thu, Jun 16, 2022, 2:10 AM Jacob L ***@***.***> wrote:

[2022-10-11 08:05] darkemporium763 commented on #8172
That was easy. It works. I move it to Documents folder.

Thanks for your help.

More power to this app.

On Mon, Apr 11, 2022, 12:47 AM opusforlife2 ***@***.***>
wrote:

[2022-10-11 08:16] WorkHard4470 commented on #9038
They're the same crash logs.

On Wed, 28 Sep 2022, 9:00 am fohfuu, ***@***.***> wrote:

[2022-10-11 08:34] yashpalgoyal1304 commented on #8958
i didnt know about that notifs are sent for edits too, i thought they are
sent only on new comments. sorry.

i too generally note the stuff in local file, but this one is related with
some issues already filed... so, thats why i made this mistake of filling
it here.

opusforlife2 wrote:

[2022-10-11 08:39] migbox commented on #9023
Yes, the button is visible, but to act on it, you can only use the arrows
on the remote walking around the screen trying to have the focus on full
screen icon.
Unfortunately when you try to go there using the down arrows, the focus
goes on the time slider; the full screen is on his right and if you try to
move on it, what you obtain is moving the time slider on the right.
To reach the full screen

[2022-10-11 08:59] benzbee commented on #8253
My app is version is this not 3.0

Sent from Outlook Mobile<https://aka.ms/blhgte>
________________________________
From: TiA4f8R ***@***.***>
Sent: Monday, April 18, 2022 7:42:42 PM
To: TeamNewPipe/NewPipe ***@***.***>
Cc: benzbee ***@***.***>; Comment ***@***.***>
Subject: Re: [TeamNewPipe/NewPipe] Newpipe not working (Issue #8253)

Then why your app version is 3.0? The latest version is 0.22.2.

[2022-10-11 09:06] Master2050 commented on #9105
Not able to comprehend your question could you clarify further?

[2022-10-11 11:36] AlertSubject opened #9107 "App crashes when scrolling playlist screen after watching video in fullscreen"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-11 12:52] #9107 closed

[2022-10-11 13:36] AlertSubject commented on #9107
Hi, could you please link the original issue as I wasn't able to find it when searching for "crash + Playlist"?
Thanks

[2022-10-11 13:40] tsiflimagas commented on #9107
#4475

[2022-10-11 14:36] Nqtural commented on #9105
In NewPipe, go to the subscriptions tab, tap the 3 dots in the upper right corner, tap `Import from`, tap `YouTube`, then follow the instructions given there.

[2022-10-11 14:42] mhmdanas commented on #8605
@plasticanu somebody will assign you to the issue eventually, but you don't have to wait for that to happen before you actually start working on it.

[2022-10-11 17:31] ShareASmile commented on #9047
I can reproduce it on Samsung A22 5G Android11, error report:

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_DECODING_FAILED] occurred while playing https://www.youtube.com/watch?v=v0RCgALLty8
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ YouTube
* __Version:__ 0.24.0
* __OS:__ Linux samsung/a22xnnxx/a22x:

[2022-10-11 18:04] ShareASmile commented on #8258
Follow these guidelines to update
https://github.com/TeamNewPipe/NewPipe#installation-and-updates

[2022-10-11 18:22] eladkarako opened #9108 "[with workaround][regression] 0.21.5 -> 0.21.7 (+ all newer versions) - "no application can handle this action" when clicking on import database on Android TV"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-11 21:04] j-seeley commented on #9023
I uninstalled v24 but before doing so, I saved/copied hour files to a save place: 1) newpipe.db 2) newpipe.db-shm 3) newpipe.db-wal, and 5) org.schabi.newpipe_preferences.xml (not sure if all four of these are needed but it was just hit or miss)

After uninstalling v24, I then installed v23.3 and ran the app to get the db and xml files to populate so I know where to replace those with the four abo

[2022-10-12 02:16] OkyDooky commented on #1037
Storing in metadata is fine, but storing things like the video ID in the title is possibly better, since it makes it easier to convert to other formats (such as WebM for some image boards) and retain a direct link back to the source without needing to have the URL on hand everywhere/every time you post it, even months or years after downloading. This example is important, since some boards and sit

[2022-10-12 05:49] NSTAdventure opened #9110 "Switching thumbnail setting crash"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-12 05:52] NSTAdventure opened #9111 "Queue freeze video"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-12 06:30] digr8wanka opened #9112 "Full-screen crash on some videos"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-12 07:02] u7284728 commented on #7277
Hi, I would like to work on this. Could someone please point me in the right direction as to which classes/xml files this would be associated with. Thank you :)

[2022-10-12 07:16] #9112 closed

[2022-10-12 07:38] AudricV commented on #4863
Hi!

Thanks for looking into this enhancement. The changes which needs to be done are on the [extractor repository](https://github.com/TeamNewPipe/NewPipeExtractor), in the [`soundcloud` package](https://github.com/TeamNewPipe/NewPipeExtractor/tree/dev/extractor/src/main/java/org/schabi/newpipe/extractor/services/soundcloud).

You probably need to make changes on [`SoundcloudPlaylistExtractor`](ht

[2022-10-12 09:49] WorkHard4470 opened #9113 "Cannot parse URL on debug version"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-12 14:11] Master2050 opened #9114 "Show more information about the current queue"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-12 14:13] WorkHard4470 commented on #9114
Please make a pull request first.

[2022-10-12 14:16] Master2050 opened #9115 "Option to add a playlist to current queue"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-12 14:26] Master2050 opened #9116 "Player request for information rotation bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-12 14:51] rohandebsarkar commented on #8984
Hi, I tried to find out how the money is actually distributed among the developers, but was unable to find any mentions regarding this. The only thing I found was on [Liberapay](https://liberapay.com/TeamNewPipe/income/) that all the donations go to the user [theScrabi](https://liberapay.com/theScrabi/) (who used to maintain this project and had last [committed to this repo in 2019](https://github

[2022-10-12 15:23] NSTAdventure commented on #9053
I can't comment anything beside those vendor is horsemen of the annoyance
(Bruh)

[2022-10-12 15:28] NSTAdventure commented on #9053
I can't comment anything beside those OEM Devices vendor is horsemen of the annoyance
(Bruh)

[2022-10-12 15:51] SavSanta commented on #8984
Also a good question!

[2022-10-12 17:30] opusforlife2 commented on #8583
What, exactly? It can't be swiping it away from Recents, for example, because that would reload the entire content from scratch.

[2022-10-12 17:35] opusforlife2 commented on #9097
Did you just ping the entire DDG team on Github!?

It would have been much better to open an issue in their repo and let their regular maintainers deal with it...

[2022-10-12 17:41] opusforlife2 commented on #8988
@Dylan-Turner Sure! Before doing anything though, could you explain how you would like to do this?

[2022-10-12 17:42] #9104 closed

[2022-10-12 17:44] opusforlife2 commented on #8898
@marevm Sure! But first could you explain a little how you're going to implement this?

[2022-10-12 17:46] opusforlife2 commented on #8962
@u7280973 Sure! Could you post a screenshot of your proposed design?

[2022-10-12 17:49] opusforlife2 commented on #9044
@HighGr0und Sure! Could you provide examples of what thumbnails you intend to use?

[2022-10-12 17:51] opusforlife2 commented on #8517
^

[2022-10-12 17:52] opusforlife2 commented on #8172
xD Thanks for confirming.

[2022-10-12 17:52] #8172 closed

[2022-10-12 17:57] opusforlife2 commented on #8253
@benzbee What?

[2022-10-12 17:59] shnoah641 commented on #8517
Issue has resolved itself sorry for the late reply thank you so much for helping me

[2022-10-12 17:59] #8517 closed

[2022-10-12 18:01] opusforlife2 commented on #8605
@plasticanu You've offered to work on a bunch of issues. Do you plan to work on any one, a few, or all of them? Please clarify so that I can start assigning.

[2022-10-12 18:08] opusforlife2 commented on #9068
@Nizami20052022 In the future, let a team member handle this. If their work is rejected by any chance, the time they would have wasted would partially become your responsibility as well.

You're right in this case, since it is a bug with a likely straightforward fix. But if it's something that has wiggle room that needs to be worked out, again, the team needs to be aware and in agreement.

[2022-10-12 18:10] opusforlife2 commented on #4477
Still occurring.

[2022-10-12 18:11] #9106 closed

[2022-10-12 18:15] bell-kevin commented on #9097
Could you help me do that, @opusforlife2 ?

[2022-10-12 18:36] bell-kevin commented on #9097
I got the DuckDuckGo app from the Google Play app. store. I got the NewPipe app. from F-Droid.

[2022-10-12 18:37] opusforlife2 commented on #9097
Do they provide a link to their bug tracker?

[2022-10-12 18:50] bell-kevin commented on #9097
I can not see a link to the DuckDuckGo bug tracker in the DuckDuckGo app. I don't understand what exactly to report as the bug in the DuckDuckGo app. I think the DuckDuckGo app. is working correctly. If you look at the second screenshot, it says "Google. 4 attempts. Known to collect:" So I understand this to mean DuckDuckGo detected 4 attempts to send data from the NewPipe app on my phone to Googl

[2022-10-12 18:51] opusforlife2 commented on #9114
@WorkHard4470 That's not required, though?

[2022-10-12 19:22] opusforlife2 commented on #9097
@bell-kevin Does it specify _which_ domains these are? Could you paste them here?

[2022-10-12 21:39] R0M4N0F5K7 commented on #2565
I was about to make the same request, would love to see "Downloads" be added as an option to choose in "Content of main page", personally I would set is as my first tab, as that's where I go when I open NewPipe (I usually trigger the download itself outside of NewPipe by sharing to NewPipe, so I really only open NewPipe to watch downloads).

[2022-10-12 22:03] opusforlife2 commented on #9111
If you're adding the same video that is playing to the background audio queue, then that is the same as switching to audio.

[2022-10-12 22:03] #9111 closed

[2022-10-12 22:04] opusforlife2 commented on #1037
Sure, I meant _additionally_ stored in the metadata. Having info in the filename is too useful to give up.

[2022-10-12 22:05] opusforlife2 commented on #9080
Do all these apps you mentioned have access to that folder?

[2022-10-12 22:13] opusforlife2 commented on #9115
Long-press on one of the 3 headers of the playlist.

[2022-10-12 22:13] #9115 closed

[2022-10-12 22:14] #9116 closed

[2022-10-12 22:16] opusforlife2 commented on #9053
Very likely the same bug as #9070.

[2022-10-12 22:18] #9114 closed

[2022-10-12 22:47] opusforlife2 commented on #9095
It used to just cause a blank Newpipe notification to appear because it is the last used media app. Since 0.24.0 it causes a crash instead.

[2022-10-13 01:20] Jfax510 commented on #9081
Hello, I would like to work on this issue.

[2022-10-13 01:40] NSTAdventure commented on #9111
Okay maybe my description is not clear
I gonna add maybe recording soon

[2022-10-13 01:54] NSTAdventure commented on #9111
Ah i see ok sorry about it 🙏😅

[2022-10-13 06:55] Master2050 opened #9117 "Option to merge two playlists"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-13 07:14] Callisto404 commented on #8343
Hey, first time contributor so correct me on anything and everything. To my knowledge the segmentAdapter in the MainPlayerUI class uses the getStreamSegmentListener() to implement the interface which is described in the StreamSegmentAdapter Kotlin class. If we wanted to use the OP's 2nd option for sharing with a long click could I just change the Kotlin interface to also require an onItemLongClick

[2022-10-13 08:27] Nizami20052022 opened #9118 "Update downloader."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-13 08:39] u7280973 commented on #8962
Perhaps something like this?

<img width="350" alt="image" src="https://user-images.githubusercontent.com/110881895/195546883-1de53cd7-f2b8-4d46-86d7-1257483ebe9b.png">

[2022-10-13 09:25] WorkHard4470 opened #9119 "Share to NewPipe Error"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-13 09:58] #9118 closed

[2022-10-13 11:32] NSTAdventure commented on #9053
Yes that's why i say this:
https://github.com/TeamNewPipe/NewPipe/issues/9053#issuecomment-1276365861
before
Let's see how this bug will going idk what i can do beside waiting patiently.

[2022-10-13 13:42] domusW opened #9120 "NewPipe crashes when importing YouTube subscription CSV"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-13 14:02] opusforlife2 commented on #8343
I'm not a dev, sorry. I'll see if a team dev can have a look at your question.

[2022-10-13 14:08] opusforlife2 commented on #8962
Looks nice, @u7280973! What about dark theme? And black theme as well, now that I think about it?

[2022-10-13 14:16] u7280973 commented on #8962
Something like this? Black theme has the same design as dark theme.

<img width="396" alt="image" src="https://user-images.githubusercontent.com/110881895/195621789-946e60fb-04bc-4a9b-ac5a-cc8f5583d970.png">

[2022-10-13 14:20] opusforlife2 commented on #8962
Awesome! Can the red colours be made the same for the seekbar and the buttons, though? The difference isn't noticeable in light theme, but looks weird in the dark theme.

Also, the dotted border is rounded in the dark theme. Should be the same across themes, no?

[2022-10-13 14:24] u7280973 commented on #8962
Sounds good, I'll fix the dark theme one. And yeah, I think the rounder border looks a bit better, would you agree? Here's what I'm thinking for light and dark theme:
<img width="340" alt="image" src="https://user-images.githubusercontent.com/110881895/195623263-e8d3296c-f5ba-4fb8-ba50-09d4c2cf99ed.png">
<img width="344" alt="image" src="https://user-images.githubusercontent.com/110881895/19562334

[2022-10-13 14:28] opusforlife2 commented on #9120
Try several different folders. Ensure the app has file access permissions.

[2022-10-13 14:42] opusforlife2 commented on #5635
@SameenAhnaf If you open the team org's page or the repo's main page, you should see an invite link.

[2022-10-13 17:10] PandaCuddles commented on #8797
Not sure if this will help, but MPEG-4 1080p60 worked on an earlier version of newpipe (I think it was 0.23) for the Galaxy Tab A7, and an update broke the playback (this was on android 11).

[2022-10-13 17:13] Symphonic-Cobalt commented on #9038
I'm not experiencing the same issue and force closing then clearing cache isn't helping.

`## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=SPysM9mV1jM
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ YouTube
* __Version:__ 0.24.0
* __OS:

[2022-10-13 17:58] rsmyst opened #9121 "Crash when accessing mini player"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-13 19:23] Master2050 opened #9122 "Playlist 'Remove Watched' bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-13 20:12] #9121 closed

[2022-10-13 20:13] DominikNovosel commented on #9095
Any idea when will this be fixed? Or, I guess more importantly, how?

[2022-10-13 21:26] Master2050 opened #9123 "Option to auto backup current queue as 'Unsaved List' in playlists tab"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-13 21:40] OkyDooky commented on #1037
Then, I definitely support this. Having it optional for either or both would be very useful. Hope it gets added sometime soon-ish.
Since it doesn't sound that advanced, maybe this coild be tagged with a "good first issue" label (unless it actually is complex).

[2022-10-13 21:51] Dakkaron commented on #7711
Here is another logcat output with what I believe is the actual error.

[code]

[2022-10-13 22:55] Master2050 commented on #9115
Clicking any of the three headers namely background, play all and popup will just reset the queue and start playing that playlist instead. Let's consider an example suppose I have a queue of 50 videos to be played and I want all the elements of a playlist to be added to the queue along with the 50 elements which are already in the current unsaved queue

[2022-10-13 22:56] Master2050 commented on #9115
Thereby i request you to reopen this issue again

[2022-10-14 00:35] itsme24082004 opened #9124 "Add an option to watch twitch videos"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-14 00:58] Master2050 commented on #9124
I believe it should be posted in new pipe extractor instead of here see the third point in the checklist above

[2022-10-14 01:03] Master2050 opened #9125 "Add 'mark as watched' option for an entire playlist"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-14 02:17] opusforlife2 commented on #9095
Nope, I'm not a dev.

[2022-10-14 02:23] opusforlife2 commented on #7711
This latest log can't be caused the same way as your other described steps in this issue.

First of all, do the description steps still work for the latest version?

[2022-10-14 02:24] opusforlife2 commented on #9115
Read what I wrote again.

[2022-10-14 02:25] opusforlife2 commented on #9125
Playlists never show up in the feed. Can you give an example of such a playlist or a screenshot?

[2022-10-14 03:18] opusforlife2 commented on #5635
@SameenAhnaf You also need to join the IRC channel. #newpipe:libera.chat

[2022-10-14 03:22] opusforlife2 commented on #9125
This looks like it's mixing two different things. If a particular uploader is bothering you with a bunch of unwanted uploads, then unsubscribe from it.

There are alternative solutions for the 'too many uploads' problem as well, like #3827.

[2022-10-14 03:39] Master2050 commented on #9125
I meant if you are subscribed to some channel (say A) and you have videos from same channel(A) in a playlist it will also show up in What's new feed. What I wanted is an option which marks all the videos/shorts inside a playlist as watched at once instead of clicking on playlist and long pressing on each video and select 'Mark as watched' option for each video manually as it will be too time consu

[2022-10-14 03:41] Master2050 commented on #9125
Some other batch options will also be good to be implemented directly to a specific playlist.

[2022-10-14 03:47] Master2050 commented on #9115
Could you please share a screenshot (preferably encircled by virtual marker pen tool) about where these headers are located?. I really never found an option to enqueue an entire playlist to the currently playing queue. Thanks for your time and effort in advance.

[2022-10-14 03:49] opusforlife2 commented on #9125
The video Sameen provided makes it clear what your feature request is. I'm saying that it's not the appropriate solution. If you have a problem in the feed then implementing a solution in playlists doesn't make sense.

[2022-10-14 03:50] opusforlife2 commented on #9115
These ones that you say you're clicking. You're supposed to long-press them.

[2022-10-14 04:04] killerrook opened #9126 "Option to remove partially watched videos from the 'Whats new' feed."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-14 04:13] Master2050 commented on #9125
Well it seems like a nice option to me. And since I am not one of a kind there may be more users who would love this same option. Also it doesn't hurt to have an option to mark videos as watched.
Usefulness is subject to individual users I guess. Rest is up to the devs or moderators to review it. Thanks for reading and giving your time and effort to this issue.

[2022-10-14 04:50] Master2050 commented on #9115
Thanks for the help. Don't you think this information should have been mentioned somewhere or this option should be given when long pressing on a playlist. Too hard to figure it out by a NORMAL user easily just by mere looking at it. (Just a suggestion)

[2022-10-14 05:00] Master2050 commented on #9115
A good option will be to display a 'hold to enqueue' toast notification when either one of the option is clicked to make users aware of this feature just as a text is displayed when clicking background play on any video. Or maybe somewhere else.

[2022-10-14 09:29] Dakkaron commented on #7711
Yes, the issue is still the same. I tested it with a lot of different video apps (VLC, Prime, real YouTube, YouTube in a browser, Disney Plus) and it doesn't occur on any other app.

It could also be that there is no error thrown at all, and I'm just reporting concurrent error messages, that also appear when changing the split screen size.

Every once in a while (~1 in 20 tries) the error also doe

[2022-10-14 15:55] opusforlife2 commented on #9115
^ This is a good suggestion. You can open a new feature request.

[2022-10-14 16:02] fdfytr commented on #9038
Same problem precisely while trying play some videos

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=OnozpkwnMN0
* __Content Country:__ US
* __Content Language:__ en-US
* __App Language:__ en_US
* __Service:__ YouTube
* __Version:__ 0.24.0
* __OS:__ Linux Android 12 - 32
<details><su

[2022-10-14 16:10] Symphonic-Cobalt commented on #9038
I'm experiencing the same issue and force closing, clearing cache isn't helping.

Edit: Force stopping seem to help for now. Will check again.

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=SPysM9mV1jM
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB

[2022-10-14 16:13] AudricV commented on #9038
Stop spamming the same comment with the same stacktrace! Please give us instead useful information to help us to identify the problem (see my comments above).

Otherwise, this issue couldn't be fixed.

[2022-10-14 16:36] foss-enjoyer opened #9127 "Confirm erasing enqueued videos"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-14 16:40] esibun commented on #9070
This looks like the same issue that I have started seeing over the past week or two with my NewPipe client.

Reproduction steps for me were similar to already mentioned: Play a video in background, stop playback, then connect the phone to the car (or presumably any other Bluetooth device that causes autoplay).

I was able to create a Tasker task to take over media events and saw the crashes go awa

[2022-10-14 16:40] terminal-root commented on #7644
I don't know much about the specs behind shorts, but I imagine one way to do it would be to filter by aspect ratio.

Another good place to be able to hide shorts is the "What's New" feed. They take up a lot of space there.

[2022-10-14 17:00] opusforlife2 commented on #9127
Last option in video and audio settings.

[2022-10-14 18:09] foss-enjoyer commented on #9127
I tried that, it doesn't work.

[2022-10-14 18:35] opusforlife2 commented on #9127
Can you give the exact steps?

[2022-10-14 18:42] peat80 commented on #9108
Import and export works fine on shield tv. Has probably to do with SAF enabling by default on newer newpipe versions.
You should try to disable SAF in newpipes settings. (I think its forced for android versions higher than android 9 and can't be disabled there).
SAF seems to be broken on android tv because a lot firmwares out there seems to contain no default filepicker app.

[2022-10-14 18:48] peat80 commented on #9023
Almost nobody seems to know that if you press down on your remote another time when the progressbar is focused it will then select the fullscreen button. That should be noted somewhere. 🙄

[2022-10-14 18:49] foss-enjoyer commented on #9127
That toggle seems to be specific to switching between players.

What I did was enqueue some videos, and click on another video, which cleared the queue.
Or, You can press the "x" on a queued set of videos to erase it without any confirmation too.

[2022-10-14 18:51] #9108 closed

[2022-10-14 18:57] opusforlife2 commented on #9023
There shouldn't even _be_ a full screen button on Android TVs.

[2022-10-14 19:04] opusforlife2 commented on #9127
Ah, you're right. I'm very certain this has come up in another issue, but I can't remember.

[2022-10-14 19:43] AudricV commented on #7599
@FrostKiwi @fdutheil Could you try the APK of #8875, enable the `Use ExoPlayer's old codec selection` in ExoPlayer settings and see if the issue is fixed for you in this case? Thank you in advance.

[2022-10-14 21:13] peat80 commented on #9023
A dedicated tv ui for newpipe would be awesome. 😀

[2022-10-14 21:25] opusforlife2 commented on #9023
Unfortunately, we don't have anyone who can do that. There was a contributor years ago who brought some major improvements to the TV UI. That was it.

[2022-10-14 22:34] Master2050 opened #9129 "Download confirmation screen rotation bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-14 22:40] #9129 closed

[2022-10-14 22:50] Master2050 opened #9130 "Toast notification to enqueue a playlist"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-14 23:07] ajm83 commented on #9038
Hello, I tried the linked debug build as requested and I got a 403 immediately, stack trace below in case there is anything of interest.

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=FP6iyVJ70OU
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __S

[2022-10-15 00:17] Master2050 opened #9131 "Start playing in background after clicking background in playlists bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-15 02:51] ins2d commented on #8518
Indeed, something as simple as 'show/hide shorts' ( like 'show/hide watched' in the header now (or [x]_show_upcoming) ) would be incredibly useful!!!

The idea is to be able to completely get rid of Shorts anywhere in the app. But also to have a quick access when needed (so prob won't work very well if buried deep into settings).

P.S. Keep up the good work guys! <3

[2022-10-15 04:43] u7145232 commented on #8873
Hi, I would like to work on this issue :)

[2022-10-15 04:46] u7288107 commented on #9117
Hello, I am a student from the ANU and am hoping I can create a PR for this issue. Could you assign this issue to me please :)

[2022-10-15 05:17] Dylan-Turner commented on #8988
Thanks @opusforlife2!

I'm planning to make some very small edits to the StreamMiniInfoItemHolder.java class which applies the red watched bar so that when the watched bar is applied the text is also italicized as suggested by CheifMikeK. To satisfy the original request by MatsG23 in the case the video hasn't been watched it will be displayed in bold (also by editing this class). This should keep

[2022-10-15 06:45] Manishpandey11 commented on #8920
can you add me on your slack channel

[2022-10-15 07:41] ishitak0712 commented on #9126
Hi there, I am a computing student from the Australian National University. Can I take on this issue? Thanks.

[2022-10-15 09:27] AudricV commented on #9038
@ajm83 Thanks. Could you try to answer the other questions in my comments above?

[2022-10-15 09:34] AudricV commented on #8920
There is no Slack channel, but an IRC one: you need to join it by yourself (look at the links at the bottom when trying to open a new issue on GitHub).

I am not sure if this issue can be fixed, as unless the 500 HTTP response code is returned instead of appropriate HTTP response codes, this is an issue from SoundCloud servers.

[2022-10-15 11:00] EDGE-ELITE commented on #9038
I can confirm I'm receiving what appear to be the similar errors using the cronet debug build you posted above.

## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=0NoIhwXOMeY
* __Content Country:__ GB
* __Content Language:__ en-GB
* __App Language:__ en_GB
* __Service:__ YouTube
* __Ver

[2022-10-15 11:24] oirtemed commented on #9038
I'm experiencing the same issue on LineageOS 19.1.

I'll try to answer @AudricV questions below.

No.

`ANDROID`

<details><summary><b>Intent details </b></summary><p>

[code]
</details>
<hr>

No, it doesn't. I've tried with VLC and I can play the stream with no issues.

Yes, it does. Please, see error report at the bottom of this comment.

Error report generated by `org.schabi.newpipe` v0.24.0

#

[2022-10-15 12:49] AudricV commented on #9038
@oirtemed Thanks a lot. What is your default quality in the in-app player? Is it the same as the one you used to play the content in VLC?

I have additional questions:

- is VLC able to play all resolutions extracted by NewPipe when using the video external player option?
- does the issue happen in the in-app player when trying to play audios? If yes, does this happen with VLC?

[2022-10-15 16:05] amynbe opened #9132 "App crash when pressing back while the Ui is frozen trying to start a video."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-15 18:13] avDuma opened #9133 "Newpipe doesn't work with WiFi connection"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-15 21:40] Nizami20052022 opened #9134 "Words are not available on Weblate."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-16 00:21] #9001 closed

[2022-10-16 00:21] #9031 closed

[2022-10-16 00:21] #9043 closed

[2022-10-16 00:21] #9047 closed

[2022-10-16 00:39] Master2050 commented on #9134
Which language do you want release date to be in? Probably not translated maybe you can help. To help translate type www.new pipe.net and click on translate then select language you can either create an account even with github or proceed without any account as well translate the text you can use automatic suggestions as well and suggest the change

[2022-10-16 00:48] Master2050 opened #9136 "Add 'not reproducible', 'verified by reproduction' and 'in progress' label for pr and issues"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-16 00:50] Master2050 commented on #9134
Since it is an open source software all contributors are users themselves. It will be nice to have some help in translation if you can

[2022-10-16 00:54] Master2050 commented on #9117
@SameenAhnaf could you please assign this to u7288107 see the comment above for reference

[2022-10-16 03:00] Rockyshark opened #9137 "Popup to app transition"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-16 04:52] Nizami20052022 commented on #9134
You haven't added them to Weblate, how can I translate them?

[2022-10-16 04:53] Nizami20052022 commented on #9134
I can translate into Azerbaijani and Turkish.

[2022-10-16 08:36] SC1040-TS2 commented on #9133
Quick question: Can you check the Play Store to see if the Google Carrier Services app is installed on your device by default?

[2022-10-16 10:07] Nizami20052022 commented on #9134
You add them to Weblate first.

[2022-10-16 11:14] BreadDisease opened #9138 "Action Denied by System when downloading video"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-16 11:14] licaon-kter commented on #6652
Seeing this most of the time with latest version.

Kinda fixed if I FC the app and clean cache. On reopen same video just works fine.

[2022-10-16 11:36] TobiGr commented on #9134
Thank you for translation NewPipe!
The dates and times are generated using prettytime. You can find their translation files [here](https://github.com/ocpsoft/prettytime/tree/master/core/src/main/java/org/ocpsoft/prettytime/i18n). All translation of these components need to be done in their repository. You can find more information on how to add a new language to prettytime [here](https://www.ocpso

[2022-10-16 12:22] fdutheil commented on #7599
Hi @AudricV : tested, playback is smooth again at 1080p60 with internal player 👍

[2022-10-16 12:54] fusionneur opened #9139 "Crash opening link"
{"user_action":"play stream","request":"Player error[type=ERROR_CODE_IO_BAD_HTTP_STATUS] occurred while playing https://www.youtube.com/watch?v=jIDwsIxfpQs","content_language":"en","content_country":"US","app_language":"en","service":"YouTube","package":"org.schabi.newpipe","version":"0.24.0","os":"Linux OnePlus/OnePlus7TPro_EEA/OnePlus7TPro:11/RKQ1.201022.002/2205292037:user/release-keys 11 - 30"

[2022-10-16 13:36] TobiGr commented on #9134
Thank you. It looks like you took the English translation and renamed the file. That means after your changes, there won't be an English localization. You should fix that in your PR :)
(The PR is https://github.com/ocpsoft/prettytime/pull/240)

[2022-10-16 13:43] Nizami20052022 commented on #9134
How?

[2022-10-16 13:52] TobiGr commented on #9134
Add the English file to your branch: https://github.com/ocpsoft/prettytime/blob/master/core/src/main/java/org/ocpsoft/prettytime/i18n/Resources_en.java

And make sure to use the correct file path for the Azerbaijan file. It should be `/core/src/main/java/org/ocpsoft/prettytime/i18n/Resources_az.java`

[2022-10-16 14:11] Nizami20052022 commented on #9134
I just created a new file. Is the file correct?

[2022-10-16 14:32] hype11 opened #9140 "Newpipe crashes while scrolling through comment list"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-16 15:03] #9140 closed

[2022-10-16 15:06] #9139 closed

[2022-10-16 16:16] Nizami20052022 commented on #9134
Shall I close this issue?

[2022-10-16 16:35] TobiGr commented on #9134
Yes, thanks.

[2022-10-16 17:23] chronos281 commented on #9038
Some hopefully useful information - first time I've been near a PC when I've had the issue.

1.  Opened https://www.youtube.com/watch?v=DD2m_iqD7dI watched briefly as video then minimised to background.
2. https://www.youtube.com/watch?v=u9DV1eHQpcA auto played afterwards with no issue.
3. https://www.youtube.com/watch?v=tlXfpdpKng8 failed, when I checked it did seem to be at a position 7m or so i

[2022-10-16 17:39] plasticanu commented on #9068
I have written some code and the bug is fixed. How can I open a new branch and push my code there?

[2022-10-16 17:53] plasticanu commented on #8605
Hi, sorry for the late reply. I am going to work with 2 people from my team. So we'll be a 3 people team.

[2022-10-16 17:57] plasticanu commented on #9068
Hi, how can I open a new branch?

[2022-10-16 18:04] AudricV commented on #9038
@chronos281 Thanks (even if I don't understand some parts of what you wrote). Could you test if using the fallback server provided in the original URL works when you get 403s? To do so, use the following steps:

- in the streaming URL, look at the `mn` query parameter value (what is after `&mn=` and before the next `&`), this should be something like `sn-hgn7yn7e%2Csn-hgn7rn7r`
- still in this URL

[2022-10-16 18:07] AudricV commented on #9068
By using a fork of the project on a GitHub account on which you have write access (like your personal fork if you made one).

When you will open a PR with your changes, you would use your fork as the head repository and your branch as the branch used in the PR.

[2022-10-16 18:42] hype11 commented on #9140
for imformation: bug is just fixed: #9052

[2022-10-16 18:44] plasticanu commented on #9068
Thanks! Now I have written some code. The issue seems to be related to the fragment. If the user quits the current fragment, the fragment will be destroyed. But the download function was already called, it's still using the previous fragment as the variable.

I think there are two solutions for this bug. One is to display the DownloadDialog anyways no matter if the user quits the history screen or

[2022-10-16 19:32] oirtemed commented on #9038
@AudricV sorry I think I was wrong in my previous comment. When the error happens I'm not able to stream it with VLC, I get the error "The location X cannot be played" where X is the URL.

Please, find below the answer to your questions (including the one related to the fallback server).

I have the default video resolution set to 720p and it's the same I use to play the stream in VLC.

When I'm a

[2022-10-16 19:50] AudricV commented on #9038
Exactly, sorry for the confusion.

Thanks for testing the fallback server! The question is now: is the 403 response code voluntary against third-party clients from Google video servers or is it a server issue?

It would be great if you can test this on YouTube websites to know if you get this behavior on them (watch videos on YouTube with the developer tools of your browser enabled and check for 4

[2022-10-16 20:29] oirtemed commented on #9038
I've just performed a second test with a different video. This time the fallback server didn't work and got a 403. Please, find at the bottom the output. Does it make sense?

After the error is reported, if I tap on "Background" the app doesn't do anything and it doesn't report any error. I can download the audio track though. I can also play the audio using VLC.

I'll try what you suggested with

[2022-10-16 20:32] chronos281 commented on #9038
Can confirm fallback server appears to fix the issue, both modifying in Intent Intercept before continuing to VLC or loading modified link in a fresh browser window.

Had an hour or so of youtube on the pc, only had one 403 and that was for https://i.ytimg.com, nothing but 200's far as the eye can see for `videoplayback` URLs.

Will try and remember to have dev tools open in the background next ti

[2022-10-16 20:56] chronos281 commented on #9038
Seems I didn't have a large enough sample size. Ran two more after seeing your note. One worked one did not:

**Success**
https://rr1---sn-aigl6ns6.googlevideo.com I modified to https://rr1---sn-5hnekn76.googlevideo.com based on the `mn` query parameter but then appears to have changed to https://rr3---sn-4g5ednde.googlevideo.com

![abc](https://user-images.githubusercontent.com/22860456/196057807

[2022-10-16 22:43] SpicyPTV opened #9141 "An adaptive icon for Android 13"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-16 22:52] NeloKa61 commented on #9023
is Newpipe-Nightly release is the one that supposed to be testing on Android TV?

I disagree, fullscreen botton make Low end Tv Box playing on newpipe a bit easier and less laggy.

[2022-10-16 23:44] killerrook opened #9142 "Option to download using external download manager"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-17 02:08] bell-kevin commented on #9097
Maybe @Symphonic3648 ? What do you say @TobiGr and @opusforlife2 ?

[2022-10-17 02:59] tsiflimagas commented on #9142
This is one of the points of #962, though that issue deals with a lot of ideas.

[2022-10-17 03:01] tsiflimagas commented on #9141
Duplicate of #9007 and solved in #8987.

[2022-10-17 04:33] Johnny5sword commented on #8604
Possible duplicate of #5171

[2022-10-17 07:15] Dylan-Turner commented on #8988
Here's the version with only bold (for not unwatched videos)
![image](https://user-images.githubusercontent.com/24382888/196112303-8ab437c5-08ff-46ea-acde-08fd0fb345a2.png)

[2022-10-17 07:58] #8604 closed

[2022-10-17 07:58] #9141 closed

[2022-10-17 11:31] peat80 commented on #9023
Nightlys can be installed on both android and android tv and are really useful to test the latest features.

For easy up- and downgrade on tv i use a favorite bookmark for newpipe nightlys (and others) in the downloader app (available in the play store). Works fine with just the remote. 😀

On low end boxes you probably should decrease default resolution in newpipe's settings to improve performance

[2022-10-17 14:04] Yuuu2990 commented on #8717
Hey, could I work on this issue?

[2022-10-17 15:32] breaking-loss opened #9144 "Option to sort search by date"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-17 16:09] #9144 closed

[2022-10-17 22:55] Sola0404 commented on #2313
Hi, I am a computer science student in ANU, and I really hope I could try to fix this issue and create PR for it. Could you please assign me to this issue? Thanks in advance!

[2022-10-18 03:25] Jfax510 commented on #9081
I've tested this build on android studios with different emulators and I'm not able to recreate this bug. I think this is a bug with how ColourOS handles split screen video and not the app itself

[2022-10-18 03:26] Jfax510 commented on #9130
Hi, can I work on this issue?

[2022-10-18 04:04] killerrook opened #9146 "App initial start UI error"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-18 04:30] dohhyun commented on #8756
Hi, I would like to work on this this issue. Is this issue still available? Cheers.

[2022-10-18 05:15] tsiflimagas commented on #9036
Better let team members tell devs they can start working on issues rather than doing it yourself. For example, there hasn't been a verdict whether this feature should make it to the app or not. Perhaps it will, but it could also cost someone wasting his time.

[2022-10-18 06:47] YonghaoDeng commented on #8800
Hey, could I work on this issue? :))

[2022-10-18 06:59] Aj8787 commented on #8717
Sure

On Mon, 17 Oct, 2022, 7:34 pm Yuuu2990, ***@***.***> wrote:

[2022-10-18 07:01] CaptSzat commented on #8801
Hello, I am a student from the ANU and am hoping I can create a PR for this issue. Could you assign this issue to me! thank you :)

[2022-10-18 08:56] Wilker-a commented on #2587
title could be **"YouTube viewer to show subscriber count in video pages"**, if what you want is a follower count near the usernames like we usually see in the official page.

someone pointed out in the Matrix channel that the grammar caused some confusion. the screenshot helped though.

[2022-10-18 09:30] PrincessMiki opened #9147 "Crashing frequently"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-18 11:41] olav2021 opened #9148 "download menu option in feed view"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-18 12:03] Yuuu2990 commented on #4447
Hey, could I work on this issue?

[2022-10-18 12:57] Wilker-a commented on #2587
title could be **"YouTube viewer to show subscriber count in video pages"**, if what you want is a follower count near the usernames like we usually see in the official page.

someone pointed out in the Matrix channel that the grammar caused some confusion. the screenshot helped though.

[2022-10-18 15:05] killerrook opened #9149 "Option to crossfade audio while transition from one video to another"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-18 16:59] Stypox commented on #4447
Sure :-)

[2022-10-18 17:21] NSTAdventure commented on #9081
Those vendor is horsemen of the annoyance
(Bruh)

Is there any workaround for this?
I stuck on android 10 won't update even it available due to limitations on ADB power

[2022-10-18 17:49] #9149 closed, assigned to nobody

[2022-10-18 19:50] avDuma commented on #9133
Hi @SC1040-TS2 ,
Thank you for your reply.

No, I'm not using Wi-Fi calling on my device, neither I have installed Google Carrier Services.

After installing it and reboot the phone, by the way, the problem still occurs.

[2022-10-18 23:38] dohhyun commented on #9103
Hi, I am interested in tackling this issue.

[2022-10-19 03:46] Yuuu2990 commented on #8717
After searching information on the Internet, I find this issue is difficult for me because it is related to broadcast mechanism. I'm so sorry about that.

[2022-10-19 04:58] Master2050 opened #9150 "Checklist style selection for batch operations"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 05:02] Aj8787 commented on #8717
No worries

On Wed, Oct 19, 2022, 9:17 AM Yuuu2990 ***@***.***> wrote:

[2022-10-19 05:11] killerrook opened #9151 "Add sleep timer into native player"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 05:17] killerrook opened #9152 "Add 5 band equalizer for native player"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 05:23] killerrook opened #9153 "Add support for 200% volume amplification"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 05:24] OneGuitars commented on #4863
Hi, I'm currently working on this issue with u7283219,  By modifying the URL pattern, it can recognize the private play list link, But the play list cannot be loaded
![image](https://user-images.githubusercontent.com/89346506/196603833-23cf7437-0314-4c0e-927d-707989f817f9.png)
![image](https://user-images.githubusercontent.com/89346506/196603872-15598fe7-9083-411d-8eaa-29194c78ffd4.png)
It looks l

[2022-10-19 05:38] killerrook opened #9154 "Long press->download button crash bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-19 05:54] killerrook opened #9155 "Storage related issues and possible fix"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 05:58] #9155 closed, assigned to nobody

[2022-10-19 06:02] Master2050 opened #9156 "Storage permission issue and possible fix"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-19 06:29] AudricV commented on #9103
Note: it is a visual bug only, the resolution is changed but the resolution change is only displayed when playing again the content.

[2022-10-19 07:18] leparutill opened #9157 "Hide Shorts"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 09:16] #9157 closed

[2022-10-19 10:04] Yuuu2990 commented on #4447
@Stypox Hi, I have a initial design for this issue  as shwon in the below pictures. For the page, in order to make 'FAQ' more bold, I add background color for it.  And I test my solution on two different size of the sreen and then it all works.
By the way, Could you assign this issue for me? :-)
![Screenshot_1666173426](https://user-images.githubusercontent.com/110877395/196660417-c21e799b-feaa-45

[2022-10-19 12:09] #9151 closed, assigned to nobody

[2022-10-19 12:11] #9153 closed, assigned to nobody

[2022-10-19 12:28] Nqtural commented on #8931
Can confirm this also happens on the Samsung Galaxy S20 FE 5G running Android 12, OneUI 4.0.

[2022-10-19 13:53] tsiflimagas commented on #8717
Tbh it doesn't seem like a great idea to me. Is there any other player that provides such control in lockscreen? This is a very specific use case for an app with a very wide user base. It leads to the question "why not add all possible controls to the lockscreen then?". A better suggestion would probably be to add the ability to arrange the lockscreen controls in the settings, but I don't know whe

[2022-10-19 15:08] #9152 closed, assigned to nobody

[2022-10-19 16:33] Stypox commented on #4447
@Yuuu2990 Sorry, but that button does not look good. It does not conform to design standards (Material design) because of the strange colors, the size and the position.

This is what I propose instead:
- change the name of the entry in the drawer menu from "About" to "About & FAQ", so that users know where to look for answers
- add a section titled "Frequently asked questions", with a proper descr

[2022-10-19 16:49] HighGr0und commented on #9044
I intend to show the hourglass thumbnails on load and the X thumbnails when there is an error or the URL is empty.

[2022-10-19 17:11] javierxio opened #9158 "Automatically skip over in-video "sponsored" ads and advertisements"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-19 17:17] #9158 closed

[2022-10-19 17:20] javierxio commented on #9158
@AudricV can you note the duplicate ticket?

[2022-10-19 18:06] tsiflimagas commented on #9158
What you're asking for is SponsorBlock and it's been requested a thousand times, but it was rejected in #3205.

[2022-10-19 18:15] javierxio commented on #9158
thanks @tsiflimagas

[2022-10-20 00:21] #9054 closed

[2022-10-20 03:49] arfanmrafeek opened #9160 "Bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-20 04:14] Yuuu2990 commented on #4447
@Stypox Hi, according to your instruction, I have modified the pages as shown in the screenshots. What do you think? :-)
![v2-1](https://user-images.githubusercontent.com/110877395/196854824-ea0616e1-c3a8-4fbe-ab9e-096051096a3f.png)
![v2-2](https://user-images.githubusercontent.com/110877395/196854826-6f05ea23-aa5d-4d20-83be-2ea7903a0b4c.png)

[2022-10-20 06:05] Stypox commented on #4447
@Yuuu2990 thank you! That looks good to me. Maybe just put the "Frequently asked questions" section at the top. Then feel free to open a PR ;-)

[2022-10-20 06:46] Yuuu2990 commented on #4447
@Stypox According to your advice, I readjust the layout as shown below. Does it look good for you?
![V3-1](https://user-images.githubusercontent.com/110877395/196875672-2bbfe0d1-4595-4081-bd86-1d908d7ad6c9.png)

[2022-10-20 06:47] wildwestrom commented on #4475
I believe I may be encountering the same bug.
It usually happens when I scroll up, but not all the time.

## Exception
* __User Action:__ ui error
* __Request:__ ACRA report
* __Content Country:__ KR
* __Content Language:__ ko
* __App Language:__ en_US
* __Service:__ none
* __Version:__ 0.24.0
* __OS:__ Linux Android 13 - 33
<details><summary><b>Crash log </b></summary><p>

[code]
</details>

[2022-10-20 06:54] saebaryo-xyz commented on #5153
Hey team, I also have difficulties using the app with small thumbnails instead if big ones in the original YT app and even Libretube or Skytube.

Any additional info is needed to have this feature worked on ?

Thanks!

[2022-10-20 06:55] saebaryo-xyz commented on #6087
Hey team, I also have difficulties using the app with small thumbnails instead if big ones in the original YT app and even Libretube or Skytube.

Any additional info is needed to have this feature worked on ?

Thanks!

[2022-10-20 08:33] SC1040-TS2 commented on #9147
Greetings. After encountering a similar degree of instability when I updated ot, it became clear that even when using the NewPipe Upstream Repository, the app was failing to properly migrate to 0.24.0 from 0.23.x.

The following process can be used to mitigate some of it:
1. In the existing 0.24.0 installation, Export a subscription backup. Do not export settings.
2. Once the export is completed,

[2022-10-20 08:36] SC1040-TS2 commented on #9112
Greetings. After encountering a similar degree of instability when I updated ot, it became clear that even when using the NewPipe Upstream Repository, the app was failing to properly migrate to 0.24.0 from 0.23.x.

The following process can be used to mitigate some of it:
1. In the existing 0.24.0 installation, Export a subscription backup. Do not export settings.
2. Once the export is completed,

[2022-10-20 08:50] SC1040-TS2 opened #9161 "Visual Bug: Player Notification Thumbnail and Colorizatien only displaying in certain cases."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-20 10:06] Yuuu2990 commented on #4447
@Stypox Btw, Could you assign this issue to me? Since it is about my assignment of school for me.

[2022-10-20 13:58] Stypox commented on #4447
Yes, I think it's ok

[2022-10-20 15:26] ggdorman commented on #9080
Thanks for bringing that up. I think they actually might not have access. I tried opening a downloaded video in Nova Video Player and interestingly it doesn't play, and displays a warning that it can't access the file. Opening files downloaded with NewPipe works fine when doing it from another app or the file manager, but when opening from NewPipe itself it seems access is limited or unavailable i

[2022-10-20 15:29] ggdorman commented on #9148
I think he was asking for multi-selecting/batch downloading from the feed.

[2022-10-20 20:10] allanlaal commented on #8274
TLDR/googlers: Use this fork that has SponsorBlock + Return Dislikes:
https://github.com/polymorphicshade/NewPipe

[2022-10-21 01:39] OneGuitars commented on #9094
Hi Tobi, can you assign this issue to me？ I'd be happy to add the new localisations to our in-app language chooser and I'll finish some unfinished translation work on weblate.

[2022-10-21 07:35] 5t0rmr1d3r opened #9163 "App crash on startup"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-21 09:00] olav2021 commented on #9148
This is awesome! Thank you. New version solved it.

Of course AI trained eventbased batch selecting would be nice, too ;)

[2022-10-21 09:10] olav2021 commented on #9148
Is there any filtering option available to sort out subscribed and updated results?
It would be really nice to filter the subscription stream with keywords.

[2022-10-21 12:59] Charan-ravi opened #9165 "Occurred while selecting next video"
https://user-images.githubusercontent.com/52713551/197202174-cc90b0be-2d54-493f-aec3-a7df1d2f1e33.mp4

### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/i

[2022-10-21 15:31] vamshikrishna83 opened #9166 "Crash in NewPipe 0.24.0 version."
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-21 16:08] cernunnos1710 commented on #9036
Hello, I am one of the team members with @plasticanu and would like to be assigned to work on it.

[2022-10-21 16:09] cernunnos1710 commented on #8605
Hello, I would like to also worked on this issue with @plasticanu.

[2022-10-21 16:51] #9166 closed

[2022-10-21 18:30] Indranil012 commented on #5482
+1 bumping up 🙂

[2022-10-21 18:42] JasonT962 commented on #9038
I've also been suffering from this problem for a while now. I've managed to come up with a fix which should hopefully be merged soon.

[2022-10-21 20:02] opusforlife2 commented on #9126
@ishitak0712 Could you give an idea of how you're thinking of doing this?

[2022-10-21 20:03] opusforlife2 commented on #8920
Or our ReadMe.

[2022-10-21 20:09] opusforlife2 commented on #9125
It will be done at some point, don't worry. That's what the label is for.

[2022-10-21 20:24] pc165 opened #9168 "Black screen after exitting fullscreen mode when transitions are disabled"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-21 21:10] killerrook opened #9169 "Import subscription no prompt for storage permission bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-21 21:26] CerVieel opened #9170 "Add toggle to control video thumbnail as lock screen wallpaper"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-21 21:47] opusforlife2 commented on #9136
The 'assigned' label doesn't seem useful since there is a separate 'assignees' field.

Same for 'not reproducible' and 'verified by reproduction', since if those things are done/not done, we ask for more info and have other labels to handle that scenario.

'In progress' will be difficult to keep updated. PRs can be abandoned and resumed any time.

'Playlists' makes sense and I've felt the need to

[2022-10-21 21:49] opusforlife2 commented on #9137
Do you have "start in fullscreen" toggled on?

[2022-10-21 21:51] opusforlife2 commented on #9138
Then it should let you download videos to the Movies folder. Did you try that one after enabling this permission?

[2022-10-21 22:00] opusforlife2 commented on #9068
I was about to say this one, but it looks like you've chosen this way in the linked PR. 👍

[2022-10-21 22:03] opusforlife2 commented on #9142
We'll just remove it from there.

[2022-10-21 22:05] opusforlife2 commented on #9142
Since Seal is available on F-Droid, this would be low priority.

[2022-10-21 22:08] opusforlife2 commented on #9023
What part lags? The animation to enter full screen?

[2022-10-21 22:10] plasticanu commented on #9068
Yeah. Cuz the deadline is approaching and we are focusing on other issues QAQ

[2022-10-21 22:11] opusforlife2 commented on #8988
In other apps , items that are 'dealt with' are greyed out. Maybe the text could be greyed out for the fully watched videos? And the incomplete red progress bar would be enough for partially watched ones? Then we don't need to do anything to unwatched videos.

[2022-10-21 22:18] opusforlife2 commented on #9036
We can have such a button in the app on an experimental basis, at least. If there is positive feedback for it, it could stay.

Where do you guys intend to put the button? In the top level of Settings or deeper?

[2022-10-21 22:22] plasticanu commented on #9036
In the top level of settings, at the bottom.

[2022-10-21 22:26] opusforlife2 commented on #8873
Did you intend to work on one issue or multiple? I'm assigning you here, but if you don't want it, please leave a comment mentioning that.

[2022-10-21 22:28] opusforlife2 commented on #9146
Try force-stopping the app before/after clearing data.

[2022-10-21 22:31] opusforlife2 commented on #9117
@u7288107 How do you intend to implement this functionality?

[2022-10-21 22:33] opusforlife2 commented on #8800
@YonghaoDeng Please give some idea of how you will implement this? A button under Report and Retry saying "Open in Browser"? Or something else?

[2022-10-21 22:35] opusforlife2 commented on #8801
@CaptSzat How many students in your class/course are here? Our repo is practically flooded with you guys. xD

[2022-10-21 22:38] opusforlife2 commented on #9036
Alright. 👍

[2022-10-21 22:42] opusforlife2 commented on #9130
@Master2050 I mentioned this to another user a few days ago. Since you're not a team member, you can't be the one telling people it's okay to open a PR. If their PR is rejected by the team later, the responsibility will partially fall on you for the time they wasted. Let the team handle these things, okay?

[2022-10-21 22:44] BreadDisease commented on #9138
Yes it gives me the same error when I try downloading to the Movies folder

[2022-10-21 22:45] opusforlife2 commented on #9081
@NSTAdventure You could check if other video apps are also subject to this bug. Make sure you try Just Video Player from F-Droid, which is also based on Exoplayer, which will help compare it to Newpipe.

[2022-10-21 22:46] opusforlife2 commented on #9138
Can you check what folders you have set in download settings? Try setting the video and audio download folders again from within Settings.

[2022-10-21 22:50] opusforlife2 commented on #9133
Are you using a particular DNS? Try a different one.

[2022-10-21 22:53] opusforlife2 commented on #4863
@OneGuitars AudricV has answered you on IRC, but I'm repeating the advice here:

We are using SoundCloud's internal API
You need to add &secret_token=SECRET_TOKEN to API queries

[2022-10-21 22:56] opusforlife2 commented on #9156
If it's an educated guess, then just mention it in the relevant issues.

[2022-10-21 22:56] #9156 closed

[2022-10-21 22:59] opusforlife2 commented on #1008
@MeHimWho Could you post screenshots of the before/after for how this would be fixed, potentially?

[2022-10-21 23:01] opusforlife2 commented on #9044
@HighGr0und Make sure you post screenshots in your PR.

[2022-10-21 23:33] ctgcwiqc commented on #8988
I don't understand what's wrong with the current implementation.  Red status bar is all YouTube app has.  I use the "what's new" tab for subscription videos and filter for unwatched there.  Only thing I wish there was is a "Mark all as watched" option.

On October 21, 2022 5:11:12 PM CDT, opusforlife2 ***@***.***> wrote:

[2022-10-21 23:33] NSTAdventure commented on #9081
The thing is:
1. I didn't found any app that based on exoplayer
(I already read the Readme.md on each project but no one mention exoplayer)

But for sure YouTube app are work fine with split screen

[2022-10-21 23:34] avDuma commented on #9133
Thank you @opusforlife2 for your reply.
I've switched to OpenDNS, but nothing changes.

Just to notice that using Libretube as Youtube client it works perfectly.

[2022-10-21 23:42] BreadDisease commented on #9138
If I turn off Ask where to download then trying to change the video or audio download folder, I get the error
"No app on your device can open this
No appropriate file manager was found for this action. Please install a storage access framework compatible file manager"

I am currently using MiX file manager. I tried material files and simple file manager pro too.

[2022-10-21 23:57] YonghaoDeng commented on #8800
I will firstly add a button called "Open in Browser" in the error_panel.xml, then write code like adding onclicklistener in the ErrorPanelHelper.kt file  to enable clicking this button to open the browser.
I also found a broken video page example in the NewPipe app, and I add the button like this:
![屏幕截图 2022-10-22 105608](https://user-images.githubusercontent.com/110881976/197306349-d51c1462-76e8

[2022-10-22 03:03] Dylan-Turner commented on #8988
Thanks for the feedback. Here's an example with greyed text, I'm thinking it could be an accessibility issue if it is too faint a colour though.
![image](https://user-images.githubusercontent.com/24382888/197316230-b6598ecd-7ec9-45eb-99bf-8b132f97a547.png)

In response to @ctgcwiqc I think the issue is with videos that have the red border / background, it's a little bit hard to spot the watched ba

[2022-10-22 03:51] ctgcwiqc commented on #8988
Agreed.

On October 21, 2022 10:04:09 PM CDT, Dylan ***@***.***> wrote:

[2022-10-22 04:49] OneGuitars commented on #4863
Could you tell me in which file to add &secret_token=SECRET_TOKEN to API queries?

[2022-10-22 11:49] NSTAdventure commented on #9081
Previously my apologies for my previous answer
Well like usually i have human error 🙏😅

And
![Screenshot_2022-10-22-18-45-54-29](https://user-images.githubusercontent.com/50813528/197337310-a0814620-351f-4220-828a-0a62e305d5c3.jpg)

This one work perfectly and weird thing is newpipe split screen is work normally when it's position on 1st or on the top

[2022-10-22 11:49] twizzlebizzle opened #9171 "Video wont load randomly and raises an error"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-22 12:14] nisheri-ascar commented on #9171
Same here, although random logs occur every crash.

[2022-10-22 13:04] alittlebitofit opened #9172 "Mark as "unwatched" / Unmark as "watched""
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-22 13:29] opusforlife2 commented on #6087
@SameenAhnaf This isn't adhering to the "one FR per issue" rule. Should be closed since #5153 is already there.

[2022-10-22 13:38] opusforlife2 commented on #9080
Have you disabled your default SAF provider? Try using Material Files from F-Droid.

[2022-10-22 13:40] opusforlife2 commented on #9163
Looks like an issue with the update check. Try opening the app after turning off internet.

[2022-10-22 13:48] opusforlife2 commented on #9165
Your device can't play this stream. Try lower resolutions/different format.

@AudricV Is there any way to detect this and automatically lower the resolution to a safe option, like 1080p?

[2022-10-22 13:52] opusforlife2 commented on #9168
Why would the orientation sensor be dependent on the transition animation?

[2022-10-22 13:58] opusforlife2 commented on #9170
The "Show thumbnail" toggle works fine for me. Turning it off does turn off the lock screen background.

Try with a different device.

[2022-10-22 14:00] opusforlife2 commented on #9133
Take a backup of your database from Content settings and then uninstall then reinstall Newpipe. Without changing any settings or importing your database, see if it works on Wifi.

[2022-10-22 14:02] opusforlife2 commented on #8988
What could be an accessibility-enabled alternative?

[2022-10-22 14:04] opusforlife2 commented on #9138
@BreadDisease You or your ROM has disabled the default file manager (DocumentsUI) of the OS. You'll have to enable it to be able to use storage-based features of Newpipe properly.

[2022-10-22 14:04] avDuma commented on #9133
Thank you, @opusforlife2 for your reply.

**reinstalling** (and importing my configuration) **solves the problem**.

How to mart as solved?

[2022-10-22 14:05] opusforlife2 commented on #9133
You close the issue as completed.

[2022-10-22 14:06] #9133 closed

[2022-10-22 14:08] opusforlife2 commented on #9081
That helps narrow it down, because our Exoplayer shouldn't be behaving differently from Just Player's.

[2022-10-22 14:10] tsiflimagas commented on #9150
Sounds like a duplicate of #5482, but this focuses on a specific solution for batch selection.

[2022-10-22 14:11] #9171 closed

[2022-10-22 15:19] Charan-ravi commented on #9165
After a restart it works fine at 1080 60fps setting.

[2022-10-22 15:38] Charan-ravi commented on #9165
Oh but my device does have support to play 4k videos also it doesn't show 4k in the quality now

https://user-images.githubusercontent.com/52713551/197348056-a85095b7-0a95-4a24-afe9-346b06d193d6.mp4

[2022-10-22 15:42] opusforlife2 commented on #9165
In video and audio settings, there will be a toggle to show higher resolutions.

[2022-10-22 15:49] Charan-ravi commented on #9165
I have attached the debug info below even in YouTube the max resolution is 1080 so how it is possible that I can find the same video at 4k here.
PS: I thought this might be needed.
{
  "ns": "yt",
  "el": "detailpage",
  "cpn": "e_CLO91arevQafT_",
  "ver": 2,
  "cmt": "0",
  "fmt": "399",
  "fs": "0",
  "rt": "65.529",
  "euri": "",
  "lact": 2,
  "cl": "481927134",
  "mos": 0,
  "state": "804",

[2022-10-22 15:53] opusforlife2 commented on #9165
That's AV1. So it might not have been the resolution, but the codec which is unsupported.

[2022-10-22 16:03] pc165 commented on #9168
I think it's because the view is being recreated but it still doesn't fix the issue since I got a black screen the first time, locking and unlocking fixes the issue.
Enabling "Show surface updates" fixes this issue.
https://user-images.githubusercontent.com/47307845/197348827-e340afc9-09a7-4d92-a3c2-1d2f4e1d97c1.mp4

[2022-10-22 16:14] ggdorman commented on #9080
Sorry, I don't really know what a SAF provider is. If you mean the downloads folder, I have it set to `/storage/emulated/0/Movies/` for videos. I use Material Files and it opens everything fine. The issue is only when opening media from within NewPipe.

[2022-10-22 16:16] Charan-ravi commented on #9165
There are other videos which are supported at 2160p. So I think the crash bug was a one time event and might not reoccur.

[2022-10-22 16:24] opusforlife2 commented on #9165
It was just pointed out to me that this second report is not from the same video/app. You posted a different one that has nothing to do with your original error.

The format you got for the original issue in the description is 315, which is VP9 4K. There are other videos you can check using this format. My guess is none of them will work.

[2022-10-22 16:27] opusforlife2 commented on #9080
All your files will play fine when opened from a file manager because that's what they're designed to do.

But for apps like Newpipe and Nova that aren't file managers, they need to request the OS for the path to the file, the "content URI" to be specific. The OS has a default file manager (usually DocumentsUI) that handles such requests. Your OS doesn't seem to have it, or has disabled it.

[2022-10-22 17:02] ggdorman commented on #9080
Thanks for the clarification but DocumentsUI is not the issue. It is present on my device. The behaviour is the same on stock AOSP (tried today). What I am trying to say is that **any** app can open these files fine (directly from the app, without going through DocumentsUI picker), they **only** have issues when opening it from the NewPipe downloads view.

[2022-10-22 17:11] opusforlife2 commented on #9080
Hmmm. Could you try this with a brand new download? Try with a tiny audio file, and a tiny video file.

[2022-10-22 17:14] ggdorman commented on #9080
Sure. I'll trying recording some footage to better demostrate.

[2022-10-22 17:23] 5t0rmr1d3r commented on #9163
When the phone is in flight mode the issue still exists.

[https://haste.aicp-rom.com/dosulowuna](https://haste.aicp-rom.com/dosulowuna)

That's the log that appears after the try...

[2022-10-22 17:28] opusforlife2 commented on #9163
If you have root, can you take a backup of the app and then uninstall and reinstall it? If not, can you just try using an RC from [here]()https://github.com/TeamNewPipe/NewPipe/issues/8890#issue-1353049930 without importing any databases or changing any settings?

[2022-10-22 17:51] ggdorman commented on #9080
https://user-images.githubusercontent.com/76399981/197355353-75ac97a8-9db4-4787-a8ea-729d82c19122.mp4

https://user-images.githubusercontent.com/76399981/197355361-3b08c7a3-2093-44a7-91e2-03c8fc8433ed.mp4

[2022-10-22 17:56] opusforlife2 commented on #9080
2nd video isn't working. Anyway, I'm out of ideas regarding what this bug is. Maybe someone else will come along who knows more.

[2022-10-22 17:59] ggdorman commented on #9080
No worries, thanks for your time. 2nd video doesn't work for me either, probably a GitHub problem.

[2022-10-22 18:21] opusforlife2 commented on #9126
I was thinking of a simple menu with radio buttons, which lets a user choose between full, partial, or both.

[2022-10-22 18:31] opusforlife2 commented on #9126
The duration of partially watched videos is a bit tangential to this particular issue, though. To discuss letting users set custom durations for it, you can open a new issue.

[2022-10-22 21:14] heberjeur opened #9174 "Save downloaded history list"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-22 21:23] BreadDisease commented on #9138
I still have /system/priv-app/DocumentsUI/DocumentsUI.apk. How do I got about enabling it? I checked apps to see if it was disabled and its not. Thanks

[2022-10-22 21:32] BreadDisease commented on #9138
Ok I figured it out. I used De-Bloater to disable Files thinking I could replace it with my own file manager. I didn't realize that disabling would break app functionality. I used De-Bloater to re-enable it, rebooted, and now it works. Thanks!

[2022-10-22 21:32] #9138 closed

[2022-10-22 23:24] CerVieel commented on #9170
Well, this is what happens once the thumbnail is turned off.

![NewPipe_Th_LockScreen_Takeover_Stuck](https://user-images.githubusercontent.com/68253601/197365934-4e553c8d-40e0-4e4a-9bc5-af090baac63d.jpg)

I don't _have_ a different device. In any case I'm asking for an option independent from the show thumbnail toggle. I like the thumbnail, it's small, sweet and useful. But having it taking over

[2022-10-22 23:30] tsiflimagas commented on #9170
If you're on a custom ROM (which it seems you are), I bet you've made it so in your system settings. Probably the "Media cover art" setting, or something.

[2022-10-23 00:20] killerrook opened #9175 "Show a toast notification when check for updates is manually clicked"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-23 00:25] killerrook opened #9176 "Dialog box like prompt to update when a new version is available"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-23 00:36] killerrook opened #9177 "Add an option to partially download video"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-23 01:22] tsiflimagas commented on #9177
Duplicate of #4122. Please check for duplicates prior to opening an issue.

[2022-10-23 04:55] u7288107 commented on #9117
I've attached some basic screenshots below on how I'm implementing it, instead of dragging as mentioned I've added a multiple select function which allows you to merge several playlists at a time. when merged you write the name of the new merged playlist and then it creates it before deleting the playlists used.

<img width="301" alt="Screen Shot 2022-10-23 at 3 52 49 pm" src="https://user-images.

[2022-10-23 06:21] #9177 closed, assigned to nobody

[2022-10-23 07:19] 5t0rmr1d3r commented on #9163
After an backup with titanium I Uninstaller it.
Freshly installed it startet again.
I then installed the backup of the app data and the following newpipe error screen appeard:

## Exception
* __User Action:__ ui error
* __Request:__ ACRA report
* __Content Country:__ DE
* __Content Language:__ de
* __App Language:__ de_DE
* __Service:__ none
* __Version:__ 0.24.0
* __OS:__ Linux Android 11 - 30
<d

[2022-10-23 08:28] peat80 commented on #9175
PR #8668 should probably fix this.

[2022-10-23 10:37] MeHimWho commented on #1008
I wasn't able to reproduce the bug. I did some digging and think that this issue might have been fixed as this issue [#5096](https://github.com/TeamNewPipe/NewPipe/issues/5096)

[2022-10-23 10:39] Grkrz opened #9178 "App checks for the new content."
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-23 11:05] YonghaoDeng commented on #8800
I have submitted the PR, can you review it? if it has some questions, you can talk to me. @opusforlife2

[2022-10-23 11:18] marevm commented on #8898
Instead of throwing an error and displaying an error notification when the internet disconnects, we could have a mechanism to display a toast that says "No internet connection available".

[2022-10-23 13:11] heberjeur commented on #9174
@SameenAhnaf, I think that #5687 resolves the problem but It's a complicated solution(to have a recycle bin) ,here we just need a data log of all downloads and a function to verify if the video was deleted from device or not.

[2022-10-23 13:32] Charan-ravi commented on #9165
Unable to play the video
Copied the formatted report
## Exception
* __User Action:__ play stream
* __Request:__ Player error[type=ERROR_CODE_DECODER_INIT_FAILED] occurred while playing https://www.youtube.com/watch?v=V1vaJnl4G3A
* __Content Country:__ IN
* __Content Language:__ en-IN
* __App Language:__ en_IN
* __Service:__ YouTube
* __Version:__ 0.24.0
* __OS:__ Linux Android 12 - 31
<details><su

[2022-10-23 15:22] opusforlife2 commented on #9117
How will this feature interact with remote playlists? Those get updated automatically because they're controlled by the service. If you create a merged playlist, then those vidoes will become part of a local playlist and stop being updated.

Maybe the deletion part could be made optional, like a checkbox?

[2022-10-23 15:28] opusforlife2 commented on #1008
@MeHimWho No problem. Would you like to work on another issue?

[2022-10-23 15:28] #1008 closed

[2022-10-23 15:32] opusforlife2 commented on #8898
@marevm So what would happen to the video? Will it remain paused at the end of its cached buffer until internet resumes? Or will the video get closed like it currently does?

[2022-10-23 15:36] opusforlife2 commented on #9174
One possible alternative would be to grey out the specific download that cannot be found in the original location by the app when the Downloads page is opened. Note that this would mean even moving the file to another folder will be considered a 'deletion/removal'.

The user can then manually delete the entry from the list whenever they want.

[2022-10-23 15:38] opusforlife2 commented on #9165
Yes, that's the same format, see? So your device can't decode VP9 4K. Use a different resolution/format combo that works for you.

[2022-10-23 15:38] #9165 closed

[2022-10-23 15:41] opusforlife2 commented on #9136
@SameenAhnaf The 'assigned to nobody' filter exists for that. 'help wanted' label already exists. PR authors can link to related issues. Congrats, all your problems have been solved today. xD

[2022-10-23 16:03] dohhyun commented on #9103
It seems like it is a visual bug as mentioned above. Where it updates when the content is played again. However if you are paused, then change the quality and click on the quality textfield, it updates visually. But the actual resolution isn't updated until the video is played again or if you select another quality where it will update to become the older quality.

E.g. Say you loaded a video at 7

[2022-10-23 18:22] Grkrz commented on #9178
Yes, exacly. Thank you @SameenAhnaf

[2022-10-23 18:33] Grkrz commented on #9178
Is that mean that the function of auto refreshing will not be implemented?

[2022-10-24 00:22] #8748 closed

[2022-10-24 00:31] u7288107 commented on #9117
I was unable to get remote playlist streams through the DataBase (as the actual remote playlist database does not seem to be connected in anyway to streams (check wiki)) so a toast error comes up when you try to merge with a remote.

I did however add the merge without deleting feature to the merge dialog as you suggested :))

[2022-10-24 02:28] opusforlife2 commented on #9117
Ah. So if the user selects a remote playlist, does the Merge button become greyed out or non-selectable in some other way?

[2022-10-24 02:48] ayushsgit opened #9184 "Newpipe Crashes when a video is playing and another video is opened"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-24 04:53] Feuerswut opened #9185 "Downloader shows no videos or videos without audio"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-24 04:54] supaflisi opened #9186 "Vids won't play"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-24 06:19] CaptSzat commented on #8801
@opusforlife2
There is like 200ish people I want to say in the course. You can see the assignment if your intrested https://comp.anu.edu.au/courses/comp2120/assignments/group-assignment3/
Thanks for putting me on the issue.

[2022-10-24 07:06] Rockyshark commented on #9137
No its off

[2022-10-24 07:37] yashpalgoyal1304 commented on #4241
So, one way - building on the one

one way to further improve further improve the experience using popup mode itself:

[code]

[2022-10-24 08:07] CaptSzat commented on #8801
@opusforlife2 is there any more additional documentation on kiosks. I assumed that to solve this issue I would just need to initiate a new kiosk which then accpeted a filtered feed. But that doesn't seem to be the case, as kiosks haven't been implimented the way the graphic in issue #1805 showed.

[2022-10-24 08:17] #9186 closed

[2022-10-24 09:00] cernunnos1710 commented on #8605
Hi! For the list layout, Is it alright if I add a toggle to change it into a vertical version of the card layout instead of completely overhauling into a list view?

[2022-10-24 09:09] pc00per commented on #8605
@cernunnos1710 Nice work mate. I'm kinda expecting some sort pre-defaults aside custom, like alphebetic & reversed.

[2022-10-24 09:10] pc00per commented on #8605
@cernunnos1710 Nice work mate. So how did you implement sort function ?

[2022-10-24 09:18] cernunnos1710 commented on #8605
Well the sort was already there so nothing had to be done with it. All I need to do now is to make the list toggle-able.

[2022-10-24 10:16] yashpalgoyal1304 opened #9188 "Improve "bg" mode in main player UI"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-24 10:31] Master2050 opened #9189 "Add favourites (denoted by ❤ emote) and watch later"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-24 10:33] Feuerswut commented on #9185
Yes, it works now *for this video*, can confirm, BUT the issue persists. It has something to do with YouTubes side of processing video. But the downloader should have an alternative mode where it just simulates streaming the video (which always worked).

[2022-10-24 10:46] u7145232 commented on #8873
I've run the app through a couple emulators and it seems like there is already a brief highlight on the dropdown menu items mentioned in this issue?
![image](https://user-images.githubusercontent.com/110881529/197508961-380ceb0d-bb0e-45c3-9c2a-ef0dd0dc9a88.png)

[2022-10-24 10:57] dmint789 commented on #8873
It might work differently in the emulator. On my phone whenever I select an option it just instanly closes the dropdown and I am not 100% sure what I actually selected.

[2022-10-24 11:24] #9184 closed

[2022-10-24 11:39] yashpalgoyal1304 commented on #9188
HI!

the rearranging part for the playing queue ui was about this above point

the issue you mentioned is literally about "merging the playing queue and related video feed" - which is totally different thing - can you please recheck??

yeah, this one is perfect to override the "background" mode :+1:

yeah sure, then

[2022-10-24 11:39] opusforlife2 commented on #9137
Ah. It depends on what the button is:
- If it's a 'go back to the app' button, then you're right. It should resume whatever orientation you left the app in.
- But if its a full screen button, then it's working properly.

[2022-10-24 11:54] u7288107 opened #9191 "Get all StreamEntity 's from a PlaylistRemoteEntity"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-24 11:54] u7145232 commented on #8873
Thanks for reply! It's hard for me to see this issue since I'm on the emulator but is this also an issue on the downloads resolution menu?
![image](https://user-images.githubusercontent.com/110881529/197519707-90209a22-9680-4b8a-88b0-776e09c32db0.png)
Thanks!

[2022-10-24 11:56] yashpalgoyal1304 commented on #9188
THIS COMMENT IS RESERVED AS A PLACEHOLDER COMMENT

[2022-10-24 12:06] u7288107 commented on #9117
If the merge button is pressed with a remote playlist clicked it throws a toast saying you cannot merge other people’s playlist and then it’s up to the user to deselect them. I wanted them to stay clickable so they can be used when the delete button is pressed when selected. I have opened #9191 to try to get a feature that can collect all streamEntitys in a remote playlist.

[2022-10-24 12:08] opusforlife2 commented on #8605
@cernunnos1710 Looks great! Please go ahead!

BTW, does this new toggle follow the List/Grid mode setting by default? The user could always tap the toggle to change it, but the default view should respect the setting.

[2022-10-24 12:10] #9189 closed

[2022-10-24 12:11] dmint789 commented on #8873
It is, although here you can immediately see what you selected anyways. I think I just realized what the issue is. It actually does play an animation when you select an item from dropdowns, but this animation is very slow. I can only see it play if I hold down the option I selected. It should probably just be an immediate highlight instead of this slow animation, because I don't think users tend t

[2022-10-24 12:21] yashpalgoyal1304 commented on #9188
no worry, it's okay, the discussions regarding the ui/ux/user flow do become complex especially in newpipe as seemingly simple tasks too span multiple areas - just too much intermixing of components.

i'll try to rearrange the comment above so that it becomes easy to point to - for you, as well as for me too.
and as i am more satisfied with #2610 - and you want this issue to be focussed on audio r

[2022-10-24 12:25] u7145232 commented on #8873
Does the animation play sufficiently fast in any other menus?

[2022-10-24 12:28] dmint789 commented on #8873
I don't think so. I imagine it's the same everywhere. If you have any specific dropdown menus in mind, I can test those for you

[2022-10-24 12:32] yashpalgoyal1304 commented on #9188
well, i just want to be able to use the "main player ui' for audio - just that, whichever fits it 😄
the current implementation of "bg mode" is kinda non-sensical to me (no offence)

[2022-10-24 12:39] #9176 closed, assigned to nobody

[2022-10-24 12:41] u7145232 commented on #8873
Can you confirm if the lag is in all touch items/all items that have the animation effect? I don't really have any specific ones in mind at the moment. Thanks!

[2022-10-24 12:48] opusforlife2 commented on #9176
Lol we need an issue to track this. You can open a new issue asking for a toast. 👍

[2022-10-24 12:55] killerrook opened #9192 "Toast notification when an update is available"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-24 12:56] cernunnos1710 commented on #8605
@opusforlife2 Yes. I did not change anything related to the card view other than those related to new layouts (some files were added because of this).

[2022-10-24 12:59] opusforlife2 commented on #8873
@u7145232 You could always look for another issue if this one isn't panning out.

[2022-10-24 13:00] opusforlife2 commented on #9189
The very first checklist item is that you're supposed to check for duplicates.

[2022-10-24 13:17] opusforlife2 commented on #9189
There is a search bar. You use keywords.

[2022-10-24 13:22] u7145232 commented on #8873
I've added a custom highlight effect to replace the current one and I think it does appear more consistently and is also more noticeable, might help with accessibility.

[2022-10-24 13:27] opusforlife2 commented on #8873
Screenshot?

[2022-10-24 14:08] opusforlife2 commented on #9188
If behaviour similar to what I mentioned above is implemented for audio playback in general, that would automatically solve the problem of queue not being accessible from within the app in the popup and background players.

[2022-10-24 14:17] bell-kevin commented on #9097
As far as I can tell, NewPipe is still tracking. That's against F-Droid policy, from what I understand.
![Uploading Screenshot_20221024-081351.png…]()

[2022-10-24 14:19] bell-kevin commented on #9097
![Screenshot_20221024-081351](https://user-images.githubusercontent.com/8269880/197548392-71357411-6252-488a-923c-de58a47705ca.png)

[2022-10-24 14:25] bell-kevin commented on #9097
@TobiGr , what do you say to my new post?

[2022-10-24 14:30] bell-kevin commented on #9097
Okay

[2022-10-24 14:55] TobiGr commented on #9097
@bell-kevin As Symphonic3648 already advised you, please refrain from tagging people repeatedly. GitHub is neither an instance messaging service nor are we maintainers willing to get spammed with notifications in our spare time. And third, you are not the only one who is awaiting a response.

Did you open a ticket in the corresponding duckduckgo repo?
I am not sure, what you want us to do. As I al

[2022-10-24 14:56] u7145232 commented on #8873
Will do! I just need to apply it to the long press menu. Seems that the menu item highlights are different for the long press menu than from other ones so I'm having a some trouble finding it. Would you be able to point me to it? @opusforlife2
Thank you!

[2022-10-24 15:12] bell-kevin commented on #9097
@TobiGr , I use the NewPipe app. almost everyday if not everyday to watch content. The NewPipe app. tracking event happened has only happened about twice, once about two weeks ago, and then it happened again about 11 hours ago. Is watching content basically the same as fetching content, tracking-wise?

I did open a ticket with DuckDuckGo. DuckDuckGo says they are still looking into the matter, and

[2022-10-24 15:15] opusforlife2 commented on #9097
Okay. Then I advise you to stop using Newpipe until the DuckDuckGo people reply that it doesn't track you. Instead, you can use the Librepipe app, or Invidious/Piped in the browser.

Also you still haven't stopped tagging people despite being warned. If you do it again I'm sorry to say that you might be blocked.

[2022-10-24 15:33] opusforlife2 commented on #9097
You're harassing people the way you keep pinging them. If you want to be treated politely, then you must be polite yourself. If someone mentioned an etiquette guideline for you to follow, which _you yourself acknowledged_, then ignoring it means that you don't care about being rude. Why should we treat you any different than you treat us?

My advice is to stop commenting. Either here or on the DDG

[2022-10-24 16:09] opusforlife2 commented on #9192
The manual check part is not needed. There is already a PR for that.

[2022-10-24 16:13] opusforlife2 commented on #9192
Remove the manual part.

[2022-10-24 17:23] opusforlife2 commented on #9097
Thank you for removing the mentions, bell-kevin. The notifications will have gone out and can't be retracted, but it's the thought that counts. 👍

I can understand why you would want to delete certain comments, but in general, try to avoid it if possible. It leaves future readers confused about what was going on.

[2022-10-24 18:03] peat80 commented on #3515
@SameenAhnaf as stated earlier, this issue mentions tv users and for them it is still not solved. 🤷‍♂️

[2022-10-24 19:01] opusforlife2 commented on #9136
I've created a playlist label, BTW.

[2022-10-24 19:07] opusforlife2 commented on #9150
Duplicate of #8584, actually. I didn't use the correct keywords the last time.

[2022-10-24 19:07] #9150 closed

[2022-10-24 20:11] SwallowYourDreams commented on #7644
I second all of the above. Users who find shorts a waste of bandwidth and brain cells should he able to filter them out of search results and the "What's new" feed.

[2022-10-24 21:31] nlscc commented on #9038
i also have this issue (it's pretty annoying), and the cause seems to be that if the request to v1/playback doesn't have a valid x-goog-visitor-id, the API will intermittently return non-working streams -- sending this header results in consistently working media. a 'real' (but maybe outdated) client would probably pick up the visitor ID from the response, then try the stream, notice the 403 and r

[2022-10-24 23:09] nlscc commented on #9038
i have this issue as well and i've worked out the problem, youtube is A/B testing a new requirement for requests (like #8713). the required parameter is field number 12 in the protobuf (very long base64 string), the JSON name is "params" -- it seems to be some kind of ad token?

strangely even though using the JSON API without the parameter gets you a 403, when using the protobuf interface you get

[2022-10-25 00:11] Willardone opened #9193 "Need option to turn off crash report that keeps popping up. This is a problem that will stop my use. 2. Terminated channel popup needs to be gone. Channels that are deleted come back sometimes. If I want to delete a subscription I'll do it myself. when I force stop the app it shouldnt start back up"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-25 00:17] ishitak0712 commented on #9126
Yes that is what I was thinking too. Defining a threshold value over which the video is considered watched. 5 seconds seems good to me.

[2022-10-25 02:40] vincetzr commented on #7863
Hi, can I work on this issue?

[2022-10-25 05:04] Master2050 opened #9195 "Request for information change in orientation bug"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-25 07:15] marevm commented on #8898
I think it would be best for the video to remain paused/ loading at the end of the cached buffer. If the internet reconnects, it will automatically start playing again. What do you think?

[2022-10-25 09:03] desmonk opened #9197 "Making seek bar/progress bar/time bar available without having to start a video to use video frames thumbnail previews selection"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-25 09:59] #9197 closed

[2022-10-25 12:17] #9195 closed

[2022-10-25 12:27] opusforlife2 commented on #8898
There is a difference between the paused and loading states. Loading will eventually time out. Paused won't. If you can safely pause at the end of the cached buffer, that's good. Otherwise, pause about 5 seconds behind.

[2022-10-25 13:50] cernunnos1710 commented on #8605
@opusforlife2 @SameenAhnaf
![Screenshot_20221026-004841](https://user-images.githubusercontent.com/57896620/197791338-f8512197-7826-4b3e-94f9-1953c7e5e5bf.png)

Please take a look at my current implementation of card view. I am going to work on replacing the list view with the reorder dialog

[2022-10-25 13:50] PrincessMiki opened #9198 "Ability to switch from descriptive audio track to regular track"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-25 13:51] cernunnos1710 commented on #8605
Also, if I completed my implementation of the list view (given that the change would not be major if at all, UI wise) , would it be okay to create a PR?

[2022-10-25 14:09] Stypox commented on #8801
@CaptSzat here is some guidance:
- The kiosk code you need to change is not in this repository but rather in NewPipeExtractor
- You should create a `public class YoutubeMusicTrendingExtractor extends KioskExtractor<StreamInfoItem> {` and implement the data extraction there (see for example the already-implemented [YoutubeTrendingExtractor](https://github.com/TeamNewPipe/NewPipeExtractor/blob/maste

[2022-10-25 14:32] #9198 closed

[2022-10-25 14:41] opusforlife2 commented on #8605
Potential problem: if a user switched to list mode and has several channel groups, their subscriptions could be pushed down very far, needing a lot of scrolling.

I'm thinking maybe channel groups should have their own tab beside Subscriptions? Then it would be easier to have list/grid modes separately for channels and channel groups, without inconveniencing the user.

[2022-10-25 14:48] cernunnos1710 commented on #8605
My implementation of the list view would likely be a copy of what FeedGroupReorderDialog's list look like, which is quite small.

I also think it would be a bit weird since you're adding subscribed channels to channel groups, where both are directly related.

[2022-10-25 14:55] opusforlife2 commented on #8605
Alright. The separate tab discussion can happen later. Please go ahead.

What does this mean?

[2022-10-25 14:57] cernunnos1710 commented on #8605
My bad. I meant replacing the list layout for channels to the one in reorder dialog where you can drag each item.

[2022-10-25 15:11] plasticanu commented on #8605
I think you should keep the list size from the reorder dialog list view, but add a gray color background to the text as you did in the earlier PR. @cernunnos1710

[2022-10-25 17:04] yashpalgoyal1304 commented on #9188
done 🙇‍♀️

[2022-10-25 17:04] yashpalgoyal1304 commented on #9188
done 🙇‍♀️

[2022-10-25 17:18] Stypox commented on #9126
Currently this is the code that controls whether an item's "viewed" state is saved, and whether an item is considered as "finished".

<img src="https://user-images.githubusercontent.com/36421898/197837295-aa61bba8-0782-4f17-b52e-1c66a7ae0563.png" height="400px"/>

- if `isValid` returns false, then the progress is not saved to the database at all, in order to prevent saving progress about videos o

[2022-10-25 18:57] Stypox commented on #7277
The texts should not be so clumped, but at the same time I don't think that that layout should use up more vertical space as it is already using up much.

My idea was to keep views and likes where they are and put the button in between the uploader and the views & likes. But this wouldn't work either, since on small screens and with long channel names you would get a really small space left for th

[2022-10-25 21:03] d74Tv commented on #9169
Same issue but for "Export database" function.
I cannot export "my channels/subscriptions/playlists/settings" with this NewPipe v0.24.0. It say something like "No app can to manage this action". Help please? Thank you!

![Screenshot_20221025-235849](https://user-images.githubusercontent.com/116684046/197881109-b668cc80-a4fa-4562-8f24-41b9699edcad.png)

[2022-10-25 21:49] abhijit420kb opened #9199 "Clone > RUN NewPipe in Android Studio"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-25 23:41] #8893 closed

[2022-10-26 01:47] CaptSzat commented on #8801
@Stypox Thank you for the help! I've managed to setup everything to get the Trending Muisc kiosk working. The only issue now is that there is no clear way on the YT site to get the trending music. For example to get the trending feed you just use

 but for music unfortunately I have been unable to find a similar link. I have tried /feed/music, /feed/trending/music and /music. All of which either p

[2022-10-26 05:45] truong0235 opened #9201 "Strange behaviour when playing downloaded audio audio"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-26 05:50] truong0235 commented on #9201
sorry my bad
so newpipe cant play downloaded file itself

[2022-10-26 05:50] #9201 closed

[2022-10-26 07:26] ein-bandit opened #9202 "Feature Request: Sort entries in bookmarked playlist"
I do use a custom playlist where I add videos to 'watch later'.
Since my list contains a lot of videos by now (200 entries) I would need a way to organize better.

When I add a nrw video it gets appended at the end of the lost.
I do have to scroll down a lot to see newly added videos.

Feature Request:
Add a button for sorting in 3-dot-menu on the top right.

This could open a modal with radio but

[2022-10-26 08:25] Stypox commented on #9103
If anyone wants to pick up this in the future, here is a note (from https://github.com/TeamNewPipe/NewPipe/pull/9187#pullrequestreview-1155494114):

The correct approach would be to detect changes in the player's resolution and reflect changes accordingly, but I tried to make some changes myself and soon there were many changed lines. I pushed the code I wrote so far (still not finished properly)

[2022-10-26 09:00] #8935 closed

[2022-10-26 09:03] Red-Luci4 commented on #8935
I currently updated my OS to Corvus_vS4.0-Leviathan_Venilla and the app now seems to work properly as expected.

[2022-10-26 09:22] #9068 closed

[2022-10-26 09:35] #9130 closed

[2022-10-26 09:47] Stypox commented on #8605
(if you open the PR I can take a look at the code ;-))

[2022-10-26 10:11] cernunnos1710 commented on #8605
@Stypox Opened the PR! :)

(I might have opened the wrong one though since I submitted the one that is highly problematic).

[2022-10-26 10:53] laraib07 opened #9205 "Integrate seal as download manager"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 10:58] killerrook opened #9206 "Add a configurable search bar"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 11:09] Master2050 opened #9208 "Subtitles out of sync"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-26 11:12] Master2050 opened #9209 "Add a subtitle offset"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 11:15] killerrook opened #9210 "Add an audio offset"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 12:15] #9206 closed, assigned to nobody

[2022-10-26 13:39] PrincessMiki commented on #9147
Thanks. Ive settled with basically continually restarting the app and hoping next update comes out soon

[2022-10-26 14:59] laraib07 commented on #9205
@Master2050 navi can't download whole playlist, can it?

[2022-10-26 17:58] Nizami20052022 opened #9211 "Replies to comments"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 18:13] Nizami20052022 opened #9212 "35,40,45,50,55,60 seconds forward and rewind search time"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 21:05] Vrihub opened #9213 "Allow disabling refresh for each subscribed channel"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-26 21:24] opusforlife2 commented on #8893
@Jeiel17 Error gone?

[2022-10-26 21:27] opusforlife2 commented on #8801
Lol, I'm not a maintainer. I'm just customer care. If you wanna get your PRs approved you have to talk to my boss Stypox.

[2022-10-26 21:32] opusforlife2 commented on #4447
Thank you for addressing my feature request, @Yuuu2990! 🥳

[2022-10-26 21:36] opusforlife2 commented on #9202
@ein-bandit Hi, you seem to have used an app to open this issue. Please use the website to fill out our issue template: https://github.com/TeamNewPipe/NewPipe/issues/new/choose.

[2022-10-26 21:46] opusforlife2 commented on #9208
Check if they're in sync on Youtube.

[2022-10-26 21:46] Jeiel17 commented on #8893
Cannot reproduce the same error. I no longer have the app due to frequency of different errors encountered. Sorry for not contributing anymore Contribute.

[2022-10-26 21:46] opusforlife2 commented on #9209
Don't just assume the problem exists before investigating it thoroughly.

[2022-10-26 21:48] opusforlife2 commented on #9210
Give an example.

[2022-10-26 21:54] opusforlife2 commented on #9205
Why? What's wrong with using Seal as a separate app?

[2022-10-26 22:01] opusforlife2 commented on #9212
Turn off fast inexact seek.

[2022-10-26 22:01] #9212 closed

[2022-10-26 22:04] opusforlife2 commented on #9213
Alternatively: #3319.

[2022-10-26 22:06] opusforlife2 commented on #8962
This UI looks like you're supposed to choose between Step and Speed.

[2022-10-27 00:16] #9105 closed

[2022-10-27 00:20] olgak0096 opened #9215 "ERROR_CODE_DECODER_INIT_FAILED appearing when trying to watch any video"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 01:20] sha-e-256 opened #9216 "Why can a user create several playlists with the same name"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my question isn't listed.
- [X] I have taken the time to fill in all the required detai

[2022-10-27 01:21] vrgovinda opened #9217 "Version 0.24.0 is sluggish"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 04:16] killerrook opened #9218 "Subtitles full descriptive names are not shown"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 04:22] tsiflimagas commented on #9208
Then it's not a problem of Newpipe specifically.

[2022-10-27 04:36] Nizami20052022 commented on #9212
Fast inexact search is disabled.

[2022-10-27 04:38] Nizami20052022 commented on #9212
![Screenshot_20221027-083823_NewPipe](https://user-images.githubusercontent.com/104249296/198192739-80f602a0-3711-4bab-b723-177f9246a10d.jpg)

[2022-10-27 06:24] laraib07 commented on #9205
@opusforlife2 why install separate app when downloading is already a feature in newpipe! But it can be improved by integrating or *copying* seal as it does everything newpipe downloader does plus it also has an option to fully or partially download a playlist.

[2022-10-27 08:12] #9215 closed

[2022-10-27 08:16] NX-Mirco-Centrone opened #9219 "App Crash when importing subscriptions.csv"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 12:14] vincetzr commented on #9036
Hi there, I am currently working on this issue with @plasticanu and @cern1710. Currently, I have put a reset options within the debug settings fragment and only successfully reset the theme of the app. I realized that the main settings activity calls the settings fragment and I did not want to create a new fragment with it's xml file just to reset settings. Therefore, I put it in the debug setting

[2022-10-27 12:38] #8800 closed

[2022-10-27 13:00] Stypox commented on #9036
@vincetzr adding a button there looks like a good idea for now. What that button should do is to delete the shared preferences XML file and then restart the app. Restarting the app will take care of recreating the shared preferences file with default values, so you don't have to set things manually.

[2022-10-27 13:04] abodsalas commented on #2830
It would make this the perfect app to sleep listening to videos....
Here is a possible mockup.

![Timer_mockup](https://user-images.githubusercontent.com/54449155/198292153-a69c7a0d-00c5-4f5e-bf5b-938a5de69589.jpg)

[2022-10-27 13:07] dolorosus commented on #9023
Just for the records:
nightly6 changed nothing.
Fullscreen mode is still completely broken on Android TV.

[2022-10-27 13:16] arfanmrafeek commented on #8518
The URL for shorts is like this **https://m.youtube.com/shorts/ ...........**
Using this, Actually you can implement Shorts tab easy and fast. Hope for it...

[2022-10-27 13:28] hoke-81 opened #9220 "Can't resize popup window properly in 0.24.0 on Lenovo Tab M10"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 14:41] Domiuns opened #9222 "newpipe 0.24.0 crash"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 14:47] Master2050 opened #9223 "[STOP CREATING DUPLICATES] [YouTube] Channel page doesn't contain any video/no new video when not using dedicated feed"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 14:49] opusforlife2 commented on #8962
What I meant is: the UI indicates that you're supposed to switch between 2 menus, 'Speed' and 'Step'. When you say that Speed itself will be a 3-state toggle, then it becomes highly non-intuitive for the user. Choose one. Multi-state toggles, or switchable menus.

[2022-10-27 14:50] Stypox commented on #8962
You have a point there. Most of the times one wants to just change one of the sliders at a time.

I don't think that exact layout is the best one, but we can work on it. What do you think of this one?

<img src="https://user-images.githubusercontent.com/36421898/198321630-00d378d8-3867-43d9-a16a-b071615c5660.jpg" height="200px"/>

Tapping on the "±5%" would bring up a popup menu allowing to choose

[2022-10-27 14:53] Kor1134 opened #9224 "Playback fails after disconnect from bluetooth"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 15:01] tsiflimagas commented on #9222
Duplicate of #9052. Fixed in #9065.

[2022-10-27 15:04] tsiflimagas commented on #9219
Have you disabled or removed the system's Files app (com.android.documentsui)?

[2022-10-27 15:07] opusforlife2 commented on #9216
Ah, no reason. We could easily have a check for this. Please open a feature request asking for playlist names to be unique.

[2022-10-27 15:07] #9216 closed

[2022-10-27 15:10] #9208 closed

[2022-10-27 15:11] opusforlife2 commented on #9212
Yes. You can use one of these.

[2022-10-27 15:12] opusforlife2 commented on #9205
What's the problem with sharing a video from Newpipe to Seal? It works perfectly well. Ignore the Newpipe downloader completely.

[2022-10-27 15:30] opusforlife2 commented on #9223
Known: see TeamNewPipe/NewPipeExtractor#944

[2022-10-27 15:37] opusforlife2 commented on #8962
This is also what I had in mind. I don't think this will be difficult to discover. Android has plenty of popup menus indicated by a down arrow. In fact, to make it easier, the entire row/area should be made tappable, so that the user is more likely to accidentally tap it and discover the menu.

Having said that, I would like its position more towards the top-right, where Sameen's pic has Step and

[2022-10-27 15:42] #9219 closed

[2022-10-27 15:46] Stypox commented on #8962
I agree with all of the things you said. Maybe to make the ±5% button more discoverable we could just add a down arrow there, too.

[2022-10-27 15:56] opusforlife2 commented on #8962
Let's try that and compare screenshots.

[2022-10-27 15:59] Stypox commented on #8962
<img src="https://user-images.githubusercontent.com/36421898/198340181-789eb706-1df3-4879-82b1-15c793bb5a65.jpg" height="300px"/>

[2022-10-27 16:07] opusforlife2 commented on #8962
Looks great!

[2022-10-27 16:19] opusforlife2 commented on #9220
Try with them on.

[2022-10-27 16:27] Stypox commented on #8962
What does step mean? Why would step be a slider?

[2022-10-27 16:30] peat80 opened #9226 "Add import & export section in the settings menu"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-27 16:34] Feuerswut commented on #9185
Again, same problem:
https://www.youtube.com/watch?v=VT5FCz-7DEA

![Screenshot_20221027-183255](https://user-images.githubusercontent.com/80217805/198348024-27eb5c62-d0b5-4fc9-a839-d23ca8a24ced.png)

[2022-10-27 16:38] opusforlife2 commented on #9226
Related: #3192.

[2022-10-27 16:38] hoke-81 commented on #9220
really works, but I still wonder why the previous version worked with same setting

[2022-10-27 16:39] opusforlife2 commented on #9185
Reproduced.

[2022-10-27 16:41] opusforlife2 commented on #9220
We're introducing PiP for newer Android versions, anyway. You can test #8750.

[2022-10-27 16:44] opusforlife2 commented on #9160
Please provide more info and a proper title.

[2022-10-27 16:45] Stypox commented on #8646
@opusforlife2 try the APK from the latest commit

[2022-10-27 16:57] arfanmrafeek commented on #9160
It occurs once, So, I'm closing this...

[2022-10-27 16:57] #9160 closed

[2022-10-27 17:16] opusforlife2 commented on #8962
I don't think that would help. Step is for modifying the values shown in the sliders, not actually affecting video playback. So at least one slider should stay visible while the step size is changed for the effect to be clear.

[2022-10-27 17:34] Nizami20052022 commented on #9134
The translation file has been merged, you need to add it

[2022-10-27 17:36] Nizami20052022 commented on #9134
https://www.ocpsoft.org/prettytime/#section-13

[2022-10-27 17:46] marmrobles commented on #8598
Still doesn't work, with the newest version (0.24.0) and the same issue.

[2022-10-27 17:49] opusforlife2 commented on #8598
@marmrobles Please provide complete info.

[2022-10-27 18:00] marmrobles commented on #8598
Checklist
 I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
 I have taken the time to fill in all the required details. I understand that the bug report will be dismissed otherwise.
 This issue contains only one bug.
 I have read and understood the [contribution guidelines](https://github.com/TeamNewPipe/NewPipe/blob/dev/.github/CONT

[2022-10-27 18:03] opusforlife2 commented on #8598
@mdwalters This is a completely different thing now, because 0.24.0 doesn't support Kitkat. So please open a new issue.

[2022-10-27 18:03] #8598 closed

[2022-10-27 18:16] mamRobles opened #9227 "Soundcloud doesn't load any songs"
### Checklist

- [X] I am able to reproduce the bug with the [latest version](https://github.com/TeamNewPipe/NewPipe/releases/latest).
- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FA

[2022-10-27 18:25] opusforlife2 commented on #9227
All these songs are working. Try a different network.

[2022-10-27 18:51] opusforlife2 commented on #8962
No, there you can easily see the step size change being applied as you tap the arrows. You don't need to change menus if you don't like the current value, you merely tap the % button and select a new one.

---

One thing I'm unaware about is if these are standard Android behaviours. The closer we are to common and standardised behaviour, the better.

[2022-10-27 19:03] TobiGr commented on #9199
Update your local branch to the latest dev and test if the issue in the original configuration (no changes in settings.gradle) persists. Your problems might be related to #9214.

Please do not post screenshots of errors, but the actual stack trace / error message because those can be copied / pasted.

[2022-10-27 19:16] marmrobles commented on #9227
Really weird, with wifi works just fine but when I use mobile data it crashes without further explanation. On the Souncloud page it works with both, not sure of what is going on.

[2022-10-27 19:32] opusforlife2 commented on #8962
I like this one. ^

[2022-10-27 20:12] Nizami20052022 opened #9228 "Prettytime dependencies"
### Checklist

- [X] I made sure that there are *no existing issues* - [open](https://github.com/TeamNewPipe/NewPipe/issues) or [closed](https://github.com/TeamNewPipe/NewPipe/issues?q=is%3Aissue+is%3Aclosed) - which I could contribute my information to.
- [X] I have read the [FAQ](https://newpipe.net/FAQ/) and my problem isn't listed.
- [X] I'm aware that this is a request for NewPipe itself and

[2022-10-27 20:24] TobiGr commented on #9134
Big thank you to you to all NewPipe contributors who contributed to the localization update of prettytime!
We'll just need to update prettytime, the rest is done by NewPipe automatically. The update is not available on maven yet. I'll update it once the new version is available.